{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="For most of the buyers camera played an important role in mobile, to atttract the customers mobile companies now a days work hard on the camera's of the phone. There are top 5 mobiles which have high-resolution multi-camera setups, powerful processors, HDR capabilities. Check out this list if you are looking for the best camera mobile phones of Rs 15,000. "> {% endblock desc%}
{% block key%}<meta name="keywords" content="best camera mobile under 15000, best camera mobile under 8000, best camera mobile phone, best camera mobile under 10000, best camera mobile in india, best camera mobile below 15000, best camera mobile phone cheap, Poco M2 Pro, Poco M2 Pro specification"> {% endblock key%}
  {% load static %}
    {% block title%}Best camera mobile under 15,000 INR - hipein.com{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <!-- review and spec -->
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h1 class="content_tittle" style="font-weight:400;">Best camera mobile under 15,000-INR</h1>
          <p>By <span  style="color:blue">Gulshan Bhumij</span>- Updated on <b style="color:gray">6 July, 2020</b></p>
          <hr class="my-2">
          <h5 class="content" style="font-weight:400;">For most of the buyers <span>camera</span> played an important role in mobile, to atttract the customers mobile companies now a days work hard on the camera's of the phone. There are top 5 mobiles which have high-resolution multi-camera setups, powerful processors, HDR capabilities. Check out this list if you are looking for the best camera mobile phones of Rs 15,000.</h5>
          <img class="image" src="{% static 'image/mobile/camera-15k/photo-camera.jpg'%}" alt=""><br>
          <hr class="my-2">
          <h2 style="font-weight:400;">List of top 5 best camera mobile under 15,000-INR are given below:</h2>
          <ol class="content" style="border-bottom: 1px solid #eee;">
            <li>Poco M2 Pro</li>
            <li>Realme Narzo 10</li>
            <li>Redmi Note 9 Pro</li>
            <li>Realme 6</li>
            <li>Poco X2</li>
          </ol>
        </div>
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">1. Poco M2 Pro</h2>
          <div>
            <img class="image" src="{% static 'image/mobile/camera-15k/poco-m2-pro.jpg'%}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-by Technology in the Future</p>
          <h4 class="content">About Poco M2 Pro</h4>
          <p class="content">The Poco M2 Pro has four rear cameras, which include a primary 48-megapixel sensor, an 8-megapixel sensor with a wide-angle lens, a 5-megapixel macro camera, and a 2-megapixel depth camera. You get a 16-megapixel hole-punch selfie camera. The M2 Pro has the same version of the MIUI camera app as the Redmi Note 9 Pro. From what I could tell, the only real difference between the two phones in terms of functionality is that you can use Night mode for the selfie camera on the M2 Pro </p>
          <h4 class="content">Poco M2 Pro: Key specifications </h4>
          <ul class="content">
            <li>Display : 6.5"(1080*2400)</li>
            <li>Rear Camera : 48MP + 8MP + 5MP + 2MP </li>
            <li>Front Camera : 16MP</li>
            <li>RAM : 4GB/6GB</li>
            <li>Battery : 5020 mAh</li>
            <li>Storage : 64GB</li>
            <li>Processor : Qualcomm Snapdragon 720G</li>
          </ul>
            <div class="aff-link1">
              <form action="https://www.flipkart.com/poco-m2-pro-green-greener-64-gb/p/itm795e36b373b6f?pid=MOBFT7MK3Q89BGWR&lid=LSTMOBFT7MK3Q89BGWRP2OFTB&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=116b78d4-dd80-4fd7-9e10-59b78efc73d1.MOBFT7MK3Q89BGWR.SEARCH&ppt=sp&ppn=sp&ssid=ewuaih53j40000001594877214958&qH=b83349d0f5338c62">
                <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from flipkart</button>
              </form>
              <form action="https://www.flipkart.com/poco-m2-pro-green-greener-64-gb/p/itm795e36b373b6f?pid=MOBFT7MK3Q89BGWR&lid=LSTMOBFT7MK3Q89BGWRP2OFTB&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=116b78d4-dd80-4fd7-9e10-59b78efc73d1.MOBFT7MK3Q89BGWR.SEARCH&ppt=sp&ppn=sp&ssid=ewuaih53j40000001594877214958&qH=b83349d0f5338c62">
                <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
              </form>
            </div>



        </div>
        <!-- 2 -->
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">2. Realme Narzo 10</h2>
          <div>
            <img class="image" src="{% static 'image/mobile/camera-15k/realme-narzo-10.jpg'%}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source |youtube.com: uploaded-by: DroidHolic</p>
          <h4 class="content">About Realme Narzo 10</h4>
          <p class="content">Realme Narzo 10 comes with the quad camera setup- a 48-megapixel Samsung sensor with an aperture of f/1.8 featuring PDAF, an 8-megapixel ultrawide sensor with 119-degree FOV, a 2-megapixel macro sensor, and a 2-megapixel black and white sensor. For selfie, there is a single 16-megapixel sensor that has an f/2.0 aperture. The camera app on the Realme phone has not changed, which means there is an Ultra Macro mode, a Panorama mode, and others.</p>
          <h4 class="content">Realme Narzo 10: Key specifications </h4>
          <ul class="content">
            <li>Diaplay: 6.50-inch (720x1600 pixels)</li>
            <li>Rear Camera : 48MP + 8MP + 2MP + 2MP </li>
            <li>Front Camera :  16MP</li>
            <li>RAM : 4GB/6GB</li>
            <li>Storage : 64GB</li>
            <li>Processor: MediaTek Helio G80</li>
            <li>battery : 5000 mAh </li>
          </ul>
            <div class="aff-link1">
              <form action="https://www.flipkart.com/realme-narzo-10-that-green-128-gb/p/itmfaa990ac54b7a?pid=MOBFQ36AGTW8HNMW&lid=LSTMOBFQ36AGTW8HNMWFLXHAY&marketplace=FLIPKART&srno=s_1_1&otracker=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&fm=SEARCH&iid=46e6c01b-009e-4d0e-a92f-71a22d3f3547.MOBFQ36AGTW8HNMW.SEARCH&ppt=sp&ppn=sp&ssid=84zojah5cg0000001594877362612&qH=456ef728a14ea6c7">
                <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from flipkart</button>
              </form>
              <form action="https://www.flipkart.com/realme-narzo-10-that-green-128-gb/p/itmfaa990ac54b7a?pid=MOBFQ36AGTW8HNMW&lid=LSTMOBFQ36AGTW8HNMWFLXHAY&marketplace=FLIPKART&srno=s_1_1&otracker=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_ps&fm=SEARCH&iid=46e6c01b-009e-4d0e-a92f-71a22d3f3547.MOBFQ36AGTW8HNMW.SEARCH&ppt=sp&ppn=sp&ssid=84zojah5cg0000001594877362612&qH=456ef728a14ea6c7">
                <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
              </form>
            </div>



        </div>
        <!-- 3 -->
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">3. Redmi Note 9 Pro</h2>
          <div>
            <img class="image" src="{% static 'image/mobile/pubg/redmi-note-9-pro.jpeg'%}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | Google-by  www.digit.in</p>
          <h4 class="content">About Redmi Note 9 Pro</h4>
          <p class="content">The Redmi Note 9 Pro has a lower starting price than its predecessors, but also doesn't offer all the modern features that you might expect. It has a 6.67-inch LCD screen with a 60Hz refresh rate and hole-punch front camera at the top. The processor is a Qualcomm Snapdragon 720G which is surprisingly powerful for this segment. You also get a 5020mAh battery and suppport for 18W fast charging.The Redmi Note 9 Pro comes with a 48MP primary rear camera with Samsung Isocell GM2 sensor. This is paired by an 8MP ultra-wide-angle camera with f/2.2 aperture, a 5MP macro and a 2MP depth sensor.</p>
          <h4 class="content">Redmi NOte 9 Pro: Key specifications </h4>
          <ul class="content">
            <li>Diaplay: 6.67-inch (1080x2400 pixels)</li>
            <li>Rear Camera : 48MP + 8MP + 5MP + 2MP </li>
            <li>Front Camera :  16MP</li>
            <li>RAM : 4GB/6GB</li>
            <li>Storage : 64GB</li>
            <li>Processor: Qualcomm Snapdragon 720G</li>
            <li>battery : 5020 mAh </li>
          </ul>
            <div class="aff-link1">
              <form action="https://www.amazon.in/Test-Exclusive-549/dp/B077PWBC78/ref=sr_1_1?crid=1D86KJPUKQVBX&dchild=1&keywords=redmi+note+9+pro&qid=1594877493&sprefix=readi+note+9+p%2Caps%2C538&sr=8-1">
                <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from amazon</button>
              </form>
              <form action="https://www.amazon.in/Test-Exclusive-549/dp/B077PWBC78/ref=sr_1_1?crid=1D86KJPUKQVBX&dchild=1&keywords=redmi+note+9+pro&qid=1594877493&sprefix=readi+note+9+p%2Caps%2C538&sr=8-1">
                <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
              </form>
            </div>



        </div>
        <!-- 4 -->
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">4. Realme 6</h2>
          <div>
            <img class="image" src="{% static 'image/mobile/realme/realme-6-2.jpg' %}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com| uploaded-by Xmill Tech Hindi</p>
          <h4 class="content">About Realme 6 </h4>
          <p class="content">The Realme 6 packs in a quad-camera setup at the back consisting of a 64-megapixel primary camera, an 8-megapixel wide-angle camera with a 119-degree field of view, a 2-megapixel monochrome camera, and a 2-megapixel macro camera. At the front, it has a 16-megapixel selfie shooter. The camera software is identical to what we have seen several other mid-range smartphones, and we had no issues going through the different shooting modes in the camera app. There are quick toggles for HDR, filters, and Chroma Boost. There is AI scene recognition and the smartphone is able to detect what it is pointed towards.</p>
          <h4 class="content">Realme Narzo 10: Key specifications </h4>
          <ul class="content">
            <li>Diaplay: 6.50-inch (1080x2400 pixels)</li>
            <li>Rear Camera : 64MP + 8MP + 2MP + 2MP </li>
            <li>Front Camera :  16MP</li>
            <li>RAM : 4GB/6GB</li>
            <li>Storage : 64GB</li>
            <li>Processor: MediaTek Helio G90T</li>
            <li>battery : 4300 mAh </li>
          </ul>
            <div class="aff-link1">
              <form action="https://www.flipkart.com/realme-6-comet-blue-128-gb/p/itm50e6d62dcf5ee?pid=MOBFPCX72FYWY7NF&lid=LSTMOBFPCX72FYWY7NFMSGQ1L&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=d626afc3-1acd-4a9e-b99d-08b9e40621ef.MOBFPCX72FYWY7NF.SEARCH&ppt=sp&ppn=sp&ssid=dcdyx65veo0000001594877507024&qH=2d8725b012f49fbf">
                <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from flipkart</button>
              </form>
              <form action="https://www.flipkart.com/realme-6-comet-blue-128-gb/p/itm50e6d62dcf5ee?pid=MOBFPCX72FYWY7NF&lid=LSTMOBFPCX72FYWY7NFMSGQ1L&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=d626afc3-1acd-4a9e-b99d-08b9e40621ef.MOBFPCX72FYWY7NF.SEARCH&ppt=sp&ppn=sp&ssid=dcdyx65veo0000001594877507024&qH=2d8725b012f49fbf">
                <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
              </form>
            </div>



        </div>
        <!-- 5 -->
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">5. Poco X2</h2>
          <div>
            <img class="image" src="{% static 'image/mobile/camera-15k/poco-x2.jpg'%}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com | Uploaded by: Technolobe</p>
          <h4 class="content">About Poco X2 </h4>
          <p class="content">The Poco X2 has four rear and two front cameras. The primary 64-megapixel rear camera has an f/1.89 aperture and uses the Sony IMX686 sensor which succeeds the widely used IMX586. There's also an 8-megapixel f/2.2 ultra-wide camera, a 2-megapixel macro camera with a 2cm-10cm focal range as well as autofocus, and a 2-megapixel depth sensor. The primary selfie camera has a 20-megapixel resolution and is accompanied by a 2-megapixel depth sensor.</p>
          <h4 class="content">Realme Narzo 10: Key specifications </h4>
          <ul class="content">
            <li>Diaplay: 6.67-inch (1080x2400 pixels)</li>
            <li>Rear Camera : 64MP + 2MP + 8MP + 2MP </li>
            <li>Front Camera : 20MP + 2MP</li>
            <li>RAM : 6GB</li>
            <li>Storage : 64GB</li>
            <li>Processor: Qualcomm Snapdragon 730G</li>
            <li>battery : 4500 mAh </li>
          </ul>
            <div class="aff-link1">
              <form action="https://www.flipkart.com/poco-x2-phoenix-red-64-gb/p/itmda7dd1f37ffff?pid=MOBFZGJ6Q9A5FHRC&lid=LSTMOBFZGJ6Q9A5FHRCENQ0C3&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=0aaa5110-3c94-425c-b6a5-1c61bf21fd5e.MOBFZGJ6Q9A5FHRC.SEARCH&ppt=sp&ppn=sp&ssid=wt92tb7hjk0000001594877583665&qH=9b170a335b7c1e38">
                <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from flipkart</button>
              </form>
              <form action="https://www.flipkart.com/poco-x2-phoenix-red-64-gb/p/itmda7dd1f37ffff?pid=MOBFZGJ6Q9A5FHRC&lid=LSTMOBFZGJ6Q9A5FHRCENQ0C3&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=0aaa5110-3c94-425c-b6a5-1c61bf21fd5e.MOBFZGJ6Q9A5FHRC.SEARCH&ppt=sp&ppn=sp&ssid=wt92tb7hjk0000001594877583665&qH=9b170a335b7c1e38" class="affilated-link_flipcart">
                <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
              </form>
            </div>



        </div>
      </div>
    </div>
  {% endblock content%}
