{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="Vivo V20 SE  price in India start from Rs 20,990 ( Expected Price ) and Vivo V20 SE  expected release date is 2020, October 13. - hipein "> {% endblock desc%}
{% block key%}<meta name="keywords" content="Vivo V20 SE , Vivo V20 SE  specification, Vivo V20 SE  release date, Vivo V20 SE  price, Vivo V20 SE  price in india"> {% endblock key%}
{% block style %}
{% endblock style %}
    {% load static %}
    {% block title%}Vivo V20 SE  price in india, specification and features - hipein{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h1 class="content_tittle" style="font-weight: 400;"><span>REVIEW</span> Vivo V20 SE  (8/128 GB) price in india, specification and features.</h1>
          <p style="font-weight: 400;">Here Rumours comes out vivo is about to launch its new smartphone, Vivo V20 SE soon. </p>
        </div>
        <div>
          <img class="image" src="{% static 'image/mobile/vivo/vivo-v20-se-2.jpg'%}" alt="">
        </div>
        <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com - Uploaded by: <a href="#">Lim Reviews</a></p>
        <div class="info">
          <h2 style="font-weight: 400;">About Vivo V20 SE </h2>
          <p>Here a lot of leaks have come out about Vivo V20 SE its specification amazes you. Vivo V20 SE  smartphone runs on the latest version of the Android operating system (Android 10). The phone is powered by an	Octa-core (4x2.0 GHz Kryo 260 Gold & 4x1.8 GHz Kryo 260 Silver) processor and it runs on 	Qualcomm SDM665 Snapdragon 665 (11 nm). </p>
          <p>Vivo V20 SE  smartphone has an Super AMOLED display with 1080 x 2400 pixels screen resolution and 409 PPI pixel density. Talking about its camera, On the front camera, you get a 32-megapixel primary camera and on the rear camera, there is a 48 megapixel wide-angle, 8 megapixels ultra-wide, and 2-megapixels depth. camera with features like Digital Zoom, Auto Flash, Face detection, Touch to focus, and Continuos Shooting. It has support for fast charging and non-removable 4100 mAh battery. </p>
          <h3 style="font-weight: 400;">Vivo V20 SE  price in India.</h3>
          <p>Vivo V20 SE  price in India start from Rs 20,990 ( Expected Price ) and Vivo V20 SE  expected release date is 2020, October 13. This smartphone comes with single variants like 8/128GB RAM. It is available at two color options like Gravity Black, and Oxygen Blue. </p>
          <h3 style="font-weight: 400;">Vivo V20 SE  Key features:</h3>
          <ul>
            <li>Diaplay: 6.44 inches</li>
            <li>Processor: 	Qualcomm SDM665 Snapdragon 665 (11 nm)</li>
            <li>primary camera: 48-megapixel + 8-megapixel + 2-megapixel</li>
            <li>selfie camera: 32-megapixel</li>
            <li>Battery: Non-removable Li-Ion 4100 mAh battery</li>
            <li>Fast charging 33W.</li>
          </ul>
          <p></p>
        </div>
    {% endblock content%}
    {% block specs%}
    <h3 class="spec_title">Vivo V20 SE  specification</h3>
    <div class="specs_table">
      <div class="specs">
        <strong>Available at</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Realsed on</strong>
          <p>2020, October 13</p>
        </div>
        <div class="specs_info">
          <strong>Amazon</strong>
          <p>Coming soon</p>
        </div>
        <div class="specs_info1">
          <strong>Flipkart</strong>
          <p>Cooming soon</p>
        </div>
      </div>
    </div>
    <!-- 1 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BRAND</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Make</strong>
          <p>Vivo</p>
        </div>
        <div class="specs_info">
          <strong>Models</strong>
          <p>V20 SE</p>
        </div>
        <div class="specs_info1">
          <strong>Color</strong>
          <p>Gravity Black, Oxygen Blue</p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="specs_table">
      <div class="specs">
        <strong>NETWORK TYPE</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>2G</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>3G</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>4G</strong>
          <p>Yes - (supports Indian bands)</p>
        </div>
        <div class="specs_info">
          <strong>5G</strong>
          <p>No</p>
        </div>
        <div class="specs_info1">
          <strong>SIM Type</strong>
          <p>Dual SIM (Nano-SIM)</p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="specs_table">
      <div class="specs">
        <strong>DISPLAY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Screen</strong>
          <p>Super AMOLED capacitive touchscreen, 16M colors</p>
        </div>
        <div class="specs_info">
          <strong>Size(inch)</strong>
          <p>6.44</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>1080 x 2400 pixels</p>
        </div>
        <div class="specs_info1">
          <strong>Protection</strong>
          <p>Corning Gorilla Glass 5</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>PLATFORM</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>OS</strong>
          <p>Android 10</p>
        </div>
        <div class="specs_info">
          <strong>Chipset</strong>
          <p>Qualcomm SDM665 Snapdragon 665</p>
        </div>
        <div class="specs_info">
          <strong>CPU</strong>
          <p>Octa-core</p>
        </div>
        <div class="specs_info1">
          <strong>Graphics</strong>
          <p>Adreno 610</p>
        </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MEMORY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Card Slot</strong>
          <p>microSDXC</p>
        </div>
        <div class="specs_info1">
          <strong>Internal</strong>
          <p>8/128GB RAM</p>
        </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="specs_table">
      <div class="specs">
        <strong>CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Rear Type </strong>
          <p>Triple</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>48-MP + 8-MP + 2-MP</p>
        </div>
        <div class="specs_info">
          <strong>Front Type</strong>
          <p>Single</p>
        </div>
        <div class="specs_info">
          <strong>Front camera</strong>
          <p>32-megapixel</p>
        </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BATTERY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong></strong>
          <p>Li-Po 4100 mAh, non-removable</p>
        </div>
        <div class="specs_info">
          <strong>Charging</strong>
          <p>Yes, Fast charging 33W</p>
        </div>
      </div>
    </div>
    <!-- 9 -->
    <div class="specs_table">
      <div class="specs">
        <strong>COMMS.</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>WLAN</strong>
          <p>Wi-Fi 802.11 a/b/g/n/ac, dual-band, Wi-Fi Direct, hotspot</p>
        </div>
        <div class="specs_info">
          <strong>Bluetooth</strong>
          <p>v5.0</p>
        </div>
        <div class="specs_info">
          <strong>GPS</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info1">
          <strong>Radio</strong>
          <p>	FM radio</p>
        </div>
      </div>
    </div>
    <!-- 10 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FEATURE</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Sensors</strong>
            <p>Fingerprint(on screen), accelerometer, gyro, compass,</p>
        </div>
        <div class="specs_info">
          <strong></strong>
            <p>proximity</p>
        </div>
      </div>
    </div>
    <!-- 11 -->
    <div class="specs_table">
      <div class="specs">
        <strong>Multimedia</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Loudspeaker</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>3.5mm jack</strong>
          <p>Yes</p>
        </div>
      </div>
    </div>
    <div class="comment">
      <div class="fb-comments" data-href="https://www.hipein.com/mobile/vivo-v20-se" data-order-by="social" data-numposts="100" data-width="100%" style="display:block;"></div>
    </div>
  </div>

{% endblock specs%}
