{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="Vivo smartphone: New smartphone review and specification, buy at best price from amazon. "> {% endblock desc%}
{% block key%}<meta name="keywords" content="vivo S1 pro mobile phone price, vivo S1 pro, vivo S1 pro price in india, vivo S1 pro review, vivo S1 pro specification, vivo S1 pro price in amazon"> {% endblock key%}
    {% load static %}
    {% block title%}Vivo S1 pro Full specification " hipein.com"{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <!-- review and spec -->
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h4 class="content">Vivo released his new smartphone Vivo S1 PRO at price of Rs. 19,990</h4>
          <h2 class="content_tittle"><span>REVIEW</span> Vivo S1 Pro : 8/128GB for Rs. 19,990 Watch Full review-<a href="https://www.youtube.com/watch?v=xN4uWpHVnvI">http://www.youtube.com </a></h2>
        </div>
        <div >
          <img class="image"  src="{% static 'image/mobile/vivo/vivo-s1-pro-2.jpg' %}" alt="">
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by: ReviewsPK</p>
        </div>
        <div class="info">
          <h4 class="content">{{product_name}} Summary</h4>
          <p>Vivo S1 Pro smartphone comes with the 6.38-inch full HD (1080*2340 pixels) Super AMOLED display. The Vivo S1 Pro is powered by the Qualcomm Snapdragon 665 octa core chipset clocked at 2.0GHz paired with 128GB 8GB RAM and supports hybrid sim slot which gives option expand your memory through SD card. It has Glass body at both the sides font and back with aluminium frame which gives it a premium look. The Vivo S1 Pro comes with the quad rear camera 48MP wide angle and standard camera, 8MP ultrawide angle camera, 2MP macro camera and 2MP depth sensing camera. It comes 32MP selfie camera which supports video recording at 1080@30fps. The smartphone is powered by Non-removable 4500mah battery which support fast charging at 18W. It comes with fingerprint in-display touch which make easier to user to unlock the phone and it supports 4G LTE network.It runs on Android 9.0, Funtouch OS 9.0.</p>
          <div class="aff-link1">
            <form action="https://www.amazon.in/Test-Exclusive-TST_Exclusive1043-3GB-Storage/dp/B07S6BW832/ref=mp_s_a_1_1_sspa?dchild=1&keywords=vivo+s1+pro&qid=1594897803&sprefix=vivo+s&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFPS05JQkk5RjdPRDMmZW5jcnlwdGVkSWQ9QTA4OTU4MTdMSlZSWkVJVlZYWkUmZW5jcnlwdGVkQWRJZD1BMDkzMzQyNUNOOVM0TTVCUU1KVyZ3aWRnZXROYW1lPXNwX3Bob25lX3NlYXJjaF9hdGYmYWN0aW9uPWNsaWNrUmVkaXJlY3QmZG9Ob3RMb2dDbGljaz10cnVl">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from amazon</button>
            </form>
            <form action="https://www.amazon.in/Test-Exclusive-TST_Exclusive1043-3GB-Storage/dp/B07S6BW832/ref=mp_s_a_1_1_sspa?dchild=1&keywords=vivo+s1+pro&qid=1594897803&sprefix=vivo+s&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFPS05JQkk5RjdPRDMmZW5jcnlwdGVkSWQ9QTA4OTU4MTdMSlZSWkVJVlZYWkUmZW5jcnlwdGVkQWRJZD1BMDkzMzQyNUNOOVM0TTVCUU1KVyZ3aWRnZXROYW1lPXNwX3Bob25lX3NlYXJjaF9hdGYmYWN0aW9uPWNsaWNrUmVkaXJlY3QmZG9Ob3RMb2dDbGljaz10cnVl">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>
          <p></p>
        </div>
    {% endblock content%}
    {% block specs%}
    <!-- specification -->
    <h3 class="spec_title">Full Specs</h3>
    <!-- 1 -->
    <div class="specs_table">
      <div class="specs">
        <strong>LAUNCH</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Announced</strong>
          <p>2019, November 19</p>
        </div>
        <div class="specs_info1">
          <strong>Status</strong>
          <p>Available. Released 2019, November</p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="specs_table">
      <div class="specs">
        <strong>NETWORK</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Technology</strong>
          <p>GSM / HSPA / LTE</p>
        </div>
        <div class="specs_info">
          <strong>Speed</strong>
          <p>HSPA 42.2/5.76 Mbps, LTE-A</p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="specs_table">
      <div class="specs">
        <strong>DISPLAY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Type</strong>
          <p>Super AMOLED capacitive touchscreen, 16M colors</p>
        </div>
        <div class="specs_info">
          <strong>Size</strong>
          <p>6.38 inches, 99.9 cm2 (~83.4% screen-to-body ratio)</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>1080 x 2340 pixels, 19.5:9 ratio (~404 ppi density)</p>
        </div>
        <div class="specs_info">
          <strong>Protection</strong>
          <p>Corning Gorilla Glass 5</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>HDR</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BODY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Dimension</strong>
          <p>159.3 x 75.2 x 8.7 mm (6.27 x 2.96 x 0.34 in)</p>
        </div>
        <div class="specs_info">
          <strong>Weight</strong>
          <p>	186.7 g (6.60 oz)</p>
        </div>
        <div class="specs_info">
          <strong>Build</strong>
          <p>	Glass front, glass back, aluminum frame</p>
        </div>
        <div class="specs_info1">
          <strong>SIM</strong>
          <p>Single SIM (Nano-SIM) or Hybrid Dual SIM (Nano-SIM, dual stand-by)</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>PLARFROM</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>OS</strong>
          <p>Android 9.0 (Pie), Funtouch 9.2</p>
        </div>
        <div class="specs_info">
          <strong>Chipset</strong>
          <p>Qualcomm SDM665 Snapdragon 665 (11 nm)</p>
        </div>
        <div class="specs_info">
          <strong>CPU</strong>
          <p>Octa-core (4x2.0 GHz Kryo 260 Gold & 4x1.8 GHz Kryo 260 Silver)</p>
        </div>
        <div class="specs_info1">
          <strong>GPU</strong>
          <p>Adreno 610</p>
        </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MEMORY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Card Slot</strong>
          <p>microSDXC (uses shared SIM slot)</p>
        </div>
        <div class="specs_info1">
          <strong>Internal</strong>
          <p>	128GB 8GB RAM</p>
        </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="specs_table">
      <div class="specs">
        <strong>CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Quad</strong>
          <p>48 MP, f/1.8, (wide), 1/2.0", 0.8µm, PDAF</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>8 MP, f/2.2, 13mm (ultrawide), 1/4.0", 1.12µm</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>2 MP, f/2.4, (macro)</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>2 MP, f/2.4, (depth)</p>
        </div>
        <div class="specs_info">
          <strong>Features</strong>
          <p>	LED flash, HDR, panorama</p>
        </div>
        <div class="specs_info1">
          <strong>Video</strong>
          <p>1080p@30fps</p>
        </div>
      </div>
    </div>
    <!-- 7 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FRONT CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Single</strong>
          <p>	32 MP, f/2.0, 26mm (wide), 1/2.8", 0.8µm</p>
        </div>
        <div class="specs_info1">
          <strong>Features</strong>
          <p>HDR</p>
        </div>
        <div class="specs_info1">
          <strong>Video</strong>
          <p>1080p@30fps</p>
        </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BATTERY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong></strong>
          <p>Non-removable Li-Po 4500 mAh battery</p>
        </div>
        <div class="specs_info">
          <strong>Charging</strong>
          <p>	Fast charging 18W</p>
        </div>
      </div>
    </div>
    <!-- 9 -->
    <div class="specs_table">
      <div class="specs">
        <strong>COMMS.</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>WLAN</strong>
          <p>Wi-Fi 802.11 a/b/g/n/ac, dual-band, Wi-Fi Direct, hotspot</p>
        </div>
        <div class="specs_info">
          <strong>Bluetooth</strong>
          <p>	5.0, A2DP, LE</p>
        </div>
        <div class="specs_info">
          <strong>GPS</strong>
          <p>Yes, with A-GPS, GLONASS, GALILEO, BDS</p>
        </div>
        <div class="specs_info">
          <strong>Radio</strong>
          <p>FM radio</p>
        </div>
        <div class="specs_info1">
          <strong>USB</strong>
          <p>2.0, Type-C 1.0 reversible connector, USB On-The-Go</p>
        </div>
      </div>
    </div>
    <!-- 10 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FEATURE</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Sensors</strong>
          <p>Fingerprint (under display, optical), accelerometer, gyro, proximity, compass</p>
        </div>
      </div>
    </div>
    <!-- 11 -->
    <div class="specs_table">
      <div class="specs">
        <strong>SOUND</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Loudspeaker</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>3.5mm jack</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>24-bit/192kHz audio</p>
        </div>
      </div>
    </div>
    <!-- 12 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MISC</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Color</strong>
          <p>Knight Black, Fancy Sky</p>
        </div>
        <div class="specs_info">
          <strong>Models</strong>
          <p>1920, PD1945F_EX</p>
        </div>
      </div>
    </div>
    </div>
    <!-- 13 -->
    {% endblock specs%}
