{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="xiaomi smartphone: New smartphone review and specification, buy at best price from amazon. india's no1 selling smartphone. "> {% endblock desc%}
{% block key%}<meta name="keywords" content="Redmi Note 7s mobile, Redmi Note 7s price , Redmi Note 7s price in india, Redmi Note 7s review, Redmi Note 7s specification"> {% endblock key%}
  {% load static %}
    {% block title%}Redmi Note7s Full specification{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <!-- review and spec -->
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h4 class="content">Xiaomi released his new smartphone Redmi Note 7s at price of 11,999-INR</h4>
          <h2 class="content_tittle"><span>REVIEW</span> Redmi Note 7s : 4/64GB for 11,999-INR Watch Full review-<a href="http://www.youtube.com">http://www.youtube.com </a></h2>
        </div>
        <div >
          <img class="image"  src="{% static 'image/mobile/mi/redmi-note-7s-2.jpg' %}" alt="">
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | google by: www.androidauthority.com/</p>
        </div>
        <div class="info">
          <h4 class="content">Redmi Note 7s summary</h4>
          <p>If we talk about design The <span>Redmi Note 7S</span> looks exactly the same as the Redmi Note 7 as well as the Redmi Note 7 Pro. Like its siblings, the Redmi Note 7S has a glass sandwich design with Corning Gorilla Glass 5 at the front and the back. This helps give the phone a premium look and feel which isn't very common at this price point. While the glossy back looks premium, it is a fingerprint magnet and picks up grease very easily. Xiaomi provides a case in the box that fits well and should help keep fingerprints off the device.</p>
          <p> The new Redmi Note 7S has the same processor and RAM options as the Redmi Note 7, but has a 48-megapixel camera like the Redmi Note 7 Pro and <span>Xiaomi</span> ships the Redmi Note 7S in three colours, Onyx Black, Sapphire Blue, and Ruby Red.</p>
          <p>The Redmi Note 7S is powered by the <span>Qualcomm Snapdragon 660 SoC</span>, which it shares with the Redmi Note 7.The Snapdragon 660 isn't as powerful as the Snapdragon 675 SoC, which powers the Redmi Note 7 Pro. Xiaomi offers the Redmi Note 7S in two variants, one with 3GB of RAM and 32GB of storage priced at Rs. 10,999, and the higher-end one with 4GB of RAM and 64GB storage variant priced at Rs. 12,999. </p>
          <div class="aff-link1">
            <form action="https://www.flipkart.com/redmi-note-7s-onyx-black-64-gb/p/itmfh75fh2ggjgag?pid=MOBFGGJ8AUXSTH6D&lid=LSTMOBFGGJ8AUXSTH6DUXD9PW&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=cf2ef4af-ede5-4696-b5c3-6d95078f9c77.MOBFGGJ8AUXSTH6D.SEARCH&ppt=sp&ppn=sp&ssid=c6u15phq400000001594890738698&qH=2f03d3b1138b616a">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from flipkart</button>
            </form>
            <form action="https://www.flipkart.com/search?q=Redmi%20Note%207s&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off" class="affilated-link_flipcart">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>
          <p></p>
      </div>
      <style>
        .info{
          padding-top: 10px;
        }
        .info span{
          color:red;
        }
      </style>
    {% endblock content%}
    {% block specs%}
    <!-- specification -->
    <h3 class="spec_title">Full Specs</h3>
    <!-- 1 -->
    <div class="specs_table">
      <div class="specs">
        <strong>LAUNCH</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Announced</strong>
          <p>	2019, May</p>
        </div>
        <div class="specs_info1">
          <strong>Status</strong>
          <p>Available. Released 2019, May</p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="specs_table">
      <div class="specs">
        <strong>NETWORK</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Technology</strong>
          <p>GSM / HSPA / LTE</p>
        </div>
        <div class="specs_info1">
          <strong>Speed</strong>
          <p>HSPA 42.2/5.76 Mbps, LTE-A (2CA) Cat12 600/150 Mbps</p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="specs_table">
      <div class="specs">
        <strong>DISPLAY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Type</strong>
          <p>IPS LCD capacitive touchscreen, 16M colors</p>
        </div>
        <div class="specs_info">
          <strong>Size</strong>
          <p>6.3 inches, 97.4 cm2 (~81.4% screen-to-body ratio)</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>1080 x 2340 pixels, 19.5:9 ratio (~409 ppi density)</p>
        </div>
        <div class="specs_info1">
          <strong>Protection</strong>
          <p>Corning Gorilla Glass 5</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BODY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Dimension</strong>
          <p>159.2 x 75.2 x 8.1 mm (6.27 x 2.96 x 0.32 in)</p>
        </div>
        <div class="specs_info">
          <strong>Weight</strong>
          <p>186 g (6.56 oz)</p>
        </div>
        <div class="specs_info">
          <strong>Build</strong>
          <p>Glass front (Gorilla Glass 5), glass back (Gorilla Glass 5), plastic frame</p>
        </div>
        <div class="specs_info1">
          <strong>SIM</strong>
          <p>Hybrid Dual SIM (Nano-SIM, dual stand-by)</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>PLARFROM</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>OS</strong>
          <p>Android 9.0 (Pie), MIUI 11</p>
        </div>
        <div class="specs_info">
          <strong>Chipset</strong>
          <p>Qualcomm SDM660 Snapdragon 660 (14 nm)</p>
        </div>
        <div class="specs_info">
          <strong>CPU</strong>
          <p>	Octa-core (4x2.2 GHz Kryo 260 Gold & 4x1.8 GHz Kryo 260 Silver)</p>
        </div>
        <div class="specs_info1">
          <strong>GPU</strong>
          <p>Adreno 512</p>
        </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MEMORY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Card Slot</strong>
          <p>microSDXC (uses shared SIM slot)</p>
        </div>
        <div class="specs_info1">
          <strong>Internal</strong>
          <p>32GB 3GB RAM, 64GB 4GB RAM</p>
        </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="specs_table">
      <div class="specs">
        <strong>CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Single</strong>
          <p>48 MP, f/1.8, (wide), 1/2.0", 0.8µm, PDAF</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>5 MP, f/2.2, (depth)</p>
        </div>
        <div class="specs_info">
          <strong>Features</strong>
          <p>Dual-LED flash, HDR, panorama</p>
        </div>
        <div class="specs_info1">
          <strong>Video</strong>
          <p>1080p@30/60/120fps, (gyro-EIS)</p>
        </div>
      </div>
    </div>
    <!-- 7 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FRONT CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Single</strong>
          <p>13 MP, f/2.0, (wide), 1/3.1", 1.12µm</p>
        </div>
        <div class="specs_info1">
          <strong>Features</strong>
          <p>HDR</p>
        </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BATTERY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong></strong>
          <p>Non-removable Li-Ion 4000 mAh battery</p>
        </div>
        <div class="specs_info">
          <strong>Charging</strong>
          <p>Fast charging 18W</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>Quick Charge 4</p>
        </div>
      </div>
    </div>
    <!-- 9 -->
    <div class="specs_table">
      <div class="specs">
        <strong>COMMS.</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>WLAN</strong>
          <p>Wi-Fi 802.11 a/b/g/n/ac, dual-band, Wi-Fi Direct, hotspot</p>
        </div>
        <div class="specs_info">
          <strong>Bluetooth</strong>
          <p>5.0, A2DP, LE</p>
        </div>
        <div class="specs_info">
          <strong>GPS</strong>
          <p>Yes, with A-GPS, GLONASS, GALILEO, BDS</p>
        </div>
        <div class="specs_info">
          <strong>Radio</strong>
          <p>FM radio, recording</p>
        </div>
        <div class="specs_info1">
          <strong>USB</strong>
          <p>2.0, Type-C 1.0 reversible connector</p>
        </div>
      </div>
    </div>
    <!-- 10 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FEATURE</strong>
      </div>
      <div class="specs_type">
          <div class="specs_info1">
            <strong>Sensors</strong>
            <p>Fingerprint (rear-mounted), accelerometer, gyro, proximity, compass</p>
          </div>
      </div>
    </div>
    <!-- 11 -->
    <div class="specs_table">
      <div class="specs">
        <strong>SOUND</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Loudspeaker</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info1">
          <strong>3.5mm jack</strong>
          <p>Yes</p>
        </div>
      </div>
    </div>
    <!-- 12 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MISC</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Color</strong>
          <p>Onyx Black, Sapphire Blue, Ruby Red, Astro White</p>
        </div>
        <div class="specs_info1">
          <strong>Models</strong>
          <p>M1901F71</p>
        </div>
      </div>
    </div>
    </div>
    <!-- 13 -->
    {% endblock specs%}
