{% extends 'page/base.html' %}
{% block desc%}<meta name="description" content="Apple smartphone: New smartphone review and specification, buy at best price from amazon. "> {% endblock desc%}
{% block key%}<meta name="keywords" content="iphone best mobile, apple mobile , iphone mobile at price,  apple mobile ka rate, apple mobile all price, apple mobile phones youtube review"> {% endblock key%}
  {% load static %}
    {% block title%}Apple smartphone: review , specifications and price -hipein.com{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block actapp%} class="active"{% endblock actapp%}
    {% block content%}
    <!-- content -->
    <div class="container1">
      <div class="mobile-specs">
        <div class="mobile-img">
          <img  src="{% static 'image/mobile/apple/apple-11-pro-max-1.jpg' %}" alt="">
        </div>
        <div class="mobile-info">
          <div class="mobile-name-price">
            <div class="mobile-view-name">
              <div class="mobile-view">
                <h5>399</h5>
                <p><i class="fa fa-eye"></i></p>
              </div>
              <div class="mobile-name">
                <h3>iPhone 11 Pro Max</h3>
                <div class="star-rating">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
            </div>
            <div class="mobile-price">
              <h3>Rs. 49,999</h3>
              <p>see more price</p>
            </div>
          </div>
          <div class="mobile-detail">
            <div class="performance">
              <h4>Performance</h4>
              <div class="bar">
                <p class="very-good"></p>
              </div>
              <div class="information">
                <p>Hexa-core</p>
                <p class="info">Apple A14 Bionic (5 nm)</p>
                <p class="info">4 GB RAM</p>
              </div>
            </div>
            <div class="display">
              <h4>Display</h4>
              <div class="bar">
                <p class="good"></p>
              </div>
              <div class="information">
                <p>5.4 inches (15.4 cm)</p>
                <p class="info">Super Retina XDR OLED, HDR10</p>
              </div>
            </div>
            <div class="camera">
              <h4>Camera</h4>
              <div class="bar">
                <p class="excellent"></p>
              </div>
              <div class="information">
                <p>12-MP + 12-MP Dual</p>
                <p class="info">LED Flash</p>
                <p class="info">12 MP front camera</p>
              </div>
            </div>
            <div class="battery">
              <h4>Battery</h4>
              <div class="bar">
                <p class="bad"></p>
              </div>
              <div class="information">
                <p>3300 mAh</p>
                <p class="info">Fast charging</p>
                <p class="info">C-Type</p>
              </div>
            </div>
          </div>
          <div class="short-info">
            <div class="icon">
              <div data-title="16gb">
                <p><i class="fas fa-sim-card"></i></p>
              </div>
            </div>
            <div class="full-specs">
              <h5>Full specification</h5>
            </div>
          </div>
        </div>
      </div>
    {% endblock content%}
