{% extends 'page/base.html' %}
{% block desc%}<meta name="description" content="Apple smartphone: New smartphone review and specification, buy at best price from amazon. "> {% endblock desc%}
{% block key%}<meta name="keywords" content="iphone best mobile, apple mobile , iphone mobile at price,  apple mobile ka rate, apple mobile all price, apple mobile phones youtube review"> {% endblock key%}
  {% load static %}
    {% block title%}Apple smartphone: review , specifications and price -hipein.com{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block actapp%} class="active"{% endblock actapp%}
    {% block content%}
    <!-- content -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/apple/apple-11-pro-max-1.jpg' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> Apple 11 Pro Max : 4/64GB for 1,17,100-INR Watch Full review-<a href="https://www.youtube.com/watch?v=bSmJBoXZWto">http://www.youtube.com </a></h1>
          <p class="content_text">Apple Release his new <span>Apple 11 Pro Max</span> in india on 2019, September 20 start from <span>1,17,100</span>. Apple 11 Pro Max Available at <span>amazon</span> in lowest prices. This smartphone coming with 3 variants like 64GB 4GB RAM, 256GB 4GB RAM, 512GB 4GB RAM with colour options like Space Gray, Silver, Gold, Midnight Green. The smart -phone is powered by the <span>Apple A13 Bionic (7 nm+)</span> and Non-removable Li-Ion 3969 mAh battery (15.04 Wh). It has support for Fast charging 18W, 50% in 30 min.  </p>
          <a href="{% url '11ProMax' %}" class="content_spec">Full Specificaton</a>
         <p></p>

          <div class="aff-link1">
            <form action="https://www.amazon.in/Apple-iPhone-Pro-Max-64GB/dp/B07XVLMZHH/ref=sr_1_1_sspa?dchild=1&keywords=Apple+11+Pro+Max&qid=1594878920&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFRMlcyOExEN1k1MTQmZW5jcnlwdGVkSWQ9QTAxOTYyNzFRVDlSOVdRQlNIVVkmZW5jcnlwdGVkQWRJZD1BMDg1Njk3NTNKUFpGVktJQ1FYNE0md2lkZ2V0TmFtZT1zcF9hdGYmYWN0aW9uPWNsaWNrUmVkaXJlY3QmZG9Ob3RMb2dDbGljaz10cnVl">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from amazon</button>
            </form>
            <form action="https://www.amazon.in/Apple-iPhone-Pro-Max-64GB/dp/B07XVLMZHH/ref=sr_1_1_sspa?dchild=1&keywords=Apple+11+Pro+Max&qid=1594878920&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFRMlcyOExEN1k1MTQmZW5jcnlwdGVkSWQ9QTAxOTYyNzFRVDlSOVdRQlNIVVkmZW5jcnlwdGVkQWRJZD1BMDg1Njk3NTNKUFpGVktJQ1FYNE0md2lkZ2V0TmFtZT1zcF9hdGYmYWN0aW9uPWNsaWNrUmVkaXJlY3QmZG9Ob3RMb2dDbGljaz10cnVl">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>


        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/apple/apple-11-1.jpeg' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> iphone 11 : 4/64GB for 68,300 Watch Full review-<a href="https://www.youtube.com/watch?v=y7RbFKVpWF0">http://www.youtube.com </a></h1>
          <p class="content_text">Apple Release his brand new <span>Apple 11</span> in india on  2019, September 20 and start from <span>68,300</span>.Apple 11 Available at <span>amazon</span> in lowest prices. This smartphone coming with 3 variants like 64GB 4GB RAM, 128GB 4GB RAM, 256GB 4GB RAM with colour options like Black, Green, Yellow, Purple, Red and White. The smart -phone is powered by the <span>	Apple A13 Bionic (7 nm+)</span>and Non-removable Li-Ion 3110 mAh battery. It has support Fast charging 18W, 50% in 30 min.</p>
          <a href="{% url 'iphone11' %}" class="content_spec">Full Specificaton</a>
         <p></p>


          <div class="aff-link1">
            <form action="https://www.amazon.in/Apple-iPhone-11-64GB-White/dp/B07XVMCLP7/ref=sr_1_1_sspa?dchild=1&keywords=Apple+11&qid=1594878997&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEyVEpYRTBCNzNEQ1VOJmVuY3J5cHRlZElkPUEwNzQ5MDczSzUzRFM4NzJRVEdJJmVuY3J5cHRlZEFkSWQ9QTAxNDA3MDNMT1pUSjNFN0I5UDImd2lkZ2V0TmFtZT1zcF9hdGYmYWN0aW9uPWNsaWNrUmVkaXJlY3QmZG9Ob3RMb2dDbGljaz10cnVl">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from amazon</button>
            </form>
            <form action="https://www.amazon.in/s?k=Apple+11&ref=nb_sb_noss" class="affilated-link_flipcart">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>


         </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/apple/apple-se-1.png' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> Apple SE : 3/64GB for 42,500-INR Watch Full review-<a href="https://www.youtube.com/watch?v=UK8HH3_q4yI">http://www.youtube.com </a></h1>
          <p class="content_text">Apple Release his new <span>Apple SE</span> in india on Released 2020, April 24 and start from <span>42,500</span>. Apple SE Available at <span>flipkart</span> in lowest prices. This smartphone coming with 3 variants like 	64GB 3GB RAM, 128GB 3GB RAM and 256GB 3GB RAM with colour options like Aurora Blue, Glacier White, and Interstellar Black. The smart -phone is powered by the <span>Apple A13 Bionic (7 nm+)</span> and Non-removable Li-Ion 1821 mAh battery. It has support Fast charging 18W, 50% in 30 min.  </p>
          <a href="{% url 'iphoneSE' %}" class="content_spec">Full Specificaton</a>
          <p></p>


          <div class="aff-link1">
            <form action="https://www.flipkart.com/apple-iphone-se-black-64-gb/p/itm832dd5963a08d?pid=MOBFRFXHCKWDAC4A&lid=LSTMOBFRFXHCKWDAC4AEQROVZ&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=bde54ffa-9b04-4fc9-9b0a-c0c5f0f5b823.MOBFRFXHCKWDAC4A.SEARCH&ppt=sp&ppn=sp&ssid=q8iq0py3680000001594879019988&qH=72cf29aedb578aec">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from flipkart</button>
            </form>
            <form action="https://www.flipkart.com/search?q=Apple%20SE&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>


         </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/apple/apple-x-1.jpg' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> iphone X : 3/256GB for 79,990-INR Watch Full review-<a href="https://www.youtube.com/watch?v=743jq0ncVtA">http://www.youtube.com </a></h1>
          <p class="content_text">Apple Released his new <span>iphone X</span>in india on 2017, November 03 and starting from <span>79,990</span>.iphone X Available at <span>flipkart</span> in lowest prices. This smartphone coming with 2 variants like 64GB 3GB RAM, 256GB 3GB RAM with colour options like 	Space Gray, Silver. The smart -phone is powered by the <span>Apple A11 Bionic (10 nm)</span> and	Non-removable Li-Ion 2716 mAh battery. It has support for Fast charging 15W, 50% in 30 min.</p>
          <a href="{% url 'iphoneX' %}" class="content_spec" >Full Specificaton</a>
          <p></p>

          <div class="aff-link1">
            <form action="https://www.flipkart.com/apple-iphone-x-silver-256-gb/p/itmexrgv4cgmrxxp?pid=MOBEXRGVVTMF9FYV&lid=LSTMOBEXRGVVTMF9FYVWVE8YG&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=203d68b0-5c5b-4c67-91af-22dd842ed425.MOBEXRGVVTMF9FYV.SEARCH&ppt=sp&ppn=sp&ssid=5dak4ikqkw0000001594879137612&qH=f343a4633184ab46">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from flipkart</button>
            </form>
            <form action="https://www.flipkart.com/search?q=Apple%20x&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>


          <p></p>
          </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/apple/apple-iphone-7-plus-1.jpeg' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> iphone 7 Plus : 3/32GB for 36,999-INR Watch Full review-<a href="https://www.youtube.com/watch?v=GqBduR40YcU">http://www.youtube.com </a></h1>
          <p class="content_text">Apple Released his new <span>Apple iphone 7 Plus </span>in india on 2016, September 07 and starting from <span>38,900</span>.Apple iphone 7 Plus Available at <span>amazon</span> in lowest prices. This smartphone coming with 3 variants like 32GB 3GB RAM, 128GB 3GB RAM, 256GB 3GB RAM with colour options like Black, Red, Yellow, Blue, Coral, White. The smart -phone is powered by the <span>Apple A10 Fusion (16 nm)</span> and	Non-removable Li-Ion 2900 mAh battery.</p>
          <a href="{% url 'iphone7Plus' %}" class="content_spec">Full Specificaton</a>
          <p></p>

          <div class="aff-link1">
            <form action="https://www.amazon.in/Apple-iPhone-Plus-Rose-128GB/dp/B01LXMHIOY/ref=sr_1_1?dchild=1&keywords=Apple+iphone+7+Plus&qid=1594879323&sr=8-1" class="affilated-link_amazon">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from amazon</button>
            </form>
            <form action="https://www.amazon.in/Apple-iPhone-Plus-Rose-128GB/dp/B01LXMHIOY/ref=sr_1_1?dchild=1&keywords=Apple+iphone+7+Plus&qid=1594879323&sr=8-1" class="affilated-link_flipcart">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>


          <p></p>
         </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/apple/apple-iphone-8-1.jpeg' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> iphone 8 : 2/64GB for 38,999-INR Watch Full review-<a href="https://www.youtube.com/watch?v=HRiLaFDeGtQ">http://www.youtube.com </a></h1>
          <p class="content_text">Apple Released his new <span>iphone 8</span>in india on  2017, September 22 and starting from <span>38,999</span>.iphone 8 Available at <span>flipkart</span> in lowest prices. This smartphone coming with 2 variants like 64GB 2GB RAM, 256GB 2GB RAM with colour options like Silver, Space Gray, Gold, Red. The smart -phone is powered by the <span>Apple A11 Bionic (10 nm)</span> and	Non-removable Li-Ion 1821 mAh battery. It has support for Fast charging 15W, 50% in 30 min.</p>
          <a href="{% url 'iphone8' %}" class="content_spec">Full Specificaton</a>
          <p></p>

          <div class="aff-link1">
            <form action="https://www.flipkart.com/apple-iphone-8-product-red-red-64-gb/p/itmf46h3trwpjcum?pid=MOBF46H3HGWSFGGC&lid=LSTMOBF46H3HGWSFGGCJFSRCX&marketplace=FLIPKART&sattr[]=storage&st=storage&otracker=search">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from flipkart</button>
            </form>
            <form action="https://www.flipkart.com/apple-iphone-8-product-red-red-64-gb/p/itmf46h3trwpjcum?pid=MOBF46H3HGWSFGGC&lid=LSTMOBF46H3HGWSFGGCJFSRCX&marketplace=FLIPKART&sattr[]=storage&st=storage&otracker=search">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>


          <p></p>
         </div>
      </div>
    </div>
    <!-- 7 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/apple/Apple-iPhone-7-1.jpg' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> iphone 7 : 2/32GB for 29,499-INR Watch Full review-<a href="https://www.youtube.com/watch?v=Y8nn0a2XNNs">http://www.youtube.com </a></h1>
          <p class="content_text">Apple Released his new <span>iphone 7</span>in india on Released 2016, September 16 and starting from <span>29,499</span>. iphone 7 Available at <span>flipkart</span> in lowest prices. This smartphone coming with 3 variants like 32GB 2GB RAM, 128GB 2GB RAM, 256GB 2GB RAM with colour options like 	Jet Black, Black, Silver, Gold, Rose Gold, Red. The smart -phone is powered by the <span>	Apple A10 Fusion (16 nm)</span> and	Non-removable Li-Ion 1960 mAh battery.</p>
          <a href="{% url 'iphone7' %}" class="content_spec">Full Specificaton</a>
         <p></p>

          <div class="aff-link1">
            <form action="https://www.flipkart.com/apple-iphone-7-black-32-gb/p/itmen6daftcqwzeg?pid=MOBEMK62PN2HU7EE&lid=LSTMOBEMK62PN2HU7EEF7TO4A&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=0ed476e3-1c36-42b3-94e9-a0df86642344.MOBEMK62PN2HU7EE.SEARCH&ppt=sp&ppn=sp&ssid=ypzwk46rpc0000001594879572356&qH=8a650ef60fa6e469">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from flipkart</button>
            </form>
            <form action="https://www.flipkart.com/search?q=Apple%207&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>


          <p></p>
          </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/apple/Apple-iPhone-XR-1.jpg' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> iphone XR : 3/64GB for 52,500-INR Watch Full review-<a href="https://www.youtube.com/watch?v=Fv2Uj4uYaQo">http://www.youtube.com </a></h1>
          <p class="content_text">Apple Released his new <span>iphone XR</span>in india on 2018, October 26 and starting from <span>52,500</span>.iphone XR Available at <span>flipkart</span> in lowest prices. This smartphone coming with 3 variants like 	64GB 3GB RAM, 128GB 3GB RAM, 256GB 3GB RAM with colour options like S	Black, Red, Yellow, Blue, Coral, White. The smart -phone is powered by the <span>Apple A12 Bionic (7 nm)</span> and 	Non-removable Li-Ion 2942 mAh battery.It has support for Fast charging 15W, 50% in 30 min.</p>
          <a href="{% url 'iphoneXR' %}" class="content_spec">Full Specificaton</a>
          <p></p>
          <div class="aff-link1">
            <form action="https://www.flipkart.com/apple-iphone-xr-white-256-gb/p/itmf9z7zsx9keyup?pid=MOBF9Z7ZEHAGRKZC&lid=LSTMOBF9Z7ZEHAGRKZCAQAGGA&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=84b26bfd-4548-44bc-808c-abbb942bf7f9.MOBF9Z7ZEHAGRKZC.SEARCH&ppt=sp&ppn=sp&ssid=t00r583yg00000001594879708268&qH=868ed02c58567157">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from flipkart</button>
            </form>
            <form action="https://www.flipkart.com/search?q=iphone%20XR&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>


         </div>
      </div>
    </div>
    <!-- 9 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/apple/apple-iphone-6s-1.jpeg' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> iphone 6s : 2/32GB for 24,989-INR Watch Full review-<a href="https://www.youtube.com/watch?v=kycb238vTec">http://www.youtube.com </a></h1>
          <p class="content_text">Apple Released his new <span>iphone 6s</span>in india on  2015, September 25 and starting from <span>29,740</span>.iphone 6s Available at <span>flipkart</span> in lowest prices. This smartphone coming with 4 variants like 	16GB 2GB RAM, 32GB 2GB RAM, 64GB 2GB RAM, 128GB 2GB RAM with colour options like Black, Red, Ye low, Blue, Coral, White. The smart -phone is powered by the <span>Apple A9 (14 nm)</span> and Non-removable Li-Ion 2750 mAh battery.</p>
          <a href="{% url 'iphone6s' %}" class="content_spec">Full Specificaton</a>
          <p></p>

          <div class="aff-link1">
            <form action="https://www.flipkart.com/apple-iphone-6s-space-grey-32-gb/p/itmen2yyjfzpspyg?pid=MOBEN2YYKU9386TQ&lid=LSTMOBEN2YYKU9386TQFZWR3C&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=db9728bc-df0f-4dc8-8c2f-341a008cdaac.MOBEN2YYKU9386TQ.SEARCH&ppt=sp&ppn=sp&ssid=yhhgxm0dz40000001594879820900&qH=6a4fa6f1ee635be9">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from flipkart</button>
            </form>
            <form action="https://www.flipkart.com/search?q=iphone%206s&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off" class="affilated-link_flipcart">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>


          <p></p>
         </div>
      </div>
    </div>
    <!-- 10 -->
    <!-- footer -->
    {% endblock content%}
