{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="Realme c15 price in india rs. 10,290, check releasing date and specification - hipein "> {% endblock desc%}
{% block key%}<meta name="keywords" content="Realme C15 specification, Realme C15 release date, Realme C15 price, Realme C15 price in india"> {% endblock key%}
{% block style %}
<style>
  .iframe{
    width:100%;
    border:0;
  }
</style>
{% endblock style %}
    {% load static %}
    {% block title%}Realme C15 price in india, releasing date and specification - hipein{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h4 class="content" style="font-weight: 400;">Realme released his new smartphone Realme C15 at price of 10,290-INR</h4>
          <h1 class="content_tittle" style="font-weight: 400;"><span>REVIEW</span> Realme C15 : 3/64GB for 10,290-INR Watch Full review.</h1>
        </div>
        <iframe width="560" height="380" src="https://www.youtube.com/embed/hsOOXNA7mkY"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="info">
          <h4 class="content">About Realme C15</h4>
          <p class="content"><span>Realme</span> has launched a new smartphone on 28 july 2020 called Realme C15. <b>Realme C15 price in india</b> <span>10,290</span>-INR and Realme C15 is already released on oct 8, 2020. Now coming to its design part: Realme c15 will feature a Waterdrop notch as well as a squared allied quad-camera setup at its top right corner. It has a 6.52(inch) IPS LCD touchscreen display with Gorilla Glass 3 protection. The Realme is 9.8mm thick and has a weight of 209g, which is suitable for single-handed use. </p>
          <p class="content">Talking about the camera, Realme C15 comes with a quad camera setup that includes a 13 MP wide camera, 8 MP ultra-wide angle lens, 2 MP depth shooter, and a 2 MP macro lens. On the front, the phone will feature a single waterdrop notch camera that will consists of 8 MP wide angle camera.</p>
          <p class="content">This smartphone comes with a single variant  i.e. 3/64GB RAM, with colour options like Marine Blue, Seagull Silver. The smart -phone is powered by  <span>MediaTek Helio G35 (12 nm)</span> and Non-removable Li-Po <b>6000-mAh</b> battery. It has support for fast charging 18W. </p>
          <div class="aff-link1">
            <form action="">
              <button class="btn btn-primary affilated-link_amazon" type="submit"> (coming soon) </button>
            </form>
          </div>
          <p></p>
        </div>
    {% endblock content%}
    {% block specs%}
    <h3 class="spec_title">Realme C15 specification</h3>
    <div class="specs_table">
      <div class="specs">
        <strong>Available at</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Realsed on</strong>
          <p>30 july 2020</p>
        </div>
        <div class="specs_info">
          <strong>Amazon</strong>
          <p>Coming soon</p>
        </div>
        <div class="specs_info1">
          <strong>Flipkart</strong>
          <p>Coming soon</p>
        </div>
      </div>
    </div>
    <!-- 1 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BRAND</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Make</strong>
          <p>Realme</p>
        </div>
        <div class="specs_info">
          <strong>Models</strong>
          <p>C15</p>
        </div>
        <div class="specs_info1">
          <strong>Color</strong>
          <p>Seagull Silver, Marine Blue</p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="specs_table">
      <div class="specs">
        <strong>NETWORK TYPE</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>2G</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>3G</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>4G</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info1">
          <strong>5G</strong>
          <p>No</p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="specs_table">
      <div class="specs">
        <strong>DISPLAY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Screen</strong>
          <p>IPS LCD capacitive touchscreen, 16M colors</p>
        </div>
        <div class="specs_info">
          <strong>Size(inch)</strong>
          <p>6.5</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>720 x 1560 pixels</p>
        </div>
        <div class="specs_info1">
          <strong>Protection</strong>
          <p>Corning Gorilla Glass</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BODY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Dimension(mm)</strong>
          <p>164.5 x 75.9 x 9.8 mm</p>
        </div>
        <div class="specs_info">
          <strong>Weight(g)</strong>
          <p>209 g</p>
        </div>
        <div class="specs_info">
          <strong>SIM Type</strong>
          <p>Nano-SIM</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>PLATFROM</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>OS</strong>
          <p>Android 10, realme UI 1.0</p>
        </div>
        <div class="specs_info">
          <strong>Chipset</strong>
          <p>MediaTek Helio G35 (12 nm)</p>
        </div>
        <div class="specs_info">
          <strong>CPU</strong>
          <p>Octa-core 2.3 GHz</p>
        </div>
        <div class="specs_info1">
          <strong>GPU</strong>
          <p>PowerVR GE8320</p>
        </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MEMORY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Card Slot</strong>
          <p>microSDXC (dedicated slot)</p>
        </div>
        <div class="specs_info1">
          <strong>Internal</strong>
          <p>3/64GB RAM, 4/64GB RAM</p>
        </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="specs_table">
      <div class="specs">
        <strong>CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Rear camera</strong>
          <p>Quad</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>13 MP-wide + 8 MP-ultrawide + 2 MP-depth + 2 MP-micro</p>
        </div>
        <div class="specs_info">
          <strong>selfie camera</strong>
          <p>single</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>8 MP-wide</p>
        </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BATTERY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong></strong>
          <p>Non-removable Li-Po 6000 mAh battery</p>
        </div>
        <div class="specs_info">
          <strong>Charging</strong>
          <p>Fast charging 18W Adaptor</p>
        </div>
      </div>
    </div>
    <!-- 9 -->
    <div class="specs_table">
      <div class="specs">
        <strong>COMMS.</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>WLAN</strong>
          <p>	Wi-Fi 802.11 b/g/n, hotspot</p>
        </div>
        <div class="specs_info">
          <strong>Bluetooth</strong>
          <p>5.0</p>
        </div>
        <div class="specs_info">
          <strong>GPS</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>Radio</strong>
          <p>FM radio</p>
        </div>
        <div class="specs_info1">
          <strong>USB</strong>
          <p>microUSB 2.0, USB On-The-Go</p>
        </div>
      </div>
    </div>
    <!-- 10 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FEATURE</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Sensors</strong>
            <p>Fingerprint (rear-mounted), accelerometer, proximity, compass</p>
        </div>
      </div>
    </div>
    <!-- 11 -->
    <div class="specs_table">
      <div class="specs">
        <strong>Multimedia</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Loudspeaker</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>3.5mm jack</strong>
          <p>Yes</p>
        </div>
      </div>
    </div>
  </div>
{% endblock specs%}
