{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="OnePlus released his new smartphone OnePlus 8 at price of Rs.44,999, buy at best price from amazon."> {% endblock desc%}
{% block key%}<meta name="keywords" content="oneplus 8 mobile, oneplus 8 mobile price, oneplus 8 mobile phone, oneplus 8 mobile price list, oneplus 8 mobile price in india, oneplus 8 price in amazon, oneplus 8 flipkart, oneplus 8 specification, oneplus 8 review, oneplus 8 will be available on amazon"> {% endblock key%}
  {% load static %}
    {% block title%}OnePlus 8 (8/128GB) Full specification - hipein.com{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <!-- review and spec -->
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h4 class="content" style="font-weight: 400;">OnePlus released his new smartphone OnePlus 8 at price of Rs.44,999</h4>
          <h1 class="content_tittle" style="font-weight: 400;"><span>REVIEW</span> OnePlus 8 : 8/128GB for Rs.44,999 Watch Full review-<a href="https://www.youtube.com/watch?v=t3m7cw5V3U0">http://www.youtube.com </a></h1>
        </div>
        <div >
          <img class="image"  src="{% static 'image/mobile/oneplus/oneplus-8-2.jpg' %}" alt="">
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by: Marques Brownlee</p>
        </div>
        <div class="info">
          <h4 class="content">{{product_name}} summary</h4>
          <p class="content">OnePlus 8 smartphone comes with the 6.55-inch full HD (1080*2400 pixels) Fluid AMOLED display. The OnePlus 8 is powered by the Qualcomm Snapdragon 865 octa core chipset clocked at 2.84GHz paired with 128GB 8GB RAM and 256GB 8GB RAM with UFS 3.0 storage technology. It has Gorilla Glass body at both the sides font and back with aluminium frame which gives it a premium look. The OnePlus 8 comes with the triple rear camera 48MP wide angle and standard camera, 16MP ultrawide auto-focus camera and 2MP macro camera, It has 16MP selfie camera which supports video recording at 1080@30fps (gyro-EIS) and is powered by Non-removable 4300mah battery which support fast charging at 30W. It comes with fingerprint in-display touch which make easier to user to unlock the phone and it supports 5G LTE network.It runs on Android 10.0, Oxygen OS 10.0.</p>
          <div class="aff-link1">
            <form action="https://www.amazon.in/Test-Exclusive-516/dp/B077Q42GD8/ref=sr_1_2?dchild=1&keywords=oneplus+8&qid=1594894553&sr=8-2">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from amazon</button>
            </form>
            <form action="https://www.amazon.in/Test-Exclusive-516/dp/B077Q42GD8/ref=sr_1_2?dchild=1&keywords=oneplus+8&qid=1594894553&sr=8-2">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>
          <p></p>
        </div>
    {% endblock content%}
    {% block specs%}
    <!-- specification -->
    <h3 class="spec_title">Full Specs</h3>
    <!-- 1 -->
    <div class="specs_table">
      <div class="specs">
        <strong>LAUNCH</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Announced</strong>
          <p>2020, April 14</p>
        </div>
        <div class="specs_info1">
          <strong>Status</strong>
          <p>Available. Released 2020, April 21</p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="specs_table">
      <div class="specs">
        <strong>NETWORK</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Technology</strong>
          <p>GSM / CDMA / HSPA / LTE / 5G</p>
        </div>
        <div class="specs_info1">
          <strong>Speed</strong>
          <p>	HSPA 42.2/5.76 Mbps, LTE-A, 5G 7.5 Gbps DL</p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="specs_table">
      <div class="specs">
        <strong>DISPLAY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Type</strong>
          <p>Fluid AMOLED capacitive touchscreen, 16 million</p>
        </div>
        <div class="specs_info">
          <strong>Size</strong>
          <p>6.55 inches, 103.6 cm2 (~88.7% screen-to-body ratio)</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>1080 x 2400 pixels, 20:9 ratio (~402 ppi density)</p>
        </div>
        <div class="specs_info">
          <strong>Protection</strong>
          <p>Corning Gorilla Glass 5</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>HDR10+</p>
          <p>90Hz refresh rate</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BODY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Dimension</strong>
          <p>160.2 x 72.9 x 8 mm (6.31 x 2.87 x 0.31 in)</p>
        </div>
        <div class="specs_info">
          <strong>Weight</strong>
          <p>180 g (6.35 oz)</p>
        </div>
        <div class="specs_info">
          <strong>Build</strong>
          <p>Glass front (Gorilla Glass 5), glass back (Gorilla Glass 5), aluminum frame</p>
        </div>
        <div class="specs_info1">
          <strong>SIM</strong>
          <p>Dual SIM (Nano-SIM, dual stand-by)</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>PLATFROM</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>OS</strong>
          <p>Android 10,Oxygen OS 10.0</p>
        </div>
        <div class="specs_info">
          <strong>Chipset</strong>
          <p>Qualcomm SM8250 Snapdragon 865 (7 nm+)</p>
        </div>
        <div class="specs_info">
          <strong>CPU</strong>
          <p>Octa-core (1x2.84 GHz Kryo 585, 3x2.42 GHz Kryo 585 and 4x1.8 GHz</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>Kryo 585)</p>
        </div>
        <div class="specs_info1">
          <strong>GPU</strong>
          <p>Adreno 650</p>
        </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MEMORY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Card Slot</strong>
          <p>No</p>
        </div>
        <div class="specs_info1">
          <strong>Internal</strong>
          <p>128GB 8GB RAM, 256GB 12GB RAM</p>
            <p>UFS 3.0, 2-LANE</p>
        </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="specs_table">
      <div class="specs">
        <strong>CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Triple</strong>
          <p>48 MP, f/1.8, 25mm (wide), 1/2.0", 0.8µm, PDAF, OIS</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>16 MP, f/2.2, 14mm, 116˚ (ultrawide)</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>2 MP, f/2.4, (macro)</p>
        </div>
        <div class="specs_info">
          <strong>Features</strong>
          <p>Dual-LED flash, HDR, panorama</p>
        </div>
        <div class="specs_info1">
          <strong>Video</strong>
          <p>4K@30/60fps, 1080p@30/60/240fps, Auto HDR, gyro-EIS</p>
        </div>
      </div>
    </div>
    <!-- 7 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FRONT CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Single</strong>
          <p>16 MP, f/2.0, (wide), 1/3.06", 1.0µm/p>
        </div>
        <div class="specs_info1">
          <strong>Features</strong>
          <p>Auto-HDR</p>
        </div>
         <div class="specs_info1">
          <strong>Video</strong>
          <p>1080p@30fps,gyro-EIS</p>
        </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BATTERY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong></strong>
          <p>Non-removable Li-Po 4300 mAh battery</p>
        </div>
        <div class="specs_info">
          <strong>Charging</strong>
          <p>Fast charging 30W, 50% in 23 min (advertised)</p>
        </div>
      </div>
    </div>
    <!-- 9 -->
    <div class="specs_table">
      <div class="specs">
        <strong>COMMS.</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>WLAN</strong>
          <p>Wi-Fi 802.11 a/b/g/n/ac/6, dual-band, Wi-Fi Direct, DLNA, hotspot</p>
        </div>
        <div class="specs_info">
          <strong>Bluetooth</strong>
          <p>5.1, A2DP, LE, aptX HD</p>
        </div>
        <div class="specs_info">
          <strong>GPS</strong>
          <p>Yes, with dual-brand A-GPS, GLONASS, BDS, GALILEO, SBAS</p>
        </div>
         <div class="specs_info">
          <strong>NFC</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>Radio</strong>
          <p>No</p>
        </div>
        <div class="specs_info1">
          <strong>USB</strong>
          <p>3.1, Type-C 1.0 reversible connector, USB On-The-Go</p>
        </div>
      </div>
    </div>
    <!-- 10 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FEATURE</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Sensors</strong>
          <p>Fingerprint (under display, optical), accelerometer, gyro, proximity,</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p> compass</p>
        </div>
      </div>
    </div>
    <!-- 11 -->
    <div class="specs_table">
      <div class="specs">
        <strong>SOUND</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Loudspeaker</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>3.5mm jack</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>24-bit/192kHz audio</p>
        </div>
      </div>
    </div>
    <!-- 12 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MISC</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Color</strong>
          <p>Onyx Black, Glacial Green, Interstellar Glow, Polar Silver</p>
        </div>
      </div>
    </div>
    </div>
  </div>

    <!-- 13 -->
    {% endblock specs%}
