{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="Apple smartphone: New smartphone review and specification, buy at best price from amazon. "> {% endblock desc%}
{% block key%}<meta name="keywords" content="iphone 11 price in india, iphone 11 reviews, iphone 11 specification, apple mobiles "> {% endblock key%}
  {% load static %}
   {% block css%} <link rel="stylesheet" href="{% static 'pageCss/Mobile/mobileSpecCss.css' %}">{% endblock css%}
    {% block title%}Apple 11 Full specification{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <!-- review and spec -->
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h4 class="content">Apple released his new smartphone iphone 11 at price of 68,300</h4>
          <h2 class="content_tittle"><span>REVIEW</span> iphone 11 : 4/64GB for 68,300 Watch Full review-<a href="https://www.youtube.com/watch?v=y7RbFKVpWF0">http://www.youtube.com </a></h2>
        </div>
        <div >
          <img class="image"src="{% static 'image/mobile/apple/apple-11-2.jpg'%}" alt="">
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by: ZONEofTECH</p>
        </div>
        <div class="info">
          <h4 class="content">About Iphone 11</h4>
          <p class="content">Iphone 11 smartphone comes with the 6.1-inch full HD (828*1792 pixels) resolution with Liquid Retina IPS LCD capacitive display. The Iphone 11 is powered by the Hexa-core 2.65 GHz and Apple A13 Bionic (7 nm+) chipset paired with 64GB 4GB RAM, 128GB 4GB RAM and 256GB 4GB RAM.IIt has Gorilla glass at the both sides front as well as back with aluminium frame body. The Iphone 11 comes with the dual camera setup 12MP wide angle and standard camera and 12MP ultrawide camera. It comes 12MP selfie camera which supports video recording at 1080@30fps. The smartphone is powered by Non-removable 3100mah battery which support fast charging 18W. It comes with only Face ID unlock feature which is the only sensor to unlock the phone and it supports 4G LTE network.It runs on iOS 13, upgradable to iOS 13.5.</p>
          <div class="aff-link">
            <a href="https://www.amazon.in/Apple-iPhone-11-64GB-White/dp/B07XVMCLP7/ref=sr_1_1_sspa?dchild=1&keywords=Apple+11&qid=1594878997&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEyVEpYRTBCNzNEQ1VOJmVuY3J5cHRlZElkPUEwNzQ5MDczSzUzRFM4NzJRVEdJJmVuY3J5cHRlZEFkSWQ9QTAxNDA3MDNMT1pUSjNFN0I5UDImd2lkZ2V0TmFtZT1zcF9hdGYmYWN0aW9uPWNsaWNrUmVkaXJlY3QmZG9Ob3RMb2dDbGljaz10cnVl" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy form amazon</button></a>
            <a href="https://www.amazon.in/s?k=Apple+11&ref=nb_sb_noss" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
          </div>
          <p></p>
        </div>
    {% endblock content%}
    {% block specs%}
    <!-- specification -->
    <h3 class="spec_title">Full Specs</h3>
    <!-- 1 -->
    <div class="specs_table">
      <div class="specs">
        <strong>LAUNCH</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Announced</strong>
          <p>2019, September 10</p>
        </div>
        <div class="specs_info1">
          <strong>Status</strong>
          <p>Available. Released 2019, September 20</p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="specs_table">
      <div class="specs">
        <strong>NETWORK</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Technology</strong>
          <p>GSM / CDMA / HSPA / EVDO / LTE</p>
        </div>
        <div class="specs_info1">
          <strong>Speed</strong>
          <p>HSPA 42.2/5.76 Mbps, LTE-A (CA) Cat16 1024/150 Mbps</p>
        </div>
          <div class="specs_info1">
          <strong></strong>
          <p>EV-DO Rev.A 3.1 Mbps</p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="specs_table">
      <div class="specs">
        <strong>DISPLAY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Type</strong>
          <p>Liquid Retina IPS LCD capacitive touchscreen, 16M colors</p>
        </div>
        <div class="specs_info">
          <strong>Size</strong>
          <p>6.1 inches, 90.3 cm2 (~79.0% screen-to-body ratio)</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>828 x 1792 pixels, 19.5:9 ratio (~326 ppi density)</p>
        </div>
        <div class="specs_info">
          <strong>Protection</strong>
          <p>Scratch-resistant glass, oleophobic coating</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>True-tone</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BODY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Dimension</strong>
          <p>150.9 x 75.7 x 8.3 mm (5.94 x 2.98 x 0.33 in)</p>
        </div>
        <div class="specs_info">
          <strong>Weight</strong>
          <p>194 g (6.84 oz)</p>
        </div>
        <div class="specs_info">
          <strong>Build</strong>
          <p>Glass front (Gorilla Glass), glass back (Gorilla Glass),</p>
        </div>
           <div class="specs_info">
          <strong></strong>
          <p>aluminum frame (7000 series)</p>
        </div>
        <div class="specs_info1">
          <strong>SIM</strong>
          <p>Single SIM (Nano-SIM and/or eSIM) or</p>
        </div>
          <div class="specs_info1">
          <strong></strong>
          <p>Dual SIM (Nano-SIM, dual stand-by) - for China</p>
        </div>
          <div class="specs_info1">
          <strong></strong>
          <p>IP68 dust/water resistant (up to 2m for 30 mins)</p>
        </div>
          <div class="specs_info1">
          <strong></strong>
          <p>Apple Pay (Visa, MasterCard, AMEX certified)</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>PLARFROM</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>OS</strong>
          <p>iOS 13, upgradable to iOS 13.5</p>
        </div>
        <div class="specs_info">
          <strong>Chipset</strong>
          <p>Apple A13 Bionic (7 nm+)</p>
        </div>
        <div class="specs_info">
          <strong>CPU</strong>
          <p>Hexa-core (2x2.65 GHz Lightning + 4x1.8 GHz Thunder) </p>
        </div>
        <div class="specs_info1">
          <strong>GPU</strong>
          <p>Apple GPU (4-core graphics)</p>
        </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MEMORY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Card Slot</strong>
          <p>No</p>
        </div>
        <div class="specs_info1">
          <strong>Internal</strong>
          <p>64GB 4GB RAM, 128GB 4GB RAM, 256GB 4GB RAM</p>
        </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="specs_table">
      <div class="specs">
        <strong>CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Dual</strong>
          <p>12 MP, f/1.8, 26mm (wide), 1/2.55", 1.4µm, dual pixel PDAF, OIS</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>12 MP, f/2.4, 13mm (ultrawide)</p>
        </div>
        <div class="specs_info">
          <strong>Features</strong>
          <p>Quad-LED dual-tone flash, HDR (photo/panorama)</p>
        </div>
        <div class="specs_info1">
          <strong>Video</strong>
          <p>4K@24/30/60fps, 1080p@30/60/120/240fps, HDR, stereo sound rec.</p>
        </div>
      </div>
    </div>
    <!-- 7 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FRONT CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Dual</strong>
          <p>12 MP, f/2.2, 23mm (wide)</p>
        </div>
          <div class="specs_info">
          <strong></strong>
          <p>SL 3D, (depth/biometrics sensor)</p>
        </div>
        <div class="specs_info1">
          <strong>Features</strong>
          <p>HDR</p>
        </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BATTERY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong></strong>
          <p>Non-removable Li-Ion 3110 mAh battery (11.91 Wh)</p>
        </div>
        <div class="specs_info">
          <strong>Charging</strong>
          <p>Fast charging 18W, 50% in 30 min </p>
        </div>
           <div class="specs_info">
          <strong></strong>
          <p>USB Power Delivery 2.0 </p>
        </div>
           <div class="specs_info">
          <strong></strong>
          <p>Qi wireless charging </p>
        </div>
      </div>
    </div>
    <!-- 9 -->
    <div class="specs_table">
      <div class="specs">
        <strong>COMMS.</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>WLAN</strong>
          <p>Wi-Fi 802.11 a/b/g/n/ac/6, dual-band, hotspot</p>
        </div>
        <div class="specs_info">
          <strong>Bluetooth</strong>
          <p>5.0, A2DP, LE</p>
        </div>
        <div class="specs_info">
          <strong>GPS</strong>
          <p>Yes, with A-GPS, GLONASS, GALILEO, QZSS</p>
        </div>
        <div class="specs_info">
          <strong>Radio</strong>
          <p>No</p>
        </div>
        <div class="specs_info1">
          <strong>USB</strong>
          <p>2.0, proprietary reversible connector</p>
        </div>
      </div>
    </div>
    <!-- 10 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FEATURE</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Sensors</strong>
          <p>Face ID, accelerometer, gyro, proximity, compass, barometer</p>
        </div>
          <div class="specs_info">
          <strong></strong>
          <p>Siri natural language commands and dictation</p>
        </div>
      </div>
    </div>
    <!-- 11 -->
    <div class="specs_table">
      <div class="specs">
        <strong>SOUND</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Loudspeaker</strong>
          <p>Yes, with stereo speakers</p>
        </div>
        <div class="specs_info">
          <strong>3.5mm jack</strong>
          <p>No</p>
        </div>
      </div>
    </div>
    <!-- 12 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MISC</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Color</strong>
          <p>Black, Green, Yellow, Purple, Red, White</p>
        </div>
        <div class="specs_info1">
          <strong>Models</strong>
          <p>A2221, A2111, A2223</p>
        </div>
      </div>
    </div>
    </div>
    {% endblock specs%}
