/* responsive nav-bar */
body{
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background: #eee;
}
header{
  position: relative;
  width: 100%;
  margin: 0;
  padding: 10px;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
.logo{
  color: #0984e3;
  height: 60px;
  font-size: 36px;
  line-height: 60px;
  padding: 0 20px;
  text-align: center;
  box-sizing: border-box;
  float: left;
  font-weight: 700;
  text-decoration: none;
  cursor: default;
}
nav{
  float: right;
}
.clearfix{
  clear: both;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li{
  list-style: none;
}
nav ul li a{
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #262626;
}
nav ul li a.active,
nav ul li a:hover{
  background: #0984e3;
  color: #fff;
  transition: 0.5s;
  text-decoration: none;
}
/* alert massage */
.alert{
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  background: #0984e3;
  color: white;
}
/* footer css */
footer{
  display: flex;
  height: 280px;
  background-color: #353b48;
  color: #eee;
  position: relative;
}
.footer_info{
  flex: 1;
  padding: 10px;
  margin-left: 140px;
}
.footer_info a{
  color: #eee;
  font-size: 20px;
  padding-right: 10px;
}
.product{
  flex: 1;
  padding: 10px;
  margin-left: 190px;
}
.product a{
  color: #eee;
}
.product a:hover{
  font-size: 20px;
  text-decoration: none;
  transition: 0.5s ease;
}
.footer_link{
  flex: 1;
  padding: 10px;
}
.footer_link a{
  color: #eee;
}
.copyright{
  width: 100%;
  position: absolute;
  background-color: #535c68;
  color: #eee;
  text-align: center;
  bottom: 0px;
}
.copyright_text{
  margin-top: 10px;
}


/* responsive css */
@media (max-width: 1200px) {
    header{
    }
    .alert{
      width: 100%;
    }
    /* footer */
    .footer_info{
      margin-left: 0;
      flex: 1.5;
    }
    .product{
      margin-left: 0px;
    }

}
@media (max-width: 768px) {
    .menu-toggle{
      display: block;
      width: 40px;
      height: 40px;
      margin: 10px;
      /* background: #ccc; */
      float: right;
      cursor: pointer;
      text-align: center;
      font-size: 30px;
      color: #0984e3;
    }
    .menu-toggle:before{
      content: '\f0c9';
      font-family: fontAwesome;
      line-height: 40px;
    }
    .menu-toggle.active:before{
      content: '\f00d';
    }
    nav{
      display: none;
    }
    nav.active{
      display: block;
      width: 100%;
    }
    nav.active ul{
      display: block;
    }
    nav.active ul a{
      margin: 0;
    }
    /* footer */
    footer{
      height: 500px;
      flex-direction: column;
      font-size: 14px;
    }
    .footer_info{
      flex: .9;
    }
    .footer_info a{
      font-size: 14px;
    }
    .footer_info h2{
      font-size: 20px;
    }
    .product h2{
      font-size: 20px;
    }
    .footer_link h2{
      font-size: 20px;
    }
    .footer_link a{
      font-size: 14px;
    }
}
