{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="Mobile phones and tablets these days come with different types of batteries and it is their quality that decides how much energy they can store and hence how long the device can be operated with a single charge."> {% endblock desc%}
{% block key%}<meta name="keywords" content="best battery backup mobile, best battery backup mobile under 20000, best battery backup mobile in samsung, best battery backup android mobile in india, best battery backup android mobile price, best battery backup android mobile phones, best battery backup android smartphone, world best battery backup android mobile, asus best battery backup mobile,samsung m30s price, samsung m31 price"> {% endblock key%}
  {% load static %}
    {% block title%}Top 10 best battery backup mobile - hipein.com{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h1 class="content_tittle">Best battery backup Mobiles Gathered for you </h1>
          <h5 class="content">Hello guys , Looking for for long lasting battery backup phones..? Here we arranged some of thr best battery backup phone for you guys.</h5>
          <p></p>
          <p>By <span style="color:blue;">Aman Acharya</span>- Updated on <b style="color: gray;">15 July, 2020</b></p>
        </div>
        <div>

        <div class="info">
          <h4 class="content">Flagship Mobile</h4>
          <p class="content">Mobile phones and tablets these days come with different types of batteries and it is their quality that decides how much energy they can store and hence how long the device can be operated with a single charge.</p>
          <h5 class="content">Key features of best battery backup mobiles:</h5>
          <ul class="content" style="border-bottom: 1px solid #eee;">
            <li>powerfull processors</li>
            <li>narrow Aspect Ratio</li>
            <li>Finger Print Sensor</li>
            <li>Quad Camera Setup Or Above </li>
            <li>Sufficient Ram</li>
            <p></p>
          </ul>
        </div>


        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">1. Samsung Galaxy M31</h2>
          <div>
            <img class="image" src="{% static 'image/mobile/battery/samsung-galaxy-m31.jpg'%}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by: Technology Talks</p>
          <h4 class="content">About Samsung Galaxy M31</h4>
          <p class="content">The Samsung Galaxy M31 sports a big 6.4-inch display and has a waterdrop notch at the top. It has thin bezels around the AMOLED display which helps it stand out among the competition. The Galaxy M31 is comfortable to hold in the hand but is a little heavy at 191g. The weight of the smartphone is mainly because of the big 6,000mAh battery that it packs.</p>

          <h4 class="content">Samsung Galaxy M31: Key specifications </h4>
          <ul class="content">
            <li>Diaplay: 6.4 inches, 100.5 cm2 (~84.1% screen-to-body ratio)</li>
            <li>Scratch-resistant glass, oleophobic coating</li>
            <li>Processor:Exynos 9611 (10nm)</li>
            <li>primary camera: 64-megapixel (f/1.8) (wide) + 8-megapixel f/2.2 (Ultra Wide) + 5-megapixel f/2.4 (macro) 5-megapixel f/2.2 (depth)</li>
            <li>selfie camera: 32-megapixel (f/2.0)</li>
            <li>Android 10, One UI 2.0</li>
            <li>64GB 6GB RAM, 128GB 6GB RAM</li>
            <li>Battery: Non-removable Li-Po 6000 mAh battery</li>
            <li>Fast charging 15W</li>
            <div class="aff-link">
              <a href="https://www.amazon.in/Samsung-Galaxy-Space-Black-Storage/dp/B07HGN617M/ref=sr_1_1_sspa?dchild=1&keywords=samsung+m31&qid=1594896934&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzNFBDNjIySVhTSTFXJmVuY3J5cHRlZElkPUEwNTM3NDEyMUkxTUdBSFFSREY0SyZlbmNyeXB0ZWRBZElkPUEwMjg5MTE4MkVWSzZQSFcxNVhMViZ3aWRnZXROYW1lPXNwX2F0ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=" class="affilated-link_amazon">
              <button type="button" class="btn btn-primary">Click here to Buy from amazon</button></a>
              <a href="https://www.amazon.in/s?k=samsung+m31&ref=nb_sb_noss_2" class="affilated-link_flipcart">
              <a href="https://www.amazon.in/Samsung-Galaxy-Space-Black-Storage/dp/B07HGN617M/ref=sr_1_1_sspa?dchild=1&keywords=samsung+m31&qid=1594896934&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzNFBDNjIySVhTSTFXJmVuY3J5cHRlZElkPUEwNTM3NDEyMUkxTUdBSFFSREY0SyZlbmNyeXB0ZWRBZElkPUEwMjg5MTE4MkVWSzZQSFcxNVhMViZ3aWRnZXROYW1lPXNwX2F0ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
            </div>
          </ul>
        </div>
        <!-- 2 -->
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">2. Motorola One Fusion+</h2>
          <div>
            <img class="image"src="{% static 'image/mobile/battery/motorola-one-fusion-plus.jpg'%}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com- uploaded-by: Geekyranjit</p>
          <h4 class="content">About Motorola One fusion+</h4>
          <p class="content">The Motorola One Fusion+ has just been launched in India, priced at Rs. 16,999 which puts it in one of the most competitive segments in the market. Motorola has been on a smartphone launching spree, and after the Motorola Edge+ and Motorola G8 Power Lite, the company has come up with this new smartphone. The company has taken a slightly different approach to design and software on the One Fusion+ compared to its competition in the market. Will it pay off? We put the Motorola One Fusion+ to the test to see if it is easy to recommend. </p>
          <h4 class="content">Motorola one Fusion+ : Key specifications </h4>
          <ul class="content">
            <li>Diaplay:6.5 inches, 103.7 cm2 (~83.3% screen-to-body ratio)</li>
            <li>Processor:Qualcomm SDM730 Snapdragon 730G (8 nm)</li>
            <li>primary camera: 64 -megapixel (f/1.8) (Wide) + 8-megapixel f/2.2(Ultra Wide) + 5-megapixel f/2.2 (Macro) + 2-megapixel f/2.2 (depth)</li>
            <li>selfie camera: 16-megapixel (f/2.0)</li>
            <li>Android 10</li>
            <li>128GB 6GB RAM</li>
            <li>Battery: Non-removable Li-Po 5000 mAh battery</li>
            <li>Fast charging 15W</li>
            <div class="aff-link">
              <a href="https://www.flipkart.com/motorola-one-fusion-twilight-blue-128-gb/p/itm9c0e4b9b56acd?pid=MOBFRFXHZRMXDDNZ&lid=LSTMOBFRFXHZRMXDDNZOJ0LCZ&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=49521a34-3db5-4479-beba-804f66e16ea9.MOBFRFXHZRMXDDNZ.SEARCH&ppt=sp&ppn=sp&ssid=xl8kls1nzk0000001594896933368&qH=d6d78c30bc361ec7" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from flipkart</button></a>
              <a href="https://www.flipkart.com/motorola-one-fusion-twilight-blue-128-gb/p/itm9c0e4b9b56acd?pid=MOBFRFXHZRMXDDNZ&lid=LSTMOBFRFXHZRMXDDNZOJ0LCZ&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=49521a34-3db5-4479-beba-804f66e16ea9.MOBFRFXHZRMXDDNZ.SEARCH&ppt=sp&ppn=sp&ssid=xl8kls1nzk0000001594896933368&qH=d6d78c30bc361ec7" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
            </div>
          </ul>
        </div>
        <!-- 3 -->
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">3. Samsung Galaxy M21</h2>
          <div>
            <img class="image" src="{% static 'image/mobile/battery/samsung-galaxy-m21.jpg'%}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com- uploaded-by:  My Next Tablet</p>
          <h4 class="content">About Samsung Galaxy M21</h4>
          <p class="content"><span>samsung</span>The Samsung Galaxy M21 is yet another smartphone to join the Galaxy M series. It brings some of the key features that the Galaxy M series is known for. The smartphone packs in a 6.4-inch AMOLED display that isn’t very common at this price point. It has a vivid output and very good viewing angles. Samsung has made the Galaxy M21 out of plastic to keep the price of the smartphone in the affordable segment. The highlight of the Galaxy M21 is the massive 6,000mAh battery that helps it deliver great battery life. One downside is that the charging time is longer which could get annoying.</p>
          <h4 class="content">Samsung Galaxy M21: Key specifications </h4>
          <ul class="content">
            <li>Diaplay:	6.4 inches, 100.5 cm2 (~84.2% screen-to-body ratio)</li>
            <li>Processor:Exynos 9611 (10nm)</li>
            <li>primary camera: 48-megapixel (f/2.0) + 8-megapixel f/2.2 + 5-megapixel f/2.2</li>
            <li>selfie camera: 	20-megapixel</li>
            <li>Android 10, One UI 2</li>
            <li>64GB 4GB RAM, 128GB 6GB RAM</li>
            <li>Battery: Non-removable Li-Po 6000 mAh battery</li>
            <li>Fast charging 15W</li>
            <div class="aff-link">
              <a href="https://www.amazon.in/Test-Exclusive-667/dp/B07HGH8D2R/ref=sr_1_1_sspa?dchild=1&keywords=samsung+m21&qid=1594897399&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEyT0k5TERCSUZBSzNEJmVuY3J5cHRlZElkPUEwNzY0MTgzMlAxUkFFMzZENkhNMSZlbmNyeXB0ZWRBZElkPUEwNTc3OTg1S0VBNEczT1pESDdUJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from amazon</button></a>
              <a href="https://www.amazon.in/Test-Exclusive-667/dp/B07HGH8D2R/ref=sr_1_1_sspa?dchild=1&keywords=samsung+m21&qid=1594897399&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEyT0k5TERCSUZBSzNEJmVuY3J5cHRlZElkPUEwNzY0MTgzMlAxUkFFMzZENkhNMSZlbmNyeXB0ZWRBZElkPUEwNTc3OTg1S0VBNEczT1pESDdUJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
            </div>
          </ul>
        </div>
        <!-- 4 -->
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">4. Realme X50 Pro</h2>
          <div>
            <img class="image"src="{% static 'image/mobile/battery/realme-x50-pro.jpg'%}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-Uploaded by: MK Technical</p>
          <h4 class="content">About Realme X50 Pro</h4>
          <p class="content"><span>The Realme X50 Pro</span> is 5G ready and features the top-end Qualcomm Snapdragon 865 processor. In terms of performance, this device is excellent for gaming as well as general productivity. Realme has also used high-speed RAM and storage, plus a 90Hz display, for a snappy overall experience. </p>
          <h4 class="content">Realme X50 Pro: Key specifications </h4>
          <ul class="content">
            <li>Diaplay:6.44 inches, 100.1 cm2 (~84.9% screen-to-body ratio)</li>
            <li>Corning Gorilla Glass 5</li>
            <li>Processor:Qualcomm SM8250 Snapdragon 865 (7 nm+)</li>
            <li>primary camera: 64 MP, f/1.8, 26mm (wide), 1/1.72", 0.8µm, PDAF + 12 MP, f/2.5, 54mm (telephoto), 2x optical zoom, PDAF + 8 MP, f/2.3, 13mm (ultrawide), PDAF + 2 MP B/W, f/2.4, (depth)</li>
            <li>selfie camera: 		32 MP, f/2.5, 26mm (wide), 1/2.8", 0.8µm + 8 MP, f/2.2, 17mm (ultrawide), 1/4.0", 1.12µm</li>
            <li>Android 10, realme UI 1.0</li>
            <li>128GB 6GB RAM, 128GB 8GB RAM, 256GB 8GB RAM, 256GB 12GB RAM</li>
            <li>Battery: Non-removable Li-Po 4200 mAh battery</li>
            <li>Fast charging 65W, 100% in 35 min </li>
            <div class="aff-link">
              <a href="https://www.flipkart.com/realme-x50-pro-moss-green-256-gb/p/itm13d1770db35a3?pid=MOBFP6WYFBVHDHY8&lid=LSTMOBFP6WYFBVHDHY8GUPJMY&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=5c3e5225-3028-4b4e-af5c-510ccc2cf0cc.MOBFP6WYFBVHDHY8.SEARCH&ppt=sp&ppn=sp&ssid=0qxmlq7xkg0000001594897469059&qH=02a00971e865e045" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from flipkart</button></a>
              <a href="https://www.flipkart.com/search?q=Realme%20X50%20Pro&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
            </div>
          </ul>
        </div>
        <!-- 5 -->
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">5. Vivo IQOO 3</h2>
          <div>
            <img class="image"src="{% static 'image/mobile/battery/iqoo-3.jpg'%}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-Uploaded by: Geekyranjit</p>
          <h4 class="content">About Vivo IQOO 3</h4>
          <p class="content">The iQoo 3 is the first smartphone from the brand in the Indian market. It is also one of the few smartphones to sport the Qualcomm Snapdragon 865 SoC. iQoo has launched three variants of the iQoo 3 out of which only the top version supports 5G networks. The base variant has 8GB RAM and 128GB of storage, the mid-variant has 8GB RAM and 256GB storage while the top variant has 12GB RAM and 256GB storage.</h4>
          <ul class="content">
            <li>Diaplay: 6.44 inches, 100.1 cm2 (~84.3% screen-to-body ratio)</li>
            <li>Super AMOLED capacitive touchscreen, 16M colors</li>
            <li>Processor: Qualcomm SM8250 Snapdragon 865 (7 nm+) </li>
            <li>primary camera: 48 MP, f/1.8, (wide), 1/2.0", 0.8µm, PDAF + 13 MP, f/2.5, 50mm (telephoto), PDAF, 2x optical zoom + 13 MP, f/2.2, 120˚, 16mm (ultrawide), AF + 2 MP, f/2.4, (depth) </li>
            <li>selfie camera: 	16 MP, f/2.5, (wide)</li>
            <li>Android 10, iQOO UI 1.0</li>
            <li>128GB 6GB RAM, 128GB 8GB RAM, 128GB 12GB RAM, 256GB 8GB RAM, 256GB 12GB RAM</li>
            <li>Battery:Non-removable Li-Po 4400 mAh battery</li>
            <li>Fast charging 55W, 50% in 15 min</li>
            <div class="aff-link">
              <a href="https://www.flipkart.com/search?q=iqoo%203&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from flipkart</button></a>
              <a href="https://www.flipkart.com/search?q=iqoo%203&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
            </div>
          </ul>
        </div>
        <!-- 6 -->
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">6. Xiaomi Redmi Note 9 Pro</h2>
          <div>
            <img class="image"  src="{% static 'image/mobile/mi/redmi-note-9-pro-2.jpg' %}" alt="">
            <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by: Waqar Khan</p>
          </div>
          <h4 class="content">About Xiaomi Redmi Note 9 pro</h4>
          <p class="content">The Redmi Note 9 Pro has just been launched in India, and its starting price of Rs. 12,999 is surprisingly low because Xiaomi has made a few very interesting decisions in terms of positioning and features. It isn't easy to stay ahead of the game, and the Redmi Note 9 Pro goes up against the fromidable Realme 6 and Samsung M30s. Longtime fans of the series might be surprised at how Xiaomi has actually held back a little with this model, since expectations are always when a new generation of Redmi Note smartphones is announced.</p>
          <h4 class="content">Xiaomi Redmi Note 9 Pro: Key specifications </h4>
          <ul class="content">
            <li>Diaplay:6.67 inches, 107.4 cm2 (~84.5% screen-to-body ratio)</li>
            <li>Qualcomm SM7125 Snapdragon 720G (8 nm)</li>
            <li>primary camera: 64 MP (main) + 8 MP (ultra-wide) + 5 MP (macro) + 2 MP (depth) Triple Camera </li>
            <li>selfie camera: 	16-megapixel</li>
            <li>Android 10, MIUI 11</li>
            <li>64GB 6GB RAM, 128GB 6GB RAM Options</li>
            <li>Battery:Non-removable Li-Po 5020 mAh battery</li>
            <li>Fast charging 30W</li>
            <div class="aff-link">
              <a href="https://www.amazon.in/Test-Exclusive-549/dp/B077PWBC78/ref=sr_1_1?dchild=1&keywords=Redmi+Note+9+Pro&qid=1594890388&sr=8-1" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from amazon</button></a>
              <a href="https://www.amazon.in/s?k=Redmi+Note+9+Pro&ref=nb_sb_noss" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
            </div>
          </ul>
        </div>
        <!-- 7 -->
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">7. Realme 5i</h2>
          <div>
            <img class="image"src="{% static 'image/mobile/mi/realme-5i.jpg' %}"  alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-Uploaded by: Agrawalji Technical</p>
          <h4 class="content">About Realme 5i</h4>
          <p class="content">Realme 5i shares the same design as the Realme 5 and the Realme 5s. It has a 6.52-inch display and a tiny waterdrop notch that houses the selfie camera. The Realme 5i packs a 5,000mAh battery which makes it a tad bulky at 195g. This smartphone is available in Aqua Blue and Forest Green colour variants.</p>
          <h4 class="content">Realme 5i: Key specifications </h4>
          <ul class="content">
            <li>Diaplay: 6.52 inches, 102.6 cm2 (~83.2% screen-to-body ratio)</li>
            <li>Qualcomm SDM665 Snapdragon 665 (11 nm)</li>
            <li>primary camera: 12 MP (main) + 8 MP (Ultra Wide) + 2 MP (Macro) + 2 MP (depth) quad cameras </li>
            <li>selfie camera: 	8-megapixel</li>
            <li>Android 9.0 (Pie), upgradable to Android 10, Realme UI</li>
            <li>32GB 3GB RAM, 64GB 4GB RAM</li>
            <li>Battery:Non-removable Li-Po 5000 mAh battery</li>
            <li>Charging 10W</li>
            <div class="aff-link">
              <a href="https://www.flipkart.com/realme-5i-aqua-blue-128-gb/p/itmdac0da867a9fa?pid=MOBFP6W584RNB3HH&lid=LSTMOBFP6W584RNB3HHZNLRJ5&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=0b62bbb2-796b-4ede-b4db-f4e4356b6104.MOBFP6W584RNB3HH.SEARCH&ppt=sp&ppn=sp&ssid=vlv7rm8dnk0000001594898103929&qH=8a6e800249bbbbd6" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from flipkart</button></a>
              <a href="https://www.flipkart.com/realme-5i-aqua-blue-128-gb/p/itmdac0da867a9fa?pid=MOBFP6W584RNB3HH&lid=LSTMOBFP6W584RNB3HHZNLRJ5&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=0b62bbb2-796b-4ede-b4db-f4e4356b6104.MOBFP6W584RNB3HH.SEARCH&ppt=sp&ppn=sp&ssid=vlv7rm8dnk0000001594898103929&qH=8a6e800249bbbbd6" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
            </div>
          </ul>
        </div>
        <!-- 8 -->
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">8. Realme Narzo 10A</h2>
          <div>
            <img class="image"src="{% static 'image/mobile/battery/realme-narzo-10a.jpg' %}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-Uploaded by: Mr. Phone</p>
          <h4 class="content">About Realme Narzo 10A</h4>
          <p class="content">Realme Narzo 10A is the more affordable model in the new Narzo series, and is getting quite a lot of attention thanks to a high-profile launch. Priced under Rs. 10,000, the Narzo 10A doesn't promise quite as much as the Narzo 10, but should be a solid addition to your list of choices if you're looking for a new budget phone. Even before we got the phone, we could say with some confidence that the Narzo 10A will do well in its review, since it's very nearly identical to the Realme C3, which was launched at the beginning of this year and has dominated our buying guide.</p>
          <h4 class="content">Realme Narzo 10A: Key specifications </h4>
          <ul class="content">
            <li>Diaplay: 6.5 inches, 102.8 cm2 (~83.3% screen-to-body ratio)</li>
            <li>Mediatek Helio G70 (12 nm)</li>
            <li>primary camera: 12 MP, f/1.8, 28mm (wide), 1/2.8", 1.25µm, PDAF + 2 MP, f/2.4 (macro) + 2 MP, f/1.8, (depth) Triple camera </li>
            <li>selfie camera: 	5 MP, f/2.4, 28mm (wide), 1/5", 1.12µm</li>
            <li>Android 10, realme UI 1.0</li>
            <li>32GB 3GB RAM</li>
            <li>Battery: Non-removable Li-Po 5000 mAh battery</li>
            <li>Charging 10W</li>
            <div class="aff-link">
              <a href="https://www.flipkart.com/realme-narzo-10a-so-blue-32-gb/p/itmbeb412dade152?pid=MOBFQ36AYV4ZG4E4&lid=LSTMOBFQ36AYV4ZG4E4LAVPVB&marketplace=FLIPKART&srno=s_1_1&otracker=AS_QueryStore_OrganicAutoSuggest_2_9_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_2_9_na_na_ps&fm=SEARCH&iid=38a4cc21-c908-469d-8fa1-b08e55db309a.MOBFQ36AYV4ZG4E4.SEARCH&ppt=sp&ppn=sp&ssid=t3fajoubow0000001594898306453&qH=9036ff25ac09bf22" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from flipkart</button></a>
              <a href="https://www.flipkart.com/realme-narzo-10a-so-blue-32-gb/p/itmbeb412dade152?pid=MOBFQ36AYV4ZG4E4&lid=LSTMOBFQ36AYV4ZG4E4LAVPVB&marketplace=FLIPKART&srno=s_1_1&otracker=AS_QueryStore_OrganicAutoSuggest_2_9_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_2_9_na_na_ps&fm=SEARCH&iid=38a4cc21-c908-469d-8fa1-b08e55db309a.MOBFQ36AYV4ZG4E4.SEARCH&ppt=sp&ppn=sp&ssid=t3fajoubow0000001594898306453&qH=9036ff25ac09bf22" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
            </div>
          </ul>
        </div>
        <!-- 9 -->
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">9. Samsung Galaxy M30s</h2>
          <div>
            <img class="image"src="{% static 'image/mobile/battery/samsung-galaxy-m30s.jpg' %}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com: uploaded by: Geekyranjit</p>
          <h4 class="content">About Samsung Galaxy M30s</h4>
          <p class="content">Samsung has fitted a massive 6,000mAh battery into the M30s, which is bigger than the one its predecessor, the M30 had. This phone is rather bulky but since the back is curved it is manageable in the hand. Samsung ships a 15W charger in the box.</p>
          <h4 class="content">Samsung Galaxy M30s: Key specifications </h4>
          <ul class="content">
            <li>Diaplay: 6.4 inches, 100.5 cm2 (~84.2% screen-to-body ratio)</li>
            <li>Exynos 9611 (10nm)</li>
            <li>primary camera: 48 MP, f/2.0, 26mm (wide), 1/2.0", 0.8µm, PDAF + 8 MP, f/2.2, 12mm (ultrawide), 1/4.0", 1.12µm + 5 MP, f/2.2, (depth) Triple cameras </li>
            <li>selfie camera: 16 MP, f/2.0, 26mm (wide), 1/3.06", 1.0µm</li>
            <li>Android 9.0 (Pie), One UI</li>
            <li>64GB 4GB RAM, 128GB 4GB RAM, 128GB 6GB RAM options</li>
            <li>Non-removable Li-Po 6000 mAh battery</li>
            <li>Fast charging 15W</li>
            <div class="aff-link">
              <a href="https://www.amazon.in/Test-Exclusive-631/dp/B07HGJ7WM6/ref=sr_1_2?dchild=1&keywords=Samsung+Galaxy+M30s&qid=1594898479&sr=8-2" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from amazon</button></a>
              <a href="https://www.amazon.in/Test-Exclusive-631/dp/B07HGJ7WM6/ref=sr_1_2?dchild=1&keywords=Samsung+Galaxy+M30s&qid=1594898479&sr=8-2" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
            </div>
          </ul>
        </div>
        <!-- 10 -->
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">10. Xiaomi Poco X2</h2>
          <div>
            <img class="image"src="{% static 'image/mobile/camera-15k/poco-x2.jpg'%}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com | Uploaded by: Technolobe</p>
          <h4 class="content">About Xiaomi Poco X2</h4>
          <p class="content"> the Poco X2 should not be seen as the successor to the Poco F1, and as such it isn't trying to offer a flagship-grade SoC at mid-range prices. You do get the Qualcomm Snapdragon 730G, which is pretty much the next best thing. This is the same chip that powers this phone's primary competitor, the Realme X2, so we can assume that gaming and general-purpose performance will be solid.</p>
          <h4 class="content">Xiaomi Poco X2: Key specifications </h4>
          <ul class="content">
            <li>Diaplay:6.67 inches, 107.4 cm2 (~84.8% screen-to-body ratio)</li>
            <li>Qualcomm SDM730 Snapdragon 730G (8 nm)</li>
            <li>primary camera: 64 MP, f/1.9, 26mm (wide), 1/1.72", 0.8µm, PDAF + 8 MP, f/2.2, 13mm (ultrawide), 1/4.0", 1.12µm + 2 MP, f/2.4, (macro) + 2 MP, f/2.4, (depth) Quad cameras </li>
            <li>selfie camera: 20 MP, f/2.2, 27mm (wide), 1/3.4", 0.8µm + 2 MP, f/2.4, 1/5", 1.75µm, depth sensor</li>
            <li>Android 10, MIUI 11</li>
            <li>64GB 6GB RAM, 128GB 6GB RAM, 256GB 8GB RAM options</li>
            <li>Battery:Non-removable Li-Po 4500 mAh battery</li>
            <div class="aff-link">
              <a href="https://www.flipkart.com/poco-x2-phoenix-red-64-gb/p/itmda7dd1f37ffff?pid=MOBFZGJ6Q9A5FHRC&lid=LSTMOBFZGJ6Q9A5FHRCENQ0C3&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=0aaa5110-3c94-425c-b6a5-1c61bf21fd5e.MOBFZGJ6Q9A5FHRC.SEARCH&ppt=sp&ppn=sp&ssid=wt92tb7hjk0000001594877583665&qH=9b170a335b7c1e38" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from amazon</button></a>
              <a href="https://www.flipkart.com/search?q=%20Poco%20X2&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
            </div>
          </ul>
        </div>
        <!-- 11 -->
      </div>
    </div>
    {% endblock content%}
