{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="Xiaomi Poco C3 price in India may be Rs 8,499 and its release date may be October 23, 2020 (unofficial). This smartphone comes with 1 variants like 3/32GB. - hipein "> {% endblock desc%}
{% block key%}<meta name="keywords" content="Xiaomi poco c3, poco c3, Xiaomi poco c3 feature, poco c3 specification, Xiaomi poco c3 release date, poco c3 price, Xiaomi poco c3 price in india"> {% endblock key%}
{% block style %}
<style>
  .iframe{
    width:100%;
    border:0;
  }
</style>
{% endblock style %}
    {% load static %}
    {% block title%}Xiaomi Poco C3 price in india, specification and features - hipein{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h4 class="content" style="font-weight: 400;">This news has come from Xiaomi, Xiaomi is thinking of bringing its smartphone Poco C3 to the market. Now let's see how long Xiaomi launches this new phone in India. This phone is going to be a budget friendly phone</h4>
          <h1 class="content_tittle" style="font-weight: 400;"><span>REVIEW</span> POCO c3 : 3/32GB for Rs 8,499 Watch Full review.</h1>
        </div>
        <div>
          <img class="image" src="{% static 'image/article/mobile/upcoming mobile/poco-c3.jpg'%}" alt="">
        </div>
        <p class="content" style="border-bottom: 1px solid #eee;">Image source | google.com - Uploaded by:  Naxon Tech</p>
        <div class="info">
          <h4 class="content">About POCO c3</h4>
          <p class="content">Xiaomi is now going to launch a new smartphone, takes its Poco series one step further, its name is Poco 3. <b>Xiaomi Poco C3</b> smartphone runs on the latest version of the Android operating system (Android 10). The phone is powered by an octa-core (2 GHz, Dual core, Cortex A75 + 1.8 GHz, Hexa Core, Cortex A55) processor and it runs on MediaTek Helio G80 Chipset. </p>
          <p class="content">Xiaomi POCO C3 smartphone has a IPS LCD display. 1080 x 2340 Pixels and 395 ppi pixel density. Talking about its camera, On the front camera, you get a 8-megapixel primary camera and on the rear camera, there is a 13 megapixel wide-angle, 8 megapixels ultra-wide, 5-megapixel depth and 2 megapixels micro. camera with features like Digital Zoom, Auto Flash, Face detection, Touch to focus. It has support for fast charging and has a non-removable 5020 mAh battery. </p>
          <p class="content"><b>Xiaomi Poco c3 price in India</b> may be Rs 8,499 and its <b>release date</b> may be October 23, 2020 (unofficial). This smartphone comes with 1 variants like 3/32 GB. Xiaomi Poco C3 which is expected to available in Black, Gold, orange colour. </p>
          <h3 style="font-weight: 400;">Xiaomi Poco C3 Key features:</h3>
          <ul class="content">
            <li><b style="font-weight: 400;">Diaplay</b>: 6.53 inches</li>
            <li><b style="font-weight: 400;">Processor</b>: MediaTek Helio G80</li>
            <li><b style="font-weight: 400;">primary camera</b>: 13-megapixel + 8-megapixel + 5-megapixel + 2-megapixel</li>
            <li><b style="font-weight: 400;">selfie camera</b>: 8-megapixel</li>
            <li><b style="font-weight: 400;">Battery</b>: Non-removable Li-Ion 5020 mAh battery (15.04 Wh)</li>
            <li>Fast charging.</li>
          </ul>
          <p></p>
        </div>
    {% endblock content%}
    {% block specs%}
    <h3 class="spec_title">POCO c3 specification</h3>
    <div class="specs_table">
      <div class="specs">
        <strong>Available at</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Realsed on</strong>
          <p>October 23, 2020 (Unofficial)</p>
        </div>
        <div class="specs_info">
          <strong>Amazon</strong>
          <p>Coming soon</p>
        </div>
        <div class="specs_info1">
          <strong>Flipkart</strong>
          <p>Coming soon</p>
        </div>
      </div>
    </div>
    <!-- 1 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BRAND</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Make</strong>
          <p>Xiaomi</p>
        </div>
        <div class="specs_info">
          <strong>Models</strong>
          <p>POCO C3</p>
        </div>
        <div class="specs_info1">
          <strong>Color</strong>
          <p>Black, gold, orange</p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="specs_table">
      <div class="specs">
        <strong>NETWORK TYPE</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>2G</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>3G</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>4G</strong>
          <p>Yes - (supports Indian bands)</p>
        </div>
        <div class="specs_info">
          <strong>5G</strong>
          <p>No</p>
        </div>
        <div class="specs_info1">
          <strong>SIM Type</strong>
          <p>Nano-SIM (Hybrid)</p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="specs_table">
      <div class="specs">
        <strong>DISPLAY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Screen</strong>
          <p>IPS LCD capacitive touchscreen, 16M colors</p>
        </div>
        <div class="specs_info">
          <strong>Size(inch)</strong>
          <p>6.53</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>1080 x 2340 Pixels</p>
        </div>
        <div class="specs_info1">
          <strong>Protection</strong>
          <p>	Corning Gorilla Glass</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>PLATFORM</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>OS</strong>
          <p>Android 10</p>
        </div>
        <div class="specs_info">
          <strong>Chipset</strong>
          <p>MediaTek Helio G80</p>
        </div>
        <div class="specs_info">
          <strong>CPU</strong>
          <p>Octa-core</p>
        </div>
        <div class="specs_info1">
          <strong>GPU</strong>
          <p>Mali-G52</p>
        </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MEMORY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Card Slot</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info1">
          <strong>Internal</strong>
          <p>3/32GB RAM</p>
        </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="specs_table">
      <div class="specs">
        <strong>CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Rear Type </strong>
          <p>Quad</p>
        </div>
        <div class="specs_info">
          <strong>Image</strong>
          <p>4128 x 3096 Pixels Resolution</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>13 MP + 8 MP + 5 MP + 2 MP</p>
        </div>
        <div class="specs_info">
          <strong>Front camera</strong>
          <p>8 MP Primary Camera</p>
        </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BATTERY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong></strong>
          <p>Non-removable Li-Po 5020 mAh battery</p>
        </div>
        <div class="specs_info">
          <strong>Charging</strong>
          <p>Yes, Fast charging</p>
        </div>
      </div>
    </div>
    <!-- 9 -->
    <div class="specs_table">
      <div class="specs">
        <strong>COMMS.</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>WLAN</strong>
          <p>	Yes, Wi-Fi 802.11, b/g/n, hotspot</p>
        </div>
        <div class="specs_info">
          <strong>Bluetooth</strong>
          <p>v5.0</p>
        </div>
        <div class="specs_info">
          <strong>GPS</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info1">
          <strong>Radio</strong>
          <p>FM radio</p>
        </div>
      </div>
    </div>
    <!-- 10 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FEATURE</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Sensors</strong>
            <p>Fingerprint, Light sensor, Proximity sensor, Accelerometer</p>
        </div>
      </div>
    </div>
    <!-- 11 -->
    <div class="specs_table">
      <div class="specs">
        <strong>Multimedia</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Loudspeaker</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>3.5mm jack</strong>
          <p>Yes</p>
        </div>
      </div>
    </div>
  </div>
{% endblock specs%}
