{% extends 'page/base.html' %}
{% block desc%}<meta name="description" content="Samsung smartphone: New smartphone review and specification, buy at best price from amazon. "> {% endblock desc%}
{% block key%}<meta name="keywords" content="samsung galaxy best mobile, samsung mobile , samsung mobile at price, samsung mobile phone youtube review"> {% endblock key%}
  {% load static %}
    {% block title%}Samsung mobile phone: review & specification - hipein.com{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block actsam%} class="active"{% endblock actsam%}
    {% block content%}
    <!-- content -->
    <div class="container1">
      <div class="mobile-specs">
        <div class="mobile-img">
          <img  src="{% static 'image/mobile/samsung/samsung-galaxy-w21-1.jpg' %}" alt="">
        </div>
        <div class="mobile-info">
          <div class="mobile-name-price">
            <div class="mobile-view-name">
              <div class="mobile-view">
                <h5>023</h5>
                <p><i class="fa fa-eye"></i></p>
              </div>
              <div class="mobile-name">
                <h3>Samsung Galaxy W21 - 5G</h3>
                <div class="star-rating">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
            </div>
            <div class="mobile-price">
              <h3>Rs. 146,240</h3>
              <p>see more price</p>
            </div>
          </div>
          <div class="mobile-detail">
            <div class="performance">
              <h4>Performance</h4>
              <div class="bar">
                <p class="very-good"></p>
              </div>
              <div class="information">
                <p>Octa-core</p>
                <p class="info">Qualcomm Snapdragon 865+</p>
                <p class="info">512GB 12GB RAM</p>
              </div>
            </div>
            <div class="display">
              <h4>Display</h4>
              <div class="bar">
                <p class="very-good"></p>
              </div>
              <div class="information">
                <p>7.60-inch</p>
                <p class="info">Dynamic AMOLED Infinity-O Display </p>
              </div>
            </div>
            <div class="camera">
              <h4>Camera</h4>
              <div class="bar">
                <p class="excellent"></p>
              </div>
              <div class="information">
                <p>12-MP + 12-MP + 12-MP</p>
                <p class="info">Quad-LED dual-tone flash</p>
                <p class="info">12 MP + 12 MP Dual</p>
              </div>
            </div>
            <div class="battery">
              <h4>Battery</h4>
              <div class="bar">
                <p class="very-good"></p>
              </div>
              <div class="information">
                <p>4500mAh</p>
                <p class="info">Fast charging</p>
              </div>
            </div>
          </div>
          <div class="short-info">
            <div class="full-specs">
              <!-- {% url 'iphone12promax' %} -->
              <h5><a href="#">Full specification</a></h5>
            </div>
          </div>
        </div>
      </div>
      <!-- 10 -->
    </div>
  {% endblock content%}
