{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="Realme released his new smartphone Realme X2 at price of 17,999-INR, buy at best price from amazon. "> {% endblock desc%}
{% block key%}<meta name="keywords" content="realme x2,  realme x2 price, realme x2 price in india, realme x2 review, realme x2 specification"> {% endblock key%}
    {% load static %}
    {% block style%}
    <style>
      .info{
        padding-top: 10px;
      }
      .info span{
        color:red;
      }
    </style>
    {% endblock style %}
    {% block title%}Realme X2 (4/64GB) Full specification: hipein.com{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <!-- review and spec -->
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h4 class="content" style="font-weight: 400;">Realme released his new smartphone Realme X2 at price of 17,999-INR</h4>
          <h1 class="content_tittle" style="font-weight: 400;"><span>REVIEW</span> Realme X2 : 4/64GB for 17,999-INR Watch Full review-<a href="https://www.youtube.com/watch?v=KZpPRfsmisw">http://www.youtube.com </a></h1>
        </div>
        <div>
          <img class="image"  src="{% static 'image/mobile/realme/realme-x2-2.jpg' %}" alt="">
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by:  GSMArena Official</p>
        </div>
        <div class="info">
          <h4 class="content">{{product_name}} summary</h4>
          <p class="content">The <span>Realme X2</span> carries the same design DNA as the <span>Realme XT</span>, rather than the X2 Pro as its name would lead you to believe. The 6.4-inch full-HD+ (1080x2340) display is the same as what we saw on the Realme XT. It's a Super AMOLED panel with an in-display fingerprint sensor. The display also uses <span>Gorilla Glass 5</span> for scratch protection, and <span>Realme</span> has gone with the same glass for the back panel too. The <span>Realme X2</span> has the same camera layout as the XT, which protrudes quite a bit, but the bundled case evens this out.</p>
          <p class="content">In terms of <span>cameras</span>, the only thing that's new here compared to the <span>Realme XT</span> is the front camera. The XT uses a 32-megapixel front-facing camera, which has an f/2.0 aperture. For normal selfies, the camera shoots images at the native resolution, but in Portrait mode, the images are pixel-binned down to 8-megapixels.</p>
          <p class="content"> the <span>Realme X2</span> powerd by a <span> Qualcomm Snapdragon 730G SoC</span>. Charging speed was also impressive. We were able to charge the <span>Realme X2</span> from zero all the way to about 60 percent in half an hour, and up to 95 percent in an hour. This is thanks to the VOOC Flash Charge 4.0 feature and bundled 30W charger.
          </p>
          <div class="aff-link1">
            <form action="https://www.amazon.in/Realme-Pearl-Blue-128-RAM/dp/B07PVTYL7M/ref=mp_s_a_1_1?dchild=1&keywords=realme+x2&qid=1594896977&sr=8-1">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from amazon</button>
            </form>
            <form action="https://www.amazon.in/Realme-Pearl-Blue-128-RAM/dp/B07PVTYL7M/ref=mp_s_a_1_1?dchild=1&keywords=realme+x2&qid=1594896977&sr=8-1">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>
          <p></p>
        </div>
    {% endblock content%}
    {% block specs%}
    <!-- specification -->
    <h3 class="spec_title">Full Specs</h3>
    <!-- 1 -->
    <div class="specs_table">
      <div class="specs">
        <strong>LAUNCH</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Announced</strong>
          <p>2019, September 24</p>
        </div>
        <div class="specs_info1">
          <strong>Status</strong>
          <p>Available. Released 2019, September</p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="specs_table">
      <div class="specs">
        <strong>NETWORK</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Technology</strong>
          <p>GSM / CDMA / HSPA / EVDO / LTE</p>
        </div>
        <div class="specs_info1">
          <strong>Speed</strong>
          <p>HSPA 42.2/11.5 Mbps, LTE-A</p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="specs_table">
      <div class="specs">
        <strong>DISPLAY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Type</strong>
          <p>Super AMOLED capacitive touchscreen, 16M colors</p>
        </div>
        <div class="specs_info">
          <strong>Size</strong>
          <p>6.4 inches, 100.5 cm2 (~84.3% screen-to-body ratio)</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>1080 x 2340 pixels, 19.5:9 ratio (~403 ppi density)</p>
        </div>
        <div class="specs_info">
          <strong>Protection</strong>
          <p>Corning Gorilla Glass 5</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BODY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Dimension</strong>
          <p>158.7 x 75.2 x 8.6 mm (6.25 x 2.96 x 0.34 in)</p>
        </div>
        <div class="specs_info">
          <strong>Weight</strong>
          <p>182 g (6.42 oz)</p>
        </div>
        <div class="specs_info">
          <strong>Build</strong>
          <p>Glass front (Gorilla Glass 5), glass back (Gorilla Glass 5), plastic frame</p>
        </div>
        <div class="specs_info1">
          <strong>SIM</strong>
          <p>Dual SIM (Nano-SIM, dual stand-by)</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>PLARFROM</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>OS</strong>
          <p>Android 9.0 (Pie), upgradable to Android 10, realme UI</p>
        </div>
        <div class="specs_info">
          <strong>Chipset</strong>
          <p>Qualcomm SDM730 Snapdragon 730G (8 nm)</p>
        </div>
        <div class="specs_info">
          <strong>CPU</strong>
          <p>Octa-core (2x2.2 GHz Kryo 470 Gold & 6x1.8 GHz Kryo 470 Silver) </p>
        </div>
        <div class="specs_info1">
          <strong>GPU</strong>
          <p>Adreno 618</p>
        </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MEMORY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Card Slot</strong>
          <p>microSDXC (dedicated slot)</p>
        </div>
        <div class="specs_info1">
          <strong>Internal</strong>
          <p>64GB 4GB RAM, 64GB 6GB RAM, 128GB 6GB RAM, 128GB 8GB RAM,</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>256GB 8GB RAM</p>
        </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="specs_table">
      <div class="specs">
        <strong>CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Quad</strong>
          <p>64 MP, f/1.8, (wide), 1/1.72", 0.8µm, PDAF</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>8 MP, f/2.3, 13mm (ultrawide)</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>2 MP, f/2.4, (macro)</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>2 MP, f/2.4, (depth)</p>
        </div>
        <div class="specs_info">
          <strong>Features</strong>
          <p>LED flash, HDR, panorama</p>
        </div>
        <div class="specs_info1">
          <strong>Video</strong>
          <p>4K@30/60fps, 1080p@30/60/120fps, 720p@960fps, gyro-EIS</p>
        </div>
      </div>
    </div>
    <!-- 7 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FRONT CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Single</strong>
          <p>32 MP, f/2.0, 26mm (wide), 1/2.8", 0.8µm</p>
        </div>
        <div class="specs_info1">
          <strong>Features</strong>
          <p>HDR</p>
        </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BATTERY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong></strong>
          <p>Non-removable Li-Po 4000 mAh battery</p>
        </div>
        <div class="specs_info">
          <strong>Charging</strong>
          <p>Fast charging 30W, 67% in 30 min</p>
        </div>
      </div>
    </div>
    <!-- 9 -->
    <div class="specs_table">
      <div class="specs">
        <strong>COMMS.</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>WLAN</strong>
          <p>Wi-Fi 802.11 a/b/g/n/ac, dual-band, Wi-Fi Direct, hotspot</p>
        </div>
        <div class="specs_info">
          <strong>Bluetooth</strong>
          <p>5.0, A2DP, LE</p>
        </div>
        <div class="specs_info">
          <strong>GPS</strong>
          <p>Yes, with dual-band A-GPS, GLONASS, BDS</p>
        </div>
        <div class="specs_info">
          <strong>Radio</strong>
          <p>No</p>
        </div>
        <div class="specs_info1">
          <strong>USB</strong>
          <p>2.0, Type-C 1.0 reversible connector, USB On-The-Go</p>
        </div>
      </div>
    </div>
    <!-- 10 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FEATURE</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Sensors</strong>
          <p>Fingerprint (under display, optical), accelerometer, gyro, proximity,</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>compass</p>
        </div>
      </div>
    </div>
    <!-- 11 -->
    <div class="specs_table">
      <div class="specs">
        <strong>SOUND</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Loudspeaker</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>3.5mm jack</strong>
          <p>Yes</p>
        </div>
      </div>
    </div>
    <!-- 12 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MISC</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Color</strong>
          <p>Pearl White, Pearl Blue, Pearl Green</p>
        </div>
        <div class="specs_info1">
          <strong>Models</strong>
          <p>RMX1992, RMX1993, RMX1991</p>
        </div>
      </div>
    </div>
    </div>
    <!-- 13 -->
    {% endblock specs%}
