{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="Boult Audio ProBass price in India start from Rs 899 and Boult Audio ProBass comes with three variants. - hipein "> {% endblock desc%}
{% block key%}<meta name="keywords" content="Boult Audio ProBass, Boult Audio ProBass specification, Boult Audio ProBass price, Boult Audio ProBass price in india"> {% endblock key%}
{% block style %}
{% endblock style %}
    {% load static %}
    {% block title%}Boult Audio ProBass price in india, specification and features - hipein{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h3 class="content_tittle" style="font-weight: 500;"><span>REVIEW</span> Boult Audio ProBass Curve Wireless Neckband Earphones with 12 Hour Battery Life & Latest Bluetooth 5.0 at <span>Rs. 899</span> available on amazon.</h3>
        </div>
        <div>
          <img class="image" src="{% static 'image/article/technology/earphone/boult-audio-probass.jpg'%}" alt="">
        </div>
        <p class="content" style="border-bottom: 1px solid #eee;">Image source | Google - Uploaded by: <a href="#">amazon.in</a></p>
        <div class="info">
          <h2 style="font-weight: 400;">About Boult Audio ProBass</h2>
          <p>If you are looking for an earphone in the range of 1000 Rs, then for you Boult Audio ProBass Curve Wireless Neckband Earphones is very good and boult is giving very good features at this range which is very good. Do not waste much time on reading, come directly to the features of this earphone.</p>
          <p>Talking about the design of this earphone, this look is quite cool. Earphone weight is 86 grams, which is very light and it's 	18.00 x 15.00 x 2.00 cm. the earphone has Water-resistant earbuds and a charging case inner Nano-coating makes it possible to waterproof for 1 meter deep for 30 minutes. Ideal for sweating it out at the gym. Even Wash the earbuds and base. </p>
          <p>Long Battery Life - Curve is a powerhouse,Offers playback time of up to 12-15 hours for every charge. Takes 1-1.5 to get fully charged and it has 1-2 days of standby</p>
          <h3 style="font-weight: 400;">Boult Audio ProBass  price in India.</h3>
          <p>Boult Audio ProBass price in India start from Rs 899 and this earphone is available at three color options like Crimson Red, Onyx Grey and Azure Blue. </p>
          <h3 style="font-weight: 400;">Boult Audio ProBass  Key features:</h3>
          <ul>
            <li>Dimension: 18.00 x 15.00 x 2.00 cm</li>
            <li>Weight: 86 grams</li>
            <li>Bass: High Bass</li>
            <li>Battery: 12 hrs, 48 hrs</li>
            <li>water resistant.</li>
          </ul>
          <p></p>
          <div class="aff-link1">
            <form action="https://amzn.to/34Q7hv2">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from amazon</button>
            </form>
            <form action="https://amzn.to/34Q7hv2">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>
          <p></p>
        </div>
    {% endblock content%}
    {% block specs%}
    <h3 class="spec_title">Boult Audio ProBass specification</h3>
    <div class="specs_table">
      <div class="specs">
        <strong>Available at</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Amazon</strong>
          <p>Rs. 899 <a href="#">Buy Now</a></p>
        </div>
        <div class="specs_info1">
          <strong>Flipkart</strong>
          <p>Rs. 999 <a href="#">Buy Now</a></p>
        </div>
        <div class="specs_info">
          <strong>Make</strong>
          <p>Boult</p>
        </div>
        <div class="specs_info">
          <strong>Models</strong>
          <p>Curve</p>
        </div>
        <div class="specs_info1">
          <strong>Color</strong>
          <p>Crimson Red, Onyx Grey, Azure Blue</p>
        </div>
        <div class="specs_info1">
          <strong>Dimension</strong>
          <p>18.00 x 15.00 x 2.00 cm</p>
        </div>
        <div class="specs_info1">
          <strong>weight</strong>
          <p>86 grams</p>
        </div>
        <div class="specs_info1">
          <strong>Battery</strong>
          <p>12 hrs, 48 hrs</p>
        </div>
        <div class="specs_info1">
          <strong>Charging</strong>
          <p>2 hrs</p>
        </div>
        <div class="specs_info">
          <strong>Feature</strong>
          <p>wireless</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>Water resistant</p>
        </div>
      </div>
    </div>
    <div class="comment">
      <div style="background: white;" class="fb-comments" data-href="https://www.hipein.com/article/boult-audio-probass-curve" data-order-by="social" data-numposts="100" data-width="100%" style="display:block;"></div>
    </div>
  </div>

{% endblock specs%}
