{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="iPhone 12 Pro  price in India start from Rs. 119,900 and iPhone 12 Pro expected release date is release 2020, October 23 ( Expected Date ). - hipein "> {% endblock desc%}
{% block key%}<meta name="keywords" content="iPhone 12 Pro, iPhone 12 Pro specification, iPhone 12 Pro release date, iPhone 12 Pro  price, iPhone 12 Pro price in india"> {% endblock key%}
{% block style %}
{% endblock style %}
    {% load static %}
    {% block title%}iPhone 12 Pro price in india, specification and features - hipein{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h1 class="content_tittle" style="font-weight: 400;"><span>REVIEW</span> iPhone 12 Pro (4/128 GB) price in india, specification and features.</h1>
          <p>Apple is about to launch its new iPhone 12 Pro soon. </p>
        </div>
        <div>
          <img class="image" src="{% static 'image/mobile/apple/iphone-12-pro-2.jpg'%}" alt="">
        </div>
        <p class="content" style="border-bottom: 1px solid #eee;">Image source | Google - Uploaded by: <a href="#">Cnet</a></p>
        <div class="info">
          <h2 style="font-weight: 400;">About iPhone 12 Pro</h2>
          <p>Apple is going to launch iPhone 12 Pro soon, taking iPhone 12 series one step further. iPhone 12 Pro smartphone runs on the latest version of the iOS 14.1. The phone runs on Apple A14 Bionic (5 nm) Chipset. </p>
          <p>iPhone 12 Pro smartphone has Super Retina XDR OLED touchscreen display that has a resolution of 1170 x 2532 pixels at a pixel density of 460 pixels per inch (ppi). Talking about its camera, On the front camera, you get a 12 MP camera with f/2.2 aperture primary camera and on the rear camera, there is a dual camera with 12 MP primary camera with f/1.6 aperture, 12 MP camera with f/2.4 aperture and a 12 MP camera with f/2.0 aperture. camera with features like Digital Zoom, Auto Flash, Face detection, Touch to focusLens correction (Ultra Wide), Advanced red-eye correction, Photo geotagging, Auto image stabilisation, and Burst mode. It has support for 15W fast charging and non-removable 3100 mAh battery. </p>
          <h3 style="font-weight: 400;">iPhone 12 Pro  price in India.</h3>
          <p>iPhone 12 Pro price in India start from Rs. 119,900 and iPhone 12 Pro release date is release 2020, October 23 ( Expected Date ). This smartphone comes with three variants like 128GB 4GB RAM, 256GB 4GB RAM, and 512GB 4GB RAM. It is available at four color options like Silver, Graphite, Gold, and Pacific Blue. </p>
          <h3 style="font-weight: 400;">iPhone 12 Pro  Key features:</h3>
          <ul>
            <li>Diaplay: 6.1 inches</li>
            <li>Processor: Apple A14 Bionic (5 nm)</li>
            <li>primary camera: 12-megapixel + 12-megapixel, 12-megapixel</li>
            <li>selfie camera: 12-megapixel</li>
            <li>Battery: Non-removable Li-Ion 3100 mAh battery</li>
            <li>Yes, 15W Fast charging.</li>
          </ul>
          <p></p>
        </div>
    {% endblock content%}
    {% block specs%}
    <h3 class="spec_title">iPhone 12 Pro specification</h3>
    <div class="specs_table">
      <div class="specs">
        <strong>Available at</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Realsed on</strong>
          <p>release 2020, October 23</p>
        </div>
        <div class="specs_info">
          <strong>Amazon</strong>
          <p>Coming soon</p>
        </div>
        <div class="specs_info1">
          <strong>Flipkart</strong>
          <p>Cooming soon</p>
        </div>
      </div>
    </div>
    <!-- 1 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BRAND</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Make</strong>
          <p>iPhone</p>
        </div>
        <div class="specs_info">
          <strong>Models</strong>
          <p>12 Pro</p>
        </div>
        <div class="specs_info1">
          <strong>Color</strong>
          <p>Silver, Graphite, Gold, Pacific Blue</p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="specs_table">
      <div class="specs">
        <strong>NETWORK TYPE</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>2G</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>3G</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>4G</strong>
          <p>Yes - (supports Indian bands)</p>
        </div>
        <div class="specs_info">
          <strong>5G</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info1">
          <strong>SIM Type</strong>
          <p>Dual SIM (nano‑SIM and eSIM)12</p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="specs_table">
      <div class="specs">
        <strong>DISPLAY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Screen</strong>
          <p>Super Retina XDR OLED, HDR10</p>
        </div>
        <div class="specs_info">
          <strong>Size(inch)</strong>
          <p>6.1 inch</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>1170 x 2532 pixels</p>
        </div>
        <div class="specs_info1">
          <strong>Protection</strong>
          <p>Scratch-resistant glass</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>water and dust resistance</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>Dolby Vision</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>PLATFORM</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>OS</strong>
          <p>iOS 14.1</p>
        </div>
        <div class="specs_info">
          <strong>Chipset</strong>
          <p>Apple A14 Bionic (5 nm)</p>
        </div>
        <div class="specs_info">
          <strong>CPU</strong>
          <p>Hexa-core</p>
        </div>
        <div class="specs_info1">
          <strong>Graphics</strong>
          <p>Apple GPU (4-core graphics)</p>
        </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MEMORY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Card Slot</strong>
          <p>No</p>
        </div>
        <div class="specs_info1">
          <strong>Internal</strong>
          <p>4/128GB, 4/256GB, 4/512GB</p>
        </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="specs_table">
      <div class="specs">
        <strong>CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Rear Type </strong>
          <p>Triple</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>12-MP + 12-MP + 12-MP</p>
        </div>
        <div class="specs_info">
          <strong>Front Type</strong>
          <p>Single</p>
        </div>
        <div class="specs_info">
          <strong>Front camera</strong>
          <p>12-megapixel</p>
        </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BATTERY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Charging</strong>
          <p>Li-Po 3100 mAh, non-removable</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>Yes, 15W Fast charging</p>
        </div>
      </div>
    </div>
    <!-- 9 -->
    <div class="specs_table">
      <div class="specs">
        <strong>COMMS.</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>WLAN</strong>
          <p>Wi-Fi 802.11 a/b/g/n/ac/6, dual-band,</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>hotspot</p>
        </div>
        <div class="specs_info">
          <strong>Bluetooth</strong>
          <p>v5.0</p>
        </div>
        <div class="specs_info">
          <strong>GPS</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info1">
          <strong>Radio</strong>
          <p>No</p>
        </div>
      </div>
    </div>
    <!-- 10 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FEATURE</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Sensors</strong>
            <p>Face ID, accelerometer, gyro, proximity,</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
            <p>compass, barometer, Ambient light sensors</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
            <p>Siri natural language commands and dictation</p>
        </div>
      </div>
    </div>
    <!-- 11 -->
    <div class="specs_table">
      <div class="specs">
        <strong>Multimedia</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Loudspeaker</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>3.5mm jack</strong>
          <p>No</p>
        </div>
      </div>
    </div>
    <div class="comment">
      <div style="background: white;" class="fb-comments" data-href="https://www.hipein.com/mobile/iphone-12-pro" data-order-by="social" data-numposts="100" data-width="100%" style="display:block;"></div>
    </div>
  </div>

{% endblock specs%}
