{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="OnePlus 9 price in India start from Rs. 74,000 and OnePlus 9 expected release date is 10th January 2021. - hipein "> {% endblock desc%}
{% block key%}<meta name="keywords" content="OnePlus 9, OnePlus 9  specification, OnePlus 9 release date, OnePlus 9 price, OnePlus 9  price in india"> {% endblock key%}
{% block style %}
{% endblock style %}
    {% load static %}
    {% block title%}OnePlus 9  price in india, Rumour, specification and features - hipein{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h1 class="content_tittle" style="font-weight: 400;"><span>REVIEW</span> OnePlus 9  (12/512 GB) price in india, Rumour, specification and features.</h1>
          <p style="font-weight: 400;">OnePlus launching his new  phone OnePlus 9. Which is a budget phone starting from Rs Rs. 74,000. </p>
        </div>
        <div>
          <img class="image" src="{% static 'image/mobile/oneplus/oneplus-9-2.jpg'%}" alt="">
        </div>
        <p class="content" style="border-bottom: 1px solid #eee;">Image source | google.com - Uploaded by: <a href="#">GSM Arena</a></p>
        <div class="info">
          <h2 style="font-weight: 400;">About OnePlus 9 </h2>
          <p>Here a lot of leaks have come out about OnePlus 9 its specification amazes you. OnePlus 9  smartphone runs on the latest version of the Android operating system Android v11 (Q). The phone is powered by an Octa-core 3.1GHz Single core Kryo 585, a 2.42GHz Tri core Kryo 585 with a 1.8GHz Quad-core Kryo 585 processor configuration and it runs on Qualcomm Snapdragon 875. </p>
          <p>OnePlus 9 smartphone has an AMOLED display with 1080 x 2400 pixels screen resolution and 396 PPI pixel density. Talking about its camera, On the front camera, you get a 16-megapixel primary camera and on the rear camera, there is a 64 megapixel wide-angle, 16-megapixels ultra-wide, 8-megapixel depth and 2-megapixel micro with an UltraPixel BSI image sensor. camera with features like HDR mode, auto flash, exposure compensation, continuous shooting, and more. It has support for fast charging and non-removable 5000 mAh battery. </p>
          <h3 style="font-weight: 400;">OnePlus 9  price in India.</h3>
          <p>OnePlus 9  price in India start from Rs. 74,000 and OnePlus 9  expected release date is 10th January 2021. This smartphone comes with two variants like 8/128GB RAM and 12/512GB RAM. It is available at single color options like Silver. </p>
          <h3 style="font-weight: 400;">OnePlus 9  Key features:</h3>
          <ul>
            <li>Diaplay: 6.7 inches</li>
            <li>Processor: Qualcomm Snapdragon 875</li>
            <li>primary camera: 64MP + 16MP + 8MP + 2MP</li>
            <li>selfie camera: 16-megapixel</li>
            <li>Battery: Non-removable Li-Ion 5000 mAh battery</li>
            <li>Fast charging.</li>
          </ul>
          <p></p>
        </div>
    {% endblock content%}
    {% block specs%}
    <h3 class="spec_title">OnePlus 9  specification</h3>
    <div class="specs_table">
      <div class="specs">
        <strong>Available at</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Realsed on</strong>
          <p>10th January 2021</p>
        </div>
        <div class="specs_info">
          <strong>Amazon</strong>
          <p>Coming soon</p>
        </div>
        <div class="specs_info1">
          <strong>Flipkart</strong>
          <p>Cooming soon</p>
        </div>
      </div>
    </div>
    <!-- 1 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BRAND</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Make</strong>
          <p>OnePlus</p>
        </div>
        <div class="specs_info">
          <strong>Models</strong>
          <p>9</p>
        </div>
        <div class="specs_info1">
          <strong>Color</strong>
          <p>Silver</p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="specs_table">
      <div class="specs">
        <strong>NETWORK TYPE</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>2G</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>3G</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>4G</strong>
          <p>Yes - (supports Indian bands)</p>
        </div>
        <div class="specs_info">
          <strong>5G</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info1">
          <strong>SIM Type</strong>
          <p>Dual SIM (Nano-SIM)</p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="specs_table">
      <div class="specs">
        <strong>DISPLAY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Screen</strong>
          <p>AMOLED display capacitive touchscreen</p>
        </div>
        <div class="specs_info">
          <strong>Size(inch)</strong>
          <p>6.7</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>1800 x 2400 pixels</p>
        </div>
        <div class="specs_info1">
          <strong>Protection</strong>
          <p>Corning Gorilla Glass 5</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>PLATFORM</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>OS</strong>
          <p>Android 11 (Q)</p>
        </div>
        <div class="specs_info">
          <strong>Chipset</strong>
          <p>Qualcomm Snapdragon 875</p>
        </div>
        <div class="specs_info">
          <strong>CPU</strong>
          <p>Octa-core</p>
        </div>
        <div class="specs_info1">
          <strong>Graphics</strong>
          <p>Adreno 660</p>
        </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MEMORY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Card Slot</strong>
          <p>NO</p>
        </div>
        <div class="specs_info1">
          <strong>Internal</strong>
          <p>12/512GB RAM, 8/128GB RAM</p>
        </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="specs_table">
      <div class="specs">
        <strong>CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Rear Type </strong>
          <p>Quad</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>64MP + 16MP + 8MP + 2MP</p>
        </div>
        <div class="specs_info">
          <strong>Front Type</strong>
          <p>Single</p>
        </div>
        <div class="specs_info">
          <strong>Front camera</strong>
          <p>16-megapixel</p>
        </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BATTERY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong></strong>
          <p>Li-Po 5000 mAh, non-removable</p>
        </div>
        <div class="specs_info">
          <strong>Charging</strong>
          <p>Yes, Fast charging</p>
        </div>
      </div>
    </div>
    <!-- 9 -->
    <div class="specs_table">
      <div class="specs">
        <strong>COMMS.</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>WLAN</strong>
          <p>	Wi-Fi 802.11, a/ac/b/g/n/n, dual-band, Wi-Fi Direct, hotspot</p>
        </div>
        <div class="specs_info">
          <strong>Bluetooth</strong>
          <p>v5.0</p>
        </div>
        <div class="specs_info">
          <strong>GPS</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info1">
          <strong>Radio</strong>
          <p>No</p>
        </div>
      </div>
    </div>
    <!-- 10 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FEATURE</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Sensors</strong>
            <p>Fingerprint, Proximity Sensor, Ambient Light Sensor,</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
            <p>Gyro, Accelerometer, Compass</p>
        </div>
      </div>
    </div>
    <!-- 11 -->
    <div class="specs_table">
      <div class="specs">
        <strong>Multimedia</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Loudspeaker</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>3.5mm jack</strong>
          <p>Yes</p>
        </div>
      </div>
    </div>
    <div class="comment">
      <div class="fb-comments" data-href="https://www.hipein.com/mobile/OnePlus-9" data-order-by="social" data-numposts="100" data-width="100%" style="display:block;"></div>
    </div>
  </div>
{% endblock specs%}
