{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="Samsung Galaxy A42  price in India start from Rs. 32,090 ( Expected Price ) and Samsung Galaxy A42 expected release date is 2020 November 20. - hipein "> {% endblock desc%}
{% block key%}<meta name="keywords" content="Samsung Galaxy A42 , Samsung Galaxy A42 specification, Samsung Galaxy A42 release date, Samsung Galaxy A42 price, Samsung Galaxy A42 price in india"> {% endblock key%}
{% block style %}
{% endblock style %}
    {% load static %}
    {% block title%}Samsung Galaxy A42 price in india, specification and features - hipein{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h1 class="content_tittle" style="font-weight: 400;"><span>REVIEW</span> Samsung Galaxy A42 (4/128 GB) price in india, specification and features.</h1>
          <p style="font-weight: 400;">Here Rumours comes out  Samsung is about to launch its new smartphone, Samsung Galaxy A42 soon. </p>
        </div>
        <div>
          <img class="image" src="{% static 'image/mobile/samsung/samsung-galaxy-a42-2.jpg'%}" alt="">
        </div>
        <p class="content" style="border-bottom: 1px solid #eee;">Image source | google.com - Uploaded by: <a href="#">Pocketnow</a></p>
        <div class="info">
          <h2 style="font-weight: 400;">About Samsung Galaxy A42 </h2>
          <p>Here a lot of leaks have come out about Samsung Galaxy A42 its specification amazes you. Samsung Galaxy A42 smartphone runs on the latest version of the Android operating system (Android 10). The phone is powered by an	Octa-core (2.2 GHz, Dual core, Kryo 570 + 1.8 GHz, Hexa Core, Kryo 570) processor and it runs on Qualcomm Snapdragon 750G. </p>
          <p>Samsung Galaxy A42 smartphone has an Super AMOLED display with 1080 x 2400 pixels screen resolution and 399 PPI pixel density. Talking about its camera, On the front camera, you get a 20-megapixel primary camera and on the rear camera, there is a 48 megapixel wide-angle, 8 megapixels ultra-wide, 5-megapixels micro, and 5-megapixels depth. camera with features like Digital Zoom, Auto Flash, Face detection, Touch to focus, and Continuos Shooting. It has support for fast charging and non-removable 5000 mAh battery. </p>
          <h3 style="font-weight: 400;">Samsung Galaxy A42  price in India.</h3>
          <p>Samsung Galaxy A42  price in India start from Rs. 32,090 ( Expected Price ) and Samsung Galaxy A42  expected release date is 2020 November 20. This smartphone comes with single variants like 4/128GB RAM. It is available at two color options like Black, Grey, and White colour. </p>
          <h3 style="font-weight: 400;">Samsung Galaxy A42 Key features:</h3>
          <ul>
            <li>Diaplay: 6.6 inches</li>
            <li>Processor: Qualcomm Snapdragon 750G</li>
            <li>primary camera: 48-megapixel + 8-megapixel + 5-megapixel + 5-megapixel</li>
            <li>selfie camera: 20-megapixel</li>
            <li>Battery: Non-removable Li-Ion 5000 mAh battery</li>
            <li>15W Fast charging.</li>
          </ul>
          <p></p>
        </div>
    {% endblock content%}
    {% block specs%}
    <h3 class="spec_title">Samsung Galaxy A42 specification</h3>
    <div class="specs_table">
      <div class="specs">
        <strong>Available at</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Realsed on</strong>
          <p>2020 November 20</p>
        </div>
        <div class="specs_info">
          <strong>Amazon</strong>
          <p>Coming soon</p>
        </div>
        <div class="specs_info1">
          <strong>Flipkart</strong>
          <p>Cooming soon</p>
        </div>
      </div>
    </div>
    <!-- 1 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BRAND</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Make</strong>
          <p>Samsung</p>
        </div>
        <div class="specs_info">
          <strong>Models</strong>
          <p>A42/p>
        </div>
        <div class="specs_info1">
          <strong>Color</strong>
          <p>Black, Grey, White</p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="specs_table">
      <div class="specs">
        <strong>NETWORK TYPE</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>2G</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>3G</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>4G</strong>
          <p>Yes - (supports Indian bands)</p>
        </div>
        <div class="specs_info">
          <strong>5G</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info1">
          <strong>SIM Type</strong>
          <p>Dual SIM (Nano-SIM)</p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="specs_table">
      <div class="specs">
        <strong>DISPLAY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Screen</strong>
          <p>Super AMOLED capacitive touchscreen, 16M colors</p>
        </div>
        <div class="specs_info">
          <strong>Size(inch)</strong>
          <p>6.6</p>
        </div>
        <div class="specs_info">
          <strong>Bezel-less</strong>
          <p>with waterdrop notch</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>1080 x 2400 pixels</p>
        </div>
        <div class="specs_info1">
          <strong>Protection</strong>
          <p>Corning Gorilla Glass 3</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>PLATFORM</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>OS</strong>
          <p>Android 10</p>
        </div>
        <div class="specs_info">
          <strong>Chipset</strong>
          <p>Qualcomm Snapdragon 750G</p>
        </div>
        <div class="specs_info">
          <strong>CPU</strong>
          <p>Octa-core</p>
        </div>
        <div class="specs_info1">
          <strong>Graphics</strong>
          <p>Adreno 619</p>
        </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MEMORY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Card Slot</strong>
          <p>Yes, Up to 1 TB</p>
        </div>
        <div class="specs_info1">
          <strong>Internal</strong>
          <p>4/128GB RAM</p>
        </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="specs_table">
      <div class="specs">
        <strong>CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Rear Type </strong>
          <p>Quad</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>48-MP + 8-MP + 5-MP + 5-MP</p>
        </div>
        <div class="specs_info">
          <strong>Front Type</strong>
          <p>Single</p>
        </div>
        <div class="specs_info">
          <strong>Front camera</strong>
          <p>20-megapixel</p>
        </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BATTERY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong></strong>
          <p>Li-Po 5000 mAh, non-removable</p>
        </div>
        <div class="specs_info">
          <strong>Charging</strong>
          <p>Yes, Fast charging</p>
        </div>
      </div>
    </div>
    <!-- 9 -->
    <div class="specs_table">
      <div class="specs">
        <strong>COMMS.</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>WLAN</strong>
          <p>Wi-Fi 802.11, b/g/n, dual-band, Wi-Fi Direct, hotspot</p>
        </div>
        <div class="specs_info">
          <strong>Bluetooth</strong>
          <p>v5.0</p>
        </div>
        <div class="specs_info">
          <strong>GPS</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info1">
          <strong>Radio</strong>
          <p>Unspecified</p>
        </div>
      </div>
    </div>
    <!-- 10 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FEATURE</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Sensors</strong>
            <p>Fingerprint(on screen), accelerometer, gyro, compass,</p>
        </div>
        <div class="specs_info">
          <strong></strong>
            <p>proximity, Light sensor</p>
        </div>
      </div>
    </div>
    <!-- 11 -->
    <div class="specs_table">
      <div class="specs">
        <strong>Multimedia</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Loudspeaker</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>3.5mm jack</strong>
          <p>Yes</p>
        </div>
      </div>
    </div>
    <div class="comment">
      <div class="fb-comments" data-href="https://www.hipein.com/mobile/samsung-galaxy-a42" data-order-by="social" data-numposts="100" data-width="100%" style="display:block;"></div>
    </div>
  </div>

{% endblock specs%}
