{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="Vivo smartphone: New smartphone review and specification, buy at best price from amazon. "> {% endblock desc%}
{% block key%}<meta name="keywords" content="vivo Y15 pro mobile phone price, vivo Y15 pro, vivo Y15 pro price in india, vivo Y15 pro review, vivo Y15 pro specification, vivo Y15 pro price in amazon"> {% endblock key%}
    {% load static %}
    {% block title%}Vivo Y15 pro Full specification: hipein.com{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <!-- review and spec -->
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h4 class="content">Vivo released his new smartphone Vivo Y15 at price of Rs. 12,990-INR</h4>
          <h2 class="content_tittle"><span>REVIEW</span> Vivo Y15 : 4/64GB for Rs. 12,990-INR Watch Full review-<a href="https://www.youtube.com/watch?v=XT3Z5MnYrew">http://www.youtube.com </a></h2>
        </div>
        <div >
          <img class="image"  src="{% static 'image/mobile/vivo/vivo-y15-2.jpg' %}" alt="">
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by:  Gadgets 4 You</p>
        </div>
        <div class="info">
          <h4 class="content">{{product_name}} Summary</h4>
          <p>Vivo Y15 smartphone comes with the 6.35-inch full HD (720*1544 pixels) IPS LCD capacitive touch display. The Vivo Y15 is powered by the Mediatek Helio P22 octa core chipset clocked at 2.0GHz paired with 64GB 4GB RAM and it also had dedicated micro-SD slot which gives option expand your memory through SD card. It has glass body on the front side and plastic body at the back. So, basically the body of the smartphone is build with plastic frame which gives the phone a descent look. The Vivo Y15 comes with the triple rear camera 13MP wide angle and standard camera, 8MP ultrawide angle camera, and 2MP depth sensing camera. It comes 16MP selfie camera which supports video recording at 1080@30fps. The smartphone is powered by huge Non-removable 5000mah battery which support fast charging at 18W. It comes with fingerprint scanner at the rear of the phone which make easier to user to unlock the phone and it supports 4G LTE network.It runs on Android 9.0 (Pie), Funtouch OS 9.</p>
          <div class="aff-link">
            <a href="https://www.amazon.in/Vivo-Aqua-Storage-Additional-Exchange/dp/B07S6BGL1K/ref=mp_s_a_1_1?dchild=1&keywords=vivo+y15&qid=1594898152&sr=8-1" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from amazon</button></a>
            <a href="https://www.amazon.in/Vivo-Aqua-Storage-Additional-Exchange/dp/B07S6BGL1K/ref=mp_s_a_1_1?dchild=1&keywords=vivo+y15&qid=1594898152&sr=8-1" class="affilated-link_amazon" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
            <p></p>
          </div>
        </div>
      {% endblock content%}
      {% block specs%}
    <!-- specification -->
    <h3 class="spec_title">Full Specs</h3>
    <!-- 1 -->
    <div class="specs_table">
      <div class="specs">
        <strong>LAUNCH</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Announced</strong>
          <p>2019, May 28</p>
        </div>
        <div class="specs_info1">
          <strong>Status</strong>
          <p>	Available. Released 2019, May</p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="specs_table">
      <div class="specs">
        <strong>NETWORK</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Technology</strong>
          <p>GSM / HSPA / LTE</p>
        </div>
        <div class="specs_info">
          <strong>Speed</strong>
          <p>	HSPA 42.2/5.76 Mbps, LTE-A (2CA) Cat6 300/50 Mbps</p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="specs_table">
      <div class="specs">
        <strong>DISPLAY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Type</strong>
          <p>	IPS LCD capacitive touchscreen, 16M colors</p>
        </div>
        <div class="specs_info">
          <strong>Size</strong>
          <p>6.35 inches, 99.6 cm2 (~81.4% screen-to-body ratio)</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>720 x 1544 pixels (~268 ppi density)</p>
        </div>
        <div class="specs_info">
          <strong>Protection</strong>
          <p>Corning Gorilla Glass 5</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>HDR</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BODY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Dimension</strong>
          <p>159.4 x 76.8 x 8.9 mm (6.28 x 3.02 x 0.35 in)</p>
        </div>
        <div class="specs_info">
          <strong>Weight</strong>
          <p>190.5 g (6.74 oz)</p>
        </div>
        <div class="specs_info">
          <strong>Build</strong>
          <p>	Glass front, plastic back, plastic frame</p>
        </div>
        <div class="specs_info1">
          <strong>SIM</strong>
          <p>	Dual SIM (Nano-SIM, dual stand-by)</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>PLARFROM</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>OS</strong>
          <p>Android 9.0 (Pie), Funtouch 9</p>
        </div>
        <div class="specs_info">
          <strong>Chipset</strong>
          <p>Mediatek MT6762 Helio P22 (12 nm)</p>
        </div>
        <div class="specs_info">
          <strong>CPU</strong>
          <p>	Octa-core 2.0 GHz Cortex-A53</p>
        </div>
        <div class="specs_info1">
          <strong>GPU</strong>
          <p>PowerVR GE8320</p>
        </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MEMORY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Card Slot</strong>
          <p>microSDXC (dedicated slot)</p>
        </div>
        <div class="specs_info1">
          <strong>Internal</strong>
          <p>64GB 4GB RAM, eMMC 5.1</p>
        </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="specs_table">
      <div class="specs">
        <strong>CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Triple</strong>
          <p>13 MP, f/2.2, PDAF</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>8 MP, f/2.2, 16mm (ultrawide)</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>2 MP, f/2.4, (depth)</p>
        </div>
        <div class="specs_info">
          <strong>Features</strong>
          <p>LED flash, HDR, panorama</p>
        </div>
        <div class="specs_info1">
          <strong>Video</strong>
          <p>1080p@30fps</p>
        </div>
      </div>
    </div>
    <!-- 7 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FRONT CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Single</strong>
          <p>16 MP, f/2.0, 26mm (wide), 1/3.06", 1.0µm</p>
        </div>
        <div class="specs_info1">
          <strong>Features</strong>
          <p>HDR</p>
        </div>
        <div class="specs_info1">
          <strong>Video</strong>
          <p>1080p@30fps</p>
        </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BATTERY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong></strong>
          <p>Non-removable Li-Po 5000 mAh battery</p>
        </div>
      </div>
    </div>
    <!-- 9 -->
    <div class="specs_table">
      <div class="specs">
        <strong>COMMS.</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>WLAN</strong>
          <p>	Wi-Fi 802.11 b/g/n, Wi-Fi Direct, hotspot</p>
        </div>
        <div class="specs_info">
          <strong>Bluetooth</strong>
          <p>5.0, A2DP, LE</p>
        </div>
        <div class="specs_info">
          <strong>GPS</strong>
          <p>Yes, with A-GPS, GLONASS, GALILEO, BDS</p>
        </div>
        <div class="specs_info">
          <strong>Radio</strong>
          <p>FM radio</p>
        </div>
        <div class="specs_info1">
          <strong>USB</strong>
          <p>microUSB 2.0, USB On-The-Go</p>
        </div>
      </div>
    </div>
    <!-- 10 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FEATURE</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Sensors</strong>
          <p>Fingerprint (rear-mounted), accelerometer, proximity, compass</p>
        </div>
      </div>
    </div>
    <!-- 11 -->
    <div class="specs_table">
      <div class="specs">
        <strong>SOUND</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Loudspeaker</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>3.5mm jack</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>24-bit/192kHz audio</p>
        </div>
      </div>
    </div>
    <!-- 12 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MISC</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Color</strong>
          <p>Aqua Blue, Burgundy Red</p>
        </div>
        <div class="specs_info">
          <strong>SAR</strong>
          <p>1.01 W/kg (head) 0.75 W/kg (body)</p>
        </div>
      </div>
    </div>
  </div>
  {% endblock specs%}
