{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="Realme released his new smartphone Realme 6 Pro at price of 17,999-INR, buy at best price from amazon. "> {% endblock desc%}
{% block key%}<meta name="keywords" content="Realme 6 Pro,  Realme 6 Pro price, Realme 6 Pro price in india, Realme 6 Pro review, Realme 6 Pro specification"> {% endblock key%}
    {% load static %}
    {% block title%}Realme 6 pro (4/64GB) Full specification: hipein.com{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <!-- review and spec -->
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h4 class="content">Realme released his new smartphone Realme 6 Pro at price of 17,999-INR</h4>
          <h2 class="content_tittle"><span>REVIEW</span> Realme 6 Pro : 4/64GB for 17,999-INR Watch Full review-<a href="https://www.youtube.com/watch?v=wtCSKYaVvME">http://www.youtube.com </a></h2>
        </div>
        <div >
          <img class="image"  src="{% static 'image/mobile/realme/realme-6-pro-2.jpg' %}" alt="">
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by:  YugaTech</p>
        </div>
        <div class="info">
          <h4 class="content">{{product_name}} summary</h4>
          <p class="content">With every new model, <span>Realme</span> changes the design of the back, and for the 6 Pro, we now have a lightning-inspired design in either blue or orange. It looks quite funky and isn't too flashy, which we like. The glossy finish of the back makes this phone very slippery but thankfully it's <span>Gorilla Glass 5</span>, so scuff marks weren't really an issue. The Realme 6 Pro is quite chunky at 8.9mm and a bit heavy at 202g.The Realme 6 Pro features a 6.6-inch LCD display with a dual hole-punch cutout, which gives this phone a modern appearance.</p>
          <p class="content">The <span>Realme 6 Pro</span> has a similar rear camera setup to the Realme 6, but with the depth camera swapped for a telephoto camera. There's a 64-megapixel primary sensor, an 8-megapixel ultra-wide camera, a 12-megapixel telephoto camera with 2X optical zoom, and a 2-megapixel macro camera. In the front, we have a 16-megapixel primary camera and a second 8-megapixel wide-angle camera.</p>
          <p class="content">The <span>Snapdragon 720G</span> is a powerful chip, so as expected, general usage and multitasking was handled superbly. The 90Hz refresh rate makes usage feel smooth, and the good thing is that there's an Auto option, which means it automatically scales down to 60Hz to conserve power if an app can't benefit from a higher refresh rate. it has support for  30W fast charger managed to charge the battery from zero to about 90 percent in an hour, which again, is very quick.</p>
          <div class="aff-link1">
            <form action="https://www.flipkart.com/realme-6-pro-lightning-blue-64-gb/p/itm19b1945c12aee?pid=MOBFPCX76F3BYQDH&lid=LSTMOBFPCX76F3BYQDHGAICT2&marketplace=FLIPKART&pageUID=1594896233895">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from flipkart</button>
            </form>
            <form action="https://www.flipkart.com/realme-6-pro-lightning-blue-64-gb/p/itm19b1945c12aee?pid=MOBFPCX76F3BYQDH&lid=LSTMOBFPCX76F3BYQDHGAICT2&marketplace=FLIPKART&pageUID=1594896233895">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>
          <p></p>
        </div>

    {% endblock content%}
    {% block specs%}
    <!-- specification -->
    <h3 class="spec_title">Full Specs</h3>
    <!-- 1 -->
    <div class="specs_table">
      <div class="specs">
        <strong>LAUNCH</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Announced</strong>
          <p>2020, March 05</p>
        </div>
        <div class="specs_info1">
          <strong>Status</strong>
          <p>Available. Released 2020, March 13</p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="specs_table">
      <div class="specs">
        <strong>NETWORK</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Technology</strong>
          <p>GSM / HSPA / LTE</p>
        </div>
        <div class="specs_info1">
          <strong>Speed</strong>
          <p>HSPA 42.2/11.5 Mbps, LTE-A (2CA) Cat6 300/150 Mbps</p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="specs_table">
      <div class="specs">
        <strong>DISPLAY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Type</strong>
          <p>IPS LCD capacitive touchscreen, 16M colors</p>
        </div>
        <div class="specs_info">
          <strong>Size</strong>
          <p>6.6 inches, 105.2 cm2 (~84.7% screen-to-body ratio)</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>1080 x 2400 pixels, 20:9 ratio (~399 ppi density)</p>
        </div>
        <div class="specs_info">
          <strong>Protection</strong>
          <p>Corning Gorilla Glass 5</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>90Hz refresh rate</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>480 nits typ. brightness </p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BODY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Dimension</strong>
          <p>163.8 x 75.8 x 8.9 mm (6.45 x 2.98 x 0.35 in)</p>
        </div>
        <div class="specs_info">
          <strong>Weight</strong>
          <p>202 g (7.13 oz)</p>
        </div>
        <div class="specs_info">
          <strong>Build</strong>
          <p>Glass front (Gorilla Glass 5), glass back, plastic frame</p>
        </div>
        <div class="specs_info1">
          <strong>SIM</strong>
          <p>Dual SIM (Nano-SIM, dual stand-by)</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>PLARFROM</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>OS</strong>
          <p>Android 10, Realme UI</p>
        </div>
        <div class="specs_info">
          <strong>Chipset</strong>
          <p>Qualcomm SM7125 Snapdragon 720G (8 nm)</p>
        </div>
        <div class="specs_info">
          <strong>CPU</strong>
          <p>Octa-core (2x2.3 GHz Kryo 465 Gold & 6x1.8 GHz Kryo 465 Silver) </p>
        </div>
        <div class="specs_info1">
          <strong>GPU</strong>
          <p>Adreno 618</p>
        </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MEMORY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Card Slot</strong>
          <p>microSDXC (dedicated slot)</p>
        </div>
        <div class="specs_info1">
          <strong>Internal</strong>
          <p>64GB 6GB RAM, 128GB 6GB RAM, 128GB 8GB RAM</p>
        </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="specs_table">
      <div class="specs">
        <strong>CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Quad</strong>
          <p>64 MP, f/1.8, 26mm (wide), 1/1.72", 0.8µm, PDAF</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>12 MP, f/2.5, 54mm (telephoto), 1/3.4", 1.0µm, PDAF</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>2x optical zoom</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>8 MP, f/2.3, 13mm (ultrawide), 1/4.0", 1.12µm</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>2 MP, f/2.4, (macro)</p>
        </div>
        <div class="specs_info">
          <strong>Features</strong>
          <p>LED flash, HDR, panorama</p>
        </div>
        <div class="specs_info1">
          <strong>Video</strong>
          <p>4K@30fps, 1080p@30/60/120fps, gyro-EIS</p>
        </div>
      </div>
    </div>
    <!-- 7 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FRONT CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Dual</strong>
          <p>16 MP, f/2.1, 26mm (wide), 1/3.06", 1.0µm</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>8 MP, f/2.2, 105˚ (ultrawide), 1/4.0", 1.12µm</p>
        </div>
        <div class="specs_info1">
          <strong>Features</strong>
          <p>HDR, panorama</p>
        </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BATTERY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong></strong>
          <p>Non-removable Li-Po 4300 mAh battery</p>
        </div>
        <div class="specs_info">
          <strong>Charging</strong>
          <p>Fast charging 30W, 100% in 57 min</p>
        </div>
      </div>
    </div>
    <!-- 9 -->
    <div class="specs_table">
      <div class="specs">
        <strong>COMMS.</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>WLAN</strong>
          <p>Wi-Fi 802.11 a/b/g/n/ac, dual-band, Wi-Fi Direct, hotspot</p>
        </div>
        <div class="specs_info">
          <strong>Bluetooth</strong>
          <p>5.1, A2DP, LE</p>
        </div>
        <div class="specs_info">
          <strong>GPS</strong>
          <p>Yes, with dual-band A-GPS, GLONASS, BDS, NavIC</p>
        </div>
        <div class="specs_info">
          <strong>Radio</strong>
          <p>FM radio</p>
        </div>
        <div class="specs_info1">
          <strong>USB</strong>
          <p>2.0, Type-C 1.0 reversible connector, USB On-The-Go</p>
        </div>
      </div>
    </div>
    <!-- 10 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FEATURE</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Sensors</strong>
          <p>Fingerprint (side-mounted), accelerometer, gyro, proximity, compass,</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>barometer</p>
        </div>
      </div>
    </div>
    <!-- 11 -->
    <div class="specs_table">
      <div class="specs">
        <strong>SOUND</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Loudspeaker</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>3.5mm jack</strong>
          <p>Yes</p>
        </div>
      </div>
    </div>
    <!-- 12 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MISC</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Color</strong>
          <p>Lightning Blue, Lightning Orange, Lightning Red</p>
        </div>
        <div class="specs_info1">
          <strong>Models</strong>
          <p>RMX2061</p>
        </div>
      </div>
    </div>
    </div>
    <!-- 13 -->
    {% endblock specs%}
