{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="Are you searching for the upcoming mobile phones in 2020, so here is the list of new mobile phone coming soon in India"> {% endblock desc%}
{% block key%}<meta name="keywords" content="new mobile phone coming soon, Upcoming mobile phone in 2020, New upcoming smartphones, upcoming phones in 2020, new mobile phones 2020, new smartphone coming soon, upcoming smartphone, Upcoming mobile phone  "> {% endblock key%}
{% block style %}
<style>
  .code{
    background: #e9ecef;
    border: 1px solid #e9ecef;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  .code h3{
    margin: 4px;
  }
  .iframe{
    width:100%;
    border:0;
  }
</style>
{% endblock style %}
  {% load static %}
    {% block title%}13 Upcoming mobile phone in 2020 (august) - hipein.com{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}

    <!-- review and spec -->
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h1 class="content_tittle" style="font-weight:400;">Upcoming mobile phone in August, 2020</h1>
          <p>By <span style="color:blue;">Gulshan Bhumij</span>- Updated on <b style="color: gray;">27 July, 2020</b></p>
          <hr class="my-2">
          <p class="content" style="font-size: 17px;">Are you searching for the <b>upcoming mobile phone in 2020</b>, so here is the list of <b>new mobile phone coming soon</b> in India. With lots of rumors and leaks about the upcoming smartphone, we have listed the phones which were coming soon in India. The new upcoming mobile phones are packed with lots of features like powerful processor, long battery life, better RAM management system, camera, and lots of innovation in mobile technology. New upcoming smartphones have both software and hardware updates which is the most important for mobile phones. So without taking much of your time, here is the list of best <b>upcoming phones in 2020</b>.</p>
        </div>
        <div class="code">
          <h3 style="font-weight:400;">The list of Upcoming mobile phones - 2020</h3>
          <ul>
            <li>OnePlus Nord</li>
            <li>Samsung Galaxy M31s</li>
            <li>Samsung Galaxy Note 20</li>
            <li>Samsung Galaxy Note 20 Ultra</li>
            <li>Asus Zenfone 7</li>
            <li>Asus Zenfone 7 Pro</li>
            <li>Poco C3</li>
            <li>Xiaomi A4</li>
            <li>Realme C15</li>
            <li>Redmi 9 Prime</li>
            <li>Realme X3 Pro</li>
            <li>Redmi 9A</li>
            <li>Motorola G 5G Plus</li>
          </ul>
        </div>
        <p></p>
        <div>
          <h3 style="font-weight: 400;">Upcoming mobile phone under 15000 list.</h3>
          <table style="width:100%">
            <tr style="background: #e9ecef;">
              <th style="font-weight: 600;">Upcoming Mobile Phones Under 15000 List</th>
              <th style="font-weight: 600;">Expected Price</th>
              <th style="font-weight: 600;">Expected to Launch</th>
            </tr>
            <tr>
              <td>Poco C3 </td>
              <td>Rs. 8,499</td>
              <td>Not announced yet.</td>
            </tr>
            <tr>
              <td>Xiaomi A4</td>
              <td>Rs. 13,999</td>
              <td>20 Aug, 2020</td>
            </tr>
            <tr>
              <td>Realme C15</td>
              <td>Rs. 12,999</td>
              <td>31 july, 2020</td>
            </tr>
            <tr>
              <td>Redmi 9A</td>
              <td>Rs. 6,999</td>
              <td>4 august, 2020</td>
            </tr>
          </table>
        </div>
        <p></p>
        <hr class="my-2">
        <div class="info">
          <h2  style="padding-left:3px; border-left: 2px solid red; font-weight: 400;">1. OnePlus Nord</h2>
          <div>
            <img class="image" src="{% static 'image/mobile/oneplus/oneplus-nord-2.jpg' %}" alt="">
          </div>
          <hr class="my-2">
          <p><b>Price</b> : Starting from 24,999-INR <br><b>Release date</b> : 4th August, 2020 </p>
          <p></p>
          <p class="content">OnePlus has announced to introduce its <b>new smartphone coming soon</b> on 4 August. OnePlus Nord is starting from 24999-INR in India.</p>
          <h4 class="content">OnePlus Nord: Key specifications </h4>
          <ul class="content">
            <li>Display : 6.44"(1080*2400)</li>
            <li>Rear Camera : 48MP + 8MP + 5MP + 2MP </li>
            <li>Front Camera : 32MP + 8MP</li>
            <li>Storage/RAM : 64GB 6GB RAM, 128GB 8GB RAM, 256GB 12GB RAM</li>
            <li>Battery : 4115 mAh battery</li>
            <li>Processor : Qualcomm Snapdragon 765G</li>
          </ul>
          <hr class="my-2">
        </div>
        <!-- 2 -->
        <div class="info">
          <h2 style="padding-left:3px; border-left: 2px solid red; font-weight: 400;">2. Samsung Galaxy M31s</h2>
          <div>
            <img class="image" src="{% static 'image/article/mobile/upcoming mobile/samsung-galaxy-m31s.jpg'%}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com - Uploaded by: All World Tony Stark</p>
          <p><b>Expected price</b> : 16,999-INR <br><b>Release date</b> : 30 july, 2020 </p>
          <p></p>
          <p class="content">After the grand success of the Samsung Galaxy M31, Samsung has now brought a new smartphone <span>Samsung Galaxy M31</span>.</p>
          <h4 class="content">Samsung Galaxy M31s: Key specifications </h4>
          <ul class="content">
            <li>Display: 6.50-inch (1080x2400 pixels)</li>
            <li>Rear Camera : 64MP + 12MP + 5MP + 5MP </li>
            <li>Front Camera :  32MP</li>
            <li>Storage/RAM : 128GB 6GB RAM, 128GB 8GB RAM</li>
            <li>Battery : 6000 mAh battery </li>
            <li>Processor: Exynos 9611 (10nm)</li>
          </ul>
          <hr class="my-2">
        </div>
        <!-- 3 -->
        <div class="info">
          <h2  style="padding-left:3px; border-left: 2px solid red; font-weight: 400;">3. Samsung Galaxy Note 20</h2>
          <div>
            <img class="image" src="{% static 'image/article/mobile/upcoming mobile/samsung-galaxy-note-20.jpg'%}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com - Uploaded by:  XEETECHCARE</p>
          <p><b>Expected price</b> : 99,999-INR <br><b>Release date</b> : 05 Aug, 2020 (Unofficial) </p>
          <h4 class="content">Samsung Galaxy Note 20: Key specifications </h4>
          <ul class="content">
            <li>Diaplay: 6.7-inch (1080x2400 pixels)</li>
            <li>Rear Camera : 64MP + 12MP + 12MP</li>
            <li>Front Camera :  10MP</li>
            <li>Storage/RAM : 256GB/8GB</li>
            <li>Processor: Exynos 990 (7nm)-Global</li>
            <li>battery : 4300 mAh battery </li>
          </ul>
          <hr class="my-2">
        </div>
        <!-- 4 -->
        <div class="info">
          <h2  style="padding-left:3px; border-left: 2px solid red; font-weight: 400;">4. Samsung Galaxy Note 20 Ultra</h2>
          <div>
            <img class="image" src="{% static 'image/article/mobile/upcoming mobile/samsung-galaxy-note-20-ultra.jpg'%}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com - Uploaded by:  TechTalkTV</p>
          <p><b>Expected price</b> : 121,990-INR <br><b>Release date</b> : 05 Aug, 2020 (Unofficial) </p>
          <p class="content">Samsung has announced to introduce its <b>new smartphone coming soon</b> on 5 August, 2020 (Unofficial). Samsung galaxy note 20 ultra is starting from 121,990-INR in India.</p>
          <h4 class="content">Samsung Galaxy Note 20 Ultra: Key specifications </h4>
          <ul class="content">
            <li>Diaplay: 6.9-inch (1440x3200 pixels)</li>
            <li>Rear Camera : 108MP + 12MP + 12MP</li>
            <li>Front Camera :  10MP</li>
            <li>Storage/RAM : 256GB/12GB, 512GB/12GB</li>
            <li>Processor: Exynos 990 (7nm)-Global</li>
            <li>battery : 4500 mAh battery</li>
          </ul>
          <hr class="my-2">
        </div>
        <!-- 5 -->
        <div class="info">
          <h2  style="padding-left:3px; border-left: 2px solid red; font-weight: 400;">5. Asus Zenfone 7</h2>
          <div>
            <img class="image" src="{% static 'image/article/mobile/upcoming mobile/asus-zenfone-7.jpg'%}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com - Uploaded by:  SmartPanda Gaming</p>
          <p><b>Expected price</b> : 34,999-INR <br><b>Release date</b> : Not announced yet. </p>
          <h4 class="content">Asus Zenfone 7: Key specifications </h4>
          <ul class="content">
            <li>Diaplay: 6.7-inch (1080x2400 pixels)</li>
            <li>Rear Camera : 64MP + 13MP </li>
            <li>Front Camera : 20MP</li>
            <li>Storage/RAM : 128GB/8GB</li>
            <li>Processor: Qualcomm Snapdragon 865 </li>
            <li>battery : 4115 mAh battery </li>
          </ul>
          <hr class="my-2">
        </div>
        <!-- 6 -->
        <div class="info">
          <h2  style="padding-left:3px; border-left: 2px solid red; font-weight: 400;">6. Asus Zenfone 7 pro</h2>
          <div>
            <img class="image" src="{% static 'image/article/mobile/upcoming mobile/asus-zenfone-7-pro.jpg'%}" alt="">
          </div>
          <hr class="my-2">
          <p><b>Expected price</b> :  Rs 39,990 <br><b>Release date</b> :  October 13, 2020 (Unofficial). </p>
          <h4 class="content">Asus Zenfone 7 pro: Key specifications </h4>
          <ul class="content">
            <li>Diaplay: 6.5-inches (1080x2400 pixels)</li>
            <li>Rear Camera : 64 MP + 12 MP + 5 MP </li>
            <li>Front Camera : 20MP</li>
            <li>Storage/RAM : 128GB/12GB</li>
            <li>Processor: 	Qualcomm Snapdragon 865 Plus </li>
            <li>battery : 5100 mAh battery </li>
          </ul>
          <hr class="my-2">
        </div>
        <!-- 7 -->
        <div class="info">
          <h2 style="padding-left:3px; border-left: 2px solid red; font-weight: 400;">7. Poco C3</h2>
          <div>
            <img class="image" src="{% static 'image/article/mobile/upcoming mobile/poco-c3.jpg'%}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | google.com - Uploaded by:  Naxon Tech</p>
          <p><b>Expected price</b> : 8,499-INR <br><b>Release date</b> : Not announced yet. </p>
          <p class="content">After the success of Poco F1 and Poco X2, now Poco is bringing a budget phone called Poco C3. in india starting from 8,999-INR</p>
          <h4 class="content">Poco C3: Key specifications </h4>
          <ul class="content">
            <li>Display : 6.53"(1080*2400)</li>
            <li>Rear Camera : 13MP + 8MP + 5MP + 2MP </li>
            <li>Front Camera : 8MP</li>
            <li>Storage/RAM : 32GB/3GB</li>
            <li>Battery : 5000 mAh battery</li>
            <li>Processor : Mediatek Helio G80</li>
          </ul>
          <hr class="my-2">
        </div>

        <!-- 7 -->
         <div class="info">
          <h2  style="padding-left:3px; border-left: 2px solid red; font-weight: 400;">8. Xiaomi Mi A4 </h2>
          <div>
            <img class="image" src="{% static 'image/article/mobile/upcoming mobile/xiaomi-mi-a4.jpg'%}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com - Uploaded by:  Kitty gadgets</p>
          <p><b>Expected price</b> : 13,999-INR <br><b>Release date</b> : 20 Aug, 2020 (Unofficial) </p>
          <h4 class="content">Xiaomi Mi A4: Key specifications </h4>
          <ul class="content">
            <li>Display : 6.53-inches (1080*2400)</li>
            <li>Processor : Qualcomm Snapdragon 712</li>
            <li>Rear Camera : 48MP + 8MP + 2MP + 2MP </li>
            <li>Front Camera : 32GB</li>
            <li>Storage/RAM : 64GB/4GB RAM</li>
            <li>Battery : 4050 mAh battery</li>
          </ul>
          <hr class="my-2">
        </div>
        <!-- 8 -->
         <div class="info">
          <h2  style="padding-left:3px; border-left: 2px solid red; font-weight: 400;">9. Realme C15 </h2>
          <div>
            <img class="image" src="{% static 'image/article/mobile/upcoming mobile/realme-c15.jpg'%}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com - Uploaded by:  echnical School</p>
         <p><b>Expected price</b> : 12,999-INR <br><b>Release date</b> : 31 july, 2020 </p>
          <h4 class="content">Realme C15: Key specifications </h4>
          <ul class="content">
            <li>Display : 6.5-inches (720*1600)</li>
            <li>Rear Camera : 13MP + 8MP + 2MP + 2MP </li>
            <li>Front Camera : 8MP</li>
            <li>Storage/RAM : 64GB/3GB</li>
            <li>Battery : 6000 mAh battery</li>
            <li>Processor : Mediatek Helio G35</li>
          </ul>
          <hr class="my-2">
        </div>
        <!-- 9 -->
        <div class="info">
         <h2 style="padding-left:3px; border-left: 2px solid red; font-weight: 400;">10. Redmi 9 prime</h2>
         <div>
           <img class="image" src="{% static 'image/article/mobile/upcoming mobile/redmi-9-prime.jpg'%}" alt="">
         </div>
         <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com - Uploaded by: GSMArena Official Hindi</p>
         <p><b>Expected price</b> : 9,999-INR <br><b>Release date</b> : 4th August 2020 (expected). </p>
         <p class="content"></p>
         <h4 class="content">Redmi 9 prime: Key specifications </h4>
         <ul class="content">
           <li>Display : 	6.53-inches (1080x2340 pixels)</li>
           <li>Processor : Mediatek Hileo G80 </li>
           <li>Rear Camera : 13-megapixel + 8-megapixel + 5-megapixel  + 2-megapixel </li>
           <li>Front Camera : 8 megapixel</li>
           <li>Storage/RAM : 32GB 3GB RAM</li>
           <li>Battery : 	5020 mAh battery</li>
         </ul>
         <hr class="my-2">
       </div>
        <!-- 10 -->
         <div class="info">
          <h2 style="padding-left:3px; border-left: 2px solid red; font-weight: 400;">11. Realme X3 Pro</h2>
          <div>
            <img class="image" src="{% static 'image/article/mobile/upcoming mobile/realme-x3-pro.jpg'%}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com - Uploaded by: NSK Gyan</p>
          <p><b>Expected price</b> : 31,999-INR <br><b>Release date</b> : Not announced yet. </p>
          <p class="content"></p>
          <h4 class="content">Realme X3 Pro: Key specifications </h4>
          <ul class="content">
            <li>Display : 6.57-inches (1080*2400)</li>
            <li>Rear Camera : 64MP + 3MP + 8MP + 2MP </li>
            <li>Front Camera : 16MP + 8MP</li>
            <li>Storage/RAM : 64GB 6GB RAM</li>
            <li>Battery : 4500 mAh battery</li>
            <li>Processor : Qualcomm Snapdragon 865</li>
          </ul>
          <hr class="my-2">
        </div>
        <!-- 11 -->
         <div class="info">
          <h2 style="padding-left:3px; border-left: 2px solid red; font-weight: 400;">12. Redmi 9A</h2>
          <div>
            <img class="image" src="{% static 'image/article/mobile/upcoming mobile/redmi-9a.jpg'%}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com - Uploaded by: Vy Vo Xuan</p>
          <p><b>Expected price</b> : 6,999-INR <br><b>Release date</b> : 4 august, 2020 </p>
          <p class="content"></p>
          <h4 class="content">Redmi 9A: Key specifications </h4>
          <ul class="content">
            <li>Display : 6.53-inches (720*1600)</li>
            <li>Rear Camera : 13MP </li>
            <li>Front Camera : 5MP</li>
            <li>Storage/RAM : 32GB/2GB RAM</li>
            <li>Battery : 5000 mAh battery</li>
            <li>Processor : Mediatek Helio G25</li>
          </ul>
          <hr class="my-2">
          </div>
          <!-- 13 -->
          <div class="info">
           <h2 style="padding-left:3px; border-left: 2px solid red; font-weight: 400;">13. Motorola G 5G Plus</h2>
           <div>
             <img class="image" src="{% static 'image/article/mobile/upcoming mobile/moto-g-5g.jpg'%}" alt="">
           </div>
           <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com - Uploaded by: Technology Talks</p>
           <p><b>Expected price</b> : Not announced yet. <br><b>Release date</b> : 4 august, 2020 </p>
           <p class="content"></p>
           <h4 class="content">:  Motorola G 5G Plus: Key specifications </h4>
           <ul class="content">
             <li>Display : 6.7-inch (1080 x 2520)</li>
             <li>Processor : Qualcomm Snapdragon 765</li>
             <li>Rear Camera : 48MP + 12MP + 8MP + 5MP </li>
             <li>Front Camera : 16MP</li>
             <li>Storage/RAM : 64GB/4GB RAM</li>
             <li>Battery : 5000 mAh battery</li>
           </ul>
           <hr class="my-2">
         </div>
           <p class="content">You may have benefited from the above list of <b>upcoming phones 2020</b>. From now on, we will keep you informed about such <b>new mobile phones 2020</b>. If are looking for <b>best gaming phones under 20000</b> <a href="{% url 'pubg' %}">Click here</a>. </p>
           <h4 style="font-weight: 400;">Thankyou :)</h4>
           <br>
          </div>
        </div>
{% endblock content%}
