{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="Samsung released his new smartphone Samsung Galaxy S10+ at price of 68,990-INR, buy at best price from amazon. "> {% endblock desc%}
{% block key%}<meta name="keywords" content="samsung galaxy S10 plus mobile, samsung S10 plus mobile , samsung galaxy S10 plus mobile at price, samsung galaxy S10 plus mobile phone youtube review, samsung galaxy S10 plus price, samsung galaxy S10 plus price at amazon"> {% endblock key%}
  {% load static %}
   {% block css%} <link rel="stylesheet" href="{% static 'pageCss/Mobile/mobileSpecCss.css' %}">{% endblock css%}
    {% block title%}Samsung Galaxy S10 plus (8/512GB) Full specification - hipein{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <!-- review and spec -->
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h4 class="content">Samsung released his new smartphone Samsung Galaxy S10+ at price of 68,990-INR</h4>
          <h2 class="content_tittle"><span>REVIEW</span> Samsung Galaxy S10+ : 8/512GB for 68,990-INR Watch Full review-<a href="https://www.youtube.com/watch?v=SibvCooWuyw">http://www.youtube.com </a></h2>
        </div>
        <div >
            <img class="image"  src="{% static 'image/mobile/samsung/samsung-galaxy-s10+-2.jpg' %}" alt="">
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by:  Android Police</p>
        </div>
        <div class="info">
          <p class="content">Samsung Galaxy S10+ smartphone was launched on 2019, February 20. Samsung Galaxy S10+ is powered by a Octa-core (2x2.73 GHz Mongoose M4 & 2x2.31 GHz Cortex-A75 & 4x1.95 GHz Cortex-A55) - EMEA/LATAM Samsung Exynos 9820 (8 nm) - EMEA/LATAM processor . It comes with 12GB and 8GB of RAM.The Samsung Galaxy S10+ on the rear packs a 12-megapixel primary camera, 12-megapixel (telephoto) and 16-megapixel ultrawide-angle-camera. The rear camera setup has autofocus. It sports a 10-megapixel camera on the front for selfies, with an f/1.9 aperture and 8-megapixel depth senson. The front camera also features autofocus.There's a 4100mAh battery, with support for fast charging.</p>
          <p class="content">The S10+ runs on OneUI 2, which is based on Android 10.The Samsung Galaxy S10+ measures 157.6 x 74.1 x 7.8 mm (6.20 x 2.92 x 0.31 in) (height x width x thickness) and weighs 175 g / 198 g (ceramic) (6.17 oz). It was launched in Prism White, Prism Black, Prism Green, Prism Blue, Canary Yellow, Flamingo Pink, Ceramic Black, Ceramic White, Cardinal Red, Smoke Blue .Connectivity options on the Samsung Galaxy S10+ include Wi-Fi 802.11 a/b/g/n/ac/6, dual-band, Wi-Fi Direct, hotspot, GPS, Bluetooth v5.00, NFC, USB Type-C, 3G, and 4G.</p>
          <div class="aff-link1">
            <form action="https://www.amazon.in/Samsung-Galaxy-Storage-Additional-Exchange/dp/B07KXC5Q61/ref=sr_1_1?dchild=1&keywords=Samsung%2BGalaxy%2BS10%2B&qid=1594893151&sr=8-1&th=1">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from amazon</button>
            </form>
            <form action="https://www.amazon.in/Samsung-Galaxy-Storage-Additional-Exchange/dp/B07KXC5Q61/ref=sr_1_1?dchild=1&keywords=Samsung%2BGalaxy%2BS10%2B&qid=1594893151&sr=8-1&th=1">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>
          <p></p>
        </div>
    {% endblock content%}
    {% block specs%}
    <!-- specification -->
    <h3 class="spec_title">Full Specs</h3>
    <!-- 1 -->
    <div class="specs_table">
      <div class="specs">
        <strong>LAUNCH</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Announced</strong>
          <p> 2019, February 20</p>
        </div>
        <div class="specs_info1">
          <strong>Status</strong>
          <p>Available. Released 2019, March 08</p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="specs_table">
      <div class="specs">
        <strong>NETWORK</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Technology</strong>
          <p>GSM / CDMA / HSPA / EVDO / LTE</p>
        </div>
        <div class="specs_info1">
          <strong>Speed</strong>
          <p>	HSPA 42.2/5.76 Mbps, LTE-A (7CA) Cat20 2000/150 Mbps</p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="specs_table">
      <div class="specs">
        <strong>DISPLAY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Type</strong>
          <p>Dynamic AMOLED capacitive touchscreen, 16M colors</p>
        </div>
        <div class="specs_info">
          <strong>Size</strong>
          <p>6.4 inches, 103.8 cm2 (~88.9% screen-to-body ratio)</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>1440 x 3040 pixels, 19:9 ratio (~522 ppi density)</p>
        </div>
        <div class="specs_info">
          <strong>Protection</strong>
          <p>Corning Gorilla Glass 6</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>HDR10+</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>Always-on display</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BODY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Dimension</strong>
          <p>157.6 x 74.1 x 7.8 mm (6.20 x 2.92 x 0.31 in)</p>
        </div>
        <div class="specs_info">
          <strong>Weight</strong>
          <p>	175 g / 198 g (ceramic) (6.17 oz)</p>
        </div>
        <div class="specs_info">
          <strong>Build</strong>
          <p>Glass front (Gorilla Glass 6), glass back (Gorilla Glass 5), aluminum frame</p>
        </div>
        <div class="specs_info1">
          <strong>SIM</strong>
          <p>Single SIM (Nano-SIM) or Hybrid Dual SIM (Nano-SIM, dual stand-by)</p>
        </div>
          <div class="specs_info1">
          <strong></strong>
          <p>Samsung Pay (Visa, MasterCard certified)</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>IP68 dust/water resistant (up to 1.5m for 30 mins)</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>PLARFROM</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>OS</strong>
          <p>	Android 9.0 (Pie), upgradable to Android 10, One UI 2</p>
        </div>
        <div class="specs_info">
          <strong>Chipset</strong>
          <p>Exynos 9820 (8 nm) - EMEA/LATAM</p>
        </div>
        <div class="specs_info">
          <strong>CPU</strong>
          <p>	Octa-core (2x2.73 GHz Mongoose M4 & 2x2.31 GHz Cortex-A75 & </p>
        </div>
        <div class="specs_info">
          <strong>CPU</strong>
          <p>	4x1.95 GHz Cortex-A55) - EMEA/LATAM</p>
        </div>
        <div class="specs_info1">
          <strong>GPU</strong>
          <p>Mali-G76 MP12 - EMEA/LATAM</p>
        </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MEMORY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Card Slot</strong>
          <p>	microSDXC (uses shared SIM slot) - dual SIM model only</p>
        </div>
        <div class="specs_info1">
          <strong>Internal</strong>
          <p>128GB 8GB RAM, 512GB 8GB RAM, 1TB 12GB RAM UFS 2.1</p>
        </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="specs_table">
      <div class="specs">
        <strong>CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Triple</strong>
          <p>	12 MP, f/1.5-2.4, 26mm (wide), 1/2.55", 1.4µm, Dual Pixel PDAF, OIS</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>12 MP, f/2.4, 52mm (telephoto), 1/3.6", 1.0µm, AF, OIS, 2x optical zoom</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>16 MP, f/2.2, 12mm (ultrawide), 1/3.1", 1.0µm, Super Steady video</p>
        </div>
        <div class="specs_info">
          <strong>Features</strong>
          <p>16 MP, f/2.2, 12mm (ultrawide), 1/3.1", 1.0µm, Super Steady video</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>4K@60fps (no EIS), 4K@30fps, 1080p@30/60/240fps, 720p@960fps, </p>
        </div>
        <div class="specs_info1">
          <strong>Video</strong>
          <p> HDR10+, stereo sound rec., gyro-EIS & OIS</p>
        </div>
      </div>
    </div>
    <!-- 7 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FRONT CAMERA </strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Dual</strong>
          <p>10 MP, f/1.9, 26mm (wide), 1/3", 1.22µm, Dual Pixel PDAF</p>
        </div>
         <div class="specs_info">
          <strong></strong>
          <p>8 MP, f/2.2, 22mm (wide), 1/4", 1.12µm, depth sensor</p>
        </div>
        <div class="specs_info1">
          <strong>Features</strong>
          <p>Dual video call, Auto-HDR</p>
        </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BATTERY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong></strong>
          <p>Non-removable Li-Ion 4100 mAh battery</p>
        </div>
        <div class="specs_info">
          <strong>Charging</strong>
          <p>Fast charging 15W</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>USB Power Delivery 2.0</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>Fast Qi/PMA wireless charging 15W</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>Reverse wireless charging 9W</p>
        </div>
      </div>
    </div>
    <!-- 9 -->
    <div class="specs_table">
      <div class="specs">
        <strong>COMMS.</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>WLAN</strong>
          <p>Wi-Fi 802.11 a/b/g/n/ac/6, dual-band, Wi-Fi Direct, hotspot</p>
        </div>
        <div class="specs_info">
          <strong>Bluetooth</strong>
          <p>5.0, A2DP, LE, aptX</p>
        </div>
        <div class="specs_info">
          <strong>GPS</strong>
          <p>Yes, with A-GPS, GLONASS, BDS, GALILEO</p>
        </div>
        <div class="specs_info">
          <strong>Radio</strong>
          <p>FM radio (USA & Canada only)</p>
        </div>
        <div class="specs_info">
          <strong>NFC</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info1">
          <strong>USB</strong>
          <p>3.1, Type-C 1.0 reversible connector</p>
        </div>
      </div>
    </div>
    <!-- 10 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FEATURE</strong>
      </div>
      <div class="specs_type">
          <div class="specs_info">
            <strong>Sensors</strong>
            <p>Fingerprint (under display, ultrasonic), accelerometer, gyro, proximity,</p>
          </div>
          <div class="specs_info">
            <strong>Sensors</strong>
            <p> compass, barometer, heart rate, SpO2</p>
          </div>
          <div class="specs_info1">
            <strong></strong>
            <p>Bixby natural language commands and dictation</p>
          </div>
      </div>
    </div>
    <!-- 11 -->
    <div class="specs_table">
      <div class="specs">
        <strong>SOUND</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Loudspeaker</strong>
          <p>Yes, with stereo speakers </p>
        </div>
        <div class="specs_info">
          <strong>3.5mm jack</strong>
          <p>Yes</p>
        </div>
      </div>
    </div>
    <!-- 12 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MISC</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Color</strong>
          <p>Prism White, Prism Black, Prism Green, Prism Blue, Canary Yellow,</p>
        </div>
        <div class="specs_info">
          <strong>Color</strong>
          <p>Flamingo Pink, Ceramic Black, Ceramic White, Cardinal Red, Smoke Blue</p>
        </div>
        <div class="specs_info1">
          <strong>Models</strong>
          <p>SM-G975F, SM-G975U, SM-G975W, SM-G975U1, SM-G9750</p>
        </div>
      </div>
    </div>
  </div>
  </div>
    <!-- 13 -->
    <!-- footer -->
    {% endblock specs%}
