{% extends 'page/bas.html' %}
  {% load static %}
    {% block title%}Realme Narzo Full specification{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <style>
      .info{
        padding-top: 10px;
      }
      .info span{
        color:red;
      }
    </style>
    <!-- review and spec -->
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h4 class="content">Realme released his new smartphone Realme Narzo 10 at price of 11,999-INR</h4>
          <h2 class="content_tittle"><span>REVIEW</span> Realme Narzo 10 : 4/64GB for 11,999-INR Watch Full review-<a href="http://www.youtube.com">http://www.youtube.com </a></h2>
        </div>
        <div >
          <img class="image"  src="{% static 'image/mobile/mi/xiaomi.jpg' %}" alt="">
        </div>
        <div class="info">
          <h4 class="content">{{product_name}} summary</h4>
          <p><span>Realme</span> has come up with a rather premium-looking design for the rear. The Narzo 10 is available in That Green and That White (which in other countries are sold as Green Tea and White Milk). Thanks to its 20:9 aspect ratio screen, the <span>Realme Narzo 10</span> is relatively tall and narrow, but it's also 9mm thick and relatively hefty at 199g.</p>
          <p>Realme has used Gorilla Glass 3 for the display and there's a pre-applied screen protector, but it doesn't quite reach the edges of the glass, leaving the corners vulnerable. You do get a plastic case in the box, though.</p>
          <p><span>Realme Narzo 10</span> have a quad rear camera setup on this phone, which goes to show how easily a budget phone can be made to seem high-end. The 2-megapixel macro and 2-megapixel depth sensors are now pretty common across all low-cost phones, so you won't feel as though you're missing out on anything. However, they are of limited utility, as we've seen many times already. Macros are blotchy and rough, with the resolution limited to only 1600x1200 pixels, so this camera should be used more for fun than anything else.</p>
          <p><span>Narzo 10</span> powered by a <span>MediaTek Helio G80</span> the Helio G80 managed only slightly better scores than the Helio G70 used in the Realme C3</p>
        </div>
    {% endblock content%}
    {% block specs%}
    <!-- specification -->
    <h3 class="spec_title">Full Specs</h3>
    <!-- 1 -->
    <div class="specs_table">
      <div class="specs">
        <strong>LAUNCH</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Announced</strong>
          <p>2020, May 11</p>
        </div>
        <div class="specs_info1">
          <strong>Status</strong>
          <p>Available. Released 2020, May 18</p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="specs_table">
      <div class="specs">
        <strong>NETWORK</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Technology</strong>
          <p>GSM / HSPA / LTE</p>
        </div>
        <div class="specs_info1">
          <strong>Speed</strong>
          <p>HSPA 42.2/11.5 Mbps, LTE-A</p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="specs_table">
      <div class="specs">
        <strong>DISPLAY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Type</strong>
          <p>IPS LCD capacitive touchscreen, 16M colors</p>
        </div>
        <div class="specs_info">
          <strong>Size</strong>
          <p>6.5 inches, 102.8 cm2 (~82.9% screen-to-body ratio)</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>720 x 1600 pixels, 20:9 ratio (~269 ppi density)</p>
        </div>
        <div class="specs_info">
          <strong>Protection</strong>
          <p>Corning Gorilla Glass 3</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>480 nits typ. brightness</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BODY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Dimension</strong>
          <p>164.4 x 75.4 x 9 mm (6.47 x 2.97 x 0.35 in)</p>
        </div>
        <div class="specs_info">
          <strong>Weight</strong>
          <p>199 g (7.02 oz)</p>
        </div>
        <div class="specs_info">
          <strong>Build</strong>
          <p>Glass front, plastic back, plastic frame</p>
        </div>
        <div class="specs_info1">
          <strong>SIM</strong>
          <p>Dual SIM (Nano-SIM, dual stand-by)</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>PLARFROM</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>OS</strong>
          <p>Android 10, Realme UI 1.0</p>
        </div>
        <div class="specs_info">
          <strong>Chipset</strong>
          <p>Mediatek Helio G80 (12 nm)</p>
        </div>
        <div class="specs_info">
          <strong>CPU</strong>
          <p>	Octa-core (2x2.0 GHz Cortex-A75 & 6x1.8 GHz Cortex-A55)</p>
        </div>
        <div class="specs_info1">
          <strong>GPU</strong>
          <p>Mali-G52 MC2</p>
        </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MEMORY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Card Slot</strong>
          <p>microSDXC (dedicated slot)</p>
        </div>
        <div class="specs_info1">
          <strong>Internal</strong>
          <p>128GB 4GB RAM</p>
        </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="specs_table">
      <div class="specs">
        <strong>CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Quad</strong>
          <p>48 MP, f/1.8, 26mm (wide), 1/2.0", 0.8µm, PDAF</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>8 MP, f/2.3, 119˚ (ultrawide), 1/4.0", 1.12µm</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>2 MP, f/2.4, (macro)</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>2 MP B/W, f/2.4</p>
        </div>
        <div class="specs_info">
          <strong>Features</strong>
          <p>LED flash, HDR, panorama</p>
        </div>
        <div class="specs_info1">
          <strong>Video</strong>
          <p>1080p@30, gyro-EIS</p>
        </div>
      </div>
    </div>
    <!-- 7 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FRONT CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Single</strong>
          <p>16 MP, f/2.0, 26mm (wide), 1/3.06", 1.0µm</p>
        </div>
        <div class="specs_info1">
          <strong>Features</strong>
          <p>HDR, panorama</p>
        </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BATTERY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong></strong>
          <p>Non-removable Li-Po 5000mAh mAh battery</p>
        </div>
        <div class="specs_info1">
          <strong>Charging</strong>
          <p>Fast charging 18W</p>
        </div>
      </div>
    </div>
    <!-- 9 -->
    <div class="specs_table">
      <div class="specs">
        <strong>COMMS.</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>WLAN</strong>
          <p>Wi-Fi 802.11 b/g/n, Wi-Fi Direct, hotspot</p>
        </div>
        <div class="specs_info">
          <strong>Bluetooth</strong>
          <p>5.0, A2DP, LE</p>
        </div>
        <div class="specs_info">
          <strong>GPS</strong>
          <p>Yes, with A-GPS, GLONASS, BDS</p>
        </div>
        <div class="specs_info">
          <strong>Radio</strong>
          <p>FM radio</p>
        </div>
        <div class="specs_info1">
          <strong>USB</strong>
          <p>2.0, Type-C 1.0 reversible connector, USB On-The-Go</p>
        </div>
      </div>
    </div>
    <!-- 10 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FEATURE</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info1">
          <strong>Sensors</strong>
          <p>Fingerprint (rear-mounted), accelerometer, gyro, proximity, compass</p>
        </div>
      </div>
    </div>
    <!-- 11 -->
    <div class="specs_table">
      <div class="specs">
        <strong>SOUND</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Loudspeaker</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info1">
          <strong>3.5mm jack</strong>
          <p>Yes</p>
        </div>
      </div>
    </div>
    <!-- 12 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MISC</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info1">
          <strong>Color</strong>
          <p>That White, That Green</p>
        </div>
        <div class="specs_info1">
          <strong>Model</strong>
          <p>RMX2040</p>
        </div>
      </div>
    </div>
    </div>
    <!-- 13 -->
    {% endblock specs%}
