{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="Xiaomi Mi note 10 price in India may be Rs 43,200 and Xiaomi Mi note 10 launch date in india may be august 24, 2020. - hipein "> {% endblock desc%}
{% block key%}<meta name="keywords" content="Xiaomi mi note 10, mi note 10, mi note 10 specification, Xiaomi Mi note 10 launch date in india , mi note 10 price, Xiaomi mi note 10 price in india"> {% endblock key%}
{% block style %}
<style>
  .iframe{
    width:100%;
    border:0;
  }
</style>
{% endblock style %}
    {% load static %}
    {% block title%}Mi note 10 launch date in india, price and specification - hipein{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h5 class="content" style="font-weight: 400;">This news has come from Xiaomi, Xiaomi is thinking of bringing its smartphone Redmi note 10 to the indian market. Now let's see how long Xiaomi launches this new phone in India. Xiaomi Mi note 10 launch date in india may be august 24, 2020</h5>
          <h1 class="content_tittle" style="font-weight: 400;"><span>REVIEW</span> Mi NOTE 10 : 6/128GB for Rs 43,200 read Full specification.</h1>
        </div>
        <div>
          <img class="image" src="{% static 'image/mobile/mi/mi-note-10-2.jpg'%}" alt="">
        </div>
        <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com - Uploaded by:  Xtream Droid</p>
        <div class="info">
          <h2 style="font-weight: 400;">About Mi Note 10</h2>
          <p class="content">Xiaomi Mi Note 10 was launched on  6th nov  2019. Xiaomi Mi Note 10 comes with a 6.47 (in inch) touchscreen display.  The phone is powered by a 2.2GHz octa-core Qualcomm Snapdragon 730G processor. The Xiaomi Mi Note 10 runs Android 10 and is powered by a 5260mAh non-removable battery. The Xiaomi Mi Note 10 has supports for fast charging. </p>
          <p class="content">Xiaomi Mi Note 10 smartphone has an AMOLED display. It has a resolution of 1080x2340 pixels and 395 PPI pixel density. Talking about its camera, On the front camera, you get an 32-megapixel primary camera and on the rear camera, there is a 108 megapixel wide-angle, 20 megapixels ultra-wide, 12-megapixel depth and 5 megapixels micro. camera with features like Digital Auto Flash, Face detection, Touch to focus. It has support for fast charging and has a non-removable 5260 mAh battery. </p>
          <h3 style="font-weight: 400;">Xiaomi Mi note 10 launch date in india.</h3>
          <p class="content">Xiaomi Mi note 10 price in India may be Rs 43,200 and Xiaomi Mi note 10 launch date in india may be august 24, 2020(unofficial). This smartphone comes with 1 variant like 6/128 GB with color options like Glacier White, Aurora Green, and Midnight Black. </p>
          <h3 style="font-weight: 400;">Xiaomi Mi note 10 Key features:</h3>
          <ul class="content">
            <li>Diaplay: 6.47 inches</li>
            <li>Processor: 	Qualcomm Snapdragon 730G</li>
            <li>primary camera: 108-megapixel + 20-megapixel + 12-megapixel + 5-megapixel</li>
            <li>selfie camera: 32-megapixel</li>
            <li>Battery: Non-removable Li-Ion 5260 mAh battery</li>
            <li>Fast charging.</li>
          </ul>
          <p></p>
        </div>
    {% endblock content%}
    {% block specs%}
    <h3 class="spec_title">Mi note 10 specification</h3>
    <div class="specs_table">
      <div class="specs">
        <strong>Available at</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Realsed on</strong>
          <p>august 24, 2020 (Unofficial)</p>
        </div>
        <div class="specs_info">
          <strong>Amazon</strong>
          <p>Coming soon</p>
        </div>
        <div class="specs_info1">
          <strong>Flipkart</strong>
          <p>Coming soon</p>
        </div>
      </div>
    </div>
    <!-- 1 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BRAND</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Make</strong>
          <p>Xiaomi</p>
        </div>
        <div class="specs_info">
          <strong>Models</strong>
          <p>Mi note 10</p>
        </div>
        <div class="specs_info1">
          <strong>Color</strong>
          <p>Glacier White, Aurora Green, Midnight Black</p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="specs_table">
      <div class="specs">
        <strong>NETWORK TYPE</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>2G</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>3G</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>4G</strong>
          <p>Yes - (supports Indian bands)</p>
        </div>
        <div class="specs_info">
          <strong>5G</strong>
          <p>No</p>
        </div>
        <div class="specs_info1">
          <strong>SIM Type</strong>
          <p>Nano-SIM (Hybrid)</p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="specs_table">
      <div class="specs">
        <strong>DISPLAY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Screen</strong>
          <p>AMOLED display capacitive touchscreen, 16M colors</p>
        </div>
        <div class="specs_info">
          <strong>Size(inch)</strong>
          <p>6.47</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>1080x2340 pixels</p>
        </div>
        <div class="specs_info1">
          <strong>Protection</strong>
          <p>Corning Gorilla Glass 5</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>PLATFORM</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>OS</strong>
          <p>Android 10</p>
        </div>
        <div class="specs_info">
          <strong>Chipset</strong>
          <p>Qualcomm Snapdragon 730G</p>
        </div>
        <div class="specs_info">
          <strong>CPU</strong>
          <p>Octa-core</p>
        </div>
        <div class="specs_info1">
          <strong>GPU</strong>
          <p>Adreno 618</p>
        </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MEMORY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Card Slot</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info1">
          <strong>Internal</strong>
          <p>6/128GB RAM</p>
        </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="specs_table">
      <div class="specs">
        <strong>CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Rear Type </strong>
          <p>Quad</p>
        </div>
        <div class="specs_info">
          <strong>Image</strong>
          <p>4128 x 3096 Pixels Resolution</p>
        </div>
        <div class="specs_info">
          <strong>Rear camera</strong>
          <p>108 MP + 20 MP + 12 MP + 5 MP</p>
        </div>
        <div class="specs_info">
          <strong>Front camera</strong>
          <p>32 MP Primary Camera</p>
        </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BATTERY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong></strong>
          <p>Non-removable Li-Po 5260 mAh battery</p>
        </div>
        <div class="specs_info">
          <strong>Charging</strong>
          <p>Yes, Fast charging 30W, 100% in 65 min </p>
        </div>
      </div>
    </div>
    <!-- 9 -->
    <div class="specs_table">
      <div class="specs">
        <strong>COMMS.</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>WLAN</strong>
          <p>Wi-Fi 802.11 a/b/g/n/ac, dual-band, Wi-Fi Direct, hotspot</p>
        </div>
        <div class="specs_info">
          <strong>Bluetooth</strong>
          <p>v5.1</p>
        </div>
        <div class="specs_info">
          <strong>GPS</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info1">
          <strong>Radio</strong>
          <p>FM radio</p>
        </div>
      </div>
    </div>
    <!-- 10 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FEATURE</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Sensors</strong>
            <p>	Fingerprint (under display, optical), accelerometer, gyro,</p>
        </div>
        <div class="specs_info">
          <strong></strong>
            <p> proximity, compass</p>
        </div>
      </div>
    </div>
    <!-- 11 -->
    <div class="specs_table">
      <div class="specs">
        <strong>Multimedia</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Loudspeaker</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>3.5mm jack</strong>
          <p>Yes</p>
        </div>
      </div>
    </div>
  </div>
{% endblock specs%}
