{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="Now a days there is huge rush for flagship mobiles in market, So to make your decision handy we collected top 10 mobiles list for everyone "> {% endblock desc%}
{% block key%}<meta name="keywords" content="best top 10 mobile phones, best top 10 mobile phones in india, best top 10 mobile phones in world, world best top 10 mobile phone company ,best top 10 mobile phone in the world, the best top 10 mobile phones, top 10 best mobile phones of all time"> {% endblock key%}
  {% load static %}
    {% block title%}Best top ten Mobiles Gathered for you - hipein.com{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h1 class="content_tittle">Best top ten Mobiles Gathered for you </h1>
          <h5 class="content">Now a days there is huge rush for flagship mobiles in market, So to make your decision handy we collected top 10 mobiles list for everyone</h5>
          <p></p>
          <p>By <span  style="color:blue">Aman Acharya</span>- Updated on <b style="color:gray">6 July, 2020</b></p>
        </div>
        <div class="info">
          <h4 class="content">Flagship Mobile</h4>
          <p class="content">A flagship phone is the latest and greatest from a brand. It's the last phone they released and it's often the phone that costs the most. Many brands and manufacturers release new and improved smartphone models every year, replacing last year's flagship phone..</p>
          <h5 class="content">Key features for flagship mobiles:</h5>
          <ul class="content" style="border-bottom: 1px solid #eee;">
            <li>powerfull processors</li>
            <li>narrow Aspect Ratio</li>
            <li>Finger Print Sensor</li>
            <li>Quad Camera Setup Or Above </li>
            <li>Sufficient Ram</li>
            <p></p>
          </ul>
        </div>


        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">1. Apple Iphone 11 Pro Max</h2>
          <div>
            <img class="image"  src="{% static 'image/mobile/apple/apple-11-pro-max-2.jpg'%}" alt="">
          </div>
            <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by:  Daniel Romero</p>
          <h4 class="content">About Apple Iphone 11 Pro Max</h4>
          <p class="content">The biggest iPhone in Apple's lineup, the iPhone 11 Pro Max looks like an incremental upgrade over the iPhone XS Max but it brings some significant changes under the hood. There's a triple camera setup at the back now, letting you choose between the Wide, Ultra Wide, and Telephoto lenses.</p>

          <h4 class="content">Iphone 11 Pro Max: Key specifications </h4>
          <ul class="content">
            <li>Diaplay: 6.5 inches, 102.9 cm2 (~83.7% screen-to-body ratio)</li>
            <li>Scratch-resistant glass, oleophobic coating</li>
            <li>Processor:Apple A13 Bionic (7 nm+)</li>
            <li>primary camera: 12-megapixel (f/1.8) + 12-megapixel f/2.0 (telephoto) + 12-megapixel f/2.4 (Ultra Wide)</li>
            <li>selfie camera: 12-megapixel (f/2.2)</li>
            <li>iOS 13, upgradable to iOS 13.5</li>
            <li>64GB 4GB RAM, 256GB 4GB RAM, 512GB 4GB RAM</li>
            <li>Battery: Non-removable Li-Ion 3969 mAh battery (15.04 Wh)</li>
            <li>Fast charging 18W, 50% in 30 min (advertised).</li>
            <div class="aff-link">
              <a href="https://www.amazon.in/Apple-iPhone-Pro-Max-256GB/dp/B07XVMDRZW/ref=sr_1_1_sspa?dchild=1&keywords=Iphone+11+Pro+Max&qid=1594877931&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFHWFZBNFJYNjE4M0kmZW5jcnlwdGVkSWQ9QTAzODg5MjgxQktROVdQVzZOTThKJmVuY3J5cHRlZEFkSWQ9QTA5MTUwNzExNktFQjRNUERQSE9VJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from amazon</button></a>
              <a href="https://www.amazon.in/s?k=Iphone+11+Pro+Max&ref=nb_sb_noss" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
            </div>
          </ul>
        </div>
        <!-- 2 -->
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">2. Samsung Galaxy S20+</h2>
          <div>
            <img class="image"src="{% static 'image/mobile/samsung/samsung-galaxy-s20+-2.jpg'%}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com | uploaded-by  Phandroid</p>
          <h4 class="content">About Samsung Galaxy S20+</h4>
          <p class="content">The Samsung Galaxy S20+ is the middle child in the trio and is the successor to the Galaxy S10+. It features a 6.7-inch QHD+ display, with excellent brightness and colours reproduction. The curved sides and glass back gives it a very premiium look and feel. It also supports wireless charging and is IP68 certified for dust and water resistance. performance is great as apps and games run smoothly. The display also has a 90Hz refresh rate, which makes scrolling through lists feel fluid. Audio quality is also very good from the stereo speakers in the phone. It's a little big to manage comfortably with one hand, but it does feel very premium. The S20+ runs on OneUI 2, which is based on Android 10.  </p>
          <h4 class="content">Samsung Galaxy S20+: Key specifications </h4>
          <ul class="content">
            <li>Diaplay:6.7 inches, 108.0 cm2 (~90.5% screen-to-body ratio)</li>
            <li>Corning:Corning Gorilla Glass 6</li>
            <li>Processor:Exynos 990 (7 nm+) - Global</li>
            <li>primary camera: 12-megapixel (f/1.8) + 64-megapixel f/2.0(telephoto) + 12-megapixel f/2.2 (ultra wide) + 0.3-megapixel TOF 3D f/1.0 (depth)</li>
            <li>selfie camera: 10-megapixel (f/2.2)</li>
            <li>Android 10, One UI 2</li>
            <li>128GB 8GB RAM</li>
            <li>Battery: Non-removable Li-Po 4500 mAh battery</li>
            <li>Fast charging 25W</li>
            <div class="aff-link">
              <a href="https://www.amazon.in/Samsung-Galaxy-Storage-Additional-Exchange/dp/B084451YSS/ref=sr_1_1_sspa?dchild=1&keywords=Samsung+Galaxy+S20%2B&qid=1594878038&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzU0tQUURSN0VOS09UJmVuY3J5cHRlZElkPUEwMDE3OTU5MUpNWFozOVpTMlNFUyZlbmNyeXB0ZWRBZElkPUEwMDc4MDI4MjJEVjZUMlZRNkhLRSZ3aWRnZXROYW1lPXNwX2F0ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from amazon</button></a>
              <a href="https://www.amazon.in/Samsung-Galaxy-Storage-Additional-Exchange/dp/B084451YSS/ref=sr_1_1_sspa?dchild=1&keywords=Samsung+Galaxy+S20%2B&qid=1594878038&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzU0tQUURSN0VOS09UJmVuY3J5cHRlZElkPUEwMDE3OTU5MUpNWFozOVpTMlNFUyZlbmNyeXB0ZWRBZElkPUEwMDc4MDI4MjJEVjZUMlZRNkhLRSZ3aWRnZXROYW1lPXNwX2F0ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
            </div>
          </ul>
        </div>
        <!-- 3 -->
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">3. Apple Iphone 11</h2>
          <div>
            <img class="image"src="{% static 'image/mobile/apple/apple-11-2.jpg'%}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by: ZONEofTECH</p>
          <h4 class="content">About Iphone 11</h4>
          <p class="content"><span>Xiaomi</span> A new dual‑camera system captures more of what you see and love. The fastest chip ever in a smartphone and all‑day battery life let you do more and charge less. And the highest-quality video in a smartphone, so your memories look better than ever.</p>
          <h4 class="content">Iphone 11: Key specifications </h4>
          <ul class="content">
            <li>Diaplay:	6.1 inches, 90.3 cm2 (~79.0% screen-to-body ratio)</li>
            <li>Corning:Scratch-resistant glass, oleophobic coating</li>
            <li>Processor: Apple A13 Bionic (7 nm+)</li>
            <li>primary camera: 12-megapixel (f/1.79) + 8-megapixel + 5-megapixel + 2-megapixel </li>
            <li>selfie camera: 	12-megapixel</li>
            <li>iOS 13, upgradable to iOS 13.5</li>
            <li>64GB 4GB RAM, 128GB 4GB RAM, 256GB 4GB RAM</li>
            <li>Battery: Non-removable Li-Ion 3110 mAh battery (11.91 Wh)</li>
            <li>Fast charging 18W, 50% in 30 min</li>
            <div class="aff-link">
              <a href="https://www.amazon.in/Apple-iPhone-11-128GB-Black/dp/B07XVLW7YK/ref=sr_1_3?dchild=1&keywords=Apple+Iphone+11&qid=1594878116&sr=8-3" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from amazon</button></a>
              <a href="https://www.amazon.in/Apple-iPhone-11-128GB-Black/dp/B07XVLW7YK/ref=sr_1_3?dchild=1&keywords=Apple+Iphone+11&qid=1594878116&sr=8-3" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
            </div>
          </ul>
        </div>
        <!-- 4 -->
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">4. Realme X50 Pro</h2>
          <div>
            <img class="image"  src="{% static 'image/mobile/realme/realme-x50-pro-2.jpg' %}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by:  Android Authority</p>
          <h4 class="content">About Realme X50 Pro</h4>
          <p class="content">The <span>Realme X50 Pro</span> is 5G ready and features the top-end Qualcomm Snapdragon 865 processor. In terms of performance, this device is excellent for gaming as well as general productivity. Realme has also used high-speed RAM and storage, plus a 90Hz display, for a snappy overall experience. </p>
          <h4 class="content">Realme X50 Pro: Key specifications </h4>
          <ul class="content">
            <li>Diaplay:6.44 inches, 100.1 cm2 (~84.9% screen-to-body ratio)</li>
            <li>Corning Gorilla Glass 5</li>
            <li>Processor:Qualcomm SM8250 Snapdragon 865 (7 nm+)</li>
            <li>primary camera: 64 MP, f/1.8, 26mm (wide), 1/1.72", 0.8µm, PDAF + 12 MP, f/2.5, 54mm (telephoto), 2x optical zoom, PDAF + 8 MP, f/2.3, 13mm (ultrawide), PDAF + 2 MP B/W, f/2.4, (depth)</li>
            <li>selfie camera: 		32 MP, f/2.5, 26mm (wide), 1/2.8", 0.8µm + 8 MP, f/2.2, 17mm (ultrawide), 1/4.0", 1.12µm</li>
            <li>Android 10, realme UI 1.0</li>
            <li>128GB 6GB RAM, 128GB 8GB RAM, 256GB 8GB RAM, 256GB 12GB RAM</li>
            <li>Battery: Non-removable Li-Po 4200 mAh battery</li>
            <li>Fast charging 65W, 100% in 35 min </li>
            <div class="aff-link">
              <a href="https://www.flipkart.com/realme-x50-pro-moss-green-256-gb/p/itm13d1770db35a3?pid=MOBFP6WYFBVHDHY8&lid=LSTMOBFP6WYFBVHDHY8GUPJMY&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=7fd7f31d-28e2-45e4-a9c6-bddaf40d42e0.MOBFP6WYFBVHDHY8.SEARCH&ppt=sp&ppn=sp&ssid=rspngialrk0000001594878128792&qH=02a00971e865e045" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from flipkart</button></a>
              <a href="https://www.flipkart.com/search?q=Realme%20X50%20Pro&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
            </div>
          </ul>
        </div>
        <!-- 5 -->
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">5. IQOO 3</h2>
          <div>
            <img class="image"src="{% static 'image/mobile/top10mob/iqoo-3.jpg'%}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-Uploaded by: Geekyranjit</p>
          <h4 class="content">About Vivo IQOO 3</h4>
          <p class="content">The iQoo 3 is the first smartphone from the brand in the Indian market. It is also one of the few smartphones to sport the Qualcomm Snapdragon 865 SoC. iQoo has launched three variants of the iQoo 3 out of which only the top version supports 5G networks. The base variant has 8GB RAM and 128GB of storage, the mid-variant has 8GB RAM and 256GB storage while the top variant has 12GB RAM and 256GB storage.</p>
          <ul class="content">
            <li>Diaplay: 6.44 inches, 100.1 cm2 (~84.3% screen-to-body ratio)</li>
            <li>Super AMOLED capacitive touchscreen, 16M colors</li>
            <li>Processor: Qualcomm SM8250 Snapdragon 865 (7 nm+) </li>
            <li>primary camera: 48 MP, f/1.8, (wide), 1/2.0", 0.8µm, PDAF + 13 MP, f/2.5, 50mm (telephoto), PDAF, 2x optical zoom + 13 MP, f/2.2, 120˚, 16mm (ultrawide), AF + 2 MP, f/2.4, (depth) </li>
            <li>selfie camera: 	16 MP, f/2.5, (wide)</li>
            <li>Android 10, iQOO UI 1.0</li>
            <li>128GB 6GB RAM, 128GB 8GB RAM, 128GB 12GB RAM, 256GB 8GB RAM, 256GB 12GB RAM</li>
            <li>Battery:Non-removable Li-Po 4400 mAh battery</li>
            <li>Fast charging 55W, 50% in 15 min</li>
            <div class="aff-link">
              <a href="https://www.flipkart.com/iqoo-3-tornado-black-128-gb/p/itm7d075bc17be11?pid=MOBFP4P2CESTHKKR&lid=LSTMOBFP4P2CESTHKKRXDMNL7&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=fa796d16-cde0-4643-9d74-e99dbc3cf4de.MOBFP4P2CESTHKKR.SEARCH&ppt=sp&ppn=sp&ssid=veomc0y2hs0000001594878188036&qH=7f1eb59e160c7bc8" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from flipkart</button></a>
              <a href="https://www.flipkart.com/search?q=%20IQOO%203&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
            </div>
          </ul>
        </div>
        <!-- 6 -->
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">6. Oneplus 7T Pro</h2>
          <div>
            <img <img class="image"  src="{% static 'image/mobile/oneplus/oneplus-7t-pro-2.jpg' %}" alt="">
          </div>
        <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by:  Beebom</p>
          <h4 class="content">About Oneplus 7T Pro</h4>
          <p class="content">The 7T Pro is the replacement for the OnePlus 7 Pro. The frosted, matte texture of the OnePlus 7T Pro's glass rear feels great in the hand and doesn't easily attract fingerprints, but is quite slippery. Other design elements have stayed the same. You get 3D Corning Gorilla Glass on the back and front; a pop-up selfie camera; an in-display fingerprint sensor; stereo speakers; and all the same ports and buttons in the same place.</p>
          <h4 class="content">Oneplus 7T Pro: Key specifications </h4>
          <ul class="content">
            <li>Diaplay:6.67 inches, 108.8 cm2 (~88.1% screen-to-body ratio)</li>
            <li>Qualcomm SM8150 Snapdragon 855+ (7 nm)</li>
            <li>primary camera: 48 MP (main) + 8 MP (ultra-wide) + 2 MP (Telephoto) + 16 MP (Ultra Wide) Triple Camera </li>
            <li>selfie camera: 	16-megapixel</li>
            <li>Android 10, OxygenOS 10.0.4</li>
            <li>256GB 8GB RAM, 256GB 12GB RAM Options</li>
            <li>Battery: Non-removable Li-Po 4085 mAh battery</li>
            <li>Fast charging 30W</li>
            <div class="aff-link">
              <a href="https://www.amazon.in/Test-Exclusive-749/dp/B07DJ8K2KT/ref=sr_1_1?dchild=1&keywords=Oneplus+7T+Pro&qid=1594878348&sr=8-1" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from amazon</button></a>
              <a href="https://www.amazon.in/s?k=Oneplus+7T+Pro&ref=nb_sb_noss" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
            </div>
          </ul>
        </div>
        <!-- 7 -->
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">7. Huawei P30 Pro</h2>
          <div>
            <img class="image"src="{% static 'image/mobile/top10mob/huawei-p30-pro.jpg'%}"  alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-Uploaded by: The LEAKSTER</p>
          <h4 class="content">About Huawei P30 Pro</h4>
          <p class="content">Huawei's P30 Pro is the first phone to feature a 5X optical zoom capability, thanks to a cleverly engineered periscopic lens system that uses a prism to direct light through the required optics without making this phone unreasonably thick. In terms of camera features and capabilities, the P30 Pro is a compelling alternative to heavyweights from Apple, Samsung and Google. That isn't this phone's only appeal either - it has a total of four rear cameras including a Time-of-Flight 3D depth sensor and an ultra-wide-angle camera. It also boasts of incredible low-light capabilities through the primary camera. </p>
          <h4 class="content">Huawei P30 pro: Key specifications </h4>
          <ul class="content">
            <li>Diaplay: 6.47 inches, 102.8 cm2 (~88.6% screen-to-body ratio)</li>
            <li>Kirin 980 (7 nm)</li>
            <li>primary camera: 40 MP (main) + 8 MP (Telephoto) + 20 MP (Ultra wide) + TOF 3D, (depth) quad cameras </li>
            <li>selfie camera: 	32-megapixel</li>
            <li>Android 9.0 (Pie), upgradable to Android 10, EMUI 10</li>
            <li>128GB 6GB RAM, 128GB 8GB RAM, 256GB 8GB RAM, 512GB 8GB RAM options</li>
            <li>Battery: Non-removable Li-Po 4200 mAh battery</li>
            <li>Fast charging 40W, 70% in 30 min</li>
            <div class="aff-link">
              <a href="https://www.amazon.in/Huawei-Breathing-Crystal-256GB-Storage/dp/B07PPVCBZS/ref=sr_1_1?dchild=1&keywords=Huawei+P30+Pro&qid=1594878448&sr=8-1" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from amazon</button></a>
              <a href="https://www.amazon.in/Huawei-Breathing-Crystal-256GB-Storage/dp/B07PPVCBZS/ref=sr_1_1?dchild=1&keywords=Huawei+P30+Pro&qid=1594878448&sr=8-1" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
            </div>
          </ul>
        </div>
        <!-- 8 -->
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">8. Apple Iphone XR</h2>
          <div>
            <img class="image"src="{% static 'image/mobile/apple/apple-xr-2.jpg'%}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by: SlashGear</p>
          <h4 class="content">About Iphone XR</h4>
          <p class="content">Apple iPhone XR smartphone was launched in September 2018. The phone comes with a 6.10-inch touchscreen display with a resolution of 828x1792 pixels at a pixel density of 326 pixels per inch (ppi) and an aspect ratio of 19.5:9. Apple iPhone XR is powered by a hexa-core Apple A12 Bionic processor.</p>
          <h4 class="content">Apple Iphone XR: Key specifications </h4>
          <ul class="content">
            <li>Diaplay: 6.1 inches, 90.3 cm2 (~79.0% screen-to-body ratio)</li>
            <li>Apple A12 Bionic (7 nm)</li>
            <li>primary camera: 12 MP, f/1.8 Single camera </li>
            <li>selfie camera: 	7-megapixel</li>
            <li>iOS 12, upgradable to iOS 13.5</li>
            <li>64GB 3GB RAM, 128GB 3GB RAM, 256GB 3GB RAM options</li>
            <li>Battery: Non-removable Li-Ion 2942 mAh battery (11.16 Wh)</li>
            <li>Fast charging 15W, 50% in 30 min</li>
            <div class="aff-link">
              <a href="https://www.flipkart.com/apple-iphone-xr-white-256-gb/p/itmf9z7zsx9keyup?pid=MOBF9Z7ZEHAGRKZC&lid=LSTMOBF9Z7ZEHAGRKZCAQAGGA&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=1662fd75-4660-46e8-8218-e71089792204.MOBF9Z7ZEHAGRKZC.SEARCH&ppt=sp&ppn=sp&ssid=knpc87w7q80000001594878482055&qH=6c10c248289756ad" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from flipkart</button></a>
              <a href="https://www.flipkart.com/search?q=Apple%20Iphone%20XR&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
            </div>
          </ul>
        </div>
        <!-- 9 -->
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">9. Samsung Galaxy S10+</h2>
          <div>
            <img class="image"src="{% static 'image/mobile/samsung/samsung-galaxy-s10+-2.jpg'%}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com: uploaded by:  Android Police</p>
          <!-- https://www.youtube.com/watch?v=SibvCooWuyw -->
          <h4 class="content">About Samsung Galaxy S10+</h4>
          <p class="content">The Galaxy S10+ is Samsung’s latest flagship for 2019. It has a bright 6.4-inch AMOLED display and has a hole-punch design. While the hole-punch does sacrifice a small portion of the display, it isn't distracting. The display is crisp and gets really bright when outdoors. Samsung has picked the Exynos 9820 to power the Galaxy S10+ and has paired it with 8GB of RAM and 128GB of storage. You do have more RAM and storage options available with the top end offering 12GB RAM and 1TB of storage. Samsung ships the phone with OneUI running on top of Android 9 Pie. The software is also optimised to function with the hole-punch display and you get the option to hide the camera hole using a black bar at the top. performance of the Galaxy S10+ is impressive and it managed to score higher than most other Android smartphones in our benchmark tests.</p>
          <h4 class="content">Samsung Galaxy S10+: Key specifications </h4>
          <ul class="content">
            <li>Diaplay: 6.4 inches, 103.8 cm2 (~88.9% screen-to-body ratio)</li>
            <li>Exynos 9820 (8 nm) - EMEA/LATAM</li>
            <li>primary camera: 12 MP, f/1.5, (wide) + 12 MP (Telephoto) f/2.4 + 16 MP f/2.2 (Ultra wide) Triple cameras </li>
            <li>selfie camera: 	10-megapixel f/1.9 + 8-megapixel f/2.2</li>
            <li>Android 9.0 (Pie), upgradable to Android 10, One UI 2</li>
            <li>128GB 8GB RAM, 512GB 8GB RAM, 1TB 12GB RAM options</li>
            <li>Non-removable Li-Ion 4100 mAh battery</li>
            <li>Fast charging 15W</li>
            <div class="aff-link">
              <a href="https://www.amazon.in/Samsung-Galaxy-Storage-Additional-Exchange/dp/B07KXC7QS4/ref=sr_1_1?dchild=1&keywords=Samsung+Galaxy+S10%2B&qid=1594878654&sr=8-1" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from amazon</button></a>
              <a href="https://www.amazon.in/s?k=Samsung+Galaxy+S10%2B&ref=nb_sb_noss" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
            </div>
          </ul>
        </div>
        <!-- 10 -->
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">10. Oneplus 7T</h2>
          <div>
            <img class="image"  src="{% static 'image/mobile/oneplus/oneplus-7t-2.jpg' %}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by: Marques Brownlee</p>
          <h4 class="content">About Oneplus 7T</h4>
          <p class="content">As expected, the OnePlus 7T uses Qualcomm's refreshed Snapdragon 855+ processor, which has a slightly faster 2.96GHz high-performance Kryo 485 CPU core than the Snapdragon 855, while the other seven efficiency cores remain the same. Qualcomm also claims 15 percent better GPU performance thanks to a higher clocked Adreno 640 integrated GPU.</p>
          <h4 class="content">Oneplus 7T: Key specifications </h4>
          <ul class="content">
            <li>Diaplay: 6.55 inches, 103.6 cm2 (~86.5% screen-to-body ratio)</li>
            <li>Qualcomm SM8150 Snapdragon 855+ (7 nm)</li>
            <li>primary camera: 48 MP, f/1.6, 26mm (wide) + 12 MP f/2.2 (telephoto) + 16 MP f/2.2 (Ultra wide) Triple cameras </li>
            <li>selfie camera: 	16-megapixel f/2.0</li>
            <li>Android 10, OxygenOS 10.0.7</li>
            <li>128GB 8GB RAM, 256GB 8GB RAM options</li>
            <li>Battery:Non-removable Li-Po 3800 mAh battery</li>
            <div class="aff-link">
              <a href="https://www.amazon.in/Test-Exclusive-748/dp/B07DJLVJ5M/ref=sr_1_1?dchild=1&keywords=Oneplus+7T&qid=1594878704&sr=8-1" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from amazon</button></a>
              <a href="https://www.amazon.in/Test-Exclusive-748/dp/B07DJLVJ5M/ref=sr_1_1?dchild=1&keywords=Oneplus+7T&qid=1594878704&sr=8-1" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
            </div>
          </ul>
        </div>
        <!-- 11 -->
      </div>
    </div>
{% endblock content%}
