{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="Samsung released his new smartphone Samsung Galaxy Z Flip at price of Rs.1,08,999, buy at best price from amazon. "> {% endblock desc%}
{% block key%}<meta name="keywords" content="samsung galaxy Z Flip Max mobile, samsung Z Flip Max mobile , samsung galaxy Z Flip Max mobile at price, samsung galaxy Z Flip Max mobile phone youtube review, samsung galaxy Z Flip Max price, samsung galaxy Z Flip Max price at amazon"> {% endblock key%}
    {% load static %}
   {% block css%} <link rel="stylesheet" href="{% static 'pageCss/Mobile/mobileSpecCss.css' %}">{% endblock css%}
    {% block title%}Samsung Galaxy Z Flip Max (8/256GB) Full specification: hipein{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <!-- review and spec -->
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h4 class="content" style="font-weight:400;">Samsung released his new smartphone Samsung Galaxy Z Flip at price of Rs.1,08,999</h4>
          <h1 class="content_tittle" style="font-weight:400;"><span>REVIEW</span> Samsung Galaxy Z flip : 8/256GB for Rs.1,08,999 Watch Full review-<a href="https://www.youtube.com/watch?v=sXwqd6JLucc">http://www.youtube.com </a></h1>
        </div>
        <div >
          <img class="image"  src="{% static 'image/mobile/samsung/samsung-galaxy-z-flip-2.jpg' %}" alt="">
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by: XEETECHCARE</p>
        </div>
        <div class="info">
          <p class="content">Samsung Galaxy Note 10 smartphone was launched on 2020, February 11. Samsung Galaxy Z Flip is powered by a Octa-core (1x2.95 GHz Kryo 485 & 3x2.41 GHz Kryo 485 & 4x1.78 GHz Kryo 485), Qualcomm SM8150 Snapdragon 855+ (7 nm) processor . It comes with 8GB of RAM.The Samsung Galaxy Z Flip on the rear packs a 12-megapixel primary camera and 12-megapixel ultrawide-angle-camera . The rear camera setup has autofocus. It sports a 10-megapixel camera on the front for selfies, with an f/2.4 aperture . The front camera also features autofocus.There's a 3300mAh battery, with support for fast charging.</p>
          <p class="content">The Z Flip runs on One UI 2.0, which is based on Android 10.The Samsung Galaxy Z Flip measures Unfolded: 167.3 x 73.6 x 7.2 mm(height x width x thickness), Folded: 87.4 x 73.6 x 17.3 mm (height x width x thickness) and weighs 183 g (6.46 oz). It was launched in Mirror Black, Mirror Purple, Mirror Gold, Thom Browne Edition. Connectivity options on the Samsung Galaxy Z Flip include Wi-Fi 802.11 a/b/g/n/ac, dual-band, Wi-Fi Direct, hotspot, GPS, Bluetooth v5.00, NFC, USB Type-C, 3G, and 4G.</p>
          <div class="aff-link1">
            <form action="https://www.amazon.in/Samsung-Galaxy-Storage-Additional-Exchange/dp/B08444S68F/ref=sr_1_1?dchild=1&keywords=Samsung+Galaxy+z+flip&qid=1594893751&sr=8-1" class="affilated-link_amazon">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from amazon</button>
            </form>
            <form action="https://www.amazon.in/Samsung-Galaxy-Storage-Additional-Exchange/dp/B08444S68F/ref=sr_1_1?dchild=1&keywords=Samsung+Galaxy+z+flip&qid=1594893751&sr=8-1" class="affilated-link_amazon">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>
          <p></p>
        </div>
    {% endblock content%}
    {% block specs%}
    <!-- specification -->
    <h3 class="spec_title">Full Specs</h3>
    <!-- 1 -->
    <div class="specs_table">
      <div class="specs">
        <strong>LAUNCH</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Announced</strong>
          <p>2020, February 11</p>
        </div>
        <div class="specs_info1">
          <strong>Status</strong>
          <p>Available. Released 2020, February 14</p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="specs_table">
      <div class="specs">
        <strong>NETWORK</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Technology</strong>
          <p>GSM / HSPA / LTE</p>
        </div>
        <div class="specs_info1">
          <strong>Speed</strong>
          <p>HSPA 42.2/5.76 Mbps, LTE-A (5CA) Cat16 1000/150 Mbps</p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="specs_table">
      <div class="specs">
        <strong>DISPLAY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Type</strong>
          <p>Foldable Dynamic AMOLED capacitive touchscreen, 16M colors</p>
        </div>
        <div class="specs_info">
          <strong>Size</strong>
          <p>6.7 inches, 101.6 cm2 (~82.5% screen-to-body ratio)</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>1080 x 2636 pixels (~425 ppi density)</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>HDR10+</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>Cover display: 1.1", Super AMOLED, 112 x 300 pixels</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BODY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Dimension</strong>
          <p>Unfolded: 167.3 x 73.6 x 7.2 mm, Folded: 87.4 x 73.6 x 17.3 mm</p>
        </div>
        <div class="specs_info">
          <strong>Weight</strong>
          <p>183 g (6.46 oz)</p>
        </div>
        <div class="specs_info">
          <strong>Build</strong>
          <p>Plastic front, glass back (Gorilla Glass 6), aluminum frame</p>
        </div>
        <div class="specs_info1">
          <strong>SIM</strong>
          <p>Nano-SIM, eSIM</p>
        </div>
          <div class="specs_info1">
          <strong></strong>
          <p>Samsung Pay (Visa, MasterCard certified)</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>PLARFROM</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>OS</strong>
          <p>Android 10, One UI 2</p>
        </div>
        <div class="specs_info">
          <strong>Chipset</strong>
          <p>Qualcomm SM8150 Snapdragon 855+ (7 nm)</p>
        </div>
        <div class="specs_info">
          <strong>CPU</strong>
          <p>Octa-core (1x2.95 GHz Kryo 485 & 3x2.41 GHz Kryo 485 &</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p> 4x1.78 GHz Kryo 485)</p>
        </div>
        <div class="specs_info1">
          <strong>GPU</strong>
          <p>Adreno 640 (700 MHz)</p>
        </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MEMORY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Card Slot</strong>
          <p>No</p>
        </div>
        <div class="specs_info1">
          <strong>Internal</strong>
          <p>256GB 8GB RAM</p>
        </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="specs_table">
      <div class="specs">
        <strong>CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Dual</strong>
          <p>12 MP, f/1.8, 27mm (wide), 1/2.55", 1.4µm, Dual Pixel PDAF, OIS</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>12 MP, f/2.2, 12mm (ultrawide), 1.12µm</p>
        </div>
        <div class="specs_info">
          <strong>Features</strong>
          <p>LED flash, HDR, panorama</p>
        </div>
        <div class="specs_info1">
          <strong>Video</strong>
          <p>4K@30/60fps, 1080p@60/240fps, 720p@960fps, HDR10+</p>
        </div>
      </div>
    </div>
    <!-- 7 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FRONT CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Single</strong>
          <p>10 MP, f/2.4, 26mm (wide), 1.22µm</p>
        </div>
        <div class="specs_info1">
          <strong>Features</strong>
          <p>HDR</p>
        </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BATTERY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong></strong>
          <p>Non-removable Li-Po 3300 mAh battery</p>
        </div>
        <div class="specs_info">
          <strong>Charging</strong>
          <p>Fast charging 15W</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>Wireless charging</p>
        </div>
      </div>
    </div>
    <!-- 9 -->
    <div class="specs_table">
      <div class="specs">
        <strong>COMMS.</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>WLAN</strong>
          <p>Wi-Fi 802.11 a/b/g/n/ac, dual-band, Wi-Fi Direct, hotspot</p>
        </div>
        <div class="specs_info">
          <strong>Bluetooth</strong>
          <p>5.0, A2DP, LE</p>
        </div>
        <div class="specs_info">
          <strong>GPS</strong>
          <p>Yes, with A-GPS, GLONASS, GALILEO, BDS</p>
        </div>
        <div class="specs_info">
          <strong>Radio</strong>
          <p>Unspecified</p>
        </div>
        <div class="specs_info">
          <strong>NFC</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info1">
          <strong>USB</strong>
          <p>3.1, Type-C 1.0 reversible connector, USB On-The-Go</p>
        </div>
      </div>
    </div>
    <!-- 10 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FEATURE</strong>
      </div>
      <div class="specs_type">
          <div class="specs_info">
            <strong>Sensors</strong>
            <p>Fingerprint (side-mounted), accelerometer, gyro, proximity,</p>
          </div>
          <div class="specs_info">
            <strong></strong>
            <p>compass, barometer</p>
          </div>
      </div>
    </div>
    <!-- 11 -->
    <div class="specs_table">
      <div class="specs">
        <strong>SOUND</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Loudspeaker</strong>
          <p>Yes, with stereo speakers</p>
        </div>
        <div class="specs_info">
          <strong>3.5mm jack</strong>
          <p>No</p>
        </div>
      </div>
    </div>
    <!-- 12 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MISC</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Color</strong>
          <p>Mirror Black, Mirror Purple, Mirror Gold, Thom Browne Edition</p>
        </div>
        <div class="specs_info1">
          <strong>Models</strong>
          <p>SM-F700, SM-F700F, SM-F700F/DS, SM-F700U/DS, SM-F700U1/DS,</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>SM-F700N, M-F7000</p>
        </div>
      </div>
    </div>
    </div>
    <!-- 13 -->
    <!-- footer -->
    {% endblock specs%}
