{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="oneplus smartphone: all New smartphone review and specification, buy at best price from amazon."> {% endblock desc%}
{% block key%}<meta name="keywords" content="oneplus 5 mobile, oneplus 5 mobile price, oneplus 5 mobile phone, oneplus 5 mobile price list, oneplus 5 mobile price in india, oneplus 5 price in amazon, oneplus 5 flipkart, oneplus 5 specification, oneplus 5 review, oneplus 5 will be available on amazon"> {% endblock key%}
    {% load static %}
    {% block title%}OnePlus 5 Full specification: hipein.com{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <!-- review and spec -->
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h4 class="content">OnePlus released his new smartphone OnePlus 5 at price of Rs.28,999</h4>
          <h2 class="content_tittle"><span>REVIEW</span> OnePlus 5 : 6/64GB for Rs.28,999 Watch Full review-<a href="https://www.youtube.com/watch?v=995M3VOGhYs">http://www.youtube.com </a></h2>
        </div>
        <div >
          <img class="image"  src="{% static 'image/mobile/oneplus/oneplus-5-2.jpg' %}" alt="">
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by: The Verge</p>
        </div>
        <div class="info">
          <h4 class="content">{{product_name}} summary</h4>
          <p class="content">OnePlus 5 smartphone comes with the 5.5-inch full HD (1080*1920 pixels) Optic AMOLED display. The OnePlus 5 is powered by the Qualcomm Snapdragon 835 octa core chipset clocked at 2.45GHz paired with 6GB RAM and comes with 64GB and 8GB RAM 128GB internal storage. It does not support expandable memory which might be diappointment for some users. The OnePlus 5 comes with the dual camera at rear 16MP wide angle camera and 20MP main camera, It has 16MP selfie camera which supports video recording at 1080px (gyro-EIS) and is powered by Non-removable 3300mah battery which support fast charge feature. It comes with fingerprint sensor which make easier to user to unlock the phone and it supports 4G LTE network.It runs on Android 7.1.1 (Nougat) which can be upgradable to Android 10.0, Oxygen OS 10.0.0.</p>
          <div class="aff-link1">
            <form action="https://www.amazon.in/OnePlus-Slate-Gray-64GB-memory/dp/B01NAKTR2H/ref=sr_1_1?dchild=1&keywords=oneplus+5&qid=1594895062&sr=8-1">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from amazon</button>
            </form>
            <form action="https://www.amazon.in/OnePlus-Slate-Gray-64GB-memory/dp/B01NAKTR2H/ref=sr_1_1?dchild=1&keywords=oneplus+5&qid=1594895062&sr=8-1">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>
          <p></p>
        </div>
    {% endblock content%}
    {% block specs%}
    <!-- specification -->
    <h3 class="spec_title">Full Specs</h3>
    <!-- 1 -->
    <div class="specs_table">
      <div class="specs">
        <strong>LAUNCH</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Announced</strong>
          <p>2017, June. Released 2017, June</p>
        </div>
        <div class="specs_info1">
          <strong>Status</strong>
          <p>Discontinued</p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="specs_table">
      <div class="specs">
        <strong>NETWORK</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Technology</strong>
          <p>GSM / CDMA / HSPA / LTE</p>
        </div>
        <div class="specs_info1">
          <strong>Speed</strong>
          <p>HSPA 42.2/5.76 Mbps, LTE-A (5CA) Cat18 1200/150 Mbps</p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="specs_table">
      <div class="specs">
        <strong>DISPLAY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Type</strong>
          <p>Optic AMOLED capacitive touchscreen, 16 million</p>
        </div>
        <div class="specs_info">
          <strong>Size</strong>
          <p>5.5 inches, 83.4 cm2 (~73.0% screen-to-body ratio)</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>1080 x 1920 pixels, 16:9 ratio (~401 ppi density)</p>
        </div>
        <div class="specs_info">
          <strong>Protection</strong>
          <p>Corning Gorilla Glass 5</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BODY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Dimension</strong>
          <p>154.2 x 74.1 x 7.3 mm (6.07 x 2.92 x 0.29 in)</p>
        </div>
        <div class="specs_info">
          <strong>Weight</strong>
            <p>153 g (5.40 oz)</p>
        </div>
        <div class="specs_info">
          <strong>Build</strong>
          <p>Glass front (Gorilla Glass 5), aluminum back, aluminum frame</p>
        </div>
        <div class="specs_info1">
          <strong>SIM</strong>
          <p>Dual SIM (Nano-SIM, dual stand-by)</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>PLATFROM</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>OS</strong>
          <p>Android 7.1.1 (Nougat), upgradable to Android 10, OxygenOS 10.0.0</p>
        </div>
        <div class="specs_info">
          <strong>Chipset</strong>
          <p>Qualcomm MSM8998 Snapdragon 835 (10 nm)</p>
        </div>
        <div class="specs_info">
          <strong>CPU</strong>
          <p>Octa-core (4x2.45 GHz Kryo and 4x1.9 GHz Kryo)</p>
        </div>
        <div class="specs_info1">
          <strong>GPU</strong>
          <p>Adreno 540</p>
        </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MEMORY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Card Slot</strong>
          <p>No</p>
        </div>
        <div class="specs_info1">
          <strong>Internal</strong>
          <p>64GB 6GB RAM, 128GB 8GB RAM</p>
        </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="specs_table">
      <div class="specs">
        <strong>CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Dual</strong>
          <p>16 MP, f/1.7, 24mm (wide), 1/2.8", 1.12µm, PDAF</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>20 MP, f/2.6, 36mm (standard), 1/2.8", 1.0µm, 1.6x optical zoom, AF</p>
        </div>
        <div class="specs_info">
          <strong>Features</strong>
          <p>Dual-LED flash, HDR, panorama</p>
        </div>
        <div class="specs_info1">
          <strong>Video</strong>
          <p>4K@30/60fps, 1080p@30/60/240fps, 720p@480fps, Auto HDR</p>
        </div>
      </div>
    </div>
    <!-- 7 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FRONT CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Single</strong>
          <p>16 MP, f/2.0, 25mm (wide), 1/3.06", 1.0µm</p>
        </div>
        <div class="specs_info1">
          <strong>Features</strong>
          <p>Auto-HDR</p>
        </div>
         <div class="specs_info1">
          <strong>Video</strong>
          <p>1080p (gyro-EIS)</p>
        </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BATTERY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong></strong>
          <p>Non-removable Li-Po 3700 mAh battery</p>
        </div>
        <div class="specs_info">
          <strong>Charging</strong>
          <p>Fast charging 30W</p>
        </div>
      </div>
    </div>
    <!-- 9 -->
    <div class="specs_table">
      <div class="specs">
        <strong>COMMS.</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>WLAN</strong>
          <p>Wi-Fi 802.11 a/b/g/n/ac/6, dual-band, Wi-Fi Direct, DLNA, hotspot</p>
        </div>
        <div class="specs_info">
          <strong>Bluetooth</strong>
          <p>5.0, A2DP, LE, aptX HD</p>
        </div>
        <div class="specs_info">
          <strong>GPS</strong>
          <p>Yes, with dual-brand A-GPS, GLONASS, BDS, GALILEO, SBAS</p>
        </div>
         <div class="specs_info">
          <strong>NFC</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>Radio</strong>
          <p>No</p>
        </div>
        <div class="specs_info1">
          <strong>USB</strong>
          <p>2.0, Type-C 1.0 reversible connector, USB On-The-Go</p>
        </div>
      </div>
    </div>
    <!-- 10 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FEATURE</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Sensors</strong>
          <p>Fingerprint (front-mounted), accelerometer, gyro, proximity, compass</p>
        </div>
      </div>
    </div>
    <!-- 11 -->
    <div class="specs_table">
      <div class="specs">
        <strong>SOUND</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Loudspeaker</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>3.5mm jack</strong>
          <p>Yes</p>
            <p>Dirac HD sound</p>
        </div>
      </div>
    </div>
    <!-- 12 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MISC</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Color</strong>
          <p>Midnight Black, Slate Gray</p>
        </div>
        <div class="specs_info">
          <strong>Models</strong>
          <p>A5000</p>
      </div>
    </div>
    </div>
  </div>

    <!-- 13 -->
    {% endblock specs%}
