{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="OnePlus 8T price in India start from Rs. 44,990 ( Expected Price ) and OnePlus 8T expected release date is 2020 November 20. - hipein "> {% endblock desc%}
{% block key%}<meta name="keywords" content="OnePlus 8T, OnePlus 8T specification, OnePlus 8T release date, OnePlus 8T price, OnePlus 8T price in india"> {% endblock key%}
{% block style %}
{% endblock style %}
    {% load static %}
    {% block title%}OnePlus 8T price in india, Rumours, specification and features - hipein{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h4 style="font-weight: 400;">Here Rumours comes out  OnePlus is about to launch its new smartphone, ONEPLUS 8T soon. </h4>
          <h1 class="content_tittle" style="font-weight: 400;"><span>REVIEW</span> OnePlus 8T (8/128 GB) price in india, Rumours, specification and features.</h1>
        </div>
        <div>
          <img class="image" src="{% static 'image/mobile/oneplus/oneplus-8t-1.jpg'%}" alt="">
        </div>
        <p class="content" style="border-bottom: 1px solid #eee;"></p>
        <div class="info">
          <h2 style="font-weight: 400;">About OnePlus 8T</h2>
          <p>Here a lot of leaks have come out about OnePlus 8T its specification amazes you. OnePlus 8T smartphone runs on the latest version of the Android operating system (Android 10). The phone is powered by an	Octa-core (3.09 GHz, Single core, Kryo 585 + 2.42 GHz, Tri core, Kryo 585 + 1.8 GHz, Quad core, Kryo 585) processor and it runs on Qualcomm Snapdragon 865 Plus. </p>
          <p>OnePlus 8T smartphone has an Fluid AMOLED display with 1080 x 2400 pixels screen resolution and 402 PPI pixel density. Talking about its camera, On the front camera, you get a 20-megapixel primary camera and on the rear camera, there is a 64 megapixel wide-angle, 16 megapixels ultra-wide and 8-megapixels micro. camera with features like Digital Zoom, Auto Flash, Face detection, Touch to focus. It has support for 65W fast charging and non-removable 4500 mAh battery. </p>
          <h3 style="font-weight: 400;">OnePlus 8T price in India.</h3>
          <p>OnePlus 8T price in India start from Rs. 44,990 ( Expected Price ) and OnePlus 8T expected release date is 2020 November 20. This smartphone comes with single variants like 6/64GB RAM. It is available at two color options like Black and Gold. </p>
          <h3 style="font-weight: 400;">OnePlus 8T Key features:</h3>
          <ul>
            <li>Diaplay: 6.67 inches</li>
            <li>Processor: Qualcomm Snapdragon 865 Plus</li>
            <li>primary camera: 64-megapixel + 16-megapixel + 8-megapixel</li>
            <li>selfie camera: 20-megapixel</li>
            <li>Battery: Non-removable Li-Ion 4500 mAh battery</li>
            <li>Fast charging.</li>
          </ul>
          <p></p>
        </div>
    {% endblock content%}
    {% block specs%}
    <h3 class="spec_title">OnePlus 8T specification</h3>
    <div class="specs_table">
      <div class="specs">
        <strong>Available at</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Realsed on</strong>
          <p>2020 November 20</p>
        </div>
        <div class="specs_info">
          <strong>Amazon</strong>
          <p>Coming soon</p>
        </div>
        <div class="specs_info1">
          <strong>Flipkart</strong>
          <p>Cooming soon</p>
        </div>
      </div>
    </div>
    <!-- 1 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BRAND</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Make</strong>
          <p>ONEPLUS</p>
        </div>
        <div class="specs_info">
          <strong>Models</strong>
          <p>8T</p>
        </div>
        <div class="specs_info1">
          <strong>Color</strong>
          <p>Black, Gold</p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="specs_table">
      <div class="specs">
        <strong>NETWORK TYPE</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>2G</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>3G</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>4G</strong>
          <p>Yes - (supports Indian bands)</p>
        </div>
        <div class="specs_info">
          <strong>5G</strong>
          <p>Yes - (supports Indian bands)</p>
        </div>
        <div class="specs_info1">
          <strong>SIM Type</strong>
          <p>Dual SIM (Nano-SIM)</p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="specs_table">
      <div class="specs">
        <strong>DISPLAY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Screen</strong>
          <p>Fluid AMOLED capacitive touchscreen, 16M colors</p>
        </div>
        <div class="specs_info">
          <strong>Size(inch)</strong>
          <p>6.67</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>1080 x 2400 pixels</p>
        </div>
        <div class="specs_info1">
          <strong>Protection</strong>
          <p>	Corning Gorilla Glass 5</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>PLATFORM</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>OS</strong>
          <p>Android 10</p>
        </div>
        <div class="specs_info">
          <strong>Chipset</strong>
          <p>Qualcomm Snapdragon 865 Plus</p>
        </div>
        <div class="specs_info">
          <strong>CPU</strong>
          <p>Octa-core</p>
        </div>
        <div class="specs_info1">
          <strong>Graphics</strong>
          <p>Adreno 650</p>
        </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MEMORY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Card Slot</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info1">
          <strong>Internal</strong>
          <p>8/128GB RAM</p>
        </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="specs_table">
      <div class="specs">
        <strong>CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Rear Type </strong>
          <p>Triple</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>64-MP + 16-MP + 8-MP</p>
        </div>
        <div class="specs_info">
          <strong>Front Type</strong>
          <p>Single</p>
        </div>
        <div class="specs_info">
          <strong>Front camera</strong>
          <p>20-megapixel</p>
        </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BATTERY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong></strong>
          <p>Li-Po 4500 mAh, non-removable</p>
        </div>
        <div class="specs_info">
          <strong>Charging</strong>
          <p>Yes, Fast charging 65W</p>
        </div>
      </div>
    </div>
    <!-- 9 -->
    <div class="specs_table">
      <div class="specs">
        <strong>COMMS.</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>WLAN</strong>
          <p>Wi-Fi 802.11 a/b/g/n/ac, dual-band, Wi-Fi Direct, hotspot</p>
        </div>
        <div class="specs_info">
          <strong>Bluetooth</strong>
          <p>v5.1</p>
        </div>
        <div class="specs_info">
          <strong>GPS</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info1">
          <strong>Radio</strong>
          <p>No</p>
        </div>
      </div>
    </div>
    <!-- 10 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FEATURE</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Sensors</strong>
            <p>Fingerprint (On-screen), Light sensor, Proximity sensor,</p>
        </div>
        <div class="specs_info">
          <strong></strong>
            <p>Accelerometer, Compass, Gyroscope</p>
        </div>
      </div>
    </div>
    <!-- 11 -->
    <div class="specs_table">
      <div class="specs">
        <strong>Multimedia</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Loudspeaker</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>3.5mm jack</strong>
          <p>Yes</p>
        </div>
      </div>
    </div>
    <div class="comment">
      <div style="background: white;" class="fb-comments" data-href="https://www.hipein.com/mobile/realme-7" data-numposts="5" data-width=""></div>
    </div>
  </div>

{% endblock specs%}
