{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="Xiaomi Poco f2 price in India may be Rs 26900 and its release date may be 30 august 2020 (unofficial). This smartphone comes with 2 variants like 6/128GB, 8/128GB with color options like Moonlight White, Sky Blue, Space Grey, and Starry Purple. - hipein "> {% endblock desc%}
{% block key%}<meta name="keywords" content="Xiaomi poco f2, poco f2, Xiaomi poco f2 feature, poco f2 specification, Xiaomi poco f2 release date, poco f2 price, Xiaomi poco f2 price in india"> {% endblock key%}
{% block style %}
<style>
  .iframe{
    width:100%;
    border:0;
  }
</style>
{% endblock style %}
    {% load static %}
    {% block title%}Xiaomi Poco F2 price in india, specification and features - hipein{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h4 class="content" style="font-weight: 400;">Here rumors come out from Xiaomi is preparing to release its new phone Poco F2 as soon as possible. Talking about its price, according to me, its price can be between 26,000 to 30,000 rs.</h4>
          <h1 class="content_tittle" style="font-weight: 400;"><span>REVIEW</span> POCO F2 : 8/128GB for 26,990-INR Watch Full review.</h1>
        </div>
        <iframe class="iframe" width="560" height="380" src="https://www.youtube.com/embed/OW7RrbioVeU" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="info">
          <h4 class="content">About POCO F2</h4>
          <p class="content">After Poco F1, now Xiaomi is bringing a new phone called <b>Poco F2</b> and it is going to be a very reference phone. <b>Xiaomi Poco f2</b> smartphone runs on the latest version of the Android operating system (Android 10). The phone is powered by an octa-core processor and it runs on Qualcomm Snapdragon 865 chipset. with this awesome processor, games run on the higher graphic setting which gives you a wonderful gaming experience. </p>
          <p class="content"> <b>poco f2</b> measures 163.3 mm x 75.4 mm x 8.9 mm and weighs 218 grams and it has a Super AMOLED display. The screen has a resolution of 1080 x 2400 pixels and 395 PPI pixel density. Talking about its camera, On the front camera, you get a 20-megapixel primary camera and on the rear camera, there is a 64 megapixel wide-angle, 13 megapixels ultra-wide, 8-megapixel depth and 2 megapixels micro. camera with features like 30 x Digital Zoom, Face detection, Auto Flash, Touch to focus. It has support for 33W fast charging and has a non-removable 4100 mAh battery. </p>
          <p class="content"><b>Xiaomi Poco f2 price in India</b> may be Rs 26900 and its <b>release date</b> may be 30 august 2020 (unofficial). This smartphone comes with 2 variants like 6/128GB, 8/128GB with color options like Moonlight White, Sky Blue, Space Grey, and Starry Purple. </p>
          <h4 style="font-weight: 400;">Xiaomi Poco f2 Key features:</h4>
          <ul class="content">
            <li>Diaplay: 6.67 inches</li>
            <li>Processor: Qualcomm Snapdragon 865</li>
            <li>primary camera: 64-megapixel + 13-megapixel + 8-megapixel + 2-megapixel</li>
            <li>selfie camera: 20-megapixel</li>
            <li>Battery: Non-removable Li-Ion 4100 mAh battery (15.04 Wh)</li>
            <li>Fast charging 33W.</li>
          </ul>
          <p></p>
        </div>
    {% endblock content%}
    {% block specs%}
    <h3 class="spec_title">POCO F2 specification</h3>
    <div class="specs_table">
      <div class="specs">
        <strong>Available at</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Realsed on</strong>
          <p>30 August 2020 (Unofficial)</p>
        </div>
        <div class="specs_info">
          <strong>Amazon</strong>
          <p>Coming soon</p>
        </div>
        <div class="specs_info1">
          <strong>Flipkart</strong>
          <p>Coming soon</p>
        </div>
      </div>
    </div>
    <!-- 1 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BRAND</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Make</strong>
          <p>Xiaomi</p>
        </div>
        <div class="specs_info">
          <strong>Models</strong>
          <p>POCO F2</p>
        </div>
        <div class="specs_info1">
          <strong>Color</strong>
          <p>Moonlight White, Sky Blue, Space Grey, Starry Purple</p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="specs_table">
      <div class="specs">
        <strong>NETWORK TYPE</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>2G</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>3G</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>4G</strong>
          <p>Yes - (supports Indian bands)</p>
        </div>
        <div class="specs_info1">
          <strong>5G</strong>
          <p>No</p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="specs_table">
      <div class="specs">
        <strong>DISPLAY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Screen</strong>
          <p>Super AMOLED capacitive touchscreen, 16M colors</p>
        </div>
        <div class="specs_info">
          <strong>Size(inch)</strong>
          <p>6.67</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>	1080 x 2400 pixels</p>
        </div>
        <div class="specs_info1">
          <strong>Protection</strong>
          <p>	Corning Gorilla Glass v5</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BODY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Dimension(mm)</strong>
          <p>163.5 x 75.4 x 8.9 mm</p>
        </div>
        <div class="specs_info">
          <strong>Weight(g)</strong>
          <p>218 g</p>
        </div>
        <div class="specs_info">
          <strong>SIM Type</strong>
          <p>Nano-SIM (Hybrid)</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>PLATFORM</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>OS</strong>
          <p>Android 10</p>
        </div>
        <div class="specs_info">
          <strong>Chipset</strong>
          <p>Qualcomm Snapdragon 865</p>
        </div>
        <div class="specs_info">
          <strong>CPU</strong>
          <p>Octa-core</p>
        </div>
        <div class="specs_info1">
          <strong>GPU</strong>
          <p>Adreno 650</p>
        </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MEMORY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Card Slot</strong>
          <p>No</p>
        </div>
        <div class="specs_info1">
          <strong>Internal</strong>
          <p>6/128GB RAM</p>
        </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="specs_table">
      <div class="specs">
        <strong>CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Camera Type</strong>
          <p>Pop-Up</p>
        </div>
        <div class="specs_info">
          <strong>Image Resolution</strong>
          <p>9000 x 7000 Pixels</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>20 MP Primary Camera</p>
        </div>
        <div class="specs_info">
          <strong>Features</strong>
          <p>30 x Digital Zoom, Face detection, Auto Flash, Touch to focus</p>
        </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BATTERY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong></strong>
          <p>Non-removable Li-Po 4100 mAh battery</p>
        </div>
        <div class="specs_info">
          <strong>Charging</strong>
          <p>Yes Fast charging, 33W</p>
        </div>
      </div>
    </div>
    <!-- 9 -->
    <div class="specs_table">
      <div class="specs">
        <strong>COMMS.</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>WLAN</strong>
          <p>	Yes Wi-Fi 802.11, ax/b/g/n/n 5GHz, hotspot</p>
        </div>
        <div class="specs_info">
          <strong>Bluetooth</strong>
          <p>v5.1</p>
        </div>
        <div class="specs_info">
          <strong>GPS</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>Radio</strong>
          <p>FM radio</p>
        </div>
      </div>
    </div>
    <!-- 10 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FEATURE</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Sensors</strong>
            <p>Fingerprint (On-screen), 	Light sensor, Proximity sensor, Accelerometer, Compass,</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
            <p>Gyroscope</p>
        </div>
      </div>
    </div>
    <!-- 11 -->
    <div class="specs_table">
      <div class="specs">
        <strong>Multimedia</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Loudspeaker</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>3.5mm jack</strong>
          <p>Yes</p>
        </div>
      </div>
    </div>
  </div>
{% endblock specs%}
