{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="Xiaomi released his new smartphone Redmi Note 7 Pro at price of 10,999-INR, buy at best price from amazon. india's no1 selling smartphone. "> {% endblock desc%}
{% block key%}<meta name="keywords" content="Redmi Note 7 Pro mobile, Redmi Note 7 Pro price , Redmi Note 7 Pro price in india, Redmi Note 7 Pro review, Redmi Note 7 Pro specification"> {% endblock key%}
    {% load static %}
    {% block title%}Redmi Note 7 Pro (4/64GB) Full specification - hipein.com{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <!-- review and spec -->
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h4 class="content" style="font-weight: 400;">Xiaomi released his new smartphone Redmi Note 7 Pro at price of 10,999-INR</h4>
          <h1 class="content_tittle" style="font-weight: 400;"><span>REVIEW</span> Redmi Note 7 Pro : 4/64GB for 10,999INR Watch Full review-<a href="https://www.youtube.com/watch?v=IapEQIuXYHw">http://www.youtube.com </a></h1>
        </div>
        <div >
          <img class="image"  src="{% static 'image/mobile/mi/redmi-note-7-pro-2.jpg' %}" alt="">
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by: TechTag</p>
        </div>
        <div class="info">
          <h4 class="content">Redmi Note 7 Pro summary</h4>
          <p class="content">The <span>Redmi Note 7 Pro</span> is one of the most feature packed phones in its price bracket, bringing a premium design, capable octa-core processor, 48-megapixel camera, and fast charging support to the table. The phone packs a 6.3-inch full-HD+ (1080x2340 pixels) LTPS In-Cell display protected by a layer of Gorilla Glass 5. Content on the display looks sharp with crisp colours, but at the same time, it is also quite reflective.</p>
          <p class="content">The phone is powered by the <span>Snapdragon 675</span> processor ticking alongside up to 6GB of RAM. Be it heavy multitasking or games like PUBG Mobile and Asphalt 9, the phone barely struggles at all. The Redmi Note 7 Pro runs MIUI 10 based on <span>Android 9 Pie</span>, and even though it is rich in features, you will also have to see pesky ads. </p>
          <p class="content">The phone’s 48-megapixel main camera captures beautiful images with ample detail, high dynamic range, and good vibrancy. The night mode also performs well, while selfies captured by the 32-megapixel front camera also look sharp with natural colours and edge detection in bokeh mode. The 4,000mAh battery ensures that the Redmi Note 7 Pro easily sails past a full day of usage, while support for Qualcomm's Quick Charge 4.0 fast charging technology helps to quickly top up the battery. </p>
          <div class="aff-link1">
            <form action="https://www.amazon.in/Note-Pro-Space-Black-64GB/dp/B07VWXLRRH/ref=sr_1_1?dchild=1&keywords=Redmi+Note+7+Pro&qid=1594890725&sr=8-1">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from amazon</button>
            </form>
            <form action="https://www.amazon.in/Note-Pro-Space-Black-64GB/dp/B07VWXLRRH/ref=sr_1_1?dchild=1&keywords=Redmi+Note+7+Pro&qid=1594890725&sr=8-1">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>
          <p></p>
        </div>
    {% endblock content%}
    {% block specs%}
    <!-- specification -->
    <h3 class="spec_title">Full Specs</h3>
    <!-- 1 -->
    <div class="specs_table">
      <div class="specs">
        <strong>LAUNCH</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Announced</strong>
          <p>2019, February 28</p>
        </div>
        <div class="specs_info1">
          <strong>Status</strong>
          <p>Available. Released 2019, March 18</p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="specs_table">
      <div class="specs">
        <strong>NETWORK</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Technology</strong>
          <p>GSM / HSPA / LTE</p>
        </div>
        <div class="specs_info1">
          <strong>Speed</strong>
          <p>HSPA 42.2/5.76 Mbps, LTE-A (3CA) Cat9 450/50 Mbps</p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="specs_table">
      <div class="specs">
        <strong>DISPLAY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Type</strong>
          <p>IPS LCD capacitive touchscreen, 16M colors</p>
        </div>
        <div class="specs_info">
          <strong>Size</strong>
          <p>6.3 inches, 97.4 cm2 (~81.4% screen-to-body ratio)</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>1080 x 2340 pixels, 19.5:9 ratio (~409 ppi density)</p>
        </div>
        <div class="specs_info1">
          <strong>Protection</strong>
          <p>Corning Gorilla Glass 5</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BODY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Dimension</strong>
          <p>159.2 x 75.2 x 8.1 mm (6.27 x 2.96 x 0.32 in)</p>
        </div>
        <div class="specs_info">
          <strong>Weight</strong>
          <p>186 g (6.56 oz)</p>
        </div>
        <div class="specs_info">
          <strong>Build</strong>
          <p>Glass front (Gorilla Glass 5), glass back (Gorilla Glass 5), plastic frame</p>
        </div>
        <div class="specs_info1">
          <strong>SIM</strong>
          <p>Hybrid Dual SIM (Nano-SIM, dual stand-by)</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>PLARFROM</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>OS</strong>
          <p>Android 9.0 (Pie), upgradable to Android 10, MIUI 11</p>
        </div>
        <div class="specs_info">
          <strong>Chipset</strong>
          <p>Qualcomm SDM675 Snapdragon 675 (11 nm)</p>
        </div>
        <div class="specs_info">
          <strong>CPU</strong>
          <p>Octa-core (2x2.0 GHz Kryo 460 Gold & 6x1.7 GHz Kryo 460 Silver)</p>
        </div>
        <div class="specs_info1">
          <strong>GPU</strong>
          <p>Adreno 612</p>
        </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MEMORY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Card Slot</strong>
          <p>microSDXC (uses shared SIM slot)</p>
        </div>
        <div class="specs_info1">
          <strong>Internal</strong>
          <p>64GB 4GB RAM, 64GB 6GB RAM, 128GB 6GB RAM</p>
        </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="specs_table">
      <div class="specs">
        <strong>CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Dual</strong>
          <p>48 MP, f/1.8, (wide), 1/2.0", 0.8µm, PDAF</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>5 MP, f/2.4, (depth)</p>
        </div>
        <div class="specs_info">
          <strong>Features</strong>
          <p>Dual-LED flash, HDR, panorama</p>
        </div>
        <div class="specs_info1">
          <strong>Video</strong>
          <p>4K@30fps, 1080p@30/60/120fps, (gyro-EIS)</p>
        </div>
      </div>
    </div>
    <!-- 7 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FRONT CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Single</strong>
          <p>13 MP</p>
        </div>
        <div class="specs_info1">
          <strong>Features</strong>
          <p>HDR</p>
        </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BATTERY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong></strong>
          <p>Non-removable Li-Ion 4000 mAh battery</p>
        </div>
        <div class="specs_info">
          <strong>Charging</strong>
          <p>Fast charging 18W</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>Quick Charge 4</p>
        </div>
      </div>
    </div>
    <!-- 9 -->
    <div class="specs_table">
      <div class="specs">
        <strong>COMMS.</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>WLAN</strong>
          <p>Wi-Fi 802.11 a/b/g/n/ac, dual-band, Wi-Fi Direct, hotspot</p>
        </div>
        <div class="specs_info">
          <strong>Bluetooth</strong>
          <p>5.0, A2DP, LE</p>
        </div>
        <div class="specs_info">
          <strong>GPS</strong>
          <p>Yes, with A-GPS, GLONASS, GALILEO, BDS</p>
        </div>
        <div class="specs_info">
          <strong>Radio</strong>
          <p>FM radio, recording</p>
        </div>
        <div class="specs_info1">
          <strong>USB</strong>
          <p>2.0, Type-C 1.0 reversible connector</p>
        </div>
      </div>
    </div>
    <!-- 10 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FEATURE</strong>
      </div>
      <div class="specs_type">
          <div class="specs_info1">
            <strong>Sensors</strong>
            <p>Fingerprint (rear-mounted), accelerometer, gyro, proximity, compass</p>
          </div>
      </div>
    </div>
    <!-- 11 -->
    <div class="specs_table">
      <div class="specs">
        <strong>SOUND</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Loudspeaker</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info1">
          <strong>3.5mm jack</strong>
          <p>Yes</p>
        </div>
      </div>
    </div>
    <!-- 12 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MISC</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Color</strong>
          <p>Nebula Red, Neptune Blue, Space Black, Astro White</p>
        </div>
        <div class="specs_info1">
          <strong>Models</strong>
          <p>M1901F7S</p>
        </div>
      </div>
    </div>
    </div>
    <!-- 13 -->
    {% endblock specs%}
