
{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="FAU-G Game developed by Bengaluru-headquartered nCORE Games which is an Indian company and 20% of the net revenue generated will be donated to Bharat Ke Veer Trust which is a great idea."> {% endblock desc%}
{% block key%}<meta name="keywords" content="FAUG, FAUG Game Release Date"> {% endblock key%}
    {% block style %}
    <style>
      p{
        font-family: sans-serif ;
        font-size: 17px;
      }
      footer p{
        font-size: 15px;
      }
      .twitter{
        margin-left: 100px;
      }
      @media (max-width: 1200px){
        .twitter{
          margin-left: 220px;
        }
      }
      @media (max-width: 768px){
        p{
          font-size: 19px;
        }
        footer p{
          font-size: 14px;
        }
        .image1{
          margin-left: 50px;
        }
        .image2{
          width: 100%;
          margin-left: 0;
        }
        .twitter{
          margin-left: 0;
        }
      }
    </style>
    {% endblock style %}
    {% load static %}
    {% block title%}FAU-G game made in India and released date.{% endblock title%}
    {% block actart%} class="active"{% endblock actart%}
    {% block content%}
    <!-- review and spec -->
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h1 class="content_tittle" style="font-weight: 700;" >After ban PUBG, A new game is going to be released, named FAU-G.</h1>
          <p>Written By <a href="#">Rohit Raj</a>- Updated on <b style="color: gray;">6 September 2020</b></p>
          <hr class="my-2">
          <p>After banning PUBG, a new game FAU-G is about to be released soon, which Akshay Kumar has tweeted on his social media. The game is designed by an Indian developer, an initiative supporting Prime Minister Narendra Modi's Atmanihar movement.</p>
          <p style="font-weight: 600;">A new game FAU-G stands for <span style="color:#00a8ff">Fearless And United-Guards</span>.</p>
          <img class="image" src="{% static 'image/article/game/FAUG/1.png'%}" alt="">
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | google uploaded by:  <a href="https://thesocialdigital.com/after-pubg-ban-akshay-kumar-launch-fau-g-action-game">thesocialdigital</a></p>
          <p>Government of India has banned 118 apps with PUBG. Chinese company Tencent has suffered losses since PUBG's ban. Taking advantage of this after PUBJ's ban, Akshay Kumar announced the release of the FAU-G game on his social media account, which brought immense joy to Indian gamers.</p>
          <p>FAU-G Game developed by Bengaluru-headquartered nCORE Games which is an Indian company and 20% of the net revenue generated will be donated to "Bharat Ke Veer Trust" which is a great idea. </p>
          <div class="twitter">
            <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Supporting PM <a href="https://twitter.com/narendramodi?ref_src=twsrc%5Etfw">@narendramodi</a>’s AtmaNirbhar movement, proud to present an action game,Fearless And United-Guards FAU-G. Besides entertainment, players will also learn about the sacrifices of our soldiers. 20% of the net revenue generated will be donated to <a href="https://twitter.com/BharatKeVeer?ref_src=twsrc%5Etfw">@BharatKeVeer</a> Trust <a href="https://twitter.com/hashtag/FAUG?src=hash&amp;ref_src=twsrc%5Etfw">#FAUG</a> <a href="https://t.co/Q1HLFB5hPt">pic.twitter.com/Q1HLFB5hPt</a></p>&mdash; Akshay Kumar (@akshaykumar) <a href="https://twitter.com/akshaykumar/status/1301832896185954304?ref_src=twsrc%5Etfw">September 4, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
          <hr class="my-2">
          <p></p>
        </div>
        <!-- 1 -->
        <div class="info">
          <h3 style="padding-left:3px; border-left: 2px solid red; font-weight: 500;">FAU-G Game Release Date</h3>
          <p>The FAU-G game is all set to arrive by the end of October. The company announced the release of a game featuring the mission and story of the Indian Army. Indian gamers are excited about this upcoming Battle Royal game.</p>
          <p>Stay tuned with us and we will keep sending you news of such game and technology.</p>

          <hr class="my-2">
          <div class="fb-comments" data-href="https://thesocialdigital.com/after-pubg-ban-akshay-kumar-launch-fau-g-action-game" data-order-by="social" data-numposts="100" data-width="100%" style="display:block;"></div>
        </div>
        <!--  -->
      </div>
    </div>
  {% endblock content%}
