{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="xiaomi smartphone: New smartphone review and specification, buy at best price from amazon. india's no1 selling smartphone. "> {% endblock desc%}
{% block key%}<meta name="keywords" content="Redmi 8A mobile, Redmi 8A price , Redmi 8A price in india, Redmi 8A review, Redmi 8A specification"> {% endblock key%}
    {% load static %}
    {% block title%}Redmi 8A Full specification{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <!-- review and spec -->
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h4 class="content">Xiaomi released his new smartphone Redmi 8A at price of 6,999-INR</h4>
          <h2 class="content_tittle"><span>REVIEW</span> Redmi 8A : 2/32GB for 6,999-INR Watch Full review-<a href="https://www.youtube.com/watch?v=1Qsznx2NZnw">http://www.youtube.com </a></h2>
        </div>
        <div >
          <<img class="image"  src="{% static 'image/mobile/mi/redmi-8a-2.jpg' %}" alt="">
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by: IndianExpressOnline</p>
        </div>
        <div class="info">
          <h4 class="content">Redmi 8A summary</h4>
          <p>Like we've already seen with the <span>Redmi 8A</span> (Review) and <span>Redmi Note 8 Pro</span> (Review), Xiaomi has given this generation of phones a pretty major design update.The <span>Redmi 8</span> 9.4 mm in thickness and weighs 188 g (6.63 oz). About storage the Redmi 8 gets that much in its base variant with an option that steps up to 32GB 2GB RAM, 32GB 3GB RAM, 64GB 4GB RAM of storage and MicroSD cards of up to 512GB are supported.  Both phones <span>Redmi 8</span> and <span>Redmi 8A</span> have 12-megapixel f/1.8 primary rear cameras and 8-megapixel f/2 front cameras, though the Redmi 8 also has a depth sensor on the rear.On the front, the Redmi 8A has a waterdrop notch that houses the selfie camera, and there's a thick chin at the base of the display, which has the Redmi logo on it.</p>
          <p>For the category it falls in, the Redmi 8A’s display is better than I expected. The smartphone features a 6.22-inch HD+ display with a resolution of 720 x 1,250 pixels and a 19:9 aspect ratio. THe redmi 8A powered by a <span> Snapdragon 439 </span>. The display also has Corning Gorilla Glass 5 for protection.Redmi 8A comes with a Type-C port for charging and a 10W fast charger bundled in the box.</p>
          <div class="aff-link1">
            <form action="https://www.flipkart.com/redmi-8a-sunset-red-32-gb/p/itm5474ed67d23bf?pid=MOBFKF98FTTEN832&lid=LSTMOBFKF98FTTEN832NKEHTF&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=572c85a9-aa44-455e-8ebc-4018036f7687.MOBFKF98FTTEN832.SEARCH&ppt=sp&ppn=sp&ssid=7q3267b05s0000001594891005249&qH=b45ee9aff81e9953">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from flipkart</button>
            </form>
            <form action="https://www.flipkart.com/redmi-8a-sunset-red-32-gb/p/itm5474ed67d23bf?pid=MOBFKF98FTTEN832&lid=LSTMOBFKF98FTTEN832NKEHTF&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=572c85a9-aa44-455e-8ebc-4018036f7687.MOBFKF98FTTEN832.SEARCH&ppt=sp&ppn=sp&ssid=7q3267b05s0000001594891005249&qH=b45ee9aff81e9953" class="affilated-link_flipcart" class="affilated-link_flipcart">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          <p></p>
      </div>
    {% endblock content%}
    {% block specs%}
    <!-- specification -->
    <h3 class="spec_title">Full Specs</h3>
    <!-- 1 -->
    <div class="specs_table">
      <div class="specs">
        <strong>LAUNCH</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Announced</strong>
          <p>2019, September 25</p>
        </div>
        <div class="specs_info1">
          <strong>Status</strong>
          <p>	Available. Released 2019, September 30</p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="specs_table">
      <div class="specs">
        <strong>NETWORK</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Technology</strong>
          <p>GSM / HSPA / LTE</p>
        </div>
        <div class="specs_info1">
          <strong>Speed</strong>
          <p>HSPA 42.2/5.76 Mbps, LTE-A</p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="specs_table">
      <div class="specs">
        <strong>DISPLAY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Type</strong>
          <p>IPS LCD capacitive touchscreen, 16M colors</p>
        </div>
        <div class="specs_info">
          <strong>Size</strong>
          <p>6.22 inches, 96.6 cm2 (~81.8% screen-to-body ratio)</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>720 x 1520 pixels, 19:9 ratio (~270 ppi density)</p>
        </div>
        <div class="specs_info1">
          <strong>Protection</strong>
          <p>Corning Gorilla Glass 5</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BODY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Dimension</strong>
          <p>156.5 x 75.4 x 9.4 mm (6.16 x 2.97 x 0.37 in)</p>
        </div>
        <div class="specs_info">
          <strong>Weight</strong>
          <p>188 g (6.63 oz)</p>
        </div>
        <div class="specs_info">
          <strong>Build</strong>
          <p>Glass front (Gorilla Glass 5), plastic back, plastic frame</p>
        </div>
        <div class="specs_info1">
          <strong>SIM</strong>
          <p>Dual SIM (Nano-SIM, dual stand-by)</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>PLARFROM</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>OS</strong>
          <p>Android 9.0 (Pie), MIUI 11</p>
        </div>
        <div class="specs_info">
          <strong>Chipset</strong>
          <p>Qualcomm SDM439 Snapdragon 439 (12 nm)</p>
        </div>
        <div class="specs_info">
          <strong>CPU</strong>
          <p>Octa-core (4x1.95 GHz Cortex-A53 & 4x1.45 GHz Cortex A53)</p>
        </div>
        <div class="specs_info1">
          <strong>GPU</strong>
          <p>Adreno 505</p>
        </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MEMORY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Card Slot</strong>
          <p>microSDXC (dedicated slot)</p>
        </div>
        <div class="specs_info1">
          <strong>Internal</strong>
          <p>32GB 2GB RAM, 32GB 3GB RAM, 64GB 4GB RAM</p>
        </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="specs_table">
      <div class="specs">
        <strong>CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Single</strong>
          <p>12 MP, f/1.8, (wide), 1/2.55", 1.4µm, dual pixel PDAF</p>
        </div>
        <div class="specs_info">
          <strong>Features</strong>
          <p>LED flash, HDR, panorama</p>
        </div>
        <div class="specs_info1">
          <strong>Video</strong>
          <p>	1080p@30fps</p>
        </div>
      </div>
    </div>
    <!-- 7 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FRONT CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Single</strong>
          <p>8 MP, f/2.0, 1/4", 1.12µm</p>
        </div>
        <div class="specs_info1">
          <strong>Features</strong>
          <p>	HDR</p>
        </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BATTERY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong></strong>
          <p>Non-removable Li-Ion 5000 mAh battery</p>
        </div>
        <div class="specs_info1">
          <strong>Charging</strong>
          <p>Fast charging 18W</p>
        </div>
      </div>
    </div>
    <!-- 9 -->
    <div class="specs_table">
      <div class="specs">
        <strong>COMMS.</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>WLAN</strong>
          <p>Wi-Fi 802.11 b/g/n/ac, Wi-Fi Direct, hotspot</p>
        </div>
        <div class="specs_info">
          <strong>Bluetooth</strong>
          <p>4.2, A2DP, LE</p>
        </div>
        <div class="specs_info">
          <strong>GPS</strong>
          <p>Yes, with A-GPS, GLONASS, GALILEO, BDS</p>
        </div>
        <div class="specs_info">
          <strong>Radio</strong>
          <p>FM Radio, built-in antenna</p>
        </div>
        <div class="specs_info1">
          <strong>USB</strong>
          <p>2.0, Type-C 1.0 reversible connector, USB On-The-Go</p>
        </div>
      </div>
    </div>
    <!-- 10 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FEATURE</strong>
      </div>
      <div class="specs_type">
          <div class="specs_info1">
            <strong>Sensors</strong>
            <p>accelerometer, proximity, compass</p>
          </div>
      </div>
    </div>
    <!-- 11 -->
    <div class="specs_table">
      <div class="specs">
        <strong>SOUND</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Loudspeaker</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info1">
          <strong>3.5mm jack</strong>
          <p>Yes</p>
        </div>
      </div>
    </div>
    <!-- 12 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MISC</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Color</strong>
          <p>Midnight Black, Ocean Blue, Sunset Red</p>
        </div>
        <div class="specs_info1">
          <strong>Models</strong>
          <p>MZB8458IN, M1908C3KG, M1908C3KH</p>
        </div>
      </div>
    </div>
    </div>
    <!-- 13 -->
    {% endblock specs%}
