{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="Realme smartphone: New smartphone review and specification, buy at best price from amazon. "> {% endblock desc%}
{% block key%}<meta name="keywords" content="realme 5 pro,  realme 5 pro price, realme 5 pro price in india, realme 5 pro review, realme 5 pro specification"> {% endblock key%}
    {% load static %}
    {% block title%}Realme 5 pro Full specification: hipein.com{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <!-- review and spec -->
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h4 class="content">Realme released his new smartphone Realme 5 pro at price of 14,999-INR</h4>
          <h2 class="content_tittle"><span>REVIEW</span> Realme 5 pro : 6/64GB for 14,999-INR Watch Full review-<a href="https://www.youtube.com/watch?v=HM2nz3v0Gmw">http://www.youtube.com </a></h2>
        </div>
        <div >
          <img class="image"  src="{% static 'image/mobile/pubg/realme-5-pro.jpg' %}" alt="">
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by: GadgetIn</p>
        </div>
        <div class="info">
          <h4 class="content">{{product_name}} summary</h4>
          <p class="content">For a low-cost phone, the <span>Realme 5 Pro</span> looks and feels pretty good. About it design It isn't too big or bulky, and the materials and finishes feel premium and <span>Realme 5 pro</span> 8.9mm in thickness,It weighs 184g and is actually more compact than the Realme 5. You can choose between Crystal Green and Sparkling Blue finishes, and we quite liked the blue-green jewel-toned look of our Crystal Green review unit which is distinct without being garish.</p>
          <p class="content">The main rear camera has a 48-megapixel Sony IMX586 sensor, which was only found in much more expensive phones till very recently. It also has an f/1.79 aperture and supports PDAF. Next, there's an 8-megapixel wide-angle camera with an f/2.25 aperture, a 2-megapixel macro camera, and a 2-megapixel depth sensor. The front camera has a 16-megapixel sensor and f/2 aperture</p>
          <p class="content"><span>Realme 5 pro</span> powered by a Qualcomm SDM712 Snapdragon 712 (10 nm).  It has two Kryo 360 Gold cores running at 2.3GHz and six more Kryo 360 Silver cores running at 1.7GHz for power efficiency, as well as integrated Adreno 616 graphics.</p>
          <p class="content">You can buy the <span>Realme 5 Pro</span> with 4GB of RAM and 64GB of storage for Rs. 13,999; 6GB of RAM with the same 64GB of storage for Rs. 14,999; or 8GB of RAM and 128GB of storage for Rs. 16,999 which is a big jump. The 6.3-inch screen has a full-HD+ resolution of 1080x2340. There's a <span>4035mAH battery</span>, and Realme uses Oppo's proprietary VOOC quick charging technology. You get a large 20W charger in the box with this phone. There's also Wi-Fi 802.11ac, Bluetooth 5, and GPS, but no FM radio. All the usual sensors, including a gyroscope, are included.</p>
          <div class="aff-link1">
            <form action="https://www.amazon.in/realme-Sparkling-Blue-128GB-Storage/dp/B07XHM7LHM/ref=mp_s_a_1_2?dchild=1&keywords=realme+5+pro&qid=1594896923&sr=8-2">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from amazon</button>
            </form>
            <form action="https://www.amazon.in/realme-Sparkling-Blue-128GB-Storage/dp/B07XHM7LHM/ref=mp_s_a_1_2?dchild=1&keywords=realme+5+pro&qid=1594896923&sr=8-2">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>
          <p></p>
      </div>
    {% endblock content%}
    {% block specs%}
    <!-- specification -->
    <h3 class="spec_title">Full Specs</h3>
    <!-- 1 -->
    <div class="specs_table">
      <div class="specs">
        <strong>LAUNCH</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Announced</strong>
          <p>2019, August 20</p>
        </div>
        <div class="specs_info1">
          <strong>Status</strong>
          <p>Available. Released 2019, September</p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="specs_table">
      <div class="specs">
        <strong>NETWORK</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Technology</strong>
          <p>GSM / HSPA / LTE</p>
        </div>
        <div class="specs_info1">
          <strong>Speed</strong>
          <p>HSPA 42.2/11.5 Mbps, LTE-A</p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="specs_table">
      <div class="specs">
        <strong>DISPLAY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Type</strong>
          <p>IPS LCD capacitive touchscreen, 16M colors</p>
        </div>
        <div class="specs_info">
          <strong>Size</strong>
          <p>6.3 inches, 97.4 cm2 (~83.6% screen-to-body ratio)</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>1080 x 2340 pixels, 19.5:9 ratio (~409 ppi density)</p>
        </div>
        <div class="specs_info">
          <strong>Protection</strong>
          <p>Corning Gorilla Glass 3+</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BODY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Dimension</strong>
          <p>157 x 74.2 x 8.9 mm (6.18 x 2.92 x 0.35 in)</p>
        </div>
        <div class="specs_info">
          <strong>Weight</strong>
          <p>184 g (6.49 oz)</p>
        </div>
        <div class="specs_info">
          <strong>Build</strong>
          <p>Glass front (Gorilla Glass 3+), plastic back, plastic frame</p>
        </div>
        <div class="specs_info1">
          <strong>SIM</strong>
          <p>Dual SIM (Nano-SIM, dual stand-by)</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>PLARFROM</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>OS</strong>
          <p>Android 9.0 (Pie), upgradable to Android 10, realme UI</p>
        </div>
        <div class="specs_info">
          <strong>Chipset</strong>
          <p>Qualcomm SDM712 Snapdragon 712 (10 nm)</p>
        </div>
        <div class="specs_info">
          <strong>CPU</strong>
          <p>Octa-core (2x2.3 GHz Kryo 360 Gold & 6x1.7 GHz Kryo 360 Silver)</p>
        </div>
        <div class="specs_info1">
          <strong>GPU</strong>
          <p>Adreno 616</p>
        </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MEMORY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Card Slot</strong>
          <p>microSDXC (dedicated slot)</p>
        </div>
        <div class="specs_info1">
          <strong>Internal</strong>
          <p>4/64GB RAM, 6/64GB RAM, 4/128GB RAM, 8/128GB RAM</p>
        </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="specs_table">
      <div class="specs">
        <strong>CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Quad</strong>
          <p>48 MP, f/1.8, (wide), 1/2.0", 0.8µm, PDAF</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>8 MP, f/2.2, 13mm (ultrawide)</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>2 MP, f/2.4, (macro)</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>2 MP, f/2.4, (depth)</p>
        </div>
        <div class="specs_info">
          <strong>Features</strong>
          <p>LED flash, HDR, panorama</p>
        </div>
        <div class="specs_info1">
          <strong>Video</strong>
          <p>4K@30fps, 1080p@30/60/120fps, 720p@960fps, gyro-EIS</p>
        </div>
      </div>
    </div>
    <!-- 7 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FRONT CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Single</strong>
          <p>16 MP, f/2.0, 25mm (wide), 1/3.06", 1.0µm</p>
        </div>
        <div class="specs_info1">
          <strong>Features</strong>
          <p>HDR, panorama</p>
        </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BATTERY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong></strong>
          <p>Non-removable Li-Po 4035 mAh battery</p>
        </div>
        <div class="specs_info">
          <strong>Charging</strong>
          <p>Fast charging 20W, 50% in 30 min</p>
        </div>
      </div>
    </div>
    <!-- 9 -->
    <div class="specs_table">
      <div class="specs">
        <strong>COMMS.</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>WLAN</strong>
          <p>Wi-Fi 802.11 a/b/g/n/ac, dual-band, Wi-Fi Direct, hotspot</p>
        </div>
        <div class="specs_info">
          <strong>Bluetooth</strong>
          <p>5.0, A2DP, LE</p>
        </div>
        <div class="specs_info">
          <strong>GPS</strong>
          <p>Yes, with dual-band A-GPS, GLONASS, BDS</p>
        </div>
        <div class="specs_info">
          <strong>Radio</strong>
          <p>FM radio</p>
        </div>
        <div class="specs_info1">
          <strong>USB</strong>
          <p>2.0, Type-C 1.0 reversible connector, USB On-The-Go</p>
        </div>
      </div>
    </div>
    <!-- 10 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FEATURE</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Sensors</strong>
          <p>Fingerprint (rear-mounted), accelerometer, gyro, proximity, compass</p>
        </div>
      </div>
    </div>
    <!-- 11 -->
    <div class="specs_table">
      <div class="specs">
        <strong>SOUND</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Loudspeaker</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>3.5mm jack</strong>
          <p>Yes</p>
        </div>
      </div>
    </div>
    <!-- 12 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MISC</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Color</strong>
          <p>Crystal Green, Crystal Blue</p>
        </div>
        <div class="specs_info1">
          <strong>Models</strong>
          <p>RMX1971</p>
        </div>
      </div>
    </div>
    </div>
    <!-- 13 -->
    {% endblock specs%}
