{% extends 'page/srch.html' %}
{% block desc%}<meta name="description" content="Our Foremost motive is to serve you with correct product  review and price info. So, that this marketing arrangment can genearte you with honest purchases.">{% endblock desc%}
{% load static %}
{% load static%}
{% block css%}<link rel="stylesheet" href="{% static 'pageCss/about.css'%}"> {% endblock css%}
    {% block title%}about us: hipein.com{% endblock title%}
    {% block content%}
    <style media="screen">
      /* responsive nav-bar */
      body{
        background: #fff;
      }
      header{
        position: relative;
        width: 100%;
        margin: 0;
        padding: 10px;
        background: #fff;
        box-sizing: border-box;
        box-shadow: 0 2px 5px rgba(0,0,0,.2);
      }
      .logo{
        color: #0984e3;
        height: 60px;
        font-size: 36px;
        line-height: 60px;
        padding: 0 20px;
        text-align: center;
        box-sizing: border-box;
        float: left;
        font-weight: 700;
        text-decoration: none;
        cursor: default;
      }
      nav{
        float: right;
      }
      .clearfix{
        clear: both;
      }
      nav ul {
        margin: 0;
        padding: 0;
        display: flex;
      }
      nav ul li{
        list-style: none;
      }
      nav ul li a{
        display: block;
        margin: 10px 0;
        padding: 10px 20px;
        text-decoration: none;
        color: #262626;
      }
      nav ul li a.active,
      nav ul li a:hover{
        background: #0984e3;
        color: #fff;
        transition: 0.5s;
        text-decoration: none;
      }
      }
      @media (max-width: 768px) {
          .logo{
            margin-top: 2px;
            margin-left: -10px;
            padding: 0;
          }
          .menu-toggle{
            display: block;
            width: 40px;
            height: 40px;
            margin: 10px;
            /* background: #ccc; */
            float: right;
            cursor: pointer;
            text-align: center;
            font-size: 30px;
            color: #0984e3;
          }
          .menu-toggle:before{
            content: '\f0c9';
            font-family: fontAwesome;
            line-height: 40px;
          }
          .menu-toggle.active:before{
            content: '\f00d';
          }
          nav{
            display: none;
          }
          nav.active{
            display: block;
            width: 100%;
          }
          nav.active ul{
            display: block;
          }
          nav.active ul a{
            margin: 0;
          }
      }
    </style>
    <!-- about -->
    <p class="head_about">About Us</p>
    <hr>
		<p class="p_about">Sometimes we are just confused which gadget would be suitable for us. But, due to the changes in the technology we can't able to decide So, don't worry the <span></span>  hipeIn is here to solve all your queries.

	We will help you to find the best gadgets which would be suitable for you according to your preference. Here you can find the reviews of the gadgets and mobiles. We are here to hype-up your knowledge about the gadgets and the technology which were coming in the real world.</p>

    <!--team-->
    <h1 class="team-headline">Our Experts</h1>
    <hr class=hr-team>
    <p class="p-team"> The strength of the team is each individual member.
      <br>
      The strength of each member is the team.
      <br> -Phil Jackson</p>


    <div class="container">
      <div class="row">
          <div class="col-md-3 col-sm-6">
              <div class="our-team">
                  <div class="pic"><img src="{% static 'image/team/rohit-raj.jpg'%}" alt=""></div>
                  <h3 class="title">Rohit Raj</h3>
                  <span class="post">Web Developer</span>
                  <ul class="icon">
                      <li><a href="#" class="fab fa-facebook"></a></li>
                      <li><a href="#" class="fab fa-instagram"></a></li>
                      <li><a href="#" class="fab fa-twitter"></a></li>
                      <li><a href="#" class="fab fa-linkedin-in"></a></li>
                  </ul>
              </div>
          </div>

          <div class="col-md-3 col-sm-6">
              <div class="our-team">
                  <div class="pic"><img src="{% static 'image/team/aman-acharya.jpg'%}" alt=""></div>
                  <h3 class="title">Aman Acharya</h3>
                  <span class="post">Web Designer</span>
                  <ul class="icon">
                      <li><a href="#" class="fab fa-facebook"></a></li>
                      <li><a href="#" class="fab fa-instagram"></a></li>
                      <li><a href="#" class="fab fa-twitter"></a></li>
                      <li><a href="#" class="fab fa-linkedin-in"></a></li>
                  </ul>
              </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="our-team">
                <div class="pic"><img src="{% static 'image/team/sandeep-kumar.jpg'%}" alt=""></div>
                <h3 class="title">Sandeep Kumar</h3>
                <span class="post">Creative Designer</span>
                <ul class="icon">
                    <li><a href="#" class="fab fa-facebook"></a></li>
                    <li><a href="#" class="fab fa-instagram"></a></li>
                    <li><a href="#" class="fab fa-twitter"></a></li>
                    <li><a href="#" class="fab fa-linkedin-in"></a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="our-team">
              <div class="pic"><img src="{% static 'image/team/gulu.jpeg'%}" alt=""></div>
              <h3 class="title">Gulshan Bhumij</h3>
              <span class="post">Web Designer</span>
              <ul class="icon">
                  <li><a href="https://www.facebook.com/gulshan.bhumij/" class="fab fa-facebook"></a></li>
                  <li><a href="https://www.instagram.com/gulu__gulshan/" class="fab fa-instagram"></a></li>
                  <li><a href="" class="fab fa-twitter"></a></li>
                  <li><a href="#" class="fab fa-linkedin-in"></a></li>
              </ul>
          </div>
      </div>
      </div>
  </div>
  {% endblock content %}
