{% extends 'page/srch.html' %}
    {% load static%}
    {% block title%}Article - Technology | Gaming | Gadget | Programing{% endblock title%}
    {% block actart%} class="active"{% endblock actart%}
    <!-- news -->
    {% block content%}
    <style>
      *{
        margin: 0;
        box-sizing: border-box;
        padding: 0
      }
      header{
        position: relative;
        width: 100%;
        margin: 0;
        padding: 10px;
        background: #fff;
        box-sizing: border-box;
        box-shadow: 0 2px 5px rgba(0,0,0,.2);
      }
      .logo{
        color: #0984e3;
        height: 60px;
        font-size: 36px;
        line-height: 60px;
        padding: 0 20px;
        text-align: center;
        box-sizing: border-box;
        float: left;
        font-weight: 700;
        text-decoration: none;
        cursor: default;
      }
      nav{
        float: right;
      }
      .clearfix{
        clear: both;
      }
      nav ul {
        margin: 0;
        padding: 0;
        display: flex;
      }
      nav ul li{
        list-style: none;
      }
      nav ul li a{
        display: block;
        margin: 10px 0;
        padding: 10px 20px;
        text-decoration: none;
        color: #262626;
      }
      nav ul li a.active,
      nav ul li a:hover{
        background: #0984e3;
        color: #fff;
        transition: 0.5s;
        text-decoration: none;
      }
      /* main */
      .blog{
        display: flex;
        width: 80%;
        margin: 20px 200px 20px 150px;

      }
      .blog-post{
      }
      .bloger-name a:hover{
        text-decoration: none;
      }
      .blog-img{
        width: 100%;
      }
      .bloger-name{
        display: flex;
        /* position: absolute; */
        /* top: 75%; */
      }
      .bloger-name img{
        width: 70px;
        height: 70px;
        border-radius: 50%;
      }
      .bloger-name h4{
        padding: 20px 0 0 10px;
        color: black;
      }
      /* side */
      .side-blog{
        padding-left: 10px;
      }
      .side-blog-post{
        margin-top: 8px;
      }
      .side-blog-img{
        width: 345px;
      }
      .side-bloger-name a:hover{
        text-decoration: none;
      }
      .side-bloger-name{
        display: flex;
        /* position: absolute; */
        /* top: 47.8%; */
      }

      .side-bloger-name img{
        width: 45px;
        height: 43px;
        border-radius: 50%;
        padding: 5px;
      }
      .side-bloger-name h6{
        padding: 13px 0 0 10px;
        color: black;
      }
      .side-bloger-name1 a:hover{
        text-decoration: none;
      }
      .side-bloger-name1{
        display: flex;
        /* position: absolute; */
        /* top: 79%; */
      }
      .side-bloger-name1 img{
        width: 45px;
        height: 44px;
        border-radius: 50%;
        padding: 5px;
      }
      .side-bloger-name1 h6{
        padding: 13px 0 0 10px;
        color: black;
      }
      .title{
        border: 1px solid #eee;
        border-left: 3px solid red;
      }
      .title h4{
        padding: 5px 0 0 6px;
        color: gray;
      }
      .blogs{
        display: flex;
        width: 80%;
        margin: 20px 200px 20px 150px;
      }
      .blog-post{
        margin-bottom: 20px;
        border-bottom: 1px solid #eee;
        border-top: 1px solid #eee;
      }
      .blog-posts{
        width: 80%;
      }
      .post{
        display: flex;
      }
      .img-article{
        width: 420px;
      }
      .post-info{
        padding-left: 10px;
        border-left: 2px solid red;
      }
      .aside{
        width: 40%;
        padding-left: 10px;
      }
      .aside h4{
        border-bottom: 1px solid #eee;
        color: gray;
      }
      .badge a:hover{
        text-decoration: none;
      }
      .Categories{
        margin-left: 240px;
        font-weight: 500;
      }
      .social {
        padding: 20px;
        font-size: 20px;
        width: 60px;
        text-align: center;
        text-decoration: none;
      }
      .social:hover {
        color: white;
        text-decoration: none;
      }

      /* Facebook */
      .social-fb {
        background: #3B5998;
        color: white;
      }
      /* twitter */
      .social-twit {
        background: #55ACEE;
        color: white;
        margin-left: 10px;
      }
      /* instagram */
      .social-insta{
        background: #dd4b39;
        color: white;
        margin-left: 10px;
      }
      .Category{
        padding-top: 20px;
      }
      .cat-link{
        padding-top: 10px;
      }
      .cat-link a:hover{
        text-decoration: none;
        background-color:#007bff;
        color: white
      }
      .cat1{
        border: 1px solid;
        padding: 4px 15px;
        text-decoration: none;
        border-radius: 10px;
      }
      .cat2{
        border: 1px solid;
        padding: 4px 8px;
        margin-left: 10px;
        text-decoration: none;
        border-radius: 10px;
      }
      .cat3{
        border: 1px solid;
        padding: 4px 14px;
        margin-left: 10px;
        text-decoration: none;
        border-radius: 10px;
      }
      /* footer css */
      footer{
        display: flex;
        height: 280px;
        background-color: #353b48;
        color: #eee;
        position: relative;
      }
      .footer_info{
        flex: 1;
        padding: 10px;
        margin-left: 140px;
      }
      .footer_info a{
        color: #eee;
        font-size: 20px;
        padding-right: 10px;
      }
      .product{
        flex: 1;
        padding: 10px;
        margin-left: 190px;
      }
      .product a{
        color: #eee;
      }
      .product a:hover{
        font-size: 20px;
        text-decoration: none;
        transition: 0.5s ease;
      }
      .footer_link{
        flex: 1;
        padding: 10px;
      }
      .footer_link a{
        color: #eee;
      }
      .copyright{
        width: 100%;
        position: absolute;
        background-color: #535c68;
        color: #eee;
        text-align: center;
        bottom: 0px;
      }
      .copyright_text{
        margin-top: 10px;
      }


      @media (max-width: 1500px){
        .blog{
          width: 90%;
          margin: auto;
        }
        .bloger-name{
          top: 54.5%;
        }
        .side-bloger-name{
          top: 30.5%;
        }
        .side-bloger-name h6{
          width: 300px;
        }
        .side-bloger-name1{
          top: 55.5.5%;
        }
        .side-bloger-name1 h6{
          width: 300px;
        }
        .blogs{
          width: 95%;
          margin: 20px 150px 20px 80px;
        }
        .blog-posts{
          width: 100%;
        }
        .aside{
          width: 50%;
          padding-left: 10px;
        }
      }

      @media (max-width: 1200px){
        .blog{
          width: 100%;
          margin: 20px 0 0 0;
        }
        .bloger-name{
          top: 40.5%;
        }
        .bloger-name h4{
          color: gray;
        }
        .side-bloger-name{
          top: 26.5%;
        }
        .side-bloger-name h6{
          width: 300px;
        }
        .side-bloger-name1{
          top: 43.5%;
        }
        .side-bloger-name1 h6{
          width: 300px;
        }
        .blogs{
          width: 100%;
          margin: 10px 0;
        }
        .blog-posts{
          width: 100%;
        }
        .blog-post{
          width: 100%;
        }
        .post{
          width: 100%;
        }
        .post-info{
          font-size: 15px;
        }
        .blogs{
          flex-direction: column;
        }
        .aside{
          width: 43%;
        }
        .img-article{
          width: 420px;
        }
        /* footer */
        .footer_info{
          margin-left: 0;
          flex: 1.5;
        }
        .product{
          margin-left: 0px;
        }
      }


      @media (max-width: 768px){
        .menu-toggle{
          display: block;
          width: 40px;
          height: 40px;
          margin: 10px;
          /* background: #ccc; */
          float: right;
          cursor: pointer;
          text-align: center;
          font-size: 30px;
          color: #0984e3;
        }
        .menu-toggle:before{
          content: '\f0c9';
          font-family: fontAwesome;
          line-height: 40px;
        }
        .menu-toggle.active:before{
          content: '\f00d';
        }
        nav{
          display: none;
        }
        nav.active{
          display: block;
          width: 100%;
        }
        nav.active ul{
          display: block;
        }
        nav.active ul a{
          margin: 0;
          margin-bottom: 7px;
        }
        .blog{
          flex-direction: column-reverse;
          width: 100%;
        }
        .blog-post{
          margin-top: 10px;
          margin-left: 0px;
        }
        .bloger-name img{
          width: 43px;
          height: 41px;
          border-radius: 50%;
          margin-top: 35px;
        }
        .bloger-name{
          position: relative;
          margin-top: -25px;
        }
        .bloger-name h4{
          color: gray;
        }
        .bloger-name h4{
          font-size: 17px;
          margin-top: 22px;
        }
        .blog-img{
          width: 100%;
        }
        .bloger-name{
          top: 72%;
        }
        .side-bloger-name{
          position: relative;
          margin-top: 5px;
        }
        .side-blog-img{
          width: 100%;
        }
        .side-bloger-name h6{
          color: gray;
        }
        .side-bloger-name{
          top: 27%;
        }
        .side-bloger-name1{
          position: relative;
          margin-top: 5px;
        }
        .side-bloger-name1 h6{
          color: gray;
        }
        .side-bloger-name1{
          top: 51.5%;
        }
        .blogs{
          flex-direction: column-reverse;
          width: 100%;
          margin-left: 0;
        }
        .blog-posts{
          width: 100%;
        }
        .post{
          flex-direction: column;
          margin-left: -2px;
        }
        .img-article{
          width: 100%;
        }
        .post-info{
          border-top: 2px solid red;
          border-left: none;
        }
        .aside{
          width: 100%;
        }
        .Categories{
          margin-left: 140px;
        }
        /* footer */
        footer{
          height: 500px;
          flex-direction: column;
          font-size: 14px;
        }
        .footer_info{
          flex: .9;
        }
        .footer_info a{
          font-size: 14px;
        }
        .footer_info h2{
          font-size: 20px;
        }
        .product h2{
          font-size: 20px;
        }
        .footer_link h2{
          font-size: 20px;
        }
        .footer_link a{
          font-size: 14px;
        }
      }
    </style>
    <!-- article -->
    <section>
      <div class="containers">
        <div class="blog">
          <div class="blog-post">
            <img class="blog-img" src="{% static 'image/mobile/pubg/PUBG-mobile.jpg'%}" alt="">
            <div class="bloger-name">
              <a href="https://www.facebook.com/rohitraj.kumar.7739"><img class="blog-img" src="{% static 'image/team/rohit-raj.jpg'%}" alt=""></a>
              <a href="{% url 'pubg'%}"><h4>Best PUBG mobile under 10,000-20,000INR</h4><a/>
            </div>
          </div>
          <!-- side -->
          <div class="side-blog">
            <div class="title">
              <h4>Trending Blogs</h4>
            </div>
            <div class="side-blog-post">
              <img class="side-blog-img" src="{% static 'image/mobile\10k\redmi-8.jpg'%}" alt="">
              <div class="side-bloger-name">
                <img src="{% static 'image/team/aman-acharya.jpg'%}" alt="">
                <a href="{% url 'mobile10k'%}"><h6>Best smartphone under 10,000-INR </h6></a>
              </div>
            </div>
            <div class="side-blog-post">
              <img class="side-blog-img" src="{% static 'image/mobile/camera-15k/photo-camera.jpg'%}"  alt="">
              <div class="side-bloger-name1">
                <img src="{% static 'image/team/gulu.jpeg'%}" alt="">
                <a href="{% url 'camera15k'%}"><h6>Best camera mobile under 15,000-INR</h6></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="blogs">
        <div class="blog-posts ">
         <!-- 2 -->
         <article class="blog-post shadow">
           <div class="post">
             <div class="">
               <img class="img-article"  src="{% static 'image/article/apps/filmorago/filmorago.jpg'%}" alt="">
             </div>
             <div class="post-info">
               <h3  style="font-weight: 400;">FilmoraGo - Best video editing app in 2020</h3>
               <p style="color:gray;">Are you searching for the upcoming mobile phones in 2020, so here is the list of new mobile phone coming soon in India. With lots of rumors and leaks about the upcoming mobile phones, we have listed the phones which were coming soon in India. </p>
               <p></p><br>
               <div class="badge">
                 <a class="read-more" href="{% url 'upcomingMobile' %}">Read more</a>
                 <a class="Categories" style="color: gray" href="#"><b>Categories</b> : Technology</a>
               </div>
             </div>
           </div>
         </article>
         <!--1-->
          <article class="blog-post shadow">
            <div class="post">
              <div class="">
                <img class="img-article"  src="{% static 'image/mobile/oneplus/oneplus-nord-2.jpg' %}" alt="">
              </div>
              <div class="post-info">
                <h3  style="font-weight: 400;">10 Upcoming mobile phones in 2020</h3>
                <p style="color:gray;">Are you searching for the upcoming mobile phones in 2020, so here is the list of new mobile phone coming soon in India. With lots of rumors and leaks about the upcoming mobile phones, we have listed the phones which were coming soon in India. </p>
                <p></p><br>
                <div class="badge">
                  <a class="read-more" href="{% url 'upcomingMobile' %}">Read more</a>
                  <a class="Categories" style="color: gray" href="#"><b>Categories</b> : Technology</a>
                </div>
              </div>
            </div>
          </article>
          <!--1-->
          <article class="blog-post shadow">
            <div class="post">
              <div class="">
                <img class="img-article" src="{% static 'image/mobile/oneplus/oneplus-7t-2.jpg' %}" alt="">
              </div>
              <div class="post-info">
                <h3 style="font-weight: 400;">Best top ten Mobiles Gathered for you</h3>
                <p style="color:gray;">A flagship phone is the latest and greatest from a brand. It's the last phone they released and it's often the phone that costs the most. Many brands and manufacturers release new and improved smartphone models every year, replacing last year's flagship phone..</p>
                <div class="badge">
                  <a class="read-more" href="{% url 'toptenmob'%}">Read more</a>
                  <a class="Categories" style="color: gray" href="#"><b>Categories</b> : Mobile</a>
                </div>
              </div>
            </div>
          </article>
          <!-- 2 -->
          <article class="blog-post shadow">
            <div class="post">
              <div class="">
                <img class="img-article"  src="{% static 'image/mobile/battery/samsung-galaxy-m21.jpg'%}" alt="">
              </div>
              <div class="post-info">
                <h3 style="font-weight: 400;">Top 10 best battery backup mobile</h3>
                <p style="color:gray;">Hello guys , Looking for for long lasting battery backup phones..? Here we arranged some of thr best battery backup phone for you guys.</p>
                <p></p><br>
                <div class="badge">
                  <a class="read-more" href="{% url 'battery' %}">Read more</a>
                  <a class="Categories" style="color: gray" href="#"><b>Categories</b> : Mobile</a>
                </div>
              </div>
            </div>
          </article>
          <!-- 3 -->
          <article class="blog-post shadow">
            <div class="post">
              <div class="">
                <img class="img-article"   src="{% static 'image/article/programing/backend-frontend.png'%}" alt="">
              </div>
              <div class="post-info">
                <h3 style="font-weight: 400;">Top 10 backend Framework for web development</h3>
                <p style="color:gray;">If you have any knowledege about web development you also heard about <b>backend</b>. <b>What is backend</b>? . It is the term used for the behind-the-scenes activities that happen when performing any action on a website.</p>
                <div class="badge">
                  <a class="read-more" href="{% url 'toptenframework' %}">Read more</a>
                  <a class="Categories" style="color: gray" href="#"><b>Categories</b> : Programing</a>
                </div>
              </div>
            </div>
          </article>
          <!-- 4 -->
          <article class="blog-post shadow">
            <div class="post">
              <div class="">
                <img class="img-article"   src="{% static 'image/article/programing/venv.png'%}" alt="">
              </div>
              <div class="post-info">
                <h3 style="font-weight: 400;">How to create python virtual Environment</h3>
                <p style="color:gray;">Now a day python become most popular high level language. Python was created by Guido Van Rossum and released in 1991. In this entire article i will teach you <b>how to create python virtual Environment ?</b>...</p>
                <div class="badge">
                  <a class="read-more" href="{% url 'pythonVenv' %}">Read more</a>
                  <a class="Categories" style="color: gray" href="#"><b>Categories</b> : Programing</a>
                </div>
              </div>
            </div>
          </article>
          <!-- 5 -->
        </div>
        <aside class="aside">
          <h4>Follow Us</h4>
          <div class="social-link">
            <a href="#" class="fa fa-facebook social social-fb"></a>
            <a href="#" class="fa fa-instagram social social-insta"></a>
            <a href="#" class="fa fa-twitter social social-twit"></a>
          </div>
          <h4 class="Category">Categories</h4>
          <div class="cat-link">
            <a class="cat1" href="#">Technology</a>
            <a class="cat2" href="#">Gaming</a>
            <a class="cat3" href="#">Gadets</a>
          </div>
          <div class="cat-link">
            <a class="cat1" href="#">Programing</a>
          </div>
        </aside>
      </div>
    </section>
    {% endblock content%}
