{% extends 'page/basic.html' %}
{% block desc%}<meta name="description" content="hipein.com - Our Foremost motive is to serve you with correct product review and price info. So, that this marketing arrangment can genearte you with honest purchases."> {% endblock desc%}
{% block key%}<meta name="keywords" content="mobile specifications for pubg, mobile specification websites, mobile specifications and prices, camera phone under 15000 , camera phone amazon, top 5 camera phones, pubg mobile phones list, best pubg phone under 20000"> {% endblock key%}
  {% load static %}
   {% block css%} <link rel="stylesheet" href="{% static 'pageCss/home_pageCss.css' %}">{% endblock css%}
    {% block title%}hipein.com - mobile-phone-reviwes and specifications| music | article  {% endblock title%}
  {% block acthome%} class="active"{% endblock acthome%}
    {% block content%}
  <!-- slideshow -->
    <div>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'image/banner/samsung-M31-b.png' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'image/banner/Redmi-Note-8-Pro-b.png' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'image/banner/Realme-6-Pro-b.png' %}" class="d-block w-100" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <!-- quick links -->
    <div class="quick-link">
      <div class="link1 shadow">
        <a class="row1"href="{% url 'pubg'%}">Best PUBG Mobile under <span>&#x20B9;</span>20,000</a>
      </div>
      <div class="link2 shadow">
        <a href="{% url 'mobile10k'%}">Best Mobile under <span>&#x20B9;</span>10000</a>
      </div>
      <div class="link3 shadow">
        <a href="{% url 'toptenmob'%}">Top ten Mobile Phone in India</a>
      </div>
    </div>
    <div class="quick-link">
      <div class="link4 shadow">
        <a class="row2"href="{% url 'battery'%}">Best Bettary Backup Mobile Phone</a>
      </div>
      <div class="link5 shadow">
        <a href="{% url 'camera15k'%}">Best camera phone under <span>&#x20B9;</span>15000</a>
      </div>
    </div>
    <!-- card show 1-->
    <div class="card-slide">
      <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
          <div class="card">
            <img src="{% static 'image/mobile/pubg/PUBG-mobile.jpg'%}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">PUBG mobile under 20,000-INR</h5>
              <p class="card-text">Now a day world most popular mobile game is PUBG, top 10 mobiles list are give below which can easily support PUBG without any lag.</p>
              <a href="{% url 'pubg'%}" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card card1">
            <img src="{% static 'image/mobile\10k\10k.jpg '%}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Best smartphone under 10,000-INR</h5>
              <p class="card-text">There are some smartphone in the market that are good within in range of 7,000-10,000 INR...</p><br>
              <a href="{% url 'mobile10k'%}" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card card2">
            <img src="{% static 'image/mobile/camera-15k/photo-camera.jpg'%}" class="card-img-top" style="height: 218px;" alt="...">
            <div class="card-body">
              <h5 class="card-title">Best camera mobile under 15,000-INR</h5>
              <p class="card-text">For most of the buyers camera played an important role in mobile, to atttract the customers...</p>
              <a href="{% url 'camera15k'%}" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- main page content -->
    <div class="main">
      <h2 class="heading">Most Popular</h2>
    </div>
    <!-- content -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/samsung/samsung-galaxy-s20+-1.jpg' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> Samsung Galaxy S20+: 8/128GB for 77,999-INR Watch Full review-<a href="http://www.youtube.com">http://www.youtube.com </a></h1>
          <p class="content_text">Samsung Release his new smartphone <span>Samsung Galaxy S20+</span> in india starting from <span>77,999-INR</span>. Samsung S20+ Available at <span>amazon</span> in lowest prices. This smartphone comes with single variant i.e. 8/128GB with colour options like Cosmic Black, Cosmic Grey, Cloud Blue, Cloud White, Aura Red, Aura Blue. The smart -phone is powered by the <span>Exynos 990 (7 nm+) - Global</span> and Non-removable Li-Po 4500 mAh battery.it supports Fast charging of 25W. </p>
          <a href="{% url 's20plus'%}" class="content_spec">Full Specificaton</a>
          <p></p>
          <a href="https://www.amazon.in/Samsung-Galaxy-Storage-Additional-Exchange/dp/B084451YSS/ref=sr_1_1_sspa?dchild=1&keywords=Samsung+Galaxy+S20%2B&qid=1594892677&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUExQ1VYREhZOUVYSkhNJmVuY3J5cHRlZElkPUEwODQ0ODg1SkVRTzBSSFhESEs4JmVuY3J5cHRlZEFkSWQ9QTAwNzgwMjgyMkRWNlQyVlE2SEtFJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from amazon</button></a>
          <a href="https://www.amazon.in/Samsung-Galaxy-Storage-Additional-Exchange/dp/B084451YSS/ref=sr_1_1_sspa?dchild=1&keywords=Samsung+Galaxy+S20%2B&qid=1594892677&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUExQ1VYREhZOUVYSkhNJmVuY3J5cHRlZElkPUEwODQ0ODg1SkVRTzBSSFhESEs4JmVuY3J5cHRlZEFkSWQ9QTAwNzgwMjgyMkRWNlQyVlE2SEtFJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
       </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/oneplus/oneplus-8-pro-1.jpg' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span>OnePlus 8 Pro: 8/128GB for Rs.54,999 Watch Full review-<a href="http://www.youtube.com">http://www.youtube.com </a></h1>
          <p class="content_text">OnePlus Release his new flagship smartphone <span>OnePlus 8 Pro</span> in india starting from <span>Rs.54,999</span>. OnePlus is available at <span>Amazon</span>. This smartphone comes with 2 variants like 8/128GB, 12/256GB UFS 3.0 storage technology with colour options like Glacial Green, Ultramarine Blue and Onyx Black. The smartphone is powered by <span>Qualcomm Snapdragon 865 (7 nm+) </span> and Non-removable Li-Po 4510 mAh battery that supports Wrap Charge 30T (5V/6A) and Wrap Charge 30 Wireless technologies which can charge 50% in just 23 min. It comes with the 5G chipset:X55 which supports 5G nework.  </p>
          <a href="{% url 'OnePlus_8pro'%}" class="content_spec" class="">Full Specificaton</a>
          <p></p>
          <a href="https://www.amazon.in/Test-Exclusive-543/dp/B078BN2H3R/ref=sr_1_2?dchild=1&keywords=oneplus+8+pro&qid=1594894179&sr=8-2" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from amazon</button></a>
          <a href="https://www.amazon.in/Test-Exclusive-543/dp/B078BN2H3R/ref=sr_1_2?dchild=1&keywords=oneplus+8+pro&qid=1594894179&sr=8-2" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
          </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/realme/realme-x50-pro-1.jpg' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> Realme X50 Pro 5G: 6/128GB for 39999 Watch Full review-<a href="http://www.youtube.com">http://www.youtube.com </a></h1>
          <p class="content_text">Realme Release his new smartphone <span>Realme X50 Pro 5G</span> in india starting from <span>39999</span>. Realme X50 Pro Available at <span>flipkart</span> in lowest prices. This smartphone coming with 4 variants like 6/128GB, 8/128GB, 8/256GB, 12/256GB with colour options like A Moss Green, Rust Red. The smart -phone is powered by the <span>Qualcomm SM8250 Snapdragon 865 (7 nm+)</span> and Non-removable Li-Po 4200 mAh battery. Fast charging 65W, 100% in 35 min and SuperDart Flash Charge. In Realme X50 Pro it has support for 5G nework.  </p>
          <a href="{% url 'realmeX50pro' %}" class="content_spec" class="">Full Specificaton</a>
          <p></p>
          <a href="https://www.flipkart.com/realme-x50-pro-rust-red-128-gb/p/itm13d1770db35a3?pid=MOBFPBBKTDX2EKEH&lid=LSTMOBFPBBKTDX2EKEHAKFQ0C&marketplace=FLIPKART&pageUID=1594896068771" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from flipkart</button></a>
          <a href="https://www.flipkart.com/realme-x50-pro-rust-red-128-gb/p/itm13d1770db35a3?pid=MOBFPBBKTDX2EKEH&lid=LSTMOBFPBBKTDX2EKEHAKFQ0C&marketplace=FLIPKART&pageUID=1594896068771" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
       </div>
      </div>
    </div>
   <!-- 4 -->
   <div class="content">
     <div class="content_body">
       <div class="content_img">
         <img  src="{% static 'image/mobile/oneplus/oneplus-8-1.jpg' %}" alt="">
       </div>
       <div class="content_info">
         <h1 class="content_tittle"><span>REVIEW</span> OnePlus 8: 8/128GB for Rs.41,999 Watch Full review-<a href="http://www.youtube.com">http://www.youtube.com </a></h1>
         <p class="content_text">OnePlus Release his brand new <span>OnePlus 8</span> in india on  2020, April 14 and it starting from <span> Rs.41,999</span>. OnePlus 8 is available at <span>Amazon</span> in lowest price. This smartphone comes with 2 variants like 128GB 6GB RAM and 128GB 8GB RAM with UFS 3.0 storage technology. It is available at 3 colour options like	Glacial Green, Interstellar Glow and Onyx Black. The smart-phone is powered by the <span>Qualcomm Snapdragon 865 (7 nm+)</span> and   Non-removable Li-Po 4510 mAh battery that supports Wrap Charge 30T (5V/6A) which can charge 50% in just 23 min. It comes with the 5G chipset:X55 which supports 5G nework.</p>
         <a href="{% url 'OnePlus_8'%}" class="content_spec" class="">Full Specificaton</a>
         <p></p>
         <a href="https://www.amazon.in/Test-Exclusive-516/dp/B077Q42GD8/ref=sr_1_2?dchild=1&keywords=oneplus+8&qid=1594894553&sr=8-2" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from amazon</button></a>
         <a href="https://www.amazon.in/Test-Exclusive-516/dp/B077Q42GD8/ref=sr_1_2?dchild=1&keywords=oneplus+8&qid=1594894553&sr=8-2" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
       </div>
     </div>
   </div>
   <!-- 5 -->
   <div class="content">
     <div class="content_body">
       <div class="content_img">
         <img  src="{% static 'image/mobile/mi/redmi-note-9-pro-max-1.jpg' %}" alt="">
       </div>
       <div class="content_info"><br>
         <h1 class="content_tittle"><span>REVIEW</span> Redmi Note 9 Pro Max: 6/128GB for 16,999 Watch Full review-<a href="http://www.youtube.com">http://www.youtube.com </a></h1>
         <p class="content_text">Xaiomi Release his new <span>Redmi Note 9 Pro Max</span> in india start from <span>16,999</span>. Redmi Note 9 Pro Max Available at <span>Amazon</span> in lowest prices. This smartphone coming with 2 variants like 6/128Gb and 8/128Gb with colour options like Aurora Blue, Glacier White, and Interstellar Black. The smart -phone is powered by the <span>Qualcomm Snapdragon 720G SoC</span> and having 5020mAh battery. It has support for 33W fast charging which is very helpful...  </p>
         <a href="{% url 'note9promax' %}" class="content_spec" class="">Full Specification</a>
         <p></p>
         <a href="https://www.amazon.in/Test-Exclusive-558/dp/B077PWJRFH/ref=sr_1_1?dchild=1&keywords=Redmi+Note+9+Pro+Max&qid=1594890267&sr=8-1" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy form amazon</button></a>
         <a href="https://www.amazon.in/s?k=Redmi+Note+9+Pro+Max&ref=nb_sb_noss" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
         <p></p><br>
       </div>
     </div>
   </div>
   <!-- 6 -->
   <div class="content">
     <div class="content_body">
       <div class="content_img">
         <img  src="{% static 'image/mobile/mi/mi-10-1.png' %}" alt="">
       </div>
       <div class="content_info">
         <h1 class="content_tittle"><span>REVIEW</span> Xiaomi Mi 10 5G: 8/128GB for 49,999 Watch Full review-<a href="http://www.youtube.com">http://www.youtube.com </a></h1>
         <p class="content_text">Xaiomi Release his brand new <span>Mi 10 5G</span> in india on 14th Faburary 2020 and start from <span>49,999</span>.Mi 10 Available at <span>Amazon</span> in lowest prices. This smartphone coming with 3 variants like 8/128Gb, 8/256Gb and 8/256GB with colour options like coral Green and Twilight Grey. The smart -phone is powered by the <span>Qualcomm SM8250 Snapdragon 865 (7 nm+)</span> having powerful processor and with 5020mAh battery. It has support for 30W wireless charging + 10W reverse charging. In Mi 10 it has support for 5G nework.</p>
         <a href="{% url 'mi10' %}" class="content_spec" class="">Full Specificaton</a>
         <p></p>
         <a href="https://www.amazon.in/Test-A6010-Dummy-Asin_42/dp/B07X4R4F4G/ref=sr_1_1?dchild=1&keywords=xiaomi+Mi+10&qid=1594890336&sr=8-1" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy form amazon</button></a>
         <a href="https://www.amazon.in/s?k=xiaomi+Mi+10&ref=nb_sb_noss" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
       </div>
     </div>
   </div>
   <!-- 7 -->
   <div class="content">
     <div class="content_body">
       <div class="content_img">
         <img  src="{% static 'image/mobile/apple/apple-11-pro-max-1.jpg' %}" alt="">
       </div>
       <div class="content_info">
         <h1 class="content_tittle"><span>REVIEW</span> Apple 11 Pro Max: 4/64GB for 1,17,100 Watch Full review-<a href="http://www.youtube.com">http://www.youtube.com </a></h1>
         <p class="content_text">Apple Release his new <span>Apple 11 Pro Max</span> in india on 2019, September 20 start from <span>1,17,100</span>. Apple 11 Pro Max Available at <span>flipkart</span> in lowest prices. This smartphone coming with 3 variants like 64GB 4GB RAM, 256GB 4GB RAM, 512GB 4GB RAM with colour options like Space Gray, Silver, Gold, Midnight Green. The smart -phone is powered by the <span>Apple A13 Bionic (7 nm+)</span> and Non-removable Li-Ion 3969 mAh battery (15.04 Wh). It has support for Fast charging 18W, 50% in 30 min.  </p>
         <a href="{% url '11ProMax' %}" class="content_spec" class="">Full Specificaton</a>
        <p></p>
        <a href="https://www.amazon.in/Apple-iPhone-Pro-Max-64GB/dp/B07XVLMZHH/ref=sr_1_1_sspa?dchild=1&keywords=Apple+11+Pro+Max&qid=1594878920&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFRMlcyOExEN1k1MTQmZW5jcnlwdGVkSWQ9QTAxOTYyNzFRVDlSOVdRQlNIVVkmZW5jcnlwdGVkQWRJZD1BMDg1Njk3NTNKUFpGVktJQ1FYNE0md2lkZ2V0TmFtZT1zcF9hdGYmYWN0aW9uPWNsaWNrUmVkaXJlY3QmZG9Ob3RMb2dDbGljaz10cnVl" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy form amazon</button></a>
        <a href="https://www.amazon.in/Apple-iPhone-Pro-Max-64GB/dp/B07XVLMZHH/ref=sr_1_1_sspa?dchild=1&keywords=Apple+11+Pro+Max&qid=1594878920&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFRMlcyOExEN1k1MTQmZW5jcnlwdGVkSWQ9QTAxOTYyNzFRVDlSOVdRQlNIVVkmZW5jcnlwdGVkQWRJZD1BMDg1Njk3NTNKUFpGVktJQ1FYNE0md2lkZ2V0TmFtZT1zcF9hdGYmYWN0aW9uPWNsaWNrUmVkaXJlY3QmZG9Ob3RMb2dDbGljaz10cnVl" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
       </div>
     </div>
   </div>
  <!-- 8 -->
  <div class="content">
   <div class="content_body">
     <div class="content_img">
       <img  src="{% static 'image/mobile/vivo/vivo-v17-1.jpg' %}" alt="">
     </div>
     <div class="content_info">
       <h1 class="content_tittle"><span>REVIEW</span> Vivo V17: 8/128GB for 24,990 Watch Full review-<a href="http://www.youtube.com">http://www.youtube.com </a></h1>
       <p class="content_text">Vivo Release his new smartphone <span>Vivo V17</span> in india starting from <span>24,990</span>. Vivo V17 Available at <span>amanzon</span> in lowest prices. This smartphone coming with 2 variants like 8/128GB, 8/256GB with colour options like Admiral Blue, Glacier Ice White, Midnight Ocean Black. The smart -phone is powered by the <span>	Qualcomm SDM675 Snapdragon 675 (11 nm)</span> and Non-removable Li-Po 4500 mAh battery.it supports Fast charging of 18W. </p>
       <a href="{% url 'vivoV17' %}" class="content_spec" class="">Full Specificaton</a>
       <p></p>
       <a href="https://www.amazon.in/Vivo-Midnight-Storage-Additional-Exchange/dp/B07XD2HY9L/ref=mp_s_a_1_1?dchild=1&keywords=vivo+v17&qid=1594897456&sr=8-1" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from amazon</button></a>
       <a href="https://www.amazon.in/Vivo-Midnight-Storage-Additional-Exchange/dp/B07XD2HY9L/ref=mp_s_a_1_1?dchild=1&keywords=vivo+v17&qid=1594897456&sr=8-1" class="affilated-link_amazon"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
       <p></p>
     </div>
   </div>
  </div>
  <!-- 9 -->
  <div class="content">
   <div class="content_body">
     <div class="content_img">
       <img  src="{% static 'image/mobile/realme/realme-6-pro-1.jpeg' %}" alt="">
     </div>
     <div class="content_info">
       <h1 class="content_tittle"><span>REVIEW</span> Realme 6 Pro: 6/64GB for 17999 Watch Full review-<a href="http://www.youtube.com">http://www.youtube.com </a></h1>
       <p class="content_text">Realme Release his brand new <span>Realme 6 Pro</span> in india on  2020, March 13 and starting from <span> 17999</span>.realme 6 Pro Available at <span>flipkart</span> in lowest prices. This smartphone coming with 3 variants like 64GB 6GB RAM, 128GB 6GB RAM, 128GB 8GB RAM with colour options like	Lightning Blue, Lightning Orange, Lightning Red. The smart -phone is powered by the <span>Qualcomm SM7125 Snapdragon 720G (8 nm)</span> and Non-removable Li-Po 4300 mAh battery.it has support for	Fast charging 30W, 100% in 57 min.</p>
       <a href="{% url 'realme6pro' %}" class="content_spec" class="">Full Specificaton</a>
       <p></p>
       <a href="https://www.flipkart.com/realme-6-pro-lightning-blue-64-gb/p/itm19b1945c12aee?pid=MOBFPCX76F3BYQDH&lid=LSTMOBFPCX76F3BYQDHGAICT2&marketplace=FLIPKART&pageUID=1594896233895" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from flipkart</button></a>
       <a href="https://www.flipkart.com/realme-6-pro-lightning-blue-64-gb/p/itm19b1945c12aee?pid=MOBFPCX76F3BYQDH&lid=LSTMOBFPCX76F3BYQDHGAICT2&marketplace=FLIPKART&pageUID=1594896233895" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
     </div>
   </div>
  </div>
    <!-- card show2 -->
    <!-- <div class="card-slide">
      <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
          <div class="card card2">
            <img src="{% static 'image/mobile/mi/xiaomi.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Read More...</a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class=" card card1">
            <img src="{% static 'image/mobile/mi/xiaomi.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Read More...</a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card card2">
            <img src="{% static 'image/mobile/mi/xiaomi.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Read More...</a>
            </div>
          </div>
        </div>
      </div>
    </div> -->
{% endblock content%}
