{% extends 'page/base.html' %}
{% block desc%}<meta name="description" content="Check best phone specifications online at best price. also find best camera , megamonster battery and pubg mobile. Find here popular mobile brand like xiaomi, samsung, realme,... "> {% endblock desc%}
{% block key%}<meta name="keywords" content="mobile specifications for pubg, mobile specification websites, basic key specification for pubg, mobile specifications and prices, camera phone under 15000 , camera phone amazon, top 5 camera phones, pubg mobile phones list, best pubg phone under 20000"> {% endblock key%}
  {% load static %}
   {% block css%} <link rel="stylesheet" href="{% static 'pageCss/mobile_pageCss.css' %}">{% endblock css%}
    {% block title%}Best mobile phones: review and specification - hipein.com{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <!-- content -->
    <div class="container1">
      <div class="mobile-specs">
        <div class="mobile-img">
          <img  src="{% static 'image/mobile/apple/iphone-12-pro-max-1.jpg' %}" alt="">
        </div>
        <div class="mobile-info">
          <div class="mobile-name-price">
            <div class="mobile-view-name">
              <div class="mobile-view">
                <h5>655</h5>
                <p><i class="fa fa-eye"></i></p>
              </div>
              <div class="mobile-name">
                <h3>iPhone 12 Pro Max</h3>
                <div class="star-rating">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                </div>
              </div>
            </div>
            <div class="mobile-price">
              <h3>Rs. 1,59,900</h3>
              <p>see more price</p>
            </div>
          </div>
          <div class="mobile-detail">
            <div class="performance">
              <h4>Performance</h4>
              <div class="bar">
                <p class="very-good"></p>
              </div>
              <div class="information">
                <p>Hexa-core</p>
                <p class="info">Apple A14 Bionic (5 nm)</p>
                <p class="info">128GB 4GB RAM</p>
              </div>
            </div>
            <div class="display">
              <h4>Display</h4>
              <div class="bar">
                <p class="very-good"></p>
              </div>
              <div class="information">
                <p>6.7 inches</p>
                <p class="info">Super Retina XDR OLED</p>
              </div>
            </div>
            <div class="camera">
              <h4>Camera</h4>
              <div class="bar">
                <p class="excellent"></p>
              </div>
              <div class="information">
                <p>12-MP + 12-MP + 12-MP</p>
                <p class="info">Quad-LED dual-tone flash</p>
                <p class="info">12 MP front camera</p>
              </div>
            </div>
            <div class="battery">
              <h4>Battery</h4>
              <div class="bar">
                <p class="very-good"></p>
              </div>
              <div class="information">
                <p>3969 mAh</p>
                <p class="info">Fast charging 20W</p>
                <p class="info">Qi wireless charging</p>
              </div>
            </div>
          </div>
          <div class="short-info">
            <div class="full-specs">
              <h5><a href="{% url 'iphone12promax' %}">Full specification</a></h5>
            </div>
          </div>
        </div>
      </div>
      <!-- 6 -->
      <div class="mobile-specs">
        <div class="mobile-img">
          <img  src="{% static 'image/mobile/apple/iphone-12-pro-1.jfif' %}" alt="">
        </div>
        <div class="mobile-info">
          <div class="mobile-name-price">
            <div class="mobile-view-name">
              <div class="mobile-view">
                <h5>495</h5>
                <p><i class="fa fa-eye"></i></p>
              </div>
              <div class="mobile-name">
                <h3>iPhone 12 Pro</h3>
                <div class="star-rating">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
            </div>
            <div class="mobile-price">
              <h3>Rs. 119,900</h3>
              <p>see more price</p>
            </div>
          </div>
          <div class="mobile-detail">
            <div class="performance">
              <h4>Performance</h4>
              <div class="bar">
                <p class="very-good"></p>
              </div>
              <div class="information">
                <p>Hexa-core</p>
                <p class="info">Apple A14 Bionic (5 nm)</p>
                <p class="info">128GB 4GB RAM</p>
              </div>
            </div>
            <div class="display">
              <h4>Display</h4>
              <div class="bar">
                <p class="very-good"></p>
              </div>
              <div class="information">
                <p>6.1 inches</p>
                <p class="info">Super Retina XDR OLED</p>
              </div>
            </div>
            <div class="camera">
              <h4>Camera</h4>
              <div class="bar">
                <p class="excellent"></p>
              </div>
              <div class="information">
                <p>12-MP + 12-MP + 12-MP</p>
                <p class="info">Quad-LED dual-tone flash</p>
                <p class="info">12 MP front camera</p>
              </div>
            </div>
            <div class="battery">
              <h4>Battery</h4>
              <div class="bar">
                <p class="very-good"></p>
              </div>
              <div class="information">
                <p>3969 mAh</p>
                <p class="info">Fast charging 20W</p>
                <p class="info">Qi wireless charging</p>
              </div>
            </div>
          </div>
          <div class="short-info">
            <div class="full-specs">
              <h5><a href="{% url 'iphone12pro' %}">Full specification</a></h5>
            </div>
          </div>
        </div>
      </div>
      <!-- 0 -->
      <div class="mobile-specs">
        <div class="mobile-img">
          <img  src="{% static 'image/mobile/realme/realme-7-pro-1.jpg' %}" alt="">
        </div>
        <div class="mobile-info">
          <div class="mobile-name-price">
            <div class="mobile-view-name">
              <div class="mobile-view">
                <h5>417</h5>
                <p><i class="fa fa-eye"></i></p>
              </div>
              <div class="mobile-name">
                <h3>Realme 7 Pro - 5G</h3>
                <div class="star-rating">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                </div>
              </div>
            </div>
            <div class="mobile-price">
              <h3>Rs. 17,999</h3>
              <p>see more price</p>
            </div>
          </div>
          <div class="mobile-detail">
            <div class="performance">
              <h4>Performance</h4>
              <div class="bar">
                <p class="excellent"></p>
              </div>
              <div class="information">
                <p>Octa-core</p>
                <p class="info">Qualcomm Snapdragon 765G</p>
                <p class="info">128GB 6GB RAM</p>
              </div>
            </div>
            <div class="display">
              <h4>Display</h4>
              <div class="bar">
                <p class="excellent"></p>
              </div>
              <div class="information">
                <p>6.4 inches</p>
                <p class="info">Super AMOLED display</p>
                <p class="info">1080 x 2400 Pixels</p>
              </div>
            </div>
            <div class="camera">
              <h4>Camera</h4>
              <div class="bar">
                <p class="very-good"></p>
              </div>
              <div class="information">
                <p>64-MP + 8-MP + 2-MP + 2-MP</p>
                <p class="info">LED flash</p>
                <p class="info">32 MP front camera</p>
              </div>
            </div>
            <div class="battery">
              <h4>Battery</h4>
              <div class="bar">
                <p class="excellent"></p>
              </div>
              <div class="information">
                <p>4500 mAh</p>
                <p class="info">Fast charging 65W</p>
                <p class="info"></p>
              </div>
            </div>
          </div>
          <div class="short-info">
            <div class="full-specs">
              <h5><a href="{% url 'realme7pro' %}">Full specification</a></h5>
            </div>
          </div>
        </div>
      </div>
      <!-- 1 -->
      <div class="mobile-specs">
        <div class="mobile-img">
          <img  src="{% static 'image/mobile/apple/apple-11-pro-max-1.jpg' %}" alt="">
        </div>
        <div class="mobile-info">
          <div class="mobile-name-price">
            <div class="mobile-view-name">
              <div class="mobile-view">
                <h5>129</h5>
                <p><i class="fa fa-eye"></i></p>
              </div>
              <div class="mobile-name">
                <h3>iPhone 11 Pro Max</h3>
                <div class="star-rating">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
            </div>
            <div class="mobile-price">
              <h3>Rs. 1,17,100</h3>
              <p>see more price</p>
            </div>
          </div>
          <div class="mobile-detail">
            <div class="performance">
              <h4>Performance</h4>
              <div class="bar">
                <p class="very-good"></p>
              </div>
              <div class="information">
                <p>Hexa-core</p>
                <p class="info">Apple A13 Bionic (7 nm+)</p>
                <p class="info">256GB 4GB RAM</p>
              </div>
            </div>
            <div class="display">
              <h4>Display</h4>
              <div class="bar">
                <p class="very-good"></p>
              </div>
              <div class="information">
                <p>6.5 inches</p>
                <p class="info">Super Retina XDR OLED capacitive touchscreen</p>
              </div>
            </div>
            <div class="camera">
              <h4>Camera</h4>
              <div class="bar">
                <p class="excellent"></p>
              </div>
              <div class="information">
                <p>12-MP + 12-MP + 12-MP</p>
                <p class="info">Quad-LED dual-tone flash</p>
                <p class="info">12 MP front camera</p>
              </div>
            </div>
            <div class="battery">
              <h4>Battery</h4>
              <div class="bar">
                <p class="good"></p>
              </div>
              <div class="information">
                <p>3969 mAh</p>
                <p class="info">Fast charging 18W</p>
                <p class="info">Qi wireless charging</p>
              </div>
            </div>
          </div>
          <div class="short-info">
            <div class="full-specs">
              <h5><a href="{% url '11ProMax' %}">Full specification</a></h5>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="mobile-specs">
        <div class="mobile-img">
          <img  src="{% static 'image/mobile/realme/realme-narzo-20-pro-1.jfif' %}" alt="">
        </div>
        <div class="mobile-info">
          <div class="mobile-name-price">
            <div class="mobile-view-name">
              <div class="mobile-view">
                <h5>368</h5>
                <p><i class="fa fa-eye"></i></p>
              </div>
              <div class="mobile-name">
                <h3>Realme Narzo 20 Pro</h3>
                <div class="star-rating">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
            </div>
            <div class="mobile-price">
              <h3>Rs. 15,999</h3>
              <p>see more price</p>
            </div>
          </div>
          <div class="mobile-detail">
            <div class="performance">
              <h4>Performance</h4>
              <div class="bar">
                <p class="very-good"></p>
              </div>
              <div class="information">
                <p>Octa-core</p>
                <p class="info">MediaTek Helio G90</p>
                <p class="info">64GB 6GB RAM</p>
              </div>
            </div>
            <div class="display">
              <h4>Display</h4>
              <div class="bar">
                <p class="very-good"></p>
              </div>
              <div class="information">
                <p>6.55 inches</p>
                <p class="info">IPS LCD</p>
                <p class="info">1080 x 2400 Pixels</p>
              </div>
            </div>
            <div class="camera">
              <h4>Camera</h4>
              <div class="bar">
                <p class="very-good"></p>
              </div>
              <div class="information">
                <p>64-MP + 8-MP + 2-MP + 2-MP</p>
                <p class="info">LED flash</p>
                <p class="info">20 MP front camera</p>
              </div>
            </div>
            <div class="battery">
              <h4>Battery</h4>
              <div class="bar">
                <p class="excellent"></p>
              </div>
              <div class="information">
                <p>6000 mAh</p>
                <p class="info">Fast charging</p>
                <p class="info"></p>
              </div>
            </div>
          </div>
          <div class="short-info">
            <div class="full-specs">
              <h5><a href="{% url 'narzo20pro' %}">Full specification</a></h5>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="mobile-specs">
        <div class="mobile-img">
          <img  src="{% static 'image/mobile/realme/demo.jpg' %}" alt="">
        </div>
        <div class="mobile-info">
          <div class="mobile-name-price">
            <div class="mobile-view-name">
              <div class="mobile-view">
                <h5>432</h5>
                <p><i class="fa fa-eye"></i></p>
              </div>
              <div class="mobile-name">
                <h3>Realme Q2 - 5G</h3>
                <div class="star-rating">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
            </div>
            <div class="mobile-price">
              <h3>Rs. 19,990</h3>
              <p>see more price</p>
            </div>
          </div>
          <div class="mobile-detail">
            <div class="performance">
              <h4>Performance</h4>
              <div class="bar">
                <p class="very-good"></p>
              </div>
              <div class="information">
                <p>Octa-core</p>
                <p class="info">MediaTek Dimensity 800U 5G</p>
                <p class="info">128GB 6GB RAM</p>
              </div>
            </div>
            <div class="display">
              <h4>Display</h4>
              <div class="bar">
                <p class="very-good"></p>
              </div>
              <div class="information">
                <p>6.5 inches</p>
                <p class="info">IPS LCD</p>
              </div>
            </div>
            <div class="camera">
              <h4>Camera</h4>
              <div class="bar">
                <p class="good"></p>
              </div>
              <div class="information">
                <p>48-MP + 8-MP + 2-MP</p>
                <p class="info">LED flash</p>
                <p class="info">16 MP front camera</p>
              </div>
            </div>
            <div class="battery">
              <h4>Battery</h4>
              <div class="bar">
                <p class="excellent"></p>
              </div>
              <div class="information">
                <p>5000 mAh</p>
                <p class="info">Fast charging 35W</p>
                <p class="info"></p>
              </div>
            </div>
          </div>
          <div class="short-info">
            <div class="full-specs">
              <h5><a href="{% url 'realmeq2' %}">Full specification</a></h5>
            </div>
          </div>
        </div>
      </div>
      <!-- 2 -->
      <div class="mobile-specs">
        <div class="mobile-img">
          <img  src="{% static 'image/mobile/apple/apple-11-1.jpeg' %}" alt="">
        </div>
        <div class="mobile-info">
          <div class="mobile-name-price">
            <div class="mobile-view-name">
              <div class="mobile-view">
                <h5>068</h5>
                <p><i class="fa fa-eye"></i></p>
              </div>
              <div class="mobile-name">
                <h3>iPhone 11</h3>
                <div class="star-rating">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
            </div>
            <div class="mobile-price">
              <h3>Rs. 68,300</h3>
              <p>see more price</p>
            </div>
          </div>
          <div class="mobile-detail">
            <div class="performance">
              <h4>Performance</h4>
              <div class="bar">
                <p class="very-good"></p>
              </div>
              <div class="information">
                <p>Hexa-core</p>
                <p class="info">Apple A13 Bionic (7 nm+)</p>
                <p class="info">64GB 4GB RAM</p>
              </div>
            </div>
            <div class="display">
              <h4>Display</h4>
              <div class="bar">
                <p class="very-good"></p>
              </div>
              <div class="information">
                <p>6.1 inches</p>
                <p class="info">Liquid Retina IPS LCD</p>
              </div>
            </div>
            <div class="camera">
              <h4>Camera</h4>
              <div class="bar">
                <p class="excellent"></p>
              </div>
              <div class="information">
                <p>12-MP + 12-MP Dual</p>
                <p class="info">Quad-LED dual-tone flash</p>
                <p class="info">12 MP front camera</p>
              </div>
            </div>
            <div class="battery">
              <h4>Battery</h4>
              <div class="bar">
                <p class="good"></p>
              </div>
              <div class="information">
                <p>3110 mAh</p>
                <p class="info">Fast charging 18W</p>
                <p class="info">Qi wireless charging</p>
              </div>
            </div>
          </div>
          <div class="short-info">
            <div class="full-specs">
              <h5><a href="{% url 'iphone11' %}">Full specification</a></h5>
            </div>
          </div>
        </div>
      </div>
      <!-- 3 -->
      <div class="mobile-specs">
        <div class="mobile-img">
          <img  src="{% static 'image/mobile/apple/apple-se-1.png' %}" alt="">
        </div>
        <div class="mobile-info">
          <div class="mobile-name-price">
            <div class="mobile-view-name">
              <div class="mobile-view">
                <h5>064</h5>
                <p><i class="fa fa-eye"></i></p>
              </div>
              <div class="mobile-name">
                <h3>iPhone SE</h3>
                <div class="star-rating">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
            </div>
            <div class="mobile-price">
              <h3>Rs. 42,500</h3>
              <p>see more price</p>
            </div>
          </div>
          <div class="mobile-detail">
            <div class="performance">
              <h4>Performance</h4>
              <div class="bar">
                <p class="good"></p>
              </div>
              <div class="information">
                <p>Hexa-core</p>
                <p class="info">Apple A13 Bionic (7 nm+)</p>
                <p class="info">64GB 3GB RAM</p>
              </div>
            </div>
            <div class="display">
              <h4>Display</h4>
              <div class="bar">
                <p class="very-good"></p>
              </div>
              <div class="information">
                <p>4.7 inches</p>
                <p class="info">Retina IPS LCD</p>
              </div>
            </div>
            <div class="camera">
              <h4>Camera</h4>
              <div class="bar">
                <p class="good"></p>
              </div>
              <div class="information">
                <p>12-MP Single</p>
                <p class="info">Quad-LED dual-tone flash</p>
                <p class="info">7 MP front camera</p>
              </div>
            </div>
            <div class="battery">
              <h4>Battery</h4>
              <div class="bar">
                <p class="good"></p>
              </div>
              <div class="information">
                <p>1821 mAh</p>
                <p class="info">Fast charging 18W</p>
                <p class="info">Qi wireless charging</p>
              </div>
            </div>
          </div>
          <div class="short-info">
            <div class="full-specs">
              <h5><a href="{% url 'iphoneSE' %}">Full specification</a></h5>
            </div>
          </div>
        </div>
      </div>
      <!-- 4 -->
      <div class="mobile-specs">
        <div class="mobile-img">
          <img  src="{% static 'image/mobile/apple/Apple-iPhone-XR-1.jpg' %}" alt="">
        </div>
        <div class="mobile-info">
          <div class="mobile-name-price">
            <div class="mobile-view-name">
              <div class="mobile-view">
                <h5>075</h5>
                <p><i class="fa fa-eye"></i></p>
              </div>
              <div class="mobile-name">
                <h3>iPhone XR</h3>
                <div class="star-rating">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
            </div>
            <div class="mobile-price">
              <h3>Rs. 52,500</h3>
              <p>see more price</p>
            </div>
          </div>
          <div class="mobile-detail">
            <div class="performance">
              <h4>Performance</h4>
              <div class="bar">
                <p class="good"></p>
              </div>
              <div class="information">
                <p>Dual-core</p>
                <p class="info">Apple A9 (14 nm)</p>
                <p class="info">16GB 2GB RAM</p>
              </div>
            </div>
            <div class="display">
              <h4>Display</h4>
              <div class="bar">
                <p class="very-good"></p>
              </div>
              <div class="information">
                <p>4.7 inches</p>
                <p class="info">Retina IPS LCD</p>
              </div>
            </div>
            <div class="camera">
              <h4>Camera</h4>
              <div class="bar">
                <p class="good"></p>
              </div>
              <div class="information">
                <p>12-MP Single</p>
                <p class="info">Quad-LED dual-tone flash</p>
                <p class="info">5 MP front camera</p>
              </div>
            </div>
            <div class="battery">
              <h4>Battery</h4>
              <div class="bar">
                <p class="good"></p>
              </div>
              <div class="information">
                <p>1715 mAh</p>
                <p class="info">Fast charging 18W</p>
                <p class="info">Qi wireless charging</p>
              </div>
            </div>
          </div>
          <div class="short-info">
            <div class="full-specs">
              <h5><a href="{% url 'iphoneXR' %}">Full specification</a></h5>
            </div>
          </div>
        </div>
      </div>
      <!-- 5 -->
    </div>
    {% endblock content%}
