{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="If you are an advertiser or PR (public relations) agent looking for advertisements or reviews on  hipein and would like to get in touch with us. You can write to us at the email address below."> {% endblock desc%}
{% block key%}<meta name="keywords" content="hipein contact us, contact us hipein"> {% endblock key%}
  {% load static %}
    {% block title%}Contact Us - hipein.com{% endblock title%}
    {% block content%}
    {% block style %}
    <style>
      p{font-family: sans-serif;font-size: 17px; line-height: 30px;}footer p{font-size: 16px; line-height: 20px;}.map{width: 100%; height: 400px;}@media (max-width: 768px){p{font-size: 19px;}.content{font-size: 18px;}ul{margin-left: -10px;}li{font-size: 18px;}.map{width: 100%; height: 250px;}footer p{font-size: 14px; line-height: 20px;}}
    </style>
    {% endblock style %}
    <!-- review and spec -->
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h1 style="font-weight: 400;" >Privacy & Policy for hipein</h1>
          <p>The privacy of our visitors at Hipein.com is very important to us. This privacy policy document outlines the types of personal information received and collected by https://www.hipein.com
          And how it is used.<p>
          <h3 style="margin-left: -3.9px; font-weight: 400; color: #00a8ff">Do We Sell Any Products?</h3>
          <p>No, we don't sell any products hipein.com is a tech product review and news website, and we don’t sell any products either online or offline.</p>
          <h3 style="margin-left: -3.9px; font-weight: 400; color: #00a8ff">Advertising Partners Privacy Policies.</h3>
          <p>You may consult this list to find the Privacy Policy for each of the advertising partners of hipein.com, so you may see text links or Ads from our partner Web sites. Third-party ad servers or ad networks use user's cookies to analyze their product.</p>
          <p>please note that the hipein.com has no use or control over these cookies that are used by third-party advertisers.</p>
          <p>If you want, you can also disable cookies in your personal browser. If you want more information then you can go to the settings of your browser and you can see there is an option for privacy & policy in that option you can get information about cookies and you can also disable them.</p>
          <h3 style="margin-left: -3.9px; font-weight: 400; color: #00a8ff">Disclaimers</h3>
          <p>If you have any queries or information you can feel free to contact us. We have given all our contact information on our contact page.</p>
          <p>The information contained in this website is for general information purposes only. Even looking at all our efforts, we cannot guarantee that the information on our phone specifications page and articles are 100% accurate. We will try to keep the information on our website up-to-date with our entire efforts.</p>
          <h3 style="margin-left: -3.9px; font-weight: 400; color: #00a8ff">DoubleClick DART Cookie</h3>
          <p>Google, as a third party vendor, uses cookies to advertise on http://www.hipein.com. In addition, Google's use of the DART cookie enables it to serve ads to users based on their visit to http://www.hipein.com and other sites on the Internet.</p>
          <p>Our advertising partners Google may use cookies and web beacons on our site.</p>
          <p>If the user wants then he can also decline his dart cookies by visiting the Google ad and content network Privacy Policy at the following URL – https://policies.google.com/technologies/ads.</p>
          <p>If you require any further information or have any questions regarding our privacy policy, please contact us by email at rohitkr0036@gmail.com.</p>
        </div>
        </div>
      </div>
    </div>
    {% endblock content%}
