{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="Samsung smartphone: New smartphone review and specification, buy at best price from amazon. "> {% endblock desc%}
{% block key%}<meta name="keywords" content="samsung galaxy S20 mobile, samsung S20 mobile , samsung galaxy S20 mobile at price, samsung galaxy S20 mobile phone youtube review, samsung galaxy S20 price, samsung galaxy S20 price at amazon"> {% endblock key%}
    {% load static %}
   {% block css%} <link rel="stylesheet" href="{% static 'pageCss/Mobile/mobileSpecCss.css' %}">{% endblock css%}
    {% block title%}Samsung Galaxy S20 Full specification: hipein.com{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <!-- review and spec -->
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h4 class="content">Samsung released his new smartphone Samsung Galaxy S20 at price of Rs. 70499</h4>
          <h2 class="content_tittle"><span>REVIEW</span> Samsung Galaxy S20 : 8/128 for Rs. 70499 Watch Full review-<a href="https://www.youtube.com/watch?v=bkQJRzc3pWM">http://www.youtube.com </a></h2>
        </div>
        <div >
          <img class="image"  src="{% static 'image/mobile/samsung/samsung-galaxy-s20-2.jpg' %}" alt="">
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by: TechTalkTV</p>
        </div>
        <div class="info">
          <p class="content">Samsung Galaxy S20 smartphone was launched on 11th February 2020. Samsung Galaxy S20 is powered by a 2GHz octa-core Samsung Exynos 990 processor that features 2 cores clocked at 2.73GHz, 2 cores clocked at 2.5GHz and 4 cores clocked at 2GHz. It comes with 8GB of RAM.The Samsung Galaxy S20 on the rear packs a 12-megapixel primary camera with an f/1.8 aperture; a second 64-megapixel camera with an f/2.0 aperture and a third 12-megapixel camera with an f/2.2 aperture. The rear camera setup has autofocus. It sports a 10-megapixel camera on the front for selfies, with an f/2.2 aperture. The front camera also features autofocus.There's a 4,000mAh battery, with support for fast charging.</p>
          <p class="content">The S20 runs on OneUI 2, which is based on Android 10.The Samsung Galaxy S20 measures 151.70 x 69.10 x 7.90mm (height x width x thickness) and weighs 163.00 grams. It was launched in Cloud Blue, Cloud Pink, Cosmic Grey, and colours.Connectivity options on the Samsung Galaxy S20 include Wi-Fi 802.11 a/b/g/n/ac/Yes, GPS, Bluetooth v5.00, NFC, USB Type-C, 3G, and 4G with active 4G.</p>
          <div class="aff-link1">
            <form action="https://www.amazon.in/Samsung-Galaxy-Storage-Additional-Exchange/dp/B08445DF23/ref=sr_1_1_sspa?dchild=1&keywords=Samsung+Galaxy+S20&qid=1594893074&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEySzlHWTFNUUhOTjY0JmVuY3J5cHRlZElkPUEwNTM1OTgzMktWSlozODhaSDg1NCZlbmNyeXB0ZWRBZElkPUEwMDc4NDI4NlFRQktJQ0FJVjk2JndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from amazon</button>
            </form>
            <form action="https://www.amazon.in/Samsung-Galaxy-Storage-Additional-Exchange/dp/B08445DF23/ref=sr_1_1_sspa?dchild=1&keywords=Samsung+Galaxy+S20&qid=1594893074&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEySzlHWTFNUUhOTjY0JmVuY3J5cHRlZElkPUEwNTM1OTgzMktWSlozODhaSDg1NCZlbmNyeXB0ZWRBZElkPUEwMDc4NDI4NlFRQktJQ0FJVjk2JndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>
          <p></p>
        </div>
    {% endblock content%}
    {% block specs%}
    <!-- specification -->
    <h3 class="spec_title">Full Specs</h3>
    <!-- 1 -->
    <div class="specs_table">
      <div class="specs">
        <strong>Available at</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Realsed on</strong>
          <p>	11 feb 2020</p>
        </div>
        <div class="specs_info">
          <strong>Amazon</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info1">
          <strong>Flipkart</strong>
          <p>Yes</p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BRAND</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Make</strong>
          <p>Samsung</p>
        </div>
        <div class="specs_info1">
          <strong>Models</strong>
          <p> S20</p>
        </div>
        <div class="specs_info">
          <strong>Color</strong>
          <p>Cosmic-Grey, Cloud-Blue, Cloud-Pink, Cloud-White, Aura-Red</p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="specs_table">
      <div class="specs">
        <strong>NETWORK TYPE</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>2G</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>3G</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info1">
          <strong>4G</strong>
          <p>Yes</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>DISPLAY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Screen</strong>
          <p>Dynamic AMOLED 2X capacitive touchscreen, 16M colors</p>
        </div>
        <div class="specs_info">
          <strong>Size(inch)</strong>
          <p>6.2</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>	1440 x 3200 pixels</p>
        </div>
        <div class="specs_info1">
          <strong>Protection</strong>
          <p>Gorilla Glass 6</p>
        </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BODY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Dimension(mm)</strong>
          <p>151.7 x 69.1 x 7.9 mm</p>
        </div>
        <div class="specs_info">
          <strong>Weight(g)</strong>
          <p>	163 g</p>
        </div>
        <div class="specs_info">
          <strong>Build</strong>
          <p>glass back-Gorilla Glass 6 and aluminum frame</p>
        </div>
        <div class="specs_info">
          <strong>SIM Type</strong>
          <p>Nano-SIM</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>Hybrid Dual SIM (Nano-SIM, dual stand-by)</p>
        </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="specs_table">
      <div class="specs">
        <strong>PLATFROM</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>OS</strong>
          <p>Android 10, One UI 2</p>
        </div>
        <div class="specs_info">
          <strong>Chipset</strong>
          <p>Exynos 990 (7 nm+)l</p>
        </div>
        <div class="specs_info">
          <strong>CPU</strong>
          <p>Octa-core</p>
        </div>
        <div class="specs_info1">
          <strong>GPU</strong>
          <p>Mali-G77 MP11 - Global</p>
        </div>
      </div>
    </div>
    <!-- 7 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MEMORY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Card Slot</strong>
          <p>	microSDXC (uses shared SIM slot)</p>
        </div>
        <div class="specs_info1">
          <strong>Internal</strong>
          <p>128GB 8GB RAM</p>
        </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="specs_table">
      <div class="specs">
        <strong>CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Rear camera</strong>
          <p>Triple</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>64 MP + 12 MP + 12 MP</p>
        </div>
        <div class="specs_info">
          <strong>selfie camera</strong>
          <p>Dual</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>10 MP</p>
        </div>
        <div class="specs_info">
          <strong>Features</strong>
          <p>	LED flash, auto-HDR, panorama</p>
        </div>
        <div class="specs_info">
          <strong>Video</strong>
          <p>	8K@24fps, 4K@30/60fps, 1080p@30/60/240fps, 720p@960fps, HDR10+,</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>stereo sound rec., gyro-EIS & OIS</p>
        </div>
      </div>
    </div>
    <!-- 9 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BATTERY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong></strong>
          <p>	Non-removable Li-Po 4000 mAh battery</p>
        </div>
        <div class="specs_info">
          <strong>Charging</strong>
          <p>Fast charging 25W</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>Fast Qi/PMA wireless charging 15W</p>
        </div>
      </div>
    </div>
    <!-- 10 -->
    <div class="specs_table">
      <div class="specs">
        <strong>COMMS.</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>WLAN</strong>
          <p>	Wi-Fi 802.11 a/b/g/n/ac/6, dual-band, Wi-Fi Direct, hotspot</p>
        </div>
        <div class="specs_info">
          <strong>Bluetooth</strong>
          <p>	5.0, A2DP, LE</p>
        </div>
        <div class="specs_info">
          <strong>GPS</strong>
          <p>	Yes, with A-GPS, GLONASS, BDS, GALILEO</p>
        </div>
        <div class="specs_info">
          <strong>Radio</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>NFC</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info1">
          <strong>USB</strong>
          <p>3.2, Type-C 1.0 reversible connector, USB On-The-Go</p>
        </div>
      </div>
    </div>
    <!-- 11 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FEATURE</strong>
      </div>
      <div class="specs_type">
          <div class="specs_info">
            <strong>Sensors</strong>
            <p>	Fingerprint (under display, ultrasonic), accelerometer, gyro, proximity,</p>
          </div>
          <div class="specs_info">
            <strong></strong>
            <p> compass, barometer</p>
          </div>
          <div class="specs_info">
            <strong></strong>
            <p>Bixby natural language commands and dictation</p>
          </div>
          <div class="specs_info1">
            <strong></strong>
            <p>	Samsung Pay - Visa, MasterCard certified</p>
          </div>
          <div class="specs_info1">
            <strong>WaterResistant</strong>
            <p>Yes - up to 1.5m for 30 min</p>
          </div>
      </div>
    </div>
    <!-- 12 -->
    <div class="specs_table">
      <div class="specs">
        <strong>Multimedia</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Loudspeaker</strong>
          <p>Yes, with stereo speakers</p>
        </div>
        <div class="specs_info">
          <strong>3.5mm jack</strong>
          <p>No</p>
        </div>
      </div>
    </div>
    <!-- 13 -->
    <!-- footer -->
  </div>

    {% endblock specs%}
