{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="Realme C17  price in India start from Rs. 12,999 and Realme C17 release date is 2020 September 20. - hipein "> {% endblock desc%}
{% block key%}<meta name="keywords" content="Realme C17 , Realme C17  specification, Realme C17  release date, Realme C17  price, Realme C17  price in india"> {% endblock key%}
{% block style %}
{% endblock style %}
    {% load static %}
    {% block title%}Realme C17 price in india, specification and features - hipein{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h1 class="content_tittle" style="font-weight: 400;"><span>REVIEW</span> Realme C17  (6/128 GB) price in india, specification and features.</h1>
          <p>Here Rumours comes out  Realme is about to launch its new smartphone, Realme C17  soon. </p>
        </div>
        <div>
          <img class="image" src="{% static 'image/mobile/realme/realme-c17.jpg'%}" alt="">
        </div>
        <hr class="my-2">
        <div class="info">
          <h2 style="font-weight: 400;">About Realme C17 </h2>
          <p>Realme is going to launch Realme C17 soon, taking its C series one step further. Realme C17  smartphone runs on the latest version of the Android operating system (Android 10). The phone is powered by an Octa-core (4x1.8 GHz Kryo 240 & 4x1.6 GHz Kryo 240) processor and it runs on Qualcomm SM8250 Snapdragon 460 (11 nm). </p>
          <p>Realme C17  smartphone has an IPS LCD display with 720 x 1600 pixels screen resolution and 402 PPI pixel density. Talking about its camera, On the front camera, you get a 8-megapixel primary camera and on the rear camera, there is a 13 megapixel wide-angle, 8 megapixels ultra-wide, 2-megapixels micro, and 2-megapixels depth. camera with features like Digital Zoom, Auto Flash, Face detection, Touch to focus. It has support for 18W fast charging and non-removable 5000 mAh battery. </p>
          <h3 style="font-weight: 400;">Realme C17  price in India.</h3>
          <p>Realme C17  price in India start from Rs. 12,999 and Realme C17 release date is 2020 September 20. This smartphone comes with single variants like 6/128GB RAM. It is available at two color options like Navy Blue and Lake Green. </p>
          <h3 style="font-weight: 400;">Realme C17  Key features:</h3>
          <ul>
            <li>Diaplay: 6.5 inches</li>
            <li>Processor: Qualcomm Snapdragon 460</li>
            <li>primary camera: 13-megapixel + 8-megapixel + 2-megapixel + 2-megapixel</li>
            <li>selfie camera: 8-megapixel</li>
            <li>Battery: Non-removable Li-Ion 5000 mAh battery</li>
            <li>Fast charging 18W.</li>
          </ul>
          <p></p>
        </div>
    {% endblock content%}
    {% block specs%}
    <h3 class="spec_title">Realme C17  specification</h3>
    <div class="specs_table">
      <div class="specs">
        <strong>Available at</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Realsed on</strong>
          <p>2020 September 20</p>
        </div>
        <div class="specs_info">
          <strong>Amazon</strong>
          <p>Coming soon</p>
        </div>
        <div class="specs_info1">
          <strong>Flipkart</strong>
          <p>Cooming soon</p>
        </div>
      </div>
    </div>
    <!-- 1 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BRAND</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Make</strong>
          <p>Realme</p>
        </div>
        <div class="specs_info">
          <strong>Models</strong>
          <p>C17</p>
        </div>
        <div class="specs_info1">
          <strong>Color</strong>
          <p>Navy Blue, Lake Green</p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="specs_table">
      <div class="specs">
        <strong>NETWORK TYPE</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>2G</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>3G</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>4G</strong>
          <p>Yes - (supports Indian bands)</p>
        </div>
        <div class="specs_info">
          <strong>5G</strong>
          <p>No</p>
        </div>
        <div class="specs_info1">
          <strong>SIM Type</strong>
          <p>Dual SIM (Nano-SIM)</p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="specs_table">
      <div class="specs">
        <strong>DISPLAY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Screen</strong>
          <p>IPS LCD capacitive touchscreen, 16M colors</p>
        </div>
        <div class="specs_info">
          <strong>Size(inch)</strong>
          <p>6.5</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>720 x 1600 pixels</p>
        </div>
        <div class="specs_info1">
          <strong>Protection</strong>
          <p>Corning Gorilla Glass</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>PLATFORM</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>OS</strong>
          <p>Android 10</p>
        </div>
        <div class="specs_info">
          <strong>Chipset</strong>
          <p>Qualcomm SM8250 Snapdragon 460 (11 nm)</p>
        </div>
        <div class="specs_info">
          <strong>CPU</strong>
          <p>Octa-core</p>
        </div>
        <div class="specs_info1">
          <strong>Graphics</strong>
          <p>Adreno 610</p>
        </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MEMORY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Card Slot</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info1">
          <strong>Internal</strong>
          <p>6/128GB RAM</p>
        </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="specs_table">
      <div class="specs">
        <strong>CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Rear Type </strong>
          <p>Quad</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>13-MP + 8-MP + 2-MP + 2-MP</p>
        </div>
        <div class="specs_info">
          <strong>Front Type</strong>
          <p>Single</p>
        </div>
        <div class="specs_info">
          <strong>Front camera</strong>
          <p>8-megapixel</p>
        </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BATTERY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong></strong>
          <p>Li-Po 5000 mAh, non-removable</p>
        </div>
        <div class="specs_info">
          <strong>Charging</strong>
          <p>Yes, Fast charging 18W</p>
        </div>
      </div>
    </div>
    <!-- 9 -->
    <div class="specs_table">
      <div class="specs">
        <strong>COMMS.</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>WLAN</strong>
          <p>Wi-Fi 802.11 a/b/g/n/ac, dual-band, Wi-Fi Direct, hotspot</p>
        </div>
        <div class="specs_info">
          <strong>Bluetooth</strong>
          <p>v5.0</p>
        </div>
        <div class="specs_info">
          <strong>GPS</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info1">
          <strong>Radio</strong>
          <p>Yes</p>
        </div>
      </div>
    </div>
    <!-- 10 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FEATURE</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Sensors</strong>
            <p>Fingerprint (rear-mounted), accelerometer, proximity,</p>
        </div>
        <div class="specs_info">
          <strong></strong>
            <p>compass</p>
        </div>
      </div>
    </div>
    <!-- 11 -->
    <div class="specs_table">
      <div class="specs">
        <strong>Multimedia</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Loudspeaker</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>3.5mm jack</strong>
          <p>Yes</p>
        </div>
      </div>
    </div>
    <div class="comment">
      <div style="background: white;" class="fb-comments" data-href="https://www.hipein.com/mobile/realme-c17" data-numposts="5" data-width=""></div>
    </div>
  </div>
{% endblock specs%}
