{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="Xiaomi released his new smartphone Redmi Mi 10 5G at price of 49,999-INR, buy at best price from amazon. india's no1 selling smartphone. "> {% endblock desc%}
{% block key%}<meta name="keywords" content="MI 10 mobile, MI 10 price , MI 10 price in india, MI 10 review, MI 10 specification"> {% endblock key%}
    {% load static %}
    {% block title%} Mi 10 (8/128GB) Full specification - hipein{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <!-- review and spec -->
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h4 class="content">Xiaomi released his new smartphone Redmi Mi 10 5G at price of 49,999-INR</h4>
          <h2 class="content_tittle"><span>REVIEW</span> Redmi Note Mi 10 5G : 8/128GB for 49,999-INR Watch Full review-<a href="https://www.youtube.com/watch?v=HM50zGXtmLo">http://www.youtube.com </a></h2>
        </div>
        <div >
          <img class="image"  src="{% static 'image/mobile/mi/redmi-mi-10-2.jpg' %}" alt="">
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by: TechDroider</p>
        </div>
        <div class="info">
          <h4 class="content">Redmi MI 10 summary</h4>
          <p>If we talk About design The <span>Mi 10 5G</span> is fairly large in size, even with the slim display bezels, and it's heavy too at 208g. However, it doesn't feel too bulky as the thickness is under 9mm. <span>Xiaomi</span> is making a big deal about the <span>Mi 10</span>'s display and its colour accuracy. It's definitely a very good-looking panel with punchy colours. It's a 6.67-inch AMOLED screen and is sharp enough, but the resolution is full-HD+ (2340x1080) and not QHD+. It supports the DCI-P3 wide colour gamut and HDR10+ with a peak brightness of 1,120nits. The display also runs at 90Hz, which is a big trend right now.</p>
          <p>The 108-megapixel primary camera in the Mi 10 5G uses a large 1/1.33-inch sensor with optical stabilisation and an aperture of f/1.7. By default, images go through a 4-in-1 oversampling process. If you do the math, they should be saved as 27-megapixel images, but when we checked, the resolution of the photos was actually 25 megapixels. There's digital zoom of up to 10x if needed, or 2x when using 108-megapixel mode.</p>
          <p>it has almost everything you can think of, starting with the <span>Qualcomm Snapdragon 865 SoC</span>, LPDDR5 RAM, UFS 3.0 storage, an in-display fingerprint sensor, Wi-Fi 6, fast wireless charging, and 5G. We have the 8GB RAM + 128GB storage variant, but there's a second model with 256GB of storage. There's no microSD card slot to expand storage.</p>
          <p>the Mi 10 5G supports up to <span>30W wireless</span> charging, which promises a full charge in just 65 minutes. You'll need to buy Xiaomi's proprietary 30W wireless charger of course. The wireless charger can also work with other devices using the Qi standard, but slower. Lastly, the Mi 10 5G also supports reverse wireless charging at up to 10W.</p>
          <div class="aff-link1">
            <form action="https://www.amazon.in/Test-A6010-Dummy-Asin_42/dp/B07X4R4F4G/ref=sr_1_1?dchild=1&keywords=xiaomi+Mi+10&qid=1594890336&sr=8-1">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from amazon</button>
            </form>
            <form action="https://www.amazon.in/Test-A6010-Dummy-Asin_42/dp/B07X4R4F4G/ref=sr_1_1?dchild=1&keywords=xiaomi+Mi+10&qid=1594890336&sr=8-1">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>
          <p></p>
      </div>
    {% endblock content%}
    {% block specs%}
    <!-- specification -->
    <h3 class="spec_title">Full Specs</h3>
    <!-- 1 -->
    <div class="specs_table">
      <div class="specs">
        <strong>LAUNCH</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Announced</strong>
          <p>2020, February 13</p>
        </div>
        <div class="specs_info1">
          <strong>Status</strong>
          <p>Available. Released 2020, February 14</p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="specs_table">
      <div class="specs">
        <strong>NETWORK</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Technology</strong>
          <p>GSM / HSPA / LTE</p>
        </div>
        <div class="specs_info">
          <strong>5G Bands</strong>
          <p>1, 3, 7, 28, 77, 78 Sub6 - Global</p>
        </div>
        <div class="specs_info1">
          <strong>Speed</strong>
          <p>HSPA 42.2/5.76 Mbps, LTE-A, 5G (2+ Gbps DL)</p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="specs_table">
      <div class="specs">
        <strong>DISPLAY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Type</strong>
          <p>Super AMOLED capacitive touchscreen, 16M colors</p>
        </div>
        <div class="specs_info">
          <strong>Size</strong>
          <p>6.67 inches, 109.2 cm2 (~89.8% screen-to-body ratio)</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>1080 x 2340 pixels, 19.5:9 ratio (~386 ppi density)</p>
        </div>
        <div class="specs_info">
          <strong>Protection</strong>
          <p>Corning Gorilla Glass 5</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>HDR10+</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>90Hz refresh rate</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BODY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Dimension</strong>
          <p>162.5 x 74.8 x 9 mm (6.40 x 2.94 x 0.35 in)</p>
        </div>
        <div class="specs_info">
          <strong>Weight</strong>
          <p>208 g (7.34 oz)</p>
        </div>
        <div class="specs_info">
          <strong>Build</strong>
          <p>Glass front (Gorilla Glass 5), glass back, aluminum frame</p>
        </div>
        <div class="specs_info1">
          <strong>SIM</strong>
          <p>Single SIM (Nano-SIM) or Dual SIM (Nano-SIM, dual stand-by)</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>PLARFROM</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>OS</strong>
          <p>Android 10, MIUI 12</p>
        </div>
        <div class="specs_info">
          <strong>Chipset</strong>
          <p>Qualcomm SM8250 Snapdragon 865 (7 nm+)</p>
        </div>
        <div class="specs_info">
          <strong>CPU</strong>
          <p>Octa-core (1x2.84 GHz Kryo 585 & 3x2.42 GHz Kryo 585 & 4x1.80 GHz </p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>Kryo 585) </p>
        </div>
        <div class="specs_info1">
          <strong>GPU</strong>
          <p>Adreno 650</p>
        </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MEMORY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Card Slot</strong>
          <p>No</p>
        </div>
        <div class="specs_info1">
          <strong>Internal</strong>
          <p>128GB 8GB RAM, 256GB 8GB RAM, 256GB 12GB RAM</p>
        </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="specs_table">
      <div class="specs">
        <strong>CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Quad</strong>
          <p>108 MP, f/1.7, (wide), 1/1.33", 0.8µm, PDAF, OIS</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>13 MP, f/2.4, 12mm (ultrawide)</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>2 MP, f/2.4, (macro)</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>2 MP, f/2.4, (depth)</p>
        </div>
        <div class="specs_info">
          <strong>Features</strong>
          <p>Dual-LED dual-tone flash, HDR, panorama</p>
        </div>
        <div class="specs_info1">
          <strong>Video</strong>
          <p>8K@30fps, 4K@30/60fps, 1080p@30/60fps; gyro-EIS</p>
        </div>
      </div>
    </div>
    <!-- 7 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FRONT CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Single</strong>
          <p>20 MP, f/2.0, (wide), 1/3", 0.9µm</p>
        </div>
        <div class="specs_info1">
          <strong>Features</strong>
          <p>HDR</p>
        </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BATTERY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong></strong>
          <p>Non-removable Li-Ion 4780 mAh battery</p>
        </div>
        <div class="specs_info">
          <strong>Charging</strong>
          <p>Fast charging 30W</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>Power Delivery 3.0</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>Fast wireless charging 30W</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>Reverse wireless charging 5W</p>
        </div>
      </div>
    </div>
    <!-- 9 -->
    <div class="specs_table">
      <div class="specs">
        <strong>COMMS.</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>WLAN</strong>
          <p>Wi-Fi 802.11 a/b/g/n/ac, dual-band, Wi-Fi Direct, hotspot</p>
        </div>
        <div class="specs_info">
          <strong>Bluetooth</strong>
          <p>5.1, A2DP, LE, aptX HD, aptX Adaptive</p>
        </div>
        <div class="specs_info">
          <strong>GPS</strong>
          <p>Yes, with dual-band A-GPS, GLONASS, BDS, GALILEO, QZSS</p>
        </div>
        <div class="specs_info">
          <strong>Radio</strong>
          <p>No</p>
        </div>
        <div class="specs_info">
          <strong>NFC</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>Infared port</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info1">
          <strong>USB</strong>
          <p>2.0, Type-C 1.0 reversible connector, USB On-The-Go</p>
        </div>
      </div>
    </div>
    <!-- 10 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FEATURE</strong>
      </div>
      <div class="specs_type">
          <div class="specs_info">
            <strong>Sensors</strong>
            <p>Fingerprint (under display, optical), accelerometer, gyro, proximity</p>
          </div>
          <div class="specs_info1">
            <strong></strong>
            <p>compass, barometer</p>
          </div>
      </div>
    </div>
    <!-- 11 -->
    <div class="specs_table">
      <div class="specs">
        <strong>SOUND</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Loudspeaker</strong>
          <p>Yes, with stereo speakers</p>
        </div>
        <div class="specs_info">
          <strong>3.5mm jack</strong>
          <p>No</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>24-bit/192kHz audio</p>
        </div>
      </div>
    </div>
    <!-- 12 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MISC</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Color</strong>
          <p>Coral Green, Twilight Grey, Peach Gold</p>
        </div>
        <div class="specs_info1">
          <strong>Models</strong>
          <p>M2001J2G, M2001J2I</p>
        </div>
      </div>
    </div>
    </div>
    <!-- 13 -->
    {% endblock specs%}
