{% extends 'page/base.html' %}
{% block desc%}<meta name="description" content="xiaomi smartphone: New smartphone review and specification, buy at best price from amazon. india's no1 selling smartphone. "> {% endblock desc%}
{% block key%}<meta name="keywords" content="Xiaomi best mobile, xiaomi mobile , xiaomi mobile at price,  xiaomi mobile ka rate, xiaomi mobile all price, xiaomi mobile phones youtube review, redmi note 9 pro specification,  redmi note 9 pro max specification, redmi mi 10 specification"> {% endblock key%}
  {% load static %}
    {% block title%}Xiaomi mobile phone: specification, reviews & price{% endblock title%}
    {% block actxai%} class="active"{% endblock actxai%}
    {% block content%}
    <!-- content -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/mi/redmi-note-9-pro-max-1.jpg' %}" alt="">
        </div>
        <div class="content_info"><br>
          <h1 class="content_tittle"><span>REVIEW</span> Redmi Note 9 Pro Max: 6/128GB for 16,999-INR Watch Full review-<a href="https://www.youtube.com/watch?v=d9npLN6QK70">http://www.youtube.com </a></h1>
          <p class="content_text">xiaomi Release his new <span>Redmi Note 9 Pro Max</span> in india start from <span>16,999</span>. Redmi Note 9 Pro Max Available at <span>Amazon</span> in lowest prices. This smartphone coming with 2 variants like 6/128Gb and 8/128Gb with colour options like Aurora Blue, Glacier White, and Interstellar Black. The smart -phone is powered by the <span>Qualcomm Snapdragon 720G SoC</span> and having 5020mAh battery. It has support for 33W fast charging which is very helpful...  </p>
          <a href="{% url 'note9promax' %}" class="content_spec" class="">Full Specification</a>
          <p></p>
          <a href="https://www.amazon.in/Test-Exclusive-558/dp/B077PWJRFH/ref=sr_1_1?dchild=1&keywords=Redmi+Note+9+Pro+Max&qid=1594890267&sr=8-1" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from amazon</button></a>
          <a href="https://www.amazon.in/s?k=Redmi+Note+9+Pro+Max&ref=nb_sb_noss" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
          <p></p><br>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/mi/mi-10-1.png' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> Redmi Note Mi 10 5G : 8/128GB for 49,999-INR Watch Full review-<a href="https://www.youtube.com/watch?v=HM50zGXtmLo">http://www.youtube.com </a></h1>
          <p class="content_text">xiaomi Release his brand new <span>Mi 10 5G</span> in india on 14th Faburary 2020 and start from <span>49,999</span>.Mi 10 Available at <span>Amazon</span> in lowest prices. This smartphone coming with 3 variants like 8/128Gb, 8/256Gb and 8/256GB with colour options like coral Green and Twilight Grey. The smart -phone is powered by the <span>Qualcomm SM8250 Snapdragon 865 (7 nm+)</span> having powerful processor and with 5020mAh battery. It has support for 30W wireless charging + 10W reverse charging. In Mi 10 it has support for 5G nework.</p>
          <a href="{% url 'mi10' %}" class="content_spec" class="">Full Specificaton</a>
          <p></p>
          <a href="https://www.amazon.in/Test-A6010-Dummy-Asin_42/dp/B07X4R4F4G/ref=sr_1_1?dchild=1&keywords=xiaomi+Mi+10&qid=1594890336&sr=8-1" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from amazon</button></a>
          <a href="https://www.amazon.in/s?k=xiaomi+Mi+10&ref=nb_sb_noss" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
         </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/mi/redmi-note-9-pro-1.jpg' %}"alt="">
        </div>
        <div class="content_info">

          <h1 class="content_tittle"><span>REVIEW</span> Redmi Note 9 Pro : 4/64GB for 13,999-INR Watch Full review-<a href="https://www.youtube.com/watch?v=Fg4I8vT2hhs">http://www.youtube.com </a></h1>
          <p class="content_text">xiaomi Release his new <span>Redmi Note 9 Pro</span> in india on 7th March 2020 and start from <span>13,999</span>. Redmi Note 9 Pro Available at <span>Amazon</span> in lowest prices. This smartphone coming with 2 variants like 4/64Gb and 6/128Gb with colour options like Aurora Blue, Glacier White, and Interstellar Black. The smart -phone is powered by the <span>Qualcomm Snapdragon 720G</span> and having 5020mAh battery. It has support 18W fast charger in-box and Type-C connectivity fast charging which is very helpful...  </p>
          <a href="{% url 'note9pro' %}" class="content_spec" class="">Full Specificaton</a>
          <p></p>
          <a href="https://www.amazon.in/Test-Exclusive-549/dp/B077PWBC78/ref=sr_1_1?dchild=1&keywords=Redmi+Note+9+Pro&qid=1594890388&sr=8-1" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from amazon</button></a>
          <a href="https://www.amazon.in/s?k=Redmi+Note+9+Pro&ref=nb_sb_noss" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
         </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/mi/redmi-note-8-pro-1.jpg' %}"alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> Redmi Note 8 Pro: 6/64GB for 15,999INR Watch Full review-<a href="https://www.youtube.com/watch?v=5jWhgMMw_eQ">http://www.youtube.com </a></h1>
          <p class="content_text">xiaomi Released his new <span>Redmi Note 8 Pro</span>on 24th September 2019 and start from <span>15,999</span>.Redmi Note 8 Pro Available at <span>Amazon</span> in lowest prices. This smartphone coming with 4 variants like 64GB 6GB RAM, 128GB 6GB RAM, 128GB 8GB RAM, 256GB 8GB RAM with colour options like halo white, shadow Black and Elecrtic Blue. The smart -phone is powered by the <span>Mediatek Helio G90T (12nm)</span> and	Non-removable Li-Po 4500 mAh battery. It has support for Fast charging 18W.</p>
          <a href="{% url 'note8pro' %}" class="content_spec" class="">Full Specificaton</a>
          <p></p>
          <a href="https://www.amazon.in/Redmi-Note-Pro-Storage-Processor/dp/B07X3NZZJ1/ref=sr_1_2?dchild=1&keywords=Redmi+Note+8+Pro&qid=1594890440&sr=8-2" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from amazon</button></a>
          <a href="https://www.amazon.in/s?k=Redmi+Note+8+Pro&ref=nb_sb_noss" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
         </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/mi/redmi-k20-1.jpg' %}" alt="">
        </div>
        <div class="content_info">
          <p></p>
          <h1 class="content_tittle"><span>REVIEW</span> Redmi K20 : 6/128GB for 21,999-INR Watch Full review-<a href="https://www.youtube.com/watch?v=tw3RaPd0MFE">http://www.youtube.com </a></h1>
          <p class="content_text">The <span>Redmi K20</span> is powered by the Snapdragon 855 and employs the 48-megapixel Sony IMX586 sensor for its primary rear camera, while the <span>Redmi K20</span> gets the <span>Snapdragon 730 SoC</span> and comes equipped with the slightly lower-end 48-megapixel Sony IMX582 sensor. The Redmi K20 features a 6.39-inch full-HD+ (1080 x 2340 pixels) HDR AMOLED display with a 19.5:9 aspect ratio, an impressive screen-to-body ratio of 91.9 percent, 403ppi pixel density, and 600 nits of peak brightness. The display is protected by Corning Gorilla Glass 5.</p>
          <a href="{% url 'k20' %}" class="content_spec" class="">Full Specificaton</a>
          <p></p>
          <a href="https://www.amazon.in/Redmi-K20-Glacier-Storage-Exchange/dp/B082FNDQT7/ref=sr_1_5?dchild=1&keywords=Redmi+K20&qid=1594890513&sr=8-5" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from amazon</button></a>
          <a href="https://www.amazon.in/Redmi-K20-Glacier-Storage-Exchange/dp/B082FNDQT7/ref=sr_1_5?dchild=1&keywords=Redmi+K20&qid=1594890513&sr=8-5" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
        </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/mi/redmi-note-8-1.jpg' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> Redmi Note 8 : 6/64GB for 11,999INR Watch Full review-<a href="https://www.youtube.com/watch?v=GBkpuDS2_zk">http://www.youtube.com </a></h1>
          <p class="content_text">xiaomi Released his new <span>Redmi Note 8</span>on 29th August 2019 and start from <span>11,999</span>.Redmi Note 8 Available at <span>Amazon</span> in lowest prices. This smartphone coming with 5 variants like 32GB 3GB RAM, 64GB 4GB RAM, 64GB 6GB RAM, 128GB 4GB RAM, 128GB 6GB RAM with colour options like Neptune Blue, Moonlight White, Space Black, Nebula Purple, Cosmic Purple. The smart -phone is powered by the <span>	Qualcomm SDM665 Snapdragon 665 (11 nm)</span> and Non-removable Li-Po 4000 mAh battery and It has support for Fast charging 18W</p>
          <a href="{% url 'note8' %}" class="content_spec" class="">Full Specificaton</a>
          <p></p>
          <a href="https://www.amazon.in/Redmi-Note-Cosmic-Purple-Storage/dp/B07X3P1N2V/ref=sr_1_1?dchild=1&keywords=Redmi+Note+8&qid=1594890640&sr=8-1" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from amazon</button></a>
          <a href="https://www.amazon.in/Redmi-Note-Cosmic-Purple-Storage/dp/B07X3P1N2V/ref=sr_1_1?dchild=1&keywords=Redmi+Note+8&qid=1594890640&sr=8-1" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
        </div>
      </div>
    </div>
    <!-- 7 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/mi/redmi-note-7-pro-1.png' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> Redmi Note 7 Pro : 4/64GB for 10,999INR Watch Full review-<a href="https://www.youtube.com/watch?v=IapEQIuXYHw">http://www.youtube.com </a></h1>
          <p class="content_text">xiaomi Released his new <span>Redmi Note 7 Pro</span> on 18th March 2019 and start from <span>10,999</span>.Redmi Note 7 Pro Available at <span>flipkart</span> in lowest prices. This smartphone coming with 3 variants like 4/64GB, 6/64GB, 6/128GB, with colour options like Nebula Red, Neptune Blue, Space Black, Astro White Nebula Red, Neptune Blue, Space Black, Astro White. The smart -phone is powered by the <span>Qualcomm SDM675 Snapdragon 675</span> and Non-removable Li-Po 4000 mAh battery and It has support for Fast charging 18W</p>
          <a href="{% url 'note7pro' %}" class="content_spec" class="">Full Specificaton</a>
          <p></p>
          <a href="https://www.amazon.in/Note-Pro-Space-Black-64GB/dp/B07VWXLRRH/ref=sr_1_1?dchild=1&keywords=Redmi+Note+7+Pro&qid=1594890725&sr=8-1" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from amazon</button></a>
          <a href="https://www.amazon.in/Note-Pro-Space-Black-64GB/dp/B07VWXLRRH/ref=sr_1_1?dchild=1&keywords=Redmi+Note+7+Pro&qid=1594890725&sr=8-1" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
         </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/mi/redmi-note-7s-1.jpg' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> Redmi Note 7s : 4/64GB for 11,999-INR Watch Full review-<a href="http://www.youtube.com">http://www.youtube.com </a></h1>
          <p class="content_text">xiaomi Released his new <span>Redmi Note 7s</span> on May 2019 and start from <span>11,999</span>.Redmi Note 7s Available at <span>flipkart</span> in lowest prices. This smartphone coming with 2 variants like 	32GB 3GB RAM, 64GB 4GB RAM with colour options like Onyx Black, Sapphire Blue, Ruby Red, Astro White. The smart -phone is powered by the <span>	Qualcomm SDM660 Snapdragon 660 (14 nm)</span> and Non-removable Li-Po 4000 mAh battery and It has support for Fast charging 18W</p>
          <a href="{% url 'note7s' %}" class="content_spec" class="">Full Specificaton</a>
          <p></p>
          <a href="https://www.flipkart.com/redmi-note-7s-onyx-black-64-gb/p/itmfh75fh2ggjgag?pid=MOBFGGJ8AUXSTH6D&lid=LSTMOBFGGJ8AUXSTH6DUXD9PW&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=cf2ef4af-ede5-4696-b5c3-6d95078f9c77.MOBFGGJ8AUXSTH6D.SEARCH&ppt=sp&ppn=sp&ssid=c6u15phq400000001594890738698&qH=2f03d3b1138b616a" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from flipkart</button></a>
          <a href="https://www.flipkart.com/search?q=Redmi%20Note%207s&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
         </div>
      </div>
    </div>
    <!-- 9 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/mi/redmi-8-1.jpg' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> Redmi 8 : 4/64GB for 9,949-INR Watch Full review-<a href="https://www.youtube.com/watch?v=xVscTTPrgo0">http://www.youtube.com </a></h1>
          <p class="content_text">xiaomi Released his new <span>Redmi 8</span> on 12th October 2019 and start from <span>9,949</span>.Redmi 8 Available at <span>flipkart</span> in lowest prices. This smartphone coming with 2 variants like 32GB 3GB RAM, 64GB 4GB RAM with colour options like Onyx Black, Sapphire Blue, Ruby Red, Astro White. The smart -phone is powered by the <span>Qualcomm SDM439 Snapdragon 439 (12 nm)</span> and Non-removable Li-Po 5000 mAh battery and It has support for Fast charging 18W</p>
          <a href="{% url 'redmi8' %}" class="content_spec" class="">Full Specificaton</a>
          <p></p>
          <a href="https://www.flipkart.com/redmi-8-onyx-black-64-gb/p/itmebd23d8a2ed1b?pid=MOBFKPYDZJQHGJXA&lid=LSTMOBFKPYDZJQHGJXAPMDXOB&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=7eb39bee-baa5-42c0-8d00-79a6cb033924.MOBFKPYDZJQHGJXA.SEARCH&ppt=sp&ppn=sp&ssid=e8efv76aog0000001594890817032&qH=b190950d47ba7008" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from flipkart</button></a>
          <a href="https://www.flipkart.com/search?q=%20Redmi%208&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
         </div>
      </div>
    </div>
    <!-- 10 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/mi/redmi-8a-1.jpg' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> Redmi 8A : 2/32GB for 6,999-INR Watch Full review-<a href="https://www.youtube.com/watch?v=1Qsznx2NZnw">http://www.youtube.com </a></h1>
          <p class="content_text">xiaomi Released his new <span>Redmi 8A</span> on 2019, September 30 and start from <span>6,999</span>.Redmi 8A Available at <span>flipkart</span> in lowest prices. This smartphone coming with 3 variants like 32GB 2GB RAM, 32GB 3GB RAM, 64GB 4GB RAM with colour options like Midnight Black, Ocean Blue, Sunset Red. The smart -phone is powered by the <span>Qualcomm SDM439 Snapdragon 439 (12 nm)</span> and Non-removable Li-Po 5000 mAh battery and It has support for Fast charging 18W</p>
          <a href="{% url 'redmi8A' %}" class="content_spec" class="">Full Specificaton</a>
          <p></p>
          <a href="https://www.flipkart.com/redmi-8a-sunset-red-32-gb/p/itm5474ed67d23bf?pid=MOBFKF98FTTEN832&lid=LSTMOBFKF98FTTEN832NKEHTF&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=572c85a9-aa44-455e-8ebc-4018036f7687.MOBFKF98FTTEN832.SEARCH&ppt=sp&ppn=sp&ssid=7q3267b05s0000001594891005249&qH=b45ee9aff81e9953" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from Flipkart</button></a>
          <a href="https://www.flipkart.com/redmi-8a-sunset-red-32-gb/p/itm5474ed67d23bf?pid=MOBFKF98FTTEN832&lid=LSTMOBFKF98FTTEN832NKEHTF&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=572c85a9-aa44-455e-8ebc-4018036f7687.MOBFKF98FTTEN832.SEARCH&ppt=sp&ppn=sp&ssid=7q3267b05s0000001594891005249&qH=b45ee9aff81e9953" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
         </div>
      </div>
    </div>
    {% endblock content%}
