{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="Apple smartphone: New smartphone review and specification, buy at best price from amazon. "> {% endblock desc%}
{% block key%}<meta name="keywords" content="apple 11 pro max, iphone 11 pro max, apple 11 pro max review, , iphone 11 pro max specification, iphone 11 pro max price in india, apple mobile phones youtube review"> {% endblock key%}
  {% load static %}
   {% block css%} <link rel="stylesheet" href="{% static 'pageCss/Mobile/mobileSpecCss.css' %}">{% endblock css%}
    {% block title%}Apple 11Pro Max Full specification: hipein.com{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <style>
         .info{
           padding-top: 10px;
         }
         .info span{
           color:red;
         }
       </style>
    <!-- review and spec -->
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h4 class="content">Apple released his new smartphone 11 Pro Max at price of 1,17,100-INR</h4>
          <h2 class="content_tittle"><span>REVIEW</span> Apple 11 Pro Max : 4/64GB for 1,17,100-INR Watch Full review-<a href="https://www.youtube.com/watch?v=bSmJBoXZWto">http://www.youtube.com </a></h2>
        </div>
        <div >
          <img class="image"  src="{% static 'image/mobile/apple/apple-11-pro-max-2.jpg'%}" alt="">
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by:  Daniel Romero</p>
        </div>
        <div class="info">
            <h4 class="content">Apple 11 pro max summary</h4>
            <p class="content"><span>Apple iPhone 11 Pro max</span> smartphone was launched in 2019, September 10. The phone comes with a 6.5-inch touchscreen display with a resolution of 1242 x 2688 pixels at a pixel density of 458 pixels per inch (ppi). Apple iPhone SE is powered by an <span>Apple A13 Bionic (7 nm+)</span> processor. It comes with 4GB of RAM.</p>
            <p class="content">Apple <span>iPhone 11 pro max</span> iOS 13, upgradable to iOS 13.5 and packs 64GB of inbuilt storage. The Apple iPhone 11 pro max is a single SIM or Dual SIM (GSM) smartphone that accepts a Nano-SIM card. The Apple iPhone 11 pro max measures 1158 x 77.8 x 8.1 mm (height x width x thickness) and weighs 226 grams. It was launched in Space Gray, Silver, Gold, Midnight Green (matte colors).</p>
            <p class="content">As far as the cameras are concerned, the Apple iPhone 11 pro max on the rear packs 12-megapixel camera and 12-megapixel selfies camera</p>
            <p class="content">Connectivity options on the Apple iPhone 11 pro max include Wi-Fi, GPS, Bluetooth v5.0, NFC, 3G, and 4G. Sensors on the phone include Face ID, accelerometer, ambient light sensor, gyroscope, proximity sensor, and compass/ magnetometer.</p>
            <div class="aff-link">
              <a href="https://www.amazon.in/Apple-iPhone-Pro-Max-64GB/dp/B07XVLMZHH/ref=sr_1_1_sspa?dchild=1&keywords=Apple+11+Pro+Max&qid=1594878920&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFRMlcyOExEN1k1MTQmZW5jcnlwdGVkSWQ9QTAxOTYyNzFRVDlSOVdRQlNIVVkmZW5jcnlwdGVkQWRJZD1BMDg1Njk3NTNKUFpGVktJQ1FYNE0md2lkZ2V0TmFtZT1zcF9hdGYmYWN0aW9uPWNsaWNrUmVkaXJlY3QmZG9Ob3RMb2dDbGljaz10cnVl" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy form amazon</button></a>
              <a href="https://www.amazon.in/Apple-iPhone-Pro-Max-64GB/dp/B07XVLMZHH/ref=sr_1_1_sspa?dchild=1&keywords=Apple+11+Pro+Max&qid=1594878920&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFRMlcyOExEN1k1MTQmZW5jcnlwdGVkSWQ9QTAxOTYyNzFRVDlSOVdRQlNIVVkmZW5jcnlwdGVkQWRJZD1BMDg1Njk3NTNKUFpGVktJQ1FYNE0md2lkZ2V0TmFtZT1zcF9hdGYmYWN0aW9uPWNsaWNrUmVkaXJlY3QmZG9Ob3RMb2dDbGljaz10cnVl" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
            </div>
            <p></p>
        </div>
    {% endblock content%}
    {% block specs%}
    <!-- specification -->
    <h3 class="spec_title">Full Specs</h3>
    <!-- 1 -->
    <div class="specs_table">
      <div class="specs">
        <strong>LAUNCH</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Announced</strong>
          <p>2019, September 10</p>
        </div>
        <div class="specs_info1">
          <strong>Status</strong>
          <p>Available. Released 2019, September 20</p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="specs_table">
      <div class="specs">
        <strong>NETWORK</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Technology</strong>
          <p>GSM / CDMA / HSPA / EVDO / LTE</p>
        </div>
        <div class="specs_info1">
          <strong>Speed</strong>
          <p>HSPA 42.2/5.76 Mbps, LTE-A 1.6 Gbps DL, EV-DO Rev.A 3.1 Mbps</p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="specs_table">
      <div class="specs">
        <strong>DISPLAY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Type</strong>
          <p>Super Retina XDR OLED capacitive touchscreen, 16M colors</p>
        </div>
        <div class="specs_info">
          <strong>Size</strong>
          <p>6.5 inches, 102.9 cm2 (~83.7% screen-to-body ratio)</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>1242 x 2688 pixels, 19.5:9 ratio (~458 ppi density)</p>
        </div>
        <div class="specs_info">
          <strong>Protection</strong>
          <p>Scratch-resistant glass, oleophobic coating</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>HDR10</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>Dolby Vision</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BODY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Dimension</strong>
          <p>158 x 77.8 x 8.1 mm (6.22 x 3.06 x 0.32 in)</p>
        </div>
        <div class="specs_info">
          <strong>Weight</strong>
          <p>226 g (7.97 oz)</p>
        </div>
        <div class="specs_info">
          <strong>Build</strong>
          <p>Glass front (Gorilla Glass), glass back (Gorilla Glass), stainless steel frame</p>
        </div>
        <div class="specs_info1">
          <strong>SIM</strong>
          <p>Single SIM(Nano-SIM and/or eSIM) orDual SIM(Nano-SIM,dual stand-by)</p>
        </div>
          <div class="specs_info1">
          <strong></strong>
          <p>IP68 dust/water resistant (up to 4m for 30 mins)</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>Apple Pay (Visa, MasterCard, AMEX certified)</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>PLARFROM</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>OS</strong>
          <p>iOS 13, upgradable to iOS 13.5</p>
        </div>
        <div class="specs_info">
          <strong>Chipset</strong>
          <p>Apple A13 Bionic (7 nm+)</p>
        </div>
        <div class="specs_info">
          <strong>CPU</strong>
          <p>Hexa-core (2x2.65 GHz Lightning + 4x1.8 GHz Thunder)</p>
        </div>
        <div class="specs_info1">
          <strong>GPU</strong>
          <p>Apple GPU (4-core graphics)</p>
        </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MEMORY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Card Slot</strong>
          <p>No</p>
        </div>
        <div class="specs_info1">
          <strong>Internal</strong>
          <p>64GB 4GB RAM, 256GB 4GB RAM, 512GB 4GB RAM</p>
        </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="specs_table">
      <div class="specs">
        <strong>CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Triple</strong>
          <p>12 MP, f/1.8, 26mm (wide), 1/2.55", 1.4µm, dual pixel PDAF, OIS</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>12 MP, f/2.0, 52mm (telephoto), 1/3.4", 1.0µm, PDAF, OIS</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>2x optical zoom</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>12 MP, f/2.4, 13mm (ultrawide)</p>
        </div>
        <div class="specs_info">
          <strong>Features</strong>
          <p>Quad-LED dual-tone flash, HDR (photo/panorama)</p>
        </div>
        <div class="specs_info1">
          <strong>Video</strong>
          <p>4K@24/30/60fps, 1080p@30/60/120/240fps, HDR, stereo sound rec.</p>
        </div>
      </div>
    </div>
    <!-- 7 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FRONT CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Dual</strong>
          <p>12 MP, f/2.2, 23mm (wide)</p>
        </div>
         <div class="specs_info">
          <strong></strong>
          <p>SL 3D, (depth/biometrics sensor)</p>
        </div>
        <div class="specs_info1">
          <strong>Features</strong>
          <p>HDR</p>
        </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BATTERY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong></strong>
          <p>Non-removable Li-Ion 3969 mAh battery (15.04 Wh)</p>
        </div>
        <div class="specs_info">
          <strong>Charging</strong>
          <p>Fast charging 18W, 50% in 30 min (advertised)</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>USB Power Delivery 2.0</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>Qi wireless charging</p>
        </div>
      </div>
    </div>
    <!-- 9 -->
    <div class="specs_table">
      <div class="specs">
        <strong>COMMS.</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>WLAN</strong>
          <p>Wi-Fi 802.11 a/b/g/n/ac/6, dual-band, hotspot</p>
        </div>
        <div class="specs_info">
          <strong>Bluetooth</strong>
          <p>5.0, A2DP, LE</p>
        </div>
        <div class="specs_info">
          <strong>GPS</strong>
          <p>Yes, with A-GPS, GLONASS, GALILEO, QZSS</p>
        </div>
        <div class="specs_info">
          <strong>Radio</strong>
          <p>No</p>
        </div>
        <div class="specs_info">
          <strong>NFC</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info1">
          <strong>USB</strong>
          <p>2.0, proprietary reversible connector</p>
        </div>
      </div>
    </div>
    <!-- 10 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FEATURE</strong>
      </div>
      <div class="specs_type">
          <div class="specs_info">
            <strong>Sensors</strong>
            <p>Face ID, accelerometer, gyro, proximity, compass, barometer</p>
          </div>
          <div class="specs_info1">
            <strong></strong>
            <p>Siri natural language commands and dictation</p>
          </div>
      </div>
    </div>
    <!-- 11 -->
    <div class="specs_table">
      <div class="specs">
        <strong>SOUND</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Loudspeaker</strong>
          <p>Yes, with stereo speakers</p>
        </div>
        <div class="specs_info">
          <strong>3.5mm jack</strong>
          <p>No</p>
        </div>
      </div>
    </div>
    <!-- 12 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MISC</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Color</strong>
          <p>Space Gray, Silver, Gold, Midnight Green (matte colors)</p>
        </div>
        <div class="specs_info1">
          <strong>Models</strong>
          <p>A2218, A2161, A2220</p>
        </div>
      </div>
    </div>
    </div>
    <!-- 13 -->
    <!-- footer -->
    {% endblock specs%}
