{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="Realme smartphone: New smartphone review and specification, buy at best price from amazon. "> {% endblock desc%}
{% block key%}<meta name="keywords" content="realme C3,  realme C3 price, realme C3 price in india, realme C3 review, realme C3 specification"> {% endblock key%}
    {% load static %}
    {% block title%}Realme C3 Full specification: hipein.com{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <!-- review and spec -->
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h4 class="content">Realme released his new smartphone Realme C3 at price of 8,999-INR</h4>
          <h2 class="content_tittle"><span>REVIEW</span> Realme C3 : 3/32GB for 8,999-INR Watch Full review-<a href="https://www.youtube.com/watch?v=lRYOq75OVbA">http://www.youtube.com </a></h2>
        </div>
        <div >
          <img class="image"  src="{% static 'image/mobile/10k/realme-c3.jpg' %}" alt="">
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by:  YugaTech</p>
        </div>
        <div class="info">
          <h4 class="content">{{product_name}} summary</h4>
          <p><span>Realme C3</span> is a budget smartphone from <span>Realme</span> and it sports a sunrise design. The company offers the phone in two colours Frozen Blue and Blazing Red. It has a big display that measures 6.5-inches and has a 20:9 aspect ratio. The <span>Realme C3</span> sports a 5,000mAh battery which is a highlight for this smartphone. This is also the reason why it is a tad heavy at 195g.</p>
          <p>The <span>Realme C3</span> is powered by a <span>Mediatek Helio G70 SoC</span> and comes in two variants. The base variant has 3GB RAM and 32GB of storage while the other variant has 4GB RAM and 64GB of storage. It is a dual SIM device with support for 4G as well as VoLTE on both SIM slots. It runs Realme UI 1.0 on top of Android 10.</p>
          <p>It sports a dual-camera setup at the back with a 12-megapixel primary camera and a 2-megapixel depth sensor. It clicks decent photos but low-light could do with some improvements.</p>
          <div class="aff-link">
            <a href="https://www.flipkart.com/realme-c3-frozen-blue-32-gb/p/itm58bf81a807d66?pid=MOBFZHC5HAGKGBBW&lid=LSTMOBFZHC5HAGKGBBWJH2HLH&marketplace=FLIPKART&pageUID=1594897288022" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary"><button type="button" class="btn btn-primary">Click here to Buy from flipkart</button></a>
            <a href="https://www.flipkart.com/realme-c3-frozen-blue-32-gb/p/itm58bf81a807d66?pid=MOBFZHC5HAGKGBBW&lid=LSTMOBFZHC5HAGKGBBWJH2HLH&marketplace=FLIPKART&pageUID=1594897288022" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
            <p></p>
          </div>
        </div>
    {% endblock content%}
    {% block specs%}
    <!-- specification -->
    <h3 class="spec_title">Full Specs</h3>
    <!-- 1 -->
    <div class="specs_table">
      <div class="specs">
        <strong>LAUNCH</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Announced</strong>
          <p>2020, February 05</p>
        </div>
        <div class="specs_info1">
          <strong>Status</strong>
          <p>Available. Released 2020, Fabruary 14</p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="specs_table">
      <div class="specs">
        <strong>NETWORK</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Technology</strong>
          <p>GSM / HSPA / LTE</p>
        </div>
        <div class="specs_info1">
          <strong>Speed</strong>
          <p>HSPA 42.2/11.5 Mbps, LTE-A (2CA) Cat6 300/75 Mbps</p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="specs_table">
      <div class="specs">
        <strong>DISPLAY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Type</strong>
          <p>IPS LCD capacitive touchscreen, 16M colors</p>
        </div>
        <div class="specs_info">
          <strong>Size</strong>
          <p>6.5 inches, 103.7 cm2 (~84.1% screen-to-body ratio)</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>720 x 1560 pixels, 19.5:9 ratio (~264 ppi density)</p>
        </div>
        <div class="specs_info">
          <strong>Protection</strong>
          <p>Corning Gorilla Glass 3</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>480 nits max brightness </p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BODY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Dimension</strong>
          <p>164.4 x 75 x 9 mm (6.47 x 2.95 x 0.35 in)</p>
        </div>
        <div class="specs_info">
          <strong>Weight</strong>
          <p>195 g (6.88 oz)</p>
        </div>
        <div class="specs_info">
          <strong>Build</strong>
          <p>Glass front (Gorilla Glass 3), plastic back, plastic frame</p>
        </div>
        <div class="specs_info1">
          <strong>SIM</strong>
          <p>Dual SIM (Nano-SIM, dual stand-by)</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>PLARFROM</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>OS</strong>
          <p>Android 10, realme UI 1.0</p>
        </div>
        <div class="specs_info">
          <strong>Chipset</strong>
          <p>Mediatek Helio G70 (12 nm)</p>
        </div>
        <div class="specs_info">
          <strong>CPU</strong>
          <p>Octa-core (2x2.0 GHz Cortex-A75 & 6x1.7 GHz Cortex-A55)p>
        </div>
        <div class="specs_info1">
          <strong>GPU</strong>
          <p>Mali-G52 2EEMC2</p>
        </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MEMORY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Card Slot</strong>
          <p>microSDXC (dedicated slot)</p>
        </div>
        <div class="specs_info1">
          <strong>Internal</strong>
          <p>32GB 2GB RAM, 32GB 3GB RAM, 64GB 4GB RAM, 64GB 3GB RAM</p>
        </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="specs_table">
      <div class="specs">
        <strong>CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Dual</strong>
          <p>12 MP, f/1.8, 28mm (wide), 1/2.8", 1.25µm, PDAF</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>2 MP, f/2.4, (depth)</p>
        </div>
        <div class="specs_info">
          <strong>Features</strong>
          <p>LED flash, HDR, panorama</p>
        </div>
        <div class="specs_info1">
          <strong>Video</strong>
          <p>1080p@30fps</p>
        </div>
      </div>
    </div>
    <!-- 7 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FRONT CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Single</strong>
          <p>5 MP, f/2.4, 27mm (wide), 1/5", 1.12µm</p>
        </div>
        <div class="specs_info1">
          <strong>Features</strong>
          <p>HDR, panorama</p>
        </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BATTERY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong></strong>
          <p>Non-removable Li-Po 5000 mAh battery</p>
        </div>
        <div class="specs_info1">
          <strong>Charging</strong>
          <p>Charging 10W</p>
        </div>
      </div>
    </div>
    <!-- 9 -->
    <div class="specs_table">
      <div class="specs">
        <strong>COMMS.</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>WLAN</strong>
          <p>Wi-Fi 802.11 b/g/n, hotspot</p>
        </div>
        <div class="specs_info">
          <strong>Bluetooth</strong>
          <p>5.1, A2DP, LE, aptX</p>
        </div>
        <div class="specs_info">
          <strong>GPS</strong>
          <p>Yes, with A-GPS, GLONASS, BDS</p>
        </div>
        <div class="specs_info">
          <strong>Radio</strong>
          <p>FM Radio</p>
        </div>
        <div class="specs_info1">
          <strong>USB</strong>
          <p>2.0, Type-C 1.0 reversible connector</p>
        </div>
      </div>
    </div>
    <!-- 10 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FEATURE</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info1">
          <strong>Sensors</strong>
          <p>accelerometer, proximity, compass</p>
        </div>
      </div>
    </div>
    <!-- 11 -->
    <div class="specs_table">
      <div class="specs">
        <strong>SOUND</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Loudspeaker</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info1">
          <strong>3.5mm jack</strong>
          <p>Yes</p>
        </div>
      </div>
    </div>
    <!-- 12 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MISC</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info1">
          <strong>Color</strong>
          <p>Frozen Blue, Blazing Red</p>
        </div>
        <div class="specs_info1">
          <strong>Model</strong>
          <p>RMX2027, RMX2020</p>
        </div>
      </div>
    </div>
    </div>
    <!-- 13 -->
    {% endblock specs%}
