{% extends 'page/base.html' %}
{% block desc%}<meta name="description" content="Realme smartphone: New smartphone review and specification, buy at best price from amazon. "> {% endblock desc%}
{% block key%}<meta name="keywords" content="realme mobile price, realme mobile price in india, realme mobile price list, realme mobile under 10000, realme mobile company, realme mobile 2, realme mobile available, realme mobile amazon"> {% endblock key%}
  {% load static %}
    {% block title%}Realme smartphone review & specification: hipein.com{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block actreal%} class="active"{% endblock actreal%}
    {% block content%}
    <!-- content -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/realme/realme-x50-pro-1.jpg' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> Realme X50 Pro : 6/128GB for 39,999-INR Watch Full review-<a href="https://www.youtube.com/watch?v=_iZdJgqJ6Cc">http://www.youtube.com </a></h1>
          <p class="content_text">Realme Release his new smartphone <span>Realme X50 Pro 5G</span> in india starting from <span>39999</span>. Realme X50 Pro Available at <span>flipkart</span> in lowest prices. This smartphone coming with 4 variants like 6/128GB, 8/128GB, 8/256GB, 12/256GB with colour options like A Moss Green, Rust Red. The smart -phone is powered by the <span>Qualcomm SM8250 Snapdragon 865 (7 nm+)</span> and Non-removable Li-Po 4200 mAh battery. Fast charging 65W, 100% in 35 min and SuperDart Flash Charge. In Realme X50 Pro it has support for 5G nework.  </p>
          <a href="{% url 'realmeX50pro' %}" class="content_spec">Full Specificaton</a>
          <p></p>

          <div class="aff-link1">
            <form action="https://www.flipkart.com/realme-x50-pro-rust-red-128-gb/p/itm13d1770db35a3?pid=MOBFPBBKTDX2EKEH&lid=LSTMOBFPBBKTDX2EKEHAKFQ0C&marketplace=FLIPKART&pageUID=1594896068771">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from flipkart</button>
            </form>
            <form action="https://www.flipkart.com/realme-x50-pro-rust-red-128-gb/p/itm13d1770db35a3?pid=MOBFPBBKTDX2EKEH&lid=LSTMOBFPBBKTDX2EKEHAKFQ0C&marketplace=FLIPKART&pageUID=1594896068771">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>

         </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/realme/realme-6-pro-1.jpeg' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> Realme 6 Pro : 4/64GB for 17,999-INR Watch Full review-<a href="https://www.youtube.com/watch?v=wtCSKYaVvME">http://www.youtube.com </a></h1>
          <p class="content_text">Realme Release his brand new <span>Realme 6 Pro</span> in india on  2020, March 13 and starting from <span> 17999</span>.realme 6 Pro Available at <span>flipkart</span> in lowest prices. This smartphone coming with 3 variants like 64GB 6GB RAM, 128GB 6GB RAM, 128GB 8GB RAM with colour options like	Lightning Blue, Lightning Orange, Lightning Red. The smart -phone is powered by the <span>Qualcomm SM7125 Snapdragon 720G (8 nm)</span> and Non-removable Li-Po 4300 mAh battery.it has support for	Fast charging 30W, 100% in 57 min.</p>
          <a href="{% url 'realme6pro' %}" class="content_spec">Full Specificaton</a>
          <p></p>

          <div class="aff-link1">
            <form action="https://www.flipkart.com/realme-6-pro-lightning-blue-64-gb/p/itm19b1945c12aee?pid=MOBFPCX76F3BYQDH&lid=LSTMOBFPCX76F3BYQDHGAICT2&marketplace=FLIPKART&pageUID=1594896233895">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from flipkart</button>
            </form>
            <form action="https://www.flipkart.com/realme-6-pro-lightning-blue-64-gb/p/itm19b1945c12aee?pid=MOBFPCX76F3BYQDH&lid=LSTMOBFPCX76F3BYQDHGAICT2&marketplace=FLIPKART&pageUID=1594896233895">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>


         </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/realme/realme-6-1.jpg' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> Realme 6 : 4/64GB for 14,999-INR Watch Full review-<a href="https://www.youtube.com/watch?v=5pkkPL7aBuY">http://www.youtube.com </a></h1>
          <p class="content_text">Realme Release his brand new smartphone <span>Realme 6</span> in india on Released 2020, March 11 and starting from <span> 14999</span>.realme 6 Available at <span>flipkart</span> in lowest prices. This smartphone coming with 4 variants like 64GB 4GB RAM, 128GB 4GB RAM, 128GB 6GB RAM, 128GB 8GB RAM with colour options like Comet Blue and Comet White. The smart -phone is powered by the <span>Mediatek MT6785 Helio G90T (12 nm)</span> and Non-removable Li-Po 4300 mAh battery. it has support for	Fast charging 30W, 100% in 55 min.</p>
          <a href="{% url 'realme6' %}" class="content_spec">Full Specificaton</a>
           <p></p>

          <div class="aff-link1">
            <form action="https://www.flipkart.com/realme-6-comet-blue-64-gb/p/itma64226eb3e2d2?pid=MOBFTAZ5CXWPRYKW&lid=LSTMOBFTAZ5CXWPRYKWM7V5HX&marketplace=FLIPKART&pageUID=1594897095040">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from flipkart</button>
            </form>
            <form action="https://www.flipkart.com/realme-6-comet-blue-64-gb/p/itma64226eb3e2d2?pid=MOBFTAZ5CXWPRYKW&lid=LSTMOBFTAZ5CXWPRYKWM7V5HX&marketplace=FLIPKART&pageUID=1594897095040">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>


         </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/realme/realme-x2-pro-1.jpg' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> Realme X2 Pro : 6/64GB for 29,458-INR Watch Full review-<a href="https://www.youtube.com/watch?v=C95eE35SEvs">http://www.youtube.com </a></h1>
          <p class="content_text">Realme Release his new smartphone <span>Realme X2 Pro</span> in india on 2019, October and starting from <span> 29,458</span>.realme X2 Pro Available at <span>Amazon</span> in lowest prices. This smartphone coming with 3 variants like 6/64GB, 8/128GB, 12/256GB with colour options like 	Lunar White, Neptune Blue, Red Master Edition and Gray Master Edition. The smart -phone is powered by the <span>Qualcomm SM8150 Snapdragon 855+ (7 nm)</span> and Non-removable Li-Po 4000 mAh battery. it has support for Fast charging 50W, 100% in 35 min .</p>
          <a href="{% url 'realmeX2pro' %}" class="content_spec">Full Specificaton</a>
          <p></p>

          <div class="aff-link1">
            <form action="https://www.amazon.in/Realme-Pro-Neptune-Blue-RAM/dp/B087TGZSJY/ref=mp_s_a_1_5?dchild=1&keywords=realme+x2+pro&qid=1594896429&sprefix=realme+x&sr=8-5">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from amazon</button>
            </form>
            <form action="https://www.amazon.in/Realme-Pro-Neptune-Blue-RAM/dp/B087TGZSJY/ref=mp_s_a_1_5?dchild=1&keywords=realme+x2+pro&qid=1594896429&sprefix=realme+x&sr=8-5">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>


         </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/realme/realme-x2-1.png' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> Realme X2 : 4/64GB for 17,999-INR Watch Full review-<a href="https://www.youtube.com/watch?v=KZpPRfsmisw">http://www.youtube.com </a></h1>
          <p class="content_text">Realme Released his new <span>Realme X2</span> in india on 2019, September 24 and starting from<span> 17999</span>.Realme X2 Available at <span>amazon</span> in lowest prices. This smartphone coming with 4 variants like 4/64GB, 6/64GB, 6/128GB, 8/128GB, 8/256GB with colour options like Pearl White, Pearl Blue and Pearl Green. The smart -phone is powered by the <span>Qualcomm SDM730 Snapdragon 730G (8 nm)</span> and with in display fingerprint. Non-removable Li-Po 4000 mAh battery and It has support for	Fast charging 30W, 67% in 30 min.</p>
          <a href="{% url 'realmeX2' %}" class="content_spec">Full Specificaton</a>
          <p></p>

          <div class="aff-link1">
            <form action="https://www.amazon.in/Realme-Pearl-Blue-128-RAM/dp/B07PVTYL7M/ref=mp_s_a_1_1?dchild=1&keywords=realme+x2&qid=1594896977&sr=8-1">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from amazon</button>
            </form>
            <form action="https://www.amazon.in/Realme-Pearl-Blue-128-RAM/dp/B07PVTYL7M/ref=mp_s_a_1_1?dchild=1&keywords=realme+x2&qid=1594896977&sr=8-1">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>


         </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/realme/realme-5-pro-1.jpg' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> Realme 5 pro : 6/64GB for 14,999-INR Watch Full review-<a href="https://www.youtube.com/watch?v=HM2nz3v0Gmw">http://www.youtube.com </a></h1>
          <p class="content_text">Realme Released his new <span>Realme 5 Pro</span> in india on 2019, September and starting from<span> 14999</span>.Realme 5 Pro Available at <span>amazon</span> in lowest prices. This smartphone coming with 4 variants like 4/64GB, 6/64GB, 4/128GB, 8/128GB with colour options like 	Crystal Green and Crystal Blue. The smart -phone is powered by the <span>Qualcomm SDM712 Snapdragon 712 (10 nm)</span> and Non-removable Li-Po 4030 mAh battery and It has support for Fast charging 20W, 50% in 30 min.</p>
          <a href="{% url 'realme5pro' %}" class="content_spec">Full Specificaton</a>
           <p></p>

          <div class="aff-link1">
            <form action="https://www.amazon.in/realme-Sparkling-Blue-128GB-Storage/dp/B07XHM7LHM/ref=mp_s_a_1_2?dchild=1&keywords=realme+5+pro&qid=1594896923&sr=8-2">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from amazon</button>
            </form>
            <form action="https://www.amazon.in/realme-Sparkling-Blue-128GB-Storage/dp/B07XHM7LHM/ref=mp_s_a_1_2?dchild=1&keywords=realme+5+pro&qid=1594896923&sr=8-2">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>


         </div>
      </div>
    </div>
    <!-- 7 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/realme/realme-5s-1.jpg' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> Realme 5s : 4/64GB for 10,999-INR Watch Full review-<a href="https://www.youtube.com/watch?v=jTA9kqm7eZU">http://www.youtube.com </a></h1>
          <p class="content_text">Realme Released his new <span>Realme 5s</span> in india on 2019, November and starting from<span> 10999</span>.Realme 5s Available at <span>amazon</span> in lowest prices. This smartphone coming with 2 variants like	64GB 4GB RAM, 128GB 4GB RAM with colour options like Crystal Purple, Crystal Blue, Crystal Red. The smart -phone is powered by the <span>Qualcomm SDM665 Snapdragon 665 (11 nm)</span> and Non-removable Li-Po 5000 mAh battery.</p>
          <a href="{% url 'realme5s' %}" class="content_spec">Full Specificaton</a>
          <p></p>

          <div class="aff-link1">
            <form action="https://www.amazon.in/Realme-4Gb-64Gb-Crystal-Blue/dp/B0822P8TWK">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from amazon</button>
            </form>
            <form action="https://www.amazon.in/Realme-4Gb-64Gb-Crystal-Blue/dp/B0822P8TWK">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>


         </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/realme/realme-xt-1.jpg' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> Realme XT : 4/64GB for 17,999-INR Watch Full review-<a href="https://www.youtube.com/watch?v=FJOmBXU5x3c">http://www.youtube.com </a></h1>
          <p class="content_text">Realme Released his new <span>Realme XT</span> in india on 	2019, September 13 and starting from<span> 16999</span>.Realme XT Available at <span>amazon</span> in lowest prices. This smartphone coming with 3 variants like 64GB 4GB RAM, 64GB 6GB RAM, 128GB 8GB RAM with colour options like Pearl White, Pearl Blue. The smart -phone is powered by the <span>Qualcomm SDM712 Snapdragon 712 (10 nm)</span> and Non-removable Li-Po 4000 mAh battery. it has support for Fast charging 20W.</p>
          <a href="{% url 'realmeXT' %}" class="content_spec">Full Specificaton</a>
          <p></p>

          <div class="aff-link1">
            <form action="https://www.amazon.in/realme-Pearl-White-64GB-Storage/dp/B07Y7LGTF4/ref=mp_s_a_1_1?dchild=1&keywords=realme+xt&qid=1594897188&sr=8-1">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from amazon</button>
            </form>
            <form action="https://www.amazon.in/realme-Pearl-White-64GB-Storage/dp/B07Y7LGTF4/ref=mp_s_a_1_1?dchild=1&keywords=realme+xt&qid=1594897188&sr=8-1">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- 9 -->
    <!-- <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/mi/xiaomi.jpg' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> Realme Narzo 10: 4/64GB for 11999 Watch Full review-<a href="http://www.youtube.com">http://www.youtube.com </a></h1>
          <p class="content_text">Realme Released his new <span>Realme Narzo 10</span> in india on 2020, February 05 and starting from<span> 8999</span>.Realme C3 Available at <span>flipkart</span> in lowest prices. This smartphone coming with 1 variants like 128GB 4GB RAM with colour options like Just Black, Just White. The smart -phone is powered by the <span>Qualcomm SDM712 Snapdragon 712 (10 nm)</span> and	Non-removable Li-Po 4300 mAh battery. it has support for Fast charging 30W, 100% in 55 min.</p>
          <a href="{% url 'narzo' %}" class="content_spec" class="">Full Specificaton</a>
          <p></p>
          <a href="#" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from amazon</button></a>
          <a href="https://www.flipkart.com/realme-narzo-10-that-green-128-gb/p/itmfaa990ac54b7a?pid=MOBFQ36AGTW8HNMW&lid=LSTMOBFQ36AGTW8HNMWFLXHAY&marketplace=FLIPKART&pageUID=1594897249060" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
          <p></p>
          </div>
      </div>
    </div> -->
    <!-- 10 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/realme/realme-c3-1.jpg' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> Realme C3 : 3/32GB for 8,999-INR Watch Full review-<a href="https://www.youtube.com/watch?v=lRYOq75OVbA">http://www.youtube.com </a></h1>
          <p class="content_text">Realme Released his new <span>Realme C3</span> in india on 2020, June 23 and starting from<span> 11999</span>.Realme C3 Available at <span>flipkart</span> in lowest prices. This smartphone coming with 4 variants like 32GB 2GB RAM, 32GB 3GB RAM, 64GB 4GB RAM, 64GB 3GB RAM with colour options like 	Frozen Blue, Blazing Red. The smart -phone is powered by the <span>Mediatek Helio G70 (12 nm)</span> and	Non-removable Li-Po 5000mAh battery.</p>
          <a href="{% url 'realmeC3' %}" class="content_spec">Full Specificaton</a>
          <p></p>

          <div class="aff-link1">
            <form action="https://www.flipkart.com/realme-c3-frozen-blue-32-gb/p/itm58bf81a807d66?pid=MOBFZHC5HAGKGBBW&lid=LSTMOBFZHC5HAGKGBBWJH2HLH&marketplace=FLIPKART&pageUID=1594897288022">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from flipkart</button>
            </form>
            <form action="https://www.flipkart.com/realme-c3-frozen-blue-32-gb/p/itm58bf81a807d66?pid=MOBFZHC5HAGKGBBW&lid=LSTMOBFZHC5HAGKGBBWJH2HLH&marketplace=FLIPKART&pageUID=1594897288022">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>
          <p></p>


         </div>
      </div>
    </div>
    {% endblock content%}
