{% extends 'page/base.html' %}
{% block desc%}<meta name="description" content="Realme smartphone: New smartphone review and specification, buy at best price from amazon. "> {% endblock desc%}
{% block key%}<meta name="keywords" content="realme mobile price, realme mobile price in india, realme mobile price list, realme mobile under 10000, realme mobile company, realme mobile 2, realme mobile available, realme mobile amazon"> {% endblock key%}
  {% load static %}
    {% block title%}Realme smartphone review & specification: hipein.com{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block actreal%} class="active"{% endblock actreal%}
    {% block content%}
    <!-- content -->
    <div class="container1">
      <div class="mobile-specs">
        <div class="mobile-img">
          <img  src="{% static 'image/mobile/realme/realme-q2-1.jpg' %}" alt="{% static 'image/mobile/realme/demo.jpg' %}">
        </div>
        <div class="mobile-info">
          <div class="mobile-name-price">
            <div class="mobile-view-name">
              <div class="mobile-view">
                <h5>432</h5>
                <p><i class="fa fa-eye"></i></p>
              </div>
              <div class="mobile-name">
                <h3>Realme Q2 - 5G</h3>
                <div class="star-rating">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
            </div>
            <div class="mobile-price">
              <h3>Rs. 19,990</h3>
              <p>see more price</p>
            </div>
          </div>
          <div class="mobile-detail">
            <div class="performance">
              <h4>Performance</h4>
              <div class="bar">
                <p class="very-good"></p>
              </div>
              <div class="information">
                <p>Octa-core</p>
                <p class="info">MediaTek Dimensity 800U 5G</p>
                <p class="info">128GB 6GB RAM</p>
              </div>
            </div>
            <div class="display">
              <h4>Display</h4>
              <div class="bar">
                <p class="very-good"></p>
              </div>
              <div class="information">
                <p>6.5 inches</p>
                <p class="info">IPS LCD</p>
              </div>
            </div>
            <div class="camera">
              <h4>Camera</h4>
              <div class="bar">
                <p class="good"></p>
              </div>
              <div class="information">
                <p>48-MP + 8-MP + 2-MP</p>
                <p class="info">LED flash</p>
                <p class="info">16 MP front camera</p>
              </div>
            </div>
            <div class="battery">
              <h4>Battery</h4>
              <div class="bar">
                <p class="excellent"></p>
              </div>
              <div class="information">
                <p>5000 mAh</p>
                <p class="info">Fast charging 35W</p>
                <p class="info"></p>
              </div>
            </div>
          </div>
          <div class="short-info">
            <div class="full-specs">
              <h5><a href="{% url 'realmeq2' %}">Full specification</a></h5>
            </div>
          </div>
        </div>
      </div>
      <!-- 1 -->
      <div class="mobile-specs">
        <div class="mobile-img">
          <img  src="{% static 'image/mobile/realme/realme-q2i-1.jpg' %}" alt="{% static 'image/mobile/realme/demo.jpg' %}">
        </div>
        <div class="mobile-info">
          <div class="mobile-name-price">
            <div class="mobile-view-name">
              <div class="mobile-view">
                <h5>414</h5>
                <p><i class="fa fa-eye"></i></p>
              </div>
              <div class="mobile-name">
                <h3>Realme Q2i - 5G</h3>
                <div class="star-rating">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
            </div>
            <div class="mobile-price">
              <h3>Rs. 10,900</h3>
              <p>see more price</p>
            </div>
          </div>
          <div class="mobile-detail">
            <div class="performance">
              <h4>Performance</h4>
              <div class="bar">
                <p class="very-good"></p>
              </div>
              <div class="information">
                <p>Octa-core</p>
                <p class="info">MediaTek Dimensity 720 5G</p>
                <p class="info">128GB 4GB RAM</p>
              </div>
            </div>
            <div class="display">
              <h4>Display</h4>
              <div class="bar">
                <p class="very-good"></p>
              </div>
              <div class="information">
                <p>6.5 inches</p>
                <p class="info">IPS LCD</p>
              </div>
            </div>
            <div class="camera">
              <h4>Camera</h4>
              <div class="bar">
                <p class="good"></p>
              </div>
              <div class="information">
                <p>32-MP + 2-MP + 2-MP</p>
                <p class="info">LED flash</p>
                <p class="info">8 MP front camera</p>
              </div>
            </div>
            <div class="battery">
              <h4>Battery</h4>
              <div class="bar">
                <p class="very-good"></p>
              </div>
              <div class="information">
                <p>5000 mAh</p>
                <p class="info">Fast charging 18W</p>
                <p class="info"></p>
              </div>
            </div>
          </div>
          <div class="short-info">
            <div class="full-specs">
              <h5><a href="{% url 'realmeq2i' %}">Full specification</a></h5>
            </div>
          </div>
        </div>
      </div>
      <!-- 2 -->
      <div class="mobile-specs">
        <div class="mobile-img">
          <img  src="{% static 'image/mobile/realme/realme-x7-pro-1.jpg' %}" alt="{% static 'image/mobile/realme/demo.jpg' %}">
        </div>
        <div class="mobile-info">
          <div class="mobile-name-price">
            <div class="mobile-view-name">
              <div class="mobile-view">
                <h5>314</h5>
                <p><i class="fa fa-eye"></i></p>
              </div>
              <div class="mobile-name">
                <h3>Realme X7 Pro - 5G</h3>
                <div class="star-rating">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
            </div>
            <div class="mobile-price">
              <h3>Rs. 23,490</h3>
              <p>see more price</p>
            </div>
          </div>
          <div class="mobile-detail">
            <div class="performance">
              <h4>Performance</h4>
              <div class="bar">
                <p class="very-good"></p>
              </div>
              <div class="information">
                <p>Octa-core</p>
                <p class="info">Mediatek Dimensity 1000+</p>
                <p class="info">128GB 6GB RAM</p>
              </div>
            </div>
            <div class="display">
              <h4>Display</h4>
              <div class="bar">
                <p class="excellent"></p>
              </div>
              <div class="information">
                <p>6.55 inches</p>
                <p class="info">Super AMOLED Display</p>
                <p class="info">1080 x 2400 Pixels</p>
              </div>
            </div>
            <div class="camera">
              <h4>Camera</h4>
              <div class="bar">
                <p class="very-good"></p>
              </div>
              <div class="information">
                <p>64-MP + 8-MP + 2-MP + 2-MP</p>
                <p class="info">LED flash</p>
                <p class="info">32 MP front camera</p>
              </div>
            </div>
            <div class="battery">
              <h4>Battery</h4>
              <div class="bar">
                <p class="excellent"></p>
              </div>
              <div class="information">
                <p>4500 mAh</p>
                <p class="info">Fast charging 65W</p>
                <p class="info"></p>
              </div>
            </div>
          </div>
          <div class="short-info">
            <div class="full-specs">
              <h5><a href="{% url 'realmex7pro' %}">Full specification</a></h5>
            </div>
          </div>
        </div>
      </div>
      <!-- 3 -->
      <div class="mobile-specs">
        <div class="mobile-img">
          <img  src="{% static 'image/mobile/realme/realme-narzo20-pro-1.jpg' %}" alt="{% static 'image/mobile/realme/demo.jpg' %}">
        </div>
        <div class="mobile-info">
          <div class="mobile-name-price">
            <div class="mobile-view-name">
              <div class="mobile-view">
                <h5>368</h5>
                <p><i class="fa fa-eye"></i></p>
              </div>
              <div class="mobile-name">
                <h3>Realme Narzo 20 Pro</h3>
                <div class="star-rating">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
            </div>
            <div class="mobile-price">
              <h3>15,999</h3>
              <p>see more price</p>
            </div>
          </div>
          <div class="mobile-detail">
            <div class="performance">
              <h4>Performance</h4>
              <div class="bar">
                <p class="very-good"></p>
              </div>
              <div class="information">
                <p>Octa-core</p>
                <p class="info">MediaTek Helio G90</p>
                <p class="info">64GB 6GB RAM</p>
              </div>
            </div>
            <div class="display">
              <h4>Display</h4>
              <div class="bar">
                <p class="very-good"></p>
              </div>
              <div class="information">
                <p>6.55 inches</p>
                <p class="info">IPS LCD</p>
                <p class="info">1080 x 2400 Pixels</p>
              </div>
            </div>
            <div class="camera">
              <h4>Camera</h4>
              <div class="bar">
                <p class="very-good"></p>
              </div>
              <div class="information">
                <p>64-MP + 8-MP + 2-MP + 2-MP</p>
                <p class="info">LED flash</p>
                <p class="info">20 MP front camera</p>
              </div>
            </div>
            <div class="battery">
              <h4>Battery</h4>
              <div class="bar">
                <p class="excellent"></p>
              </div>
              <div class="information">
                <p>6000 mAh</p>
                <p class="info">Fast charging</p>
                <p class="info"></p>
              </div>
            </div>
          </div>
          <div class="short-info">
            <div class="full-specs">
              <h5><a href="{% url 'narzo20pro' %}">Full specification</a></h5>
            </div>
          </div>
        </div>
      </div>
      <!-- 4 -->
    </div>
    {% endblock content%}
