{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="There are some smartphone in the market that are good within in range of 7,000-10,000 INR."> {% endblock desc%}
{% block key%}<meta name="keywords" content="mobile phone under 10000, mobile phone under 10000 4g with 4gb ram, mobile phone under 10000 amazon, mobile phone under 10000 in india, mobile phone under 10000 4g with 4gb ram flipkart, mobile phone under 10000 samsung, mobile phone under 10000 vivo, mobile phone under 10000 android, mobile phone below 10000 amazon, best mobile phone under 10000 amazon, realme mobile phone under 10000 amazon"> {% endblock key%}
  {% load static %}
    {% block title%}Best mobile under 10,000-INR - HipeIn.com{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <!-- review and spec -->
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h1 class="content">Best smartphone under 10,000-INR </h1>
          <h5 class="content" style="color:gray">There are some smartphone in the market that are good within in range of 7,000-10,000 INR</h5>
          <p></p>
          <p>By <span  style="color:blue">Rohit Raj</span>- Updated on <b style="color:gray">7 July, 2020</b></p>
        </div>
        <div>
          <img class="image"src="{% static 'image/mobile\10k\redmi-8.jpg'%}" alt="">
        </div>
        <div class="info">
          <h4 class="content">Mobile facts</h4>
          <p class="content">In today's era, Smartphone has become a part of life. <b style="color:gray">Did you know</b> The first call from a mobile phone was made on April 3, 1973. It was made by Martin Cooper, engineer of Motorola, from a mobile phone on the streets of New York. </p>
          <h5 class="content">What are you looking for?</h5>
          <ul class="content" style="border-bottom: 1px solid #eee;">
            <li>OS: android 8.0</li>
            <li>Display: 5.9 inch - 6.56 inch </li>
            <li>Processor – Qualcomm Snapdragon or Mediatek</li>
            <li>Camera – 13-megapixel or above</li>
            <li>RAM – 4 GB </li>
            <li>Storage – 32 GB or above</li>
            <li>Battery – 4000mAh or above</li>
          </ul>
          <p></p>
          <p class="content">We have already picked the top ten smartphone from the above mentioned specs:</p>
          <ol class="content" style="border-bottom: 1px solid #eee;">
            <li>Motorola G8 Power Lite (4/64 GB)</li>
            <li>Realme Narzo 10A (4/64 GB)</li>
            <li>Redmi 8 (4/64 GB)</li>
            <li>Realme C3 (4/64 GB)</li>
            <li>Asus Zenfone Max M1 (3/32 GB)</li>
            <li>Vivo Y12 (4/32 GB)</li>
            <li>Redmi Note 7 (4/64 GB)</li>
            <li>Honor 9 lite (4/64 GB)</li>
            <li>Samsung Galaxy J6(4/64 GB)</li>
            <li>Oppo A5s (4/64 GB)</li>
          </ol>
        </div>
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">1. Motorola G8 Power Lite</h2>
          <div>
            <img class="image" src="{% static 'image/mobile\10k\moto-g8-power-lite-1.jpg '%}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by: IT.TECH</p>
          <h4 class="content">About Motorola G8 Power Lite</h4>
          <p class="content">The <span>Moto G8 Power Lite</span> is quite chunky, with a thickness of 9.2mm, and also a bit heavy at nearly 200g. The display is a big 6.5-inch IPS TFT LCD panel with an HD+ resolution of 720x1600 pixels. at this range Moto G8 Power lite offers good amounts of RAM and storage.</p>
          <h4 class="content">Motorola G8 Power Lite: Key specifications </h4>
          <ul class="content">
            <li>Dispaly: 6.5 inches, 720 x 1600 pixels, 20:9 ratio (~269 ppi density)</li>
            <li>Processor: Mediatek MT6765 Helio P35 (12nm)</li>
            <li>primary camera: 	16 MP, f/2.0, (wide), 1.0µm, PDAF+ 2 MP, f/2.4, (macro)+2 MP, f/2.4, (depth)</li>
            <li>selfie camera: 8-megapixel </li>
            <li>OS: Android 9.0 (Pie)</li>
            <li>Storage + RAM: 	64GB 4GB RAM</li>
            <li>Battery: Non-removable Li-Po 5000 mAh battery</li>
            <li>charging 10W</li>
          </ul>
            <div class="aff-link1">
              <form action="https://www.flipkart.com/motorola-g8-power-lite-arctic-blue-64-gb/p/itm9d7b62a81c100?pid=MOBFZ5EXDKHFV832&lid=LSTMOBFZ5EXDKHFV832SY9PU2&marketplace=FLIPKART&srno=s_1_1&otracker=AS_QueryStore_OrganicAutoSuggest_2_4_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_2_4_na_na_na&fm=SEARCH&iid=4f1ec90b-b08b-45ae-b94b-dc9c80e3038c.MOBFZ5EXDKHFV832.SEARCH&ppt=sp&ppn=sp&ssid=9xevxowr740000001594824843895&qH=c7b38449af1e8e16">
                <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from flipkart</button>
              </form>
              <form action="https://www.flipkart.com/search?q=moto+g8+power+lite&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_2_4_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_2_4_na_na_na&as-pos=2&as-type=RECENT&suggestionId=moto+g8+power+lite%7CMobiles&requestId=2daaab06-3434-4d2b-8325-fc5b2fb6298b&as-searchtext=moto">
                <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
              </form>
            </div>



        </div>
        <!-- 2 -->
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">2. Realme Narzo 10A</h2>
          <div>
            <img class="image" src="{% static 'image/mobile\10k\realme-narzo-10a.jpg' %}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by: Mr.Phone-<a href="https://www.youtube.com/watch?v=ZQRKjGo5nrw">Click here</a></p>
          <h4 class="content">About Realme Narzo 10A</h4>
          <p class="content"><span>Realme Narzo 10A</spaN> in measures 164.4x75x8.95mm and weighs 195 grams. The dual-SIM (Nano) Realme Narzo 10A runs on Android 10 with Realme UI on top. It features a 6.5-inch HD+ (720x1,600 pixels) display and is powered by octa-core MediaTek Helio G70 SoC, coupled with up to 4GB of RAM. The onboard storage of up to 64GB can be expanded via a dedicated microSD card slot.</p>
          <h4 class="content">Realme Narzo 10A: Key specifications </h4>
          <ul class="content">
            <li>Dispaly: 6.5-inch HD+ (720x1,600 pixels)</li>
            <li>Processor:MediaTek Helio G70 SoC</li>
            <li>primary camera: 	12 MP, f/2.0, (wide), 1.0µm, PDAF + 2 MP, f/2.4, (macro)+2 MP, f/2.4, (depth)</li>
            <li>selfie camera: 5-megapixel </li>
            <li>OS: Android 10, realme UI 1.0</li>
            <li>Storage + RAM: 	64GB 4GB RAM , 32 GB 3GB RAM</li>
            <li>Battery: Non-removable Li-Po 5000 mAh battery</li>
            <li>charging 10W</li>
          </ul>
            <div class="aff-link1">
              <form action="https://www.flipkart.com/realme-narzo-10a-so-blue-32-gb/p/itmbeb412dade152?pid=MOBFQ36AYV4ZG4E4&lid=LSTMOBFQ36AYV4ZG4E4LAVPVB&marketplace=FLIPKART&srno=s_1_1&otracker=AS_QueryStore_OrganicAutoSuggest_2_9_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_2_9_na_na_ps&fm=SEARCH&iid=3d6a8d66-cc83-419c-aa73-8ce755b9be72.MOBFQ36AYV4ZG4E4.SEARCH&ppt=sp&ppn=sp&ssid=9mk09b2mvk0000001594825007834&qH=9036ff25ac09bf22">
                <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from flipkart</button>
              </form>
              <form action="https://www.flipkart.com/search?q=realme+narzo+10a&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_2_9_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_2_9_na_na_ps&as-pos=2&as-type=RECENT&suggestionId=realme+narzo+10a%7CMobiles&requestId=ed97512d-93f6-449c-b234-a65ec9486b51&as-searchtext=realme%20na">
                <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
              </form>
            </div>



        </div>
        <!-- 3 -->
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">3. Redmi 8</h2>
          <div>
            <img class="image" src="{% static 'image/mobile\10k\redmi-8.jpg'%}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by: IT.TECH-<a href="https://www.youtube.com/watch?v=xVscTTPrgo0">Click here</a></p>
          <h4 class="content">About Redmi 8</h4>
          <p class="content"><span>Redmi 8</spaN> in measures 	156.5 x 75.4 x 9.4 mm  and weighs 188 g (6.63 oz), there are thick borders around the 6.22-inch display, and a waterdrop-style notch at the top. The dual-SIM (Nano) Realme Narzo 10A runs on Android 9.0 (Pie) with MIUI 11. It features a 6.22-inch HD+720 x 1520 pixels, 19:9 ratio (~270 ppi density) display and is powered by octa-core 	<span>Qualcomm SDM439 Snapdragon 439 (12 nm)</span>, coupled with up to 4GB of RAM. The onboard storage of up to 64GB can be expanded via a dedicated microSD card slot.</p>
          <h4 class="content">Redmi 8: Key specifications </h4>
          <ul class="content">
            <li>Dispaly: 6.22-inch HD+720 x 1520 pixels, 19:9 ratio (~270 ppi density)</li>
            <li>Processor:Qualcomm SDM439 Snapdragon 439 </li>
            <li>primary camera: 12 MP + 2 MP, f/2.4, (depth)</li>
            <li>selfie camera: 8-megapixel </li>
            <li>OS: ndroid 9.0 (Pie), MIUI 11</li>
            <li>Storage + RAM: 	64GB 4GB RAM , 32 GB 3GB RAM</li>
            <li>Battery: Non-removable Li-Po 5000 mAh battery</li>
            <li>Fast charging 18W</li>
          </ul>
            <div class="aff-link1">
              <form action="https://www.flipkart.com/redmi-8-sapphire-blue-64-gb/p/itmd1c68a1a86f5e?pid=MOBFKPYDENDXZZ7U&lid=LSTMOBFKPYDENDXZZ7U9TT5NP&marketplace=FLIPKART&srno=s_1_1&otracker=AS_QueryStore_OrganicAutoSuggest_1_6_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_6_na_na_ps&fm=SEARCH&iid=0caf0a6f-17d1-408b-824c-30d175ee5e71.MOBFKPYDENDXZZ7U.SEARCH&ppt=sp&ppn=sp&ssid=nwbrhfjpv40000001594825150480&qH=8493b7b813dbef9d">
                <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from amazon</button>
              </form>
              <form action="https://www.flipkart.com/search?q=redmi+8&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_6_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_6_na_na_ps&as-pos=1&as-type=RECENT&suggestionId=redmi+8%7CMobiles&requestId=4583db63-ac48-4d21-b2e9-ec625799ca09&as-searchtext=redmi%20">
                <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
              </form>
            </div>



        </div>
        <!-- 4 -->
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">4. Realme C3</h2>
          <div>
            <img class="image" src="{% static 'image/mobile\10k\realme-c3.jpg' %}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by:
Technical cheez-<a href="https://www.youtube.com/watch?v=lRYOq75OVbA">Click here</a></p>
          <h4 class="content">About Realme C3</h4>
          <p class="content"><span>Realme</span> Released his new Realme C3 in india on 2020, June 23 and starting from 11999.Realme C3 Available at <span>flipkart</span> in lowest prices. This smartphone coming with 4 variants like 32GB 2GB RAM, 32GB 3GB RAM, 64GB 4GB RAM, 64GB 3GB RAM with colour options like Frozen Blue, Blazing Red. The smart -phone is powered by the <span>Mediatek Helio G70 (12 nm)</span> and Non-removable Li-Po 5000mAh battery.</p>
          <h4 class="content">Realme C3: Key specifications </h4>
          <ul class="content">
            <li>Dispaly: 6.5-inch HD, 720 x 1560 pixels, 19.5:9 ratio (~264 ppi density) </li>
            <li>Processor: Mediatek Helio G70 (12 nm) </li>
            <li>primary camera: 12 MP + 2 MP, f/2.4, (depth)</li>
            <li>selfie camera: 5-megapixel </li>
            <li>OS: Android 10, realme UI 1.0</li>
            <li>Storage + RAM: 	32GB 2GB RAM, 32GB 3GB RAM, 64GB 4GB RAM, 64GB 3GB RAM</li>
            <li>Battery: Non-removable Li-Po 5000 mAh battery</li>
            <li>Charging 10W</li>
          </ul>
            <div class="aff-link1">
              <form action="https://www.flipkart.com/realme-c3-frozen-blue-64-gb/p/itm58bf81a807d66?pid=MOBFZHC5QRBG2BSR&lid=LSTMOBFZHC5QRBG2BSRYU9DNF&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=cb19a6e8-33ce-479a-b5bd-5740f2efd14f.MOBFZHC5QRBG2BSR.SEARCH&ppt=sp&ppn=sp&ssid=d9njamubv40000001594825325553&qH=32f7bddd7929438e">
                <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from flipkart</button>
              </form>
              <form action="https://www.flipkart.com/search?q=realme%20c3&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off">
                <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
              </form>
            </div>



        </div>
        <!-- 5 -->
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">5. Asus Zenfone Max M1</h2>
          <div>
            <img class="image" src="{% static 'image/mobile\10k\asus-zenfone-max-m1.jpg' %}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by:
Manila Shaker Philippines-<a href="https://www.youtube.com/watch?v=ftGeC3Fce5Y">Click here</a></p>
          <h4 class="content">About Asus Zenfone Max M1</h4>
          <p class="content"><span>Asus zenfone Max M1</span> is made primarily out of plastic and comes in Black and Gold colour options. Sticking to the trend of big screens, the Max M1 sports a 5.45-inch display with 2.5D curved glass on top. The 5.45-inch display has an HD+ resolution which is fine at this price point. Asus zenfone MAX M1 powered by a <span> Qualcomm Snapdragon 430 SoC</span>.</p>
          <h4 class="content">Asus Zenfone Max M1: Key specifications </h4>
          <ul class="content">
            <li>Dispaly: 5.5 inches, 720 x 1440 pixels, 16:10 ratio (~245 ppi density)</li>
            <li>Processor: Qualcomm Snapdragon 425 (28 nm)</li>
            <li>primary camera: 13 MP + 8 MP, f/2.4, (ultrawide)</li>
            <li>selfie camera: 13-megapixel </li>
            <li>OS: Android 8 (Oreo), ZenUI 5</li>
            <li>Storage + RAM: 16GB 2GB RAM, 32GB 2GB RAM, 32GB 3GB RAM</li>
            <li>Battery: Non-removable Li-Po 4000 mAh battery</li>
            <li>Charging 10W</li>
          </ul>
            <div class="aff-link1">
              <form action="https://www.flipkart.com/asus-zenfone-max-m1-gold-32-gb/p/itmf9fgsb4e6tz5e?pid=MOBF9FGSZYJFZXJA&lid=LSTMOBF9FGSZYJFZXJA3SCMXG&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=47afdc31-d33f-4ebd-a5b3-487b3589ee43.MOBF9FGSZYJFZXJA.SEARCH&ppt=sp&ppn=sp&ssid=izo5hdo3400000001594825432053&qH=49bc25cf433822c0">
                <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from flipkart</button>
              </form>
              <form action="https://www.flipkart.com/search?q=ausu%20zenfone%20%20max%20m1&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off">
                <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
              </form>
            </div>



        </div>
        <!-- 6 -->
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">6. Vivo Y12</h2>
          <div>
            <img class="image" src="{% static 'image/mobile\10k\vivo-y12.jpg' %}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by: 805gadget-<a href="https://www.youtube.com/watch?v=zwL3kMYu90k">Click here</a></p>
          <h4 class="content">About Vivo Y12</h4>
          <p class="content"><span>Vivo</span> Y12 smartphone was launched in May 2019. The phone comes with a 6.35-inch touchscreen display with a resolution of 720x1544 pixels at a pixel density of 268 pixels per inch (ppi) and an aspect ratio of 19.3:9. Vivo Y12 is powered by a 2GHz octa-core <span>MediaTek Helio P22 (MT6762)</span> processor. It comes with 3GB of RAM. The Vivo Y12 runs Android 9 Pie and is powered by a 5000mAh battery.</p>
          <h4 class="content">Vivo Y12: Key specifications </h4>
          <ul class="content">
            <li>Dispaly: 	6.35 inches, 720 x 1544 pixels (~268 ppi density)</li>
            <li>Processor: 	Mediatek MT6762 Helio P22 (12 nm)</li>
            <li>primary camera: 13 MP + 8 MP, f/2.4, (ultrawide) + 2 MP, f/2.4, (depth)</li>
            <li>selfie camera: 8-megapixel </li>
            <li>OS: AAndroid 9.0 (Pie), Funtouch 9</li>
            <li>Storage + RAM: 32GB 3GB RAM, 32GB 4GB RAM, 64GB 3GB RAM, 64GB 4GB RAM</li>
            <li>Battery: Non-removable Li-Po 5000 mAh battery</li>
          </ul>
            <div class="aff-link1">
              <form action="https://www.amazon.in/Vivo-Storage-Additional-Exchange-Offers/dp/B07PSHDTHB/ref=sr_1_1?crid=38QDQA8FMJ6Z1&dchild=1&keywords=vivo+y12+mobile+phone&qid=1594825562&sprefix=vivo+y12%2Caps%2C575&sr=8-1">
                <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from amazon</button>
              </form>
              <form action="https://www.amazon.in/Vivo-Storage-Additional-Exchange-Offers/dp/B07PSHDTHB/ref=sr_1_1?crid=38QDQA8FMJ6Z1&dchild=1&keywords=vivo+y12+mobile+phone&qid=1594825562&sprefix=vivo+y12%2Caps%2C575&sr=8-1">
                <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
              </form>
            </div>



        </div>
        <!-- 7 -->
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">7. Redmi Note 7 </h2>
          <div>
            <img class="image" src="{% static 'image/mobile\10k\redmi-note-7.jpg'%}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by: Beebom-<a href="https://www.youtube.com/watch?v=pwrN6h4nDsY">Click here</a></p>
          <h4 class="content">About Redmi Note 7</h4>
          <p class="content">The <span>Redmi Note 7</span> features a glass front and back with <span>Corning Gorilla Glass 5</span> protection on both sides. The Redmi Note 7 has a dewdrop notch, a notification LED in the chin and a hybrid SIM slot. It’s powered by a <span>Qualcomm Snapdragon 660 SoC</span> which offers very good app and gaming performance. MIUI 10 still spams you with a lot of ads and promotions but you can disable most of them.</p>
          <h4 class="content">Redmi Note 7: Key specifications </h4>
          <ul class="content">
            <li>Dispaly: 6.3 inches, 1080 x 2340 pixels, 19.5:9 ratio (~409 ppi density)</li>
            <li>Processor: 	Qualcomm SDM660 Snapdragon 660 (14 nm)</li>
            <li>primary camera: 12 MP + 2 MP, f/2.4, (depth)</li>
            <li>selfie camera: 13-megapixel </li>
            <li>OS:	Android 9.0 (Pie), MIUI 11</li>
            <li>Storage + RAM: 32GB 3GB RAM, 64GB 4GB RAM, 64GB 6GB RAM, 128GB 4GB RAM</li>
            <li>Battery: Non-removable Li-Po 4000 mAh battery</li>
            <li>Fast charging 18W</li>
          </ul>
            <div class="aff-link1">
              <form action="https://www.flipkart.com/redmi-note-7-sapphire-blue-64-gb/p/itmfdzvf8tptnezu?pid=MOBFDXZ3HJJZH3GG&lid=LSTMOBFDXZ3HJJZH3GGXELUJI&marketplace=FLIPKART&srno=s_1_1&otracker=AS_Query_OrganicAutoSuggest_4_12_na_na_ps&otracker1=AS_Query_OrganicAutoSuggest_4_12_na_na_ps&fm=SEARCH&iid=b65b55c1-f00b-4556-b920-7a49e3d0ec55.MOBFDXZ3HJJZH3GG.SEARCH&ppt=sp&ppn=sp&ssid=074r21j2ww0000001594825579224&qH=1cf708419102918e">
                <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from flipkart</button>
              </form>
              <form action="https://www.flipkart.com/search?q=redmi+note+7&as=on&as-show=on&otracker=AS_Query_OrganicAutoSuggest_4_12_na_na_ps&otracker1=AS_Query_OrganicAutoSuggest_4_12_na_na_ps&as-pos=4&as-type=RECENT&suggestionId=redmi+note+7&requestId=c57ab7d2-9149-4043-8963-64bf74a6f97b&as-searchtext=redmi%20note%207">
                <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
              </form>
            </div>



        </div>
        <!-- 8 -->
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">8. Honor 9 lite </h2>
          <div>
            <img class="image" src="{% static 'image/mobile\10k\honor-9-lite.jpg'%}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by: C4ETech-<a href="https://www.youtube.com/watch?v=457OrTuxhJE">Click here</a></p>
          <h4 class="content">About Honor 9 lite</h4>
          <p class="content"><span>Honor 9 Lite</span> has a FullView 5.65-inch IPS display, which produces punchy colours and good brightness levels. The bezels are also pretty slim. Powering the phone is an octa-core Kirin 659 SoC and you have two RAM and storage combinations to choose from. Battery life could be better as even with the 3000mAh battery, it's a bit tough to go beyond a full day.</p>
          <h4 class="content">Honor 9 lite: Key specifications </h4>
          <ul class="content">
            <li>Dispaly: 	5.65 inches, 1080 x 2160 pixels, 18:9 ratio (~428 ppi density)</li>
            <li>Processor: 	Kirin 659 (16 nm)</li>
            <li>primary camera: 13 MP + 2 MP, f/2.4, (depth)</li>
            <li>selfie camera: 13-megapixel</li>
            <li>OS:	Android 8.0 (Oreo), upgradable to Android 9.0 (Pie), EMUI 9.1</li>
            <li>Storage + RAM: 32GB 3GB RAM, 32GB 4GB RAM, 64GB 4GB RAM</li>
            <li>Battery: Non-removable Li-Po 3000 mAh battery</li>
          </ul>
            <div class="aff-link1">
              <form action="https://www.amazon.in/Honor-Lite-32GB-Sapphire-Blue/dp/B07DMVFHL2/ref=sr_1_1?crid=12CQC4P1NTDPH&dchild=1&keywords=honor+9+lite&qid=1594825709&sprefix=honor+9+li%2Caps%2C396&sr=8-1">
                <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from amazon</button>
              </form>
              <form action="https://www.amazon.in/Honor-Lite-32GB-Sapphire-Blue/dp/B07DMVFHL2/ref=sr_1_1?crid=12CQC4P1NTDPH&dchild=1&keywords=honor+9+lite&qid=1594825709&sprefix=honor+9+li%2Caps%2C396&sr=8-1">
                <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
              </form>
            </div>



        </div>
        <!-- 9 -->
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">9. Samsung Galaxy J6</h2>
          <div>
            <img class="image" src="{% static 'image/mobile\10k\samsung-galaxy-j6.jpg' %}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by: Geekyranjit-<a href="https://www.youtube.com/watch?v=DFRTXc_q-2k">Click here</a></p>
          <h4 class="content">About Samsung Galaxy J6</h4>
          <p class="content"><span>Samsung Galaxy J6</span> price in India starts from ₹ 9,490. The lowest price of Samsung Galaxy J6 is ₹ 9,490 at Flipkart on 9th July 2020. This smartphone is available in 1 other variant like 4GB RAM + 64GB Storage with colour options like Black, Blue, and Gold. Battery life could be better as even with the 3000mAh battery, it's a bit tough to go beyond a full day and  a <span>Super AMOLED Infinity Display</span>.</p>
          <h4 class="content">Samsung Galaxy J6: Key specifications </h4>
          <ul class="content">
            <li>Dispaly: 		5.6 inches, 720 x 1480 pixels, 18.5:9 ratio (~293 ppi density) and <span>Super AMOLED Infinity Display</span>.</li>
            <li>Processor: Exynos 7870 Octa (14 nm)</li>
            <li>primary camera: 13-megapixel</li>
            <li>selfie camera: 8-megapixel</li>
            <li>OS:	Android 8.0 (Oreo), upgradable to Android 10, One UI 2.0</li>
            <li>Storage + RAM: 	32GB 3GB RAM, 64GB 4GB RAM</li>
            <li>Battery: Non-removable Li-Po 3000 mAh battery</li>
          </ul>
            <div class="aff-link1">
              <form action="https://www.flipkart.com/samsung-galaxy-j6-black-64-gb/p/itmf5bkh5snxdanh?pid=MOBF5BKHAK33A75F&lid=LSTMOBF5BKHAK33A75F9BQD76&marketplace=FLIPKART&srno=s_1_6&otracker=search&otracker1=search&fm=SEARCH&iid=c0660362-d24c-4335-aa0c-61c0fc268c5a.MOBF5BKHAK33A75F.SEARCH&ppt=sp&ppn=sp&ssid=3ghpef1teo0000001594825721297&qH=5acabc3a8c6f7c22">
                <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from flipkart</button>
              </form>
              <form action="https://www.flipkart.com/samsung-galaxy-j6-black-64-gb/p/itmf5bkh5snxdanh?pid=MOBF5BKHAK33A75F&lid=LSTMOBF5BKHAK33A75F9BQD76&marketplace=FLIPKART&srno=s_1_6&otracker=search&otracker1=search&fm=SEARCH&iid=c0660362-d24c-4335-aa0c-61c0fc268c5a.MOBF5BKHAK33A75F.SEARCH&ppt=sp&ppn=sp&ssid=3ghpef1teo0000001594825721297&qH=5acabc3a8c6f7c22">
                <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
              </form>
            </div>



        </div>
        <!-- 10 -->
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">10. Oppo A5s</h2>
          <div>
            <img class="image" src="{% static 'image/mobile\10k\oppo-a5s.jpg' %}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by: YugaTech-<a href="https://www.youtube.com/watch?v=NzPEAnthUhM">Click here</a></p>
          <h4 class="content">About Oppo A5s</h4>
          <p class="content">The <span>Oppo A5s</span> is light and has a plastic body. The first thing that will grab your attention is the big 6.2-inch display with its waterdrop notch and The 6.2-inch in-cell display on the Oppo A5s sports an HD+ resolution and has a 19:9 aspect ratio. Powering the Oppo A5s is the MediaTek Helio P35 SoC. This is a new processor with eight Cortex-A53 cores clocked at up to 2.3GHz, and is based on a 12nm manufacturing process. </p>
          <h4 class="content">Oppo A5s: Key specifications </h4>
          <ul class="content">
            <li>Dispaly: 	6.2 inches, 720 x 1520 pixels, 19:9 ratio (~271 ppi density)</li>
            <li>Processor: 	Mediatek MT6765 Helio P35 (12nm)</li>
            <li>primary camera: 13 MP + 2 MP, f/2.4, (depth)</li>
            <li>selfie camera: 8-megapixel</li>
            <li>OS:	Android 8.1 (Oreo), ColorOS 5.2</li>
            <li>Storage + RAM: 	32GB 2GB RAM, 32GB 3GB RAM, 64GB 4GB RAM</li>
            <li>Battery: Non-removable Li-Po 4230 mAh battery</li>
          </ul>
            <div class="aff-link1">
              <form action="https://www.amazon.in/Black-Storage-Additional-Exchange-Offers/dp/B07PP2K69Z/ref=sr_1_1?dchild=1&keywords=oppo+a5s&qid=1594825840&sr=8-1">
                <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from amazon</button>
              </form>
              <form action="https://www.amazon.in/Black-Storage-Additional-Exchange-Offers/dp/B07PP2K69Z/ref=sr_1_1?dchild=1&keywords=oppo+a5s&qid=1594825840&sr=8-1">
                <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
              </form>
            </div>



        </div>
        <!-- 11 -->
      </div>
    </div>
    {% endblock content%}
