{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="Realme smartphone: New smartphone review and specification, buy at best price from amazon. "> {% endblock desc%}
{% block key%}<meta name="keywords" content="realme x2 pro,  realme x2 pro price, realme x2 pro price in india, realme x2 pro review, realme x2 pro specification"> {% endblock key%}
    {% load static %}
    {% block title%}Realme X2 Pro Full specification: hipein.com {% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <style>
      .info{
        padding-top: 10px;
      }
      .info span{
        color:red;
      }
    </style>
    <!-- review and spec -->
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h4 class="content">Realme released his new smartphone Realme X2 Pro at price of 29,458-INR</h4>
          <h2 class="content_tittle"><span>REVIEW</span> Realme X2 Pro : 6/64GB for 29,458-INR Watch Full review-<a href="https://www.youtube.com/watch?v=C95eE35SEvs">http://www.youtube.com </a></h2>
        </div>
        <div >
          <img class="image"  src="{% static 'image/mobile/realme/realme-x2-pro-2.jpg' %}" alt="">
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by:  Shrish</p>
        </div>
        <div class="info">
          <h4 class="content">{{product_name}} summary</h4>
          <p><span>Realme</span> has finally moved beyond the polycarbonate bodies we've seen so far on its phones, for an aluminium body with <span>Gorilla Glass 5</span> on the front and back. This makes the X2 Pro feel very good to hold. This phone has a 6.5-inch full-HD+ <span>AMOLED panel</span> with a claimed 500nits of sustained brightness and 1000nits of peak brightness. The display is sharp, viewing angles are good, and colours have good saturation. What's special though, is that this display can run at 90Hz instead of the usual 60Hz. </p>
          <p>The <span>Realme X2 Pro</span> uses the same 64-megapixel f/1.8 primary camera as the Realme XT, but with different companion sensors. The 2-megapixel macro camera has been ditched for a more useful 13-megapixel telephoto camera. This is capable of 2X optical zoom, 5X hybrid zoom, and a total of 20X digital zoom. There's also an 8-megapixel wide-angle camera with an f/2.2 aperture and a 115-degree field of view, and finally a 2-megapixel depth sensor.</p>
          <p><span>Realme X2 pro</span> powered by a <span>Qualcomm SM8150 Snapdragon 855+ (7 nm)</span> The Realme X2 Pro is available in two variants in India; one with 8GB of RAM and 128GB of storage  priced at Rs. 29,999, and the second with 12GB of RAM and 256GB of storage priced at Rs. 33,999. There's also support for Dolby Atmos, which works when playing audio through the speakers as well as wired or wireless headphones. it's have 4000mAh battery and support for Fast charging 50W, 100% in 35 min.</p>
          <div class="aff-link">
            <a href="https://www.amazon.in/Realme-Pro-Neptune-Blue-RAM/dp/B087TGZSJY/ref=mp_s_a_1_5?dchild=1&keywords=realme+x2+pro&qid=1594896429&sprefix=realme+x&sr=8-5" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from amazon</button></a>
            <a href="https://www.flipkart.com/realme-x2-pro-neptune-blue-64-gb/p/itma3203d88190a3?pid=MOBFM2WZG3BJWSBT&lid=LSTMOBFM2WZG3BJWSBTDJHSXS&marketplace=FLIPKART&pageUID=1594896526045" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
            <p></p>
          </div>
        </div>
    {% endblock content%}
    {% block specs%}
    <!-- specification -->
    <h3 class="spec_title">Full Specs</h3>
    <!-- 1 -->
    <div class="specs_table">
      <div class="specs">
        <strong>LAUNCH</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Announced</strong>
          <p>2019, October 15</p>
        </div>
        <div class="specs_info1">
          <strong>Status</strong>
          <p>Available. Released 2019, October</p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="specs_table">
      <div class="specs">
        <strong>NETWORK</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Technology</strong>
          <p>GSM / CDMA / HSPA / EVDO / LTE</p>
        </div>
        <div class="specs_info1">
          <strong>Speed</strong>
          <p>HSPA 42.2/11.5 Mbps, LTE-A</p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="specs_table">
      <div class="specs">
        <strong>DISPLAY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Type</strong>
          <p>Super AMOLED capacitive touchscreen, 16M colors</p>
        </div>
        <div class="specs_info">
          <strong>Size</strong>
          <p>6.5 inches, 103.5 cm2 (~84.9% screen-to-body ratio)</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>1080 x 2400 pixels, 20:9 ratio (~402 ppi density)</p>
        </div>
        <div class="specs_info">
          <strong>Protection</strong>
          <p>Corning Gorilla Glass 5</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>90Hz refresh rate</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>1000 nits max brightness</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BODY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Dimension</strong>
          <p>161 x 75.7 x 8.7 mm (6.34 x 2.98 x 0.34 in)</p>
        </div>
        <div class="specs_info">
          <strong>Weight</strong>
          <p>199 g (7.02 oz)</p>
        </div>
        <div class="specs_info">
          <strong>Build</strong>
          <p>Glass front (Gorilla Glass 5), glass back (Gorilla Glass 5), aluminum frame</p>
        </div>
        <div class="specs_info1">
          <strong>SIM</strong>
          <p>Dual SIM (Nano-SIM, dual stand-by)</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>PLARFROM</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>OS</strong>
          <p>Android 9.0 (Pie), upgradable to Android 10, realme UI</p>
        </div>
        <div class="specs_info">
          <strong>Chipset</strong>
          <p>Qualcomm SM8150 Snapdragon 855+ (7 nm)</p>
        </div>
        <div class="specs_info">
          <strong>CPU</strong>
          <p>Octa-core (1x2.96 GHz Kryo 485 & 3x2.42 GHz Kryo 485 & </p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>4x1.8 GHz Kryo 485)</p>
        </div>
        <div class="specs_info1">
          <strong>GPU</strong>
          <p>Adreno 640 (700 MHz)</p>
        </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MEMORY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Card Slot</strong>
          <p>No</p>
        </div>
        <div class="specs_info1">
          <strong>Internal</strong>
          <p>64GB 6GB RAM, 128GB 8GB RAM, 256GB 12GB RAM</p>
        </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="specs_table">
      <div class="specs">
        <strong>CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Quad</strong>
          <p>64 MP, f/1.8, 26mm (wide), 1/1.72", 0.8µm, PDAF</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>13 MP, f/2.5, 52mm (telephoto), 1/3.4", 1.0µm, PDAF,</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>2x optical zoom</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>2 MP, f/2.4, (depth)</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>8 MP, f/2.2, 16mm (ultrawide)</p>
        </div>
        <div class="specs_info">
          <strong>Features</strong>
          <p>Dual-LED  flash, HDR, panorama</p>
        </div>
        <div class="specs_info1">
          <strong>Video</strong>
          <p>4K@30/60fps, 1080p@30/60/120fps, 720p@960fps, gyro-EIS</p>
        </div>
      </div>
    </div>
    <!-- 7 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FRONT CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Single</strong>
          <p>16 MP, f/2.0, 25mm (wide), 1/3.06", 1.0µm</p>
        </div>
        <div class="specs_info1">
          <strong>Features</strong>
          <p>HDR</p>
        </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BATTERY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong></strong>
          <p>Non-removable Li-Po 4000 mAh battery</p>
        </div>
        <div class="specs_info">
          <strong>Charging</strong>
          <p>Fast charging 50W, 100% in 35 min</p>
        </div>
      </div>
    </div>
    <!-- 9 -->
    <div class="specs_table">
      <div class="specs">
        <strong>COMMS.</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>WLAN</strong>
          <p>Wi-Fi 802.11 a/b/g/n/ac, dual-band, Wi-Fi Direct, hotspot</p>
        </div>
        <div class="specs_info">
          <strong>Bluetooth</strong>
          <p>5.0, A2DP, LE</p>
        </div>
        <div class="specs_info">
          <strong>GPS</strong>
          <p>Yes, with dual-band A-GPS, GLONASS, BDS, GALILEO</p>
        </div>
        <div class="specs_info">
          <strong>Radio</strong>
          <p>No</p>
        </div>
        <div class="specs_info1">
          <strong>USB</strong>
          <p>2.0, Type-C 1.0 reversible connector</p>
        </div>
      </div>
    </div>
    <!-- 10 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FEATURE</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Sensors</strong>
          <p>	Fingerprint (under display, optical), accelerometer, gyro, proximity, compass</p>
        </div>
      </div>
    </div>
    <!-- 11 -->
    <div class="specs_table">
      <div class="specs">
        <strong>SOUND</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Loudspeaker</strong>
          <p>Yes, with Dolby Atmos stereo speakers</p>
        </div>
        <div class="specs_info">
          <strong>3.5mm jack</strong>
          <p>Yes</p>
        </div>
      </div>
    </div>
    <!-- 12 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MISC</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Color</strong>
          <p>Lunar White, Neptune Blue, Red Master Edition, Gray Master Edition</p>
        </div>
        <div class="specs_info1">
          <strong>Models</strong>
          <p>RMX1931</p>
        </div>
      </div>
    </div>
    </div>
    <!-- 13 -->
    {% endblock specs%}
