{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="Realme v15 (realme koi) launch date revealed. Rumours about it's specification and design"> {% endblock desc%}
{% block key%}<meta name="keywords" content="Realme v15, realme v15 spec, realme v15 lauch date"> {% endblock key%}
    {% block style %}
    <style>
      p{font-family: sans-serif;font-size: 17px;}footer p{font-size: 15px;}@media (max-width: 768px){p{font-size: 18px;}.content{font-size: 18px;}footer p{font-size: 14px;}}
    </style>
    {% endblock style %}
    {% load static %}
    {% block title%}Realme v15 (realme koi) launch date revealed. Rumours about it's specification and design.{% endblock title%}
    {% block actart%} class="active"{% endblock actart%}
    {% block content%}
    <!-- review and spec -->
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h1 class="content_tittle" style="font-weight: 700;" >Realme v15 (realme koi) launch date revealed. Rumours about it's specification and design</h1>
          <p>Realme V15 price and specifications will be officially revealed on this week</p>
          <p>By <span style="color:blue;"><a href="https://rb.gy/5rrdsp">Rohit Kumar</a></span>- Updated on <b style="color: gray;">5th Jan, 2021</b></p>
          <hr class="my-2">
          <img class="image" src="{% static 'image/article/apps/air scanner/realme-v15-2.jpg'%}" alt="">
          <p></p>
          <hr class="my-2">
          <p>Those who are waiting for Realme v15, its good news for them. Realme v15 launch date officially revealed in china. As per rumours and image floating arround on internet, the Realme V15 launch is set for 7th January 2021. Realme koi has been rumoured about few times in the past and coupled of image were leaked as well. Now image of this phone has been officially revealed by realme. The official teaser images gives a lot of information about this smartphone like its design and color. </p>
        </div>
        <!-- 1 -->
        <div class="info">
          <h2  style="padding-left:3px; border-left: 2px solid red; font-weight: 400;">Realme V15 Specification</h2><br>
          <p>After the Realme V3 and V5 now realme launching its third v series phone called Realme V15. Talking about design it will come with a gradient colour finish and the ‘Dare to Leap’ tagline across the rear panel.</p>
          <p>Realme V15 smartphone runs on the latest version of the Android operating system (Android 10). The phone is powered by an Octa-core (2.05 GHz, Dual core, Cortex A76 + 2 GHz, Hexa Core, Cortex A55) processor and it runs on MediaTek Dimensity 800U chipset. Talking about its camera, We also see a triple camera system housed in a rectangular camera module and the ’64MP AI camera’ text written next to the LED flash, which confirms a 64MP primary camera sensor. It has support for fast charging 50W and non-removable 6000 mAh battery</p>

        </div>
        <!--  -->
      </div>
    </div>
  {% endblock content%}
