{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="Apple smartphone: New smartphone review and specification, buy at best price from flipkart. "> {% endblock desc%}
{% block key%}<meta name="keywords" content="iphone xr, iphone xr reviews, iphone xr specification, iphone xr price in india, iphone xr price"> {% endblock key%}
    {% load static %}
    {% block style %}
    <style>
      .info{
        padding-top: 10px;
      }
      .info span{
        color:red;
      }
     </style>
     {% endblock style %}
   {% block css%} <link rel="stylesheet" href="{% static 'pageCss/Mobile/mobileSpecCss.css' %}">{% endblock css%}
    {% block title%}Apple XR Full specification: hipein.com{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <!-- review and spec -->
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h4 class="content">Apple released his new smartphone iphone XR at price of 52,500-INR</h4>
          <h2 class="content_tittle"><span>REVIEW</span> iphone XR : 3/64GB for 52,500-INR Watch Full review-<a href="https://www.youtube.com/watch?v=Fv2Uj4uYaQo">http://www.youtube.com </a></h2>
        </div>
        <div >
          <img class="image" src="{% static 'image/mobile/apple/apple-xr-2.jpg'%}" alt="">
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by: SlashGear</p>
        </div>
        <div class="info">
          <h4 class="content">Apple XR summary</h4>
          <p class="content">The <span>iPhone XR</span> is wider than some of today's other popular large-screen Android smartphones and at 194g, it's certainly one of the heavier ones as well. It is also noticeably thicker than the two more premium iPhone models of 2018, and the bezels around its display are a little more pronounced than those of the iPhone XS, though most users won't be be bothered by the latter. the <span>iPhone XR</span> uses the same LCD tech as the <span>iPhone 8</span>.</p>
          <p class="content"><span>iphone XR</span> comes with single 12 Meg-pixel with 4k recording at 30fps and 5 mega-pixel front camera.The iPhone XR is powered by the same <span>Apple A12 Bionic</span> chip inside the iPhone XS duo, so it's no surprise that its performance is pretty similar. It handled everything that we threw at it with aplomb, something we've come to expect from a new iPhone, and indeed other smartphones in this price bracket.</p>
          <div class="aff-link1">
            <form action="https://www.flipkart.com/apple-iphone-xr-white-256-gb/p/itmf9z7zsx9keyup?pid=MOBF9Z7ZEHAGRKZC&lid=LSTMOBF9Z7ZEHAGRKZCAQAGGA&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=84b26bfd-4548-44bc-808c-abbb942bf7f9.MOBF9Z7ZEHAGRKZC.SEARCH&ppt=sp&ppn=sp&ssid=t00r583yg00000001594879708268&qH=868ed02c58567157">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from flipkart</button>
            </form>
            <form action="https://www.flipkart.com/search?q=iphone%20XR&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>

          <p></p>
        </div>
    {% endblock content%}
    {% block specs%}
    <!-- specification -->
    <h3 class="spec_title">Full Specs</h3>
    <!-- 1 -->
    <div class="specs_table">
      <div class="specs">
        <strong>LAUNCH</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Announced</strong>
          <p>2018, September 12</p>
        </div>
        <div class="specs_info1">
          <strong>Status</strong>
          <p>Available. Released 2018, October 26</p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="specs_table">
      <div class="specs">
        <strong>NETWORK</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Technology</strong>
          <p>GSM / CDMA / HSPA / EVDO / LTE</p>
        </div>
        <div class="specs_info1">
          <strong>Speed</strong>
          <p>HSPA 42.2/5.76 Mbps, LTE-A (2CA) Cat6 300/50 Mbps,</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>EV-DO Rev.A 3.1 Mbps</p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="specs_table">
      <div class="specs">
        <strong>DISPLAY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Type</strong>
          <p>IPS LCD capacitive touchscreen, 16M colors</p>
        </div>
        <div class="specs_info">
          <strong>Size</strong>
          <p>4.7 inches, 60.9 cm2 (~65.6% screen-to-body ratio)</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>750 x 1334 pixels, 16:9 ratio (~326 ppi density)</p>
        </div>
        <div class="specs_info">
          <strong>Protection</strong>
          <p>Ion-strengthened glass, oleophobic coating</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>3D Touch</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BODY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Dimension</strong>
          <p>138.3 x 67.1 x 7.1 mm (5.44 x 2.64 x 0.28 in)</p>
        </div>
        <div class="specs_info">
          <strong>Weight</strong>
          <p>143 g (5.04 oz)</p>
        </div>
        <div class="specs_info">
          <strong>Build</strong>
          <p>Glass front (Gorilla Glass), aluminum back, aluminum frame</p>
        </div>
        <div class="specs_info1">
          <strong>SIM</strong>
          <p>Nano-SIM</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>Apple Pay (Visa, MasterCard, AMEX certified)</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>PLARFROM</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>OS</strong>
          <p>iOS 9, upgradable to iOS 13.5</p>
        </div>
        <div class="specs_info">
          <strong>Chipset</strong>
          <p>Apple A9 (14 nm)</p>
        </div>
        <div class="specs_info">
          <strong>CPU</strong>
          <p>Dual-core 1.84 GHz Twister</p>
        </div>
        <div class="specs_info1">
          <strong>GPU</strong>
          <p>PowerVR GT7600 (six-core graphics)</p>
        </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MEMORY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Card Slot</strong>
          <p>No</p>
        </div>
        <div class="specs_info1">
          <strong>Internal</strong>
          <p>16GB 2GB RAM, 32GB 2GB RAM, 64GB 2GB RAM, 128GB 2GB RAM</p>
        </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="specs_table">
      <div class="specs">
        <strong>CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Single</strong>
          <p>12 MP, f/2.2, 29mm (standard), 1/3", 1.22µm, PDAF</p>
        </div>
        <div class="specs_info">
          <strong>Features</strong>
          <p>Dual-LED dual-tone flash, HDR</p>
        </div>
        <div class="specs_info1">
          <strong>Video</strong>
          <p>4K@30fps, 1080p@60fps,1080p@120fps, 720p@240fps</p>
        </div>
      </div>
    </div>
    <!-- 7 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FRONT CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Single</strong>
          <p>5 MP, f/2.2, 31mm (standard)</p>
        </div>
        <div class="specs_info1">
          <strong>Features</strong>
          <p>Face detection, HDR, panorama</p>
        </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BATTERY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info1">
          <strong></strong>
          <p>Non-removable Li-Ion 1715 mAh battery (6.91 Wh)</p>
        </div>
      </div>
    </div>
    <!-- 9 -->
    <div class="specs_table">
      <div class="specs">
        <strong>COMMS.</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>WLAN</strong>
          <p>Wi-Fi 802.11 a/b/g/n/ac/6, dual-band, hotspot</p>
        </div>
        <div class="specs_info">
          <strong>Bluetooth</strong>
          <p>4.2, A2DP, LE</p>
        </div>
        <div class="specs_info">
          <strong>GPS</strong>
          <p>Yes, with A-GPS, GLONASS, GALILEO, QZSS</p>
        </div>
        <div class="specs_info">
          <strong>Radio</strong>
          <p>No</p>
        </div>
        <div class="specs_info1">
          <strong>USB</strong>
          <p>2.0, proprietary reversible connector</p>
        </div>
      </div>
    </div>
    <!-- 10 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FEATURE</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Sensors</strong>
          <p>Fingerprint (front-mounted), accelerometer, gyro, proximity, compass,</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>barometer</p>
        </div>
          <div class="specs_info1">
          <strong></strong>
          <p>Siri natural language commands and dictation</p>
        </div>
      </div>
    </div>
    <!-- 11 -->
    <div class="specs_table">
      <div class="specs">
        <strong>SOUND</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Loudspeaker</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>3.5mm jack</strong>
          <p>Yes</p>
        </div>
      </div>
    </div>
    <!-- 12 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MISC</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Color</strong>
          <p>Space Gray, Silver, Gold, Rose Gold</p>
        </div>
        <div class="specs_info1">
          <strong>Models</strong>
          <p>A1633, A1688, A1691, A1700</p>
        </div>
      </div>
    </div>
  </div>
    <!-- 13 -->
    {% endblock specs%}
