{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="Today Chennai Super Kings take on Rajesthan Royals in Match 4 of IPL 2020 and The match will be played at the Sharjah Cricket Stadium in UAE."> {% endblock desc%}
{% block key%}<meta name="keywords" content="RR vs CSK, CSK vs RR, CSK vs RR Dream 11, RR vs CSK Dream 11"> {% endblock key%}
    {% load static %}
    {% block title%}IPL 2020, RR vs CSK Predicted Playing 11: Dream 11 prediction.{% endblock title%}
    {% block actart%} class="active"{% endblock actart%}
    {% block content%}
    <!-- review and spec -->
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h1 class="content_tittle" style="font-weight: 700;" >IPL 2020, RR vs CSK Predicted Playing 11: Dream 11 prediction.</h1>
          <h5 style="font-weight: 400;">Chennai Super Kings have won a match against Dehli Capitals and it is going to be a first match of Rajesthan Royals against chennai.</h5>
          <hr class="my-2">
          <style>

          </style>
          <div class="">
          <img class="image" src="{% static 'image/article/game/IPL/cskvsrr.jpg'%}" alt="">
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | Google uploaded by:  <a href="#">asianetnews.com</a></p>
          <p>Today Chennai Super Kings take on Rajesthan Royals in Match 4 of IPL 2020 and The match will be played at the Sharjah Cricket Stadium in UAE.</p>
          <p>The match will start at <b>19:30 IST</b> (14:00 GMT), 18:00 LOCAL.</p>
          <hr class="my-2">
          <h3 style="padding-left:3px; border-left: 3px solid red; font-weight: 500;">Sharjah Cricket Stadium pitch report</h3>
          <p>Talking about the pitch of the stadium, the average scoring rate at this place in the T20 is 7.20 and The average score of this pitch is 150–160. The team batting first will aim to score 150–160 as the dew factor in the second innings will make batting more comfortable.</p>
          <p><b>Average first innings score:</b> 150-160</p>
          <hr class="my-2">
          <h3 style="padding-left:3px; border-left: 3px solid red; font-weight: 500;">Squads:</h3>
          <p><b>Chennai Super Kings</b> Squad: Murali Vijay, Shane Watson, Faf du Plessis, Ambati Rayudu, MS Dhoni(w/c), Sam Curran, Ravindra Jadeja, Kedar Jadhav, Deepak Chahar, Piyush Chawla, Lungi Ngidi, Dwayne Bravo, Karn Sharma, Shardul Thakur, Josh Hazlewood, Imran Tahir, Ravisrinivasan Sai Kishore, Monu Kumar, Mitchell Santner, KM Asif, N Jagadeesan, Ruturaj Gaikwad.</p>
          <p><b>Rajesthan Royals</b> Squad: Robin Uthappa, Yashasvi Jaiswal, Sanju Samson(w), David Miller, Steven Smith(c), Riyan Parag, Shreyas Gopal, Tom Curran, Jofra Archer, Jaydev Unadkat, Varun Aaron, Aniruddha Joshi, Ankit Rajpoot, Manan Vohra, Andrew Tye, Rahul Tewatia, Shashank Singh, Oshane Thomas, Mahipal Lomror, Anuj Rawat, Mayank Markande, Kartik Tyagi, Akash Singh, Jos Buttler, Ben Stokes. </p>
          <hr class="my-2">
          <h3 style="padding-left:3px; border-left: 3px solid red; font-weight: 500;">Playing XIs (CSK vs RR):</h3>
          <p><b>Chennai Super Kings:</b></p>
          <p>Shane Watson, Faf du Plessis, Ambati Rayudu, MS Dhoni, Kedar Jadhav, M Vijay, Sam Curran, Ravindra Jadeja, Piyush Chawla, L Ngidi, Deepak Chahar</p>
          <p><b>Rajesthan Royals:</b></p>
          <p> Robin Uthappa, Yashasvi Jaiswal, Sanju Samson(w), David Miller, Steven Smith(c), Riyan Parag, Shreyas Gopal, Tom Curran, Jofra Archer, Jaydev Unadkat.</p>
          <hr class="my-2">
        </div>

      </div>
    </div>
  {% endblock content%}
