{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="Now a day world most popular mobile game is PUBG, find  here best pubg mobile. "> {% endblock desc%}
{% block key%}<meta name="keywords" content="pubg mobile phone under 20000, pubg mobile phone price, pubg mobile phone requirements, pubg mobile phone amazon, pubg mobile requirements android phone"> {% endblock key%}
  {% load static %}
    {% block title%}Best PUBG mobile between under 10,000-20,000 INR - HipeIn.com{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <!-- review and spec -->
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h3 class="content" style="border-bottom:1px solid #eee;">Best PUBG mobile under 10,000-20,000INR </h3>
          <h5 class="content">Now a day world most popular mobile game is PUBG, top 10 mobiles list are give below which can easily support PUBG without any lag.</h5>
          <p></p>
          <p>By <i><span style="color:blue;">Rohit Raj</span></i>- Updated on <b style="color: gray;">6 July, 2020</b></p>
        </div>
        <div>
          <img class="image" src="{% static 'image/mobile/pubg/PUBG-mobile.jpg'%}" alt="">
        </div>
        <div class="info">
          <h4 class="content">PBUG Mobile</h4>
          <p class="content"><span>PUBG</span> is an online multiplayer battle royale game developed and published by PUBG Corporation, a subsidiary of South Korean video game company <span>Bluehole</span>.</p>
          <h5 class="content">Minimum system requirement for PUBG mobile:</h5>
          <ul class="content" style="border-bottom: 1px solid #eee;">
            <li>Need Android, Ios, Mobile Os</li>
            <li>Version- android 7 or High, IOS 9.0 or Higher</li>
            <li>Processor – 480 or additional</li>
            <li>RAM – Min 4 GB RAM</li>
            <li>Free Storage for Game – 5 GB space</li>
            <p></p>
          </ul>
        </div>
        <!-- 1 -->
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">1. POCO F1</h2>
          <div>
            <img class="image" src="{% static 'image/mobile/pubg/poco-f1.jpg'%}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-by Dhananjay Bhosale-<a href="https://www.youtube.com/watch?v=Pr24irDa5yM"><span>Review link</span></a></p>
          <h4 class="content">About POCO F1</h4>
          <p class="content">POCO F1 is best PUBG mobile Under 15,000, Xiaomi at this range giving best feature. In my opinion POCO F1 support PUBG without any lag and there is no heating problem while playing PUBG in POCO F1. Xiaomi gives more feature in this mobile like Game trubo while playing we can do addition work also whatsapp messaging. At this range Poco f1 provide <span>Qualcomm Snapdragon 845</span> Processor.. This smartphone is available in 2 other variants like 6GB RAM + 128GB Storage, 8GB RAM + 256GB Storage with colour options like Black, Graphite Black, Rosso Red, Steel Blue, and Armoured Edition.</p>
          <h4 class="content">POCO F1: Key specifications </h4>
          <ul class="content">
            <li>It has a 6.18-inch display with an 18.7:9 aspect ratio and Corning Gorilla Glass 3 protection on top.</li>
            <li>Powering the Poco F1 is the Snapdragon 845 processor</li>
            <li>12-megapixel primary camera and a 5-megapixel depth sensor</li>
            <li>20-megapixel selfie camera</li>
            <li>Android 8.1 (Oreo), upgradable to Android 10.0 (Pie), MIUI 11</li>
            <li>Storage: 6GB RAM + 128GB Storage, 8GB RAM + 256GB</li>
            <li>Non-removable Li-Po 4000 mAh battery</li>
            <li>Fast charging 18W</li>
            <div class="aff-link">
              <a href="https://www.flipkart.com/poco-f1-armoured-edition-128-gb/p/itmfbyd6nzexrpgk?pid=MOBFBYD6HGFZUNKS&lid=LSTMOBFBYD6HGFZUNKSHYEIGK&marketplace=FLIPKART&sattr[]=color&sattr[]=storage&sattr[]=ram&st=storage&otracker=AS_QueryStore_OrganicAutoSuggest_1_7_na_na_na" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from flipkart</button></a>
              <a href="https://www.flipkart.com/search?q=poco+f1&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_7_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_7_na_na_na&as-pos=1&as-type=HISTORY&suggestionId=poco+f1%7CMobiles&requestId=5fd78d63-dd7a-41e2-b069-cb51278fe7a0" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
            </div>
          </ul>
        </div>
        <!-- 2 -->
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">2. Realme 6</h2>
          <div>
            <img class="image"src="{% static 'image/mobile/pubg/Realme-6.webp'%}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | Google-by www.bgr.in</p>
          <h4 class="content">About Realme 6</h4>
          <p class="content">At this range realme provide more feature as compare to other phone. about pubg game play quite low performance to POCO F1 but it can run PUBG mobile at the highest graphic setting. The phone comes with a 6.50-inch touchscreen display with a resolution of 1080x2400 pixels and an aspect ratio of 20:9. Realme 6 is powered by a 2.05GHz octa-core MediaTek Helio G90T processor. It comes with 4GB of RAM. The Realme 6 runs Android 10 and is powered by a 4300mAh non-removable battery. The Realme 6 supports proprietary fast charging.  </p>
          <h4 class="content">Realme 6: Key specifications </h4>
          <ul class="content">
            <li>Diaplay: 6.50-inch (1080x2400 pixels)</li>
            <li>Corning: Gorilla Glass 3</li>
            <li>Processor: MediaTek Helio G90T</li>
            <li>primary camera: 64-megapixel (f/1.8) </li>
            <li>selfie camera: 16-megapixel (f/2.0)</li>
            <li>Android 10.0, Realme UI</li>
            <li>RAM + storage: 64GB 4GB RAM, 128GB 4GB RAM, 128GB 6GB RAM, 128GB 8GB RAM</li>
            <li>Battery:  Non-removable Li-Po 4300 mAh battery</li>
            <li>Fast charging 30W, 100% in 55 min.</li>
            <div class="aff-link">
              <a href="https://www.amazon.in/Realme-Comet-White-128-RAM/dp/B07Z6GQRS7/ref=sr_1_4?crid=2IB5A2G5AQ5AV&dchild=1&keywords=realme+6&qid=1594823843&sprefix=Rea%2Caps%2C382&sr=8-4" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from amazon</button></a>
              <a href="https://www.amazon.in/Realme-Comet-White-128-RAM/dp/B07Z6GQRS7/ref=sr_1_4?crid=2IB5A2G5AQ5AV&dchild=1&keywords=realme+6&qid=1594823843&sprefix=Rea%2Caps%2C382&sr=8-4" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
            </div>
          </ul>
        </div>
        <!-- 3 -->
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">3. Redmi Note 9 Pro</h2>
          <div>
            <img class="image"src="{% static 'image/mobile/pubg/redmi-note-9-pro.jpeg'%}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | Google-by <a href="https://www.digit.in/">www.digit.in</a></p>
          <h4 class="content">About Note 9 Pro</h4>
          <p class="content"><span>Xiaomi</span> Released his new note series which more powerfull than note note 8 pro. In note 9 pro pubg-mobile can run at higher graphic setting as well as no lags in pubg while playing. <span>Note 9 pro</span> support fast charging 18W and  5020mAh battery. The processor is a <span>Qualcomm Snapdragon 720G</span> which is surprisingly powerful for this segment which can improve your gaming experience.</p>
          <h4 class="content">Note 9 Pro: Key specifications </h4>
          <ul class="content">
            <li>Diaplay: 	6.67-inch 1080x2400 pixels</li>
            <li>Corning: Gorilla Glass 3</li>
            <li>Processor: 	Qualcomm Snapdragon 720G</li>
            <li>primary camera: 48-megapixel (f/1.79) + 8-megapixel + 5-megapixel + 2-megapixel </li>
            <li>selfie camera: 	16-megapixel</li>
            <li>Android 10, MIUI 11</li>
            <li>RAM + storage: 64GB 4GB RAM, 128GB 6GB RAM</li>
            <li>Battery:  Non-removable Li-Po 5020mAh battery</li>
            <li>Fast charging 18W</li>
            <div class="aff-link">
              <a href="https://www.amazon.in/Test-Exclusive-549/dp/B077PWBC78/ref=sr_1_1?dchild=1&keywords=redmi+note+9+pro&qid=1594824014&sr=8-1" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from amazon</button></a>
              <a href="https://www.amazon.in/s?k=redmi+note+9+pro&ref=nb_sb_noss_2" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
            </div>
          </ul>
        </div>
        <!-- 4 -->
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">4. Redmi Note 7 Pro</h2>
          <div>
            <img class="image"src="{% static 'image/mobile/pubg/redmi-note-7-pro.jpg'%}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-Uploaded by: Geekyranjit</p>
          <h4 class="content">About Note 7 Pro</h4>
          <p class="content"><span>redmi note 7 pro</span> one of best phone for pubg-mobile @12,999-INR(6/64GB). The mobile heats up while playing pubg but over all it's gives good experience. redmi note 7 pro powered by	<span>Qualcomm Snapdragon 675</span> which can run pubg at higher graphic setting. </p>
          <h4 class="content">Note 7 Pro: Key specifications </h4>
          <ul class="content">
            <li>Diaplay: 6.3 inches, 1080 x 2340 pixels, 19.5:9 ratio (~409 ppi density)</li>
            <li>Corning: Corning Gorilla Glass 5</li>
            <li>Processor: Qualcomm SDM675 Snapdragon 675 (11 nm) </li>
            <li>primary camera: 48-megapixel (f/1.79, 1.6-micron) + 5-megapixel</li>
            <li>selfie camera: 	13-megapixel</li>
            <li>upgradable (Android 10), MIUI 11</li>
            <li>64GB 4GB RAM, 64GB 6GB RAM, 128GB 6GB RAM</li>
            <li>Battery:  Non-removable Li-Po 4000mAh battery</li>
            <li>Fast charging 18W</li>
            <div class="aff-link">
              <a href="https://www.amazon.in/Note-Pro-Space-Black-64GB/dp/B07VWXLRRH/ref=sr_1_1?dchild=1&keywords=redmi+note+7+pro&qid=1594823945&sr=8-1" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from amazon</button></a>
              <a href="https://www.amazon.in/Note-Pro-Space-Black-64GB/dp/B07VWXLRRH/ref=sr_1_1?dchild=1&keywords=redmi+note+7+pro&qid=1594823945&sr=8-1" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
            </div>
          </ul>
        </div>
        <!-- 5 -->
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">5. Vivo S1</h2>
          <div>
            <img class="image"src="{% static 'image/mobile/pubg/vivo-s1.jpg' %}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-Uploaded by: Mr. Phone</p>
          <h4 class="content">About Vivo S1</h4>
          <p class="content">Vivo S1 also in the list of best pubg mobile under 20k because Vivo S1 gives best gaming prefromance. The Vivo S1 is the first smartphone in India to be powered by the new MediaTek Helio P65 SoC. The Helio P65 is a mid-range processor based on a 12nm process. It has a pair of ARM Cortex-A75 cores clocked at 2GHz, and six Cortex-A55 cores clocked at 1.7GHz. For graphics, it has a Mali-G52 integrated GPU. Due to his awesome processor pubg can run at higher graphic settings. you can choose HDR graphics with Ultra frame rate on this smartphone. If you want to higher frame rate then you can put the Graphics to Smooth and Frame Rate to Extreme</p>
          <h4 class="content">Vivo S1: Key specifications </h4>
          <ul class="content">
            <li>Diaplay: 6.38 inches, 1080 x 2340 pixels, 19.5:9 ratio (~404 ppi density)</li>
            <li>Super AMOLED capacitive touchscreen, 16M colors</li>
            <li>Processor: Mediatek MT6768 Helio P65 (12nm) </li>
            <li>primary camera: 16 MP, f/1.8, (wide),8 MP, f/2.2, 13mm (ultrawide), 2 MP, f/2.4, (depth) </li>
            <li>selfie camera: 	32-megapixel</li>
            <li>Android 9.0 (Pie), Funtouch 9</li>
            <li>RAM+Storage:64GB 6GB RAM, 128GB 4GB RAM, 128GB 6GB RAM, 256GB 6GB RAM</li>
            <li>Battery: Non-removable Li-Po 4500 mAh battery</li>
            <li>Fast charging 18W</li>
            <div class="aff-link">
              <a href="https://www.amazon.in/Vivo-Diamond-Storage-Additional-Exchange/dp/B07X9YLSGS/ref=sr_1_2?crid=33MGXHEW3M52S&dchild=1&keywords=vivo+s1+mobile&qid=1594824067&sprefix=vivo+s1%2Caps%2C482&sr=8-2" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from amazon</button></a>
              <a href="https://www.amazon.in/Vivo-Diamond-Storage-Additional-Exchange/dp/B07X9YLSGS/ref=sr_1_2?crid=33MGXHEW3M52S&dchild=1&keywords=vivo+s1+mobile&qid=1594824067&sprefix=vivo+s1%2Caps%2C482&sr=8-2" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
            </div>
          </ul>
        </div>
        <!-- 6 -->
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">6. Redmi note 8 pro</h2>
          <div>
            <img class="image"src="{% static 'image/mobile/pubg/redmi-note-8-pro.jpg' %}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-Uploaded by: YugaTech</p>
          <h4 class="content">About Redmi note 8 pro</h4>
          <p class="content">Most of xiaomi phone are in list of best pubg mobile under 20k because they are providing best feature to there phones that is why most of xiaomi are in list. Redmi note 8 pro starting from 14,999-INR(4/64GB) in india. Xiaomi is projecting it to be an ideal gaming smartphone in this price range. due his processor pubg run at higher graphic setting. Interestingly, you can choose HDR graphics with Ultra frame rate on this smartphone. If you want to higher frame rate then you can put the Graphics to Smooth and Frame Rate to Extreme. During our gameplay, choose Smooth graphics with extreme frame rate and the results were quite impressive. The gameplay was buttery smooth and we did not face any problem with frame drops or lags. </p>
          <h4 class="content">Redmi note 8 pro: Key specifications </h4>
          <ul class="content">
            <li>Diaplay: 6.38 inches, 1080 x 2340 pixels, 19.5:9 ratio (~404 ppi density)</li>
            <li>Mediatek Helio G90T SoC: 2 Cortex-A76 performance cores at 2.05 GHz + 6 Cortex-A55 efficiency cores at 2 GHz</li>
            <li>primary camera: 64 MP (main) + 8 MP (ultra-wide) + 2 MP (macro) + 2 MP (depth sensor) quad cameras </li>
            <li>selfie camera: 	20-megapixel</li>
            <li>Android 9.0 (Pie), upgradable to Android 10, MIUI 11</li>
            <li>RAM: 6 GB or 8 GB RAM options</li>
            <li>Storage: 64 GB or 128 GB UFS 2.1 internal storage + dedicated microSD slot</li>
            <li>Battery: Non-removable Li-Ion 4500 mAh battery</li>
            <li>Fast charging 18W</li>
            <div class="aff-link">
              <a href="https://www.amazon.in/Redmi-Note-Pro-Storage-Processor/dp/B07X4PKGSN/ref=sr_1_1?crid=1APT739K268VB&dchild=1&keywords=note+8+pro+redmi&qid=1594824123&sprefix=note+%2Caps%2C451&sr=8-1" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from amazon</button></a>
              <a href="https://www.amazon.in/s?k=note+8+pro+redmi&crid=1APT739K268VB&sprefix=note+%2Caps%2C451&ref=nb_sb_ss_ts-o-p_1_5" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
            </div>
          </ul>
        </div>
        <!-- 7 -->
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">7. Realme 5 pro</h2>
          <div>
            <img class="image"src="{% static 'image/mobile/pubg/realme-5-pro.jpg' %}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-Uploaded by: GadgetIn</p>
          <h4 class="content">About Realme 5 pro</h4>
          <p class="content">I think in this list has most <span>Xiaomi</span> and <span>Realme</span> phones because they provides awesome feature at low range price. Realme 5 pro 6.3-inch screen has a full-HD+ resolution of 1080x2340. In realme 5 pro high graphic game like pubg and Asphalt 9 run without facing any frame drops. During our gameplay, choose Smooth graphics with extreme frame rate and the results were quite impressive. </p>
          <h4 class="content">Realme 5 pro: Key specifications </h4>
          <ul class="content">
            <li>Diaplay: 6.3-inch screen has a full-HD+ resolution of 1080x2340</li>
            <li>Qualcomm SDM712 Snapdragon 712 (10 nm)</li>
            <li>primary camera: 48 MP (main) + 8 MP (ultra-wide) + 2 MP (macro) + 2 MP (depth sensor) quad cameras </li>
            <li>selfie camera: 	16-megapixel</li>
            <li>Android 9.0 (Pie), upgradable to Android 10, realme UI</li>
            <li>RAM: 4 GB, 6 GB or 8 GB RAM options</li>
            <li>Storage: 64 GB or 128 GB </li>
            <li>Battery: Non-removable Li-Po 4035 mAh battery</li>
            <li>Fast charging 20W, 50% in 30 min</li>
            <div class="aff-link">
              <a href="https://www.flipkart.com/realme-5-pro-sparkling-blue-128-gb/p/itmfj9twdugyvg77?pid=MOBFJ9TWAEBGAYFR&lid=LSTMOBFJ9TWAEBGAYFRGDVJVR&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=d44a9a8c-a2f2-415f-9ee6-3c6d29e58c57.MOBFJ9TWAEBGAYFR.SEARCH&ppt=sp&ppn=sp&ssid=wb9h0xta680000001594824150931&qH=0e144ab94d3ed3b7" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from flipkart</button></a>
              <a href="https://www.flipkart.com/search?q=realme%205%20pro&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
            </div>
          </ul>
        </div>
        <!-- 8 -->
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">8. Samsung M30s</h2>
          <div>
            <img class="image"src="{% static 'image/mobile/pubg/samsung-m30s.jpg' %}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | Google-by: <a href="https://themrphone.com/">themrphone.com</a></p>
          <h4 class="content">About Samsung M30s</h4>
          <p class="content">The Galaxy M30s is an update to the Samsung Galaxy M30. This new smartphone packs in a 6,000mAh battery which is its highlight feature. We were impressed with the AMOLED display on this smartphone as it was crisp and had good viewing angles. Samsung has picked the Exynos 9611 SoC to power the Galaxy M30s which is the same processor powering the Galaxy A50s, There are two variants of the Galaxy M30s, 4GB RAM with 64GB of storage and 6GB of RAM with 128GB of storage. The processor isn't as powerful as the Snapdragon 675 SoC but is on par with the Snapdragon 710 SoC. we are facing frame lag while playing pubg at higher graphic settings.</p>
          <h4 class="content">Samsung M30s: Key specifications </h4>
          <ul class="content">
            <li>Diaplay: 	6.4 inches, 1080 x 2340 pixels, 19.5:9 ratio (~403 ppi density)</li>
            <li>Exynos 9611 (10nm)</li>
            <li>primary camera: 48 MP, f/2.0, 26mm (wide) + 8 MP (ultra-wide) + 5 MP, f/2.2, (depth) Triple cameras </li>
            <li>selfie camera: 	16-megapixel</li>
            <li>Android 9.0 (Pie), One UI</li>
            <li>RAM: 4 GB or 6 GB options</li>
            <li>Storage: 64 GB or 128 GB </li>
            <li>Battery: Non-removable Li-Po 6000 mAh battery</li>
            <li>Fast charging 15W</li>
            <div class="aff-link">
              <a href="https://www.amazon.in/Test-Exclusive-631/dp/B07HGJ7WM6/ref=sr_1_1?dchild=1&keywords=samsung+m30s&qid=1594824299&sr=8-1" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from amazon</button></a>
              <a href="https://www.amazon.in/Test-Exclusive-631/dp/B07HGJ7WM6/ref=sr_1_1?dchild=1&keywords=samsung+m30s&qid=1594824299&sr=8-1" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
            </div>
          </ul>
        </div>
        <!-- 9 -->
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">9. Vivo Z1 Pro</h2>
          <div>
            <img class="image"src="{% static 'image/mobile/pubg/vivo-z1-pro.jpg' %}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com: uploaded by: 5-Minutes Tech</p>
          <h4 class="content">About Vivo Z1 Pro</h4>
          <p class="content"><span>Vivo</span> launched his new smartphone <span>vivo Z1 pro</span> in india starting from 13,990 INR. The Vivo Z1 Pro features an impressive aspect ratio of 19.5:9, which enhances enjoyment while playing games and watching movies. It has a screen resolution of 1,080 x 2,340 pixels over the IPS LCD display type. The Vivo Z1 Pro powered by a <span>Qualcomm Snapdragon 712</span> chipset, where an octa-core processor setup containing two Kryo 360 processors (a 2.3GHz dual-core and a 1.7GHz Hexacore)is placed.</p>
          <h4 class="content">Vivo Z1 Pro: Key specifications </h4>
          <ul class="content">
            <li>Diaplay: 6.53 inches, 1080 x 2340 pixels, 19.5:9 ratio (~395 ppi density)</li>
            <li>Qualcomm SDM712 Snapdragon 712 (10 nm)</li>
            <li>primary camera: 16 MP, f/1.8, (wide) + 8 MP (ultra-wide) + 5 MP, f/2.2, (depth) Triple cameras </li>
            <li>selfie camera: 	32-megapixel</li>
            <li>Android 9.0 (Pie), upgradable to Android 10, Funtouch 10</li>
            <li>RAM: 4 GB or 6 GB options</li>
            <li>Storage: 64 GB or 128 GB </li>
            <li>Non-removable Li-Po 5000 mAh battery</li>
            <li>Fast charging 18W</li>
            <div class="aff-link">
              <a href="https://www.flipkart.com/vivo-z1pro-sonic-black-128-gb/p/itmfghyebfrvjzfs?pid=MOBFHHT529KQHT8Z&lid=LSTMOBFHHT529KQHT8Z7WZJL1&marketplace=FLIPKART&srno=s_1_1&otracker=AS_QueryStore_OrganicAutoSuggest_1_7_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_7_na_na_ps&fm=SEARCH&iid=fb2e6925-1432-4665-b9e8-07538e6472e7.MOBFHHT529KQHT8Z.SEARCH&ppt=sp&ppn=sp&ssid=o9q9j5ucow0000001594824303759&qH=bf26cb0d32c2e6ac" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from flipkart</button></a>
              <a href="https://www.flipkart.com/search?q=vivo+z1+pro&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_7_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_7_na_na_ps&as-pos=1&as-type=RECENT&suggestionId=vivo+z1+pro%7CMobiles&requestId=151a69e9-a41c-46f7-82fb-590d752974a9&as-searchtext=vivo%20z1" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
            </div>
          </ul>
        </div>
        <!-- 10 -->
        <div class="info">
          <h2 class="content" style="padding-left:3px; border-left: 2px solid red">10. Realme 5s</h2>
          <div>
            <img class="image"src="{% static 'image/mobile/pubg/realme-5s.jpg' %}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com: Uploaded by: Inspire2Rise</p>
          <h4 class="content">About Realme 5s</h4>
          <p class="content"><span>Realme 5s</span> resolution is still HD+ (1600x720), which is fine for everyday viewing but not as sharp as a full-HD+ display, which we're seeing increasingly at this price. There is Corning Gorilla Glass 3+ scratch protection for the screen, which is good. You get a Qualcomm Snapdragon 665 SoC, and two variants — one with 4GB of RAM and 64GB of storage 9,999-INR and the other with 4GB of RAM and 128GB of storage 10,999-INR.</p>
          <h4 class="content">Realme 5s: Key specifications </h4>
          <ul class="content">
            <li>Diaplay: 6.5-inch, 19:9, HD+ (720 x 1600px), IPS LCD</li>
            <li>Qualcomm  Snapdragon 665</li>
            <li>primary camera: 48 MP, f/2.0, 26mm (wide) + 8 MP (ultra-wide) + 2 MP(micro) + 2 MP, f/2.2, (depth) Triple cameras </li>
            <li>selfie camera: 	13-megapixel</li>
            <li>OS: Android 9.0</li>
            <li>RAM: 3 GB or 4 GB options</li>
            <li>Storage: 32GB ,64 GB or 128 GB </li>
            <li>Battery: Non-removable Li-Po 5000mAh mAh battery, 10W charging</li>
            <div class="aff-link">
              <a href="https://www.flipkart.com/realme-5s-crystal-red-128-gb/p/itm592977b0ba210?pid=MOBFM2WZWVBK2KRX&lid=LSTMOBFM2WZWVBK2KRXGGPJHY&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=bd0a85f0-7ae7-403d-b843-b27b8a69fac1.MOBFM2WZWVBK2KRX.SEARCH&ppt=sp&ppn=sp&ssid=09npbl8p1c0000001594824400685&qH=6841e7f327cfede0" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from flipkart</button></a>
              <a href="https://www.flipkart.com/realme-5s-crystal-red-128-gb/p/itm592977b0ba210?pid=MOBFM2WZWVBK2KRX&lid=LSTMOBFM2WZWVBK2KRXGGPJHY&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=bd0a85f0-7ae7-403d-b843-b27b8a69fac1.MOBFM2WZWVBK2KRX.SEARCH&ppt=sp&ppn=sp&ssid=09npbl8p1c0000001594824400685&qH=6841e7f327cfede0" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
            </div>
          </ul>
        </div>
        <!-- 11 -->
      </div>
    </div>
    {% endblock content%}
