{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="Realme smartphone: New smartphone review and specification, buy at best price from amazon. "> {% endblock desc%}
{% block key%}<meta name="keywords" content="realme x50 pro,  realme x50 pro price, realme x50 pro price in india, realme x50 pro review, realme x50 pro specification"> {% endblock key%}
  {% load static %}
    {% block title%}Realme X50 Full specification: hipein.com{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <style>
      .info{
        padding-top: 10px;
      }
      .info span{
        color:red;
      }
    </style>
    <!-- review and spec -->
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h4 class="content">Realme released his new smartphone Realme X50 Pro at price of 39,999-INR</h4>
          <h2 class="content_tittle"><span>REVIEW</span> Realme X50 Pro : 6/128GB for 39,999-INR Watch Full review-<a href="https://www.youtube.com/watch?v=_iZdJgqJ6Cc">http://www.youtube.com </a></h2>
        </div>
        <div >
          <img class="image"  src="{% static 'image/mobile/realme/realme-x50-pro-2.jpg' %}" alt="">
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by:  Android Authority</p>
        </div>
        <div class="info">
          <h4 class="content">{{product_name}} summary</h4>
          <p>This phone is a little blockier than other <span>Realme</span> models but it still feels modern. The front and rear are both made of <span>Corning Gorilla Glass</span>, and the screen is interrupted by a dual-camera cutout in the upper left corner rather than a notch. There's also a noticeable chin below the screen. Unfortunately it's quite a bit heavier than average at 205g. We found one-handed usage difficult because of how tall the 6.4-inch 20:9 screen is and how smooth the glass back is. </p>
          <p>The <span>Realme X50 Pro</span> has four rear cameras, as is the norm these days. First up is a 64-megapixel primary camera based on the <span>Samsung GW1 sensor</span>, with an f/1.8 aperture. There's also an 8-megapixel f/2.3 wide-angle camera which is now fairly common even on low-end phones, but in this case doubles as the macro camera. The biggest surprise here is the 12-megapixel telephoto camera which gives you 2X optical zoom but has an f/2.5 aperture. Finally, there's a 2-megapixel monochrome depth camera. On the front of the phone we have a 32-megapixel primary camera and an 8-megapixel wide-angle one.</p>
          <p>We obviously had high expectations thanks to the <span>Snapdragon 865 processor</span>, which sets a new standard for performance.</p>
          <p><span>Realme</span> has managed to deliver impressive battery life as well. 4200mAh might not seem like a lot these days but the <span>Realme X50 Pro</span> manages to make that last for well over a full day. We didn't have to charge our unit till midway through the second morning after using it throughout the day. Our HD video loop test ran for 19 hours, 4 minutes.</p>
          <div class="aff-link">
            <a href="https://www.flipkart.com/realme-x50-pro-rust-red-128-gb/p/itm13d1770db35a3?pid=MOBFPBBKTDX2EKEH&lid=LSTMOBFPBBKTDX2EKEHAKFQ0C&marketplace=FLIPKART&pageUID=1594896068771" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from flipkart</button></a>
            <a href="https://www.flipkart.com/realme-x50-pro-rust-red-128-gb/p/itm13d1770db35a3?pid=MOBFPBBKTDX2EKEH&lid=LSTMOBFPBBKTDX2EKEHAKFQ0C&marketplace=FLIPKART&pageUID=1594896068771" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
            <p></p>
          </div>
        </div>
    {% endblock content%}
    {% block specs%}
    <!-- specification -->
    <h3 class="spec_title">Full Specs</h3>
    <!-- 1 -->
    <div class="specs_table">
      <div class="specs">
        <strong>LAUNCH</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Announced</strong>
          <p>2020, February 24</p>
        </div>
        <div class="specs_info1">
          <strong>Status</strong>
          <p>Available. Released 2020, March 05</p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="specs_table">
      <div class="specs">
        <strong>NETWORK</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Technology</strong>
          <p>GSM / HSPA / LTE / 5G</p>
        </div>
        <div class="specs_info1">
          <strong>5G bands</strong>
          <p>1, 3, 5, 7, 28, 38, 40, 41, 77, 78 SA/NSA - Global</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>41, 78, 79 SA/NSA - India</p>
        </div>
        <div class="specs_info1">
          <strong>Speed</strong>
          <p>HSPA 42.2/5.76 Mbps, LTE-A, 5G</p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="specs_table">
      <div class="specs">
        <strong>DISPLAY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Type</strong>
          <p>Super AMOLED capacitive touchscreen, 16M colors</p>
        </div>
        <div class="specs_info">
          <strong>Size</strong>
          <p>6.44 inches, 100.1 cm2 (~84.9% screen-to-body ratio)</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>1080 x 2400 pixels, 20:9 ratio (~409 ppi density)</p>
        </div>
        <div class="specs_info">
          <strong>Protection</strong>
          <p>Corning Gorilla Glass 5</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>90Hz refresh rate</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>HDR10+</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BODY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Dimension</strong>
          <p>159 x 74.2 x 8.9 mm (6.26 x 2.92 x 0.35 in)</p>
        </div>
        <div class="specs_info">
          <strong>Weight</strong>
          <p>205 g (7.23 oz)</p>
        </div>
        <div class="specs_info">
          <strong>Build</strong>
          <p>Glass front (Gorilla Glass 5), glass back (Gorilla Glass 5), aluminum frame</p>
        </div>
        <div class="specs_info1">
          <strong>SIM</strong>
          <p>Dual SIM (Nano-SIM, dual stand-by)</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>PLARFROM</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>OS</strong>
          <p>Android 10, realme UI 1.0</p>
        </div>
        <div class="specs_info">
          <strong>Chipset</strong>
          <p>Qualcomm SM8250 Snapdragon 865 (7 nm+)</p>
        </div>
        <div class="specs_info">
          <strong>CPU</strong>
          <p>Octa-core (1x2.84 GHz Kryo 585 & 3x2.42 GHz Kryo 585 & 4x1.8 GHz Kryo 585)</p>
        </div>
        <div class="specs_info1">
          <strong>GPU</strong>
          <p>Adreno 650</p>
        </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MEMORY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Card Slot</strong>
          <p>No</p>
        </div>
        <div class="specs_info1">
          <strong>Internal</strong>
          <p>6/128GB RAM, 8/128GB RAM, 8/256GB RAM, 12/256GB RAM</p>
        </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="specs_table">
      <div class="specs">
        <strong>CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Quad</strong>
          <p>64 MP, f/1.8, 26mm (wide), 1/1.72", 0.8µm, PDAF</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>12 MP, f/2.5, 54mm (telephoto), 2x optical zoom, PDAF</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>8 MP, f/2.3, 13mm (ultrawide), PDAF</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>2 MP B/W, f/2.4, (depth)</p>
        </div>
        <div class="specs_info">
          <strong>Features</strong>
          <p>LED flash, HDR, panorama</p>
        </div>
        <div class="specs_info1">
          <strong>Video</strong>
          <p>44K@30/60fps, 1080p@30/60, gyro-EIS</p>
        </div>
      </div>
    </div>
    <!-- 7 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FRONT CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Dual</strong>
          <p>32 MP, f/2.5, 26mm (wide), 1/2.8", 0.8µm</p>
        </div>
         <div class="specs_info">
          <strong></strong>
          <p>8 MP, f/2.2, 17mm (ultrawide), 1/4.0", 1.12µm</p>
        </div>
        <div class="specs_info1">
          <strong>Features</strong>
          <p>HDR</p>
        </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BATTERY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong></strong>
          <p>Non-removable Li-Po 4200 mAh battery</p>
        </div>
        <div class="specs_info1">
          <strong>Charging</strong>
          <p>Fast charging 65W, 100% in 35 min</p>
        </div>
         <div class="specs_info1">
          <strong></strong>
          <p>SuperDart Flash Charge</p>
        </div>
      </div>
    </div>
    <!-- 9 -->
    <div class="specs_table">
      <div class="specs">
        <strong>COMMS.</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>WLAN</strong>
          <p>Wi-Fi 802.11 a/b/g/n/ac/6, dual-band, Wi-Fi Direct, hotspot</p>
        </div>
        <div class="specs_info">
          <strong>Bluetooth</strong>
          <p>5.1, A2DP, LE, aptX HD</p>
        </div>
        <div class="specs_info">
          <strong>GPS</strong>
          <p>Yes, with dual-band A-GPS, GLONASS, BDS, GALILEO, NavIC</p>
        </div>
        <div class="specs_info">
          <strong>Radio</strong>
          <p>No</p>
        </div>
        <div class="specs_info1">
          <strong>USB</strong>
          <p>2.0, Type-C 1.0 reversible connector</p>
        </div>
      </div>
    </div>
    <!-- 10 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FEATURE</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info1">
          <strong>Sensors</strong>
          <p>Fingerprint (under display, optical), accelerometer, gyro, proximity, compass</p>
        </div>
      </div>
    </div>
    <!-- 11 -->
    <div class="specs_table">
      <div class="specs">
        <strong>SOUND</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Loudspeaker</strong>
          <p>Yes, with dual speakers</p>
        </div>
        <div class="specs_info1">
          <strong>3.5mm jack</strong>
          <p>No</p>
        </div>
      </div>
    </div>
    <!-- 12 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MISC</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info1">
          <strong>Color</strong>
          <p>Moss Green, Rust Red</p>
        </div>
      </div>
    </div>
    </div>
    <!-- 13 -->
    {% endblock specs%}
