{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="Today Kings XI Punjab   take on Royal Challengers Bangalore in Match 6   of IPL 2020 and The match will be played at the Dubai International Cricket Stadium in Dubai ."> {% endblock desc%}
{% block key%}<meta name="keywords" content="RCB  vs MI, KXIP vs RCB , KXIP vs RCB  Dream 11, RCB  vs KXIP Dream 11"> {% endblock key%}
    {% load static %}
    {% block title%}IPL 2020, RCB vs KXIP Predicted Playing 11: Dream 11 prediction.{% endblock title%}
    {% block actart%} class="active"{% endblock actart%}
    {% block content%}
    <style>
      pre{
        font-family: sans-serif ;
        font-size: 16px;
      }
      p{
        font-family: sans-serif ;
        font-size: 17px;
      }
      .image1{
        width: 250px;
        height: 500px;
        margin-left: 250px;
        border: 1px solid;
      }
      @media (max-width: 1200px){
        .image1{
        margin-left: 350px;
        }
      }
      @media (max-width: 768px){
        p{
          font-size: 19px;
        }
        footer p{
          font-size: 16px;
        }
        .image1{
          margin-left: 50px;
        }
      }
    </style>
    <!-- review and spec -->
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h1 class="content_tittle" style="font-weight: 700;" >IPL 2020, RCB  vs KXIP  Predicted Playing 11: Dream 11 prediction.</h1>
          <h5 style="font-weight: 400;">Kings XI Punjab have loss a match against Delhi Capitals and it is going to be a first match of Royal Challengers Bangalore against Mumbai.</h5>
          <hr class="my-2">
          <div class="">
          <img class="image" src="{% static 'image/article/game/IPL/kxipvsrcb.png'%}" alt="">
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | Google uploaded by:  <a href="#">IPLT20.com</a></p>
          <p>Today Kings XI Punjab take on Royal Challengers Bangalore in Match 6 of IPL 2020 and The match will be played at the Dubai International Cricket Stadium in Dubai .</p>
          <p>The match will start at <b>19:30 IST</b> (14:00 GMT), 18:00 LOCAL.</p>
          <hr class="my-2">
          <h3 style="padding-left:3px; border-left: 3px solid red; font-weight: 500;">Dubai International Cricket Stadium  pitch report</h3>
          <p>Talking about the pitch of the stadium, the average scoring rate at this place in the T20 is 8.20 and The average score of this pitch is 170–180. The team batting first will aim to score 170–180 as the dew factor in the second innings will make batting more comfortable.</p>
          <p><b>Average first innings score:</b> 170-180</p>
          <hr class="my-2">
          <h3 style="padding-left:3px; border-left: 3px solid red; font-weight: 500;">Full Squads:</h3>
          <p><b>Kings XI Punjab</b> Squad: Lokesh Rahul(w/c), Mayank Agarwal, Karun Nair, Nicholas Pooran, Glenn Maxwell, Sarfaraz Khan, Krishnappa Gowtham, Chris Jordan, Mohammed Shami, Sheldon Cottrell, Ravi Bishnoi, Chris Gayle, Mandeep Singh, Murugan Ashwin, James Neesham, Deepak Hooda, Hardus Viljoen, Jagadeesha Suchith, Ishan Porel, Mujeeb Ur Rahman, Tajinder Singh, Darshan Nalkande, Arshdeep Singh, Simran Singh, Harpreet Brar.</p>
          <p><b>Royal Challengers Bangalore  </b> Squad: Devdutt Padikkal, Aaron Finch, Virat Kohli(c), AB de Villiers, Shivam Dube, Josh Philippe(w), Washington Sundar, Navdeep Saini, Umesh Yadav, Dale Steyn, Yuzvendra Chahal, Parthiv Patel, Isuru Udana, Moeen Ali, Pawan Negi, Gurkeerat Singh Mann, Chris Morris, Adam Zampa, Pavan Deshpande, Mohammed Siraj, Shahbaz Ahmed. </p>
          <hr class="my-2">
          <img class="image" src="{% static 'image/article/game/IPL/dream11.jpg'%}" alt="">
          <h3 style="padding-left:3px; border-left: 3px solid red; font-weight: 500;">Playing XIs (CSK vs RR):</h3>
          <p><b>Kings XI Punjab:</b></p>
          <p>KL Rahul (C, wk), Mayank Agarwal, Karun Nair, Nicholas Pooran/Chris Gayle, Sarfaraz Khan, Glenn Maxwell, Krishnappa Gowtham, Chris Jordan/Sheldon Cottrell, Mujeeb ur Rahman, Ravi Bishnoi, Mohammed Shami.</p>
          <p><b>Royal Challengers Bangalore  :</b></p>
          <p> Aaron Finch, Devdutt Padikkal, Virat Kohli (C), AB de Villiers, Josh Philippe (wk), Washington Sundar, Shivam Dube, Navdeep Saini, Umesh Yadav, Dale Steyn, Yuzvendra Chahal.</p>
          <hr class="my-2">
          <h3 style="padding-left:3px; border-left: 3px solid red; font-weight: 500;">Dream11 Prediction</h3>
          <p><b>Wicket Keeper:</b> Lokesh Rahul(vc)</p>
          <p><b>Batsmen:</b> Virat Kohli(c), AB De Villiers, Devdutt Padikkal, Karun Nair.</p>
          <p><b>AR:</b> Shivam Dube, Glenn Maxwell, Krishnappa Gowtham.</p>
          <p><b>Bowler:</b> Yuzvendra Chahal, Dale Steyn, Mohammed Shami.</p>
          <img class="image1" src="{% static 'image/article/game/IPL/5.jpg'%}" alt="">
          <p></p>
          <h3 style="padding-left:3px; border-left: 3px solid red; font-weight: 500;">Which contest would be best to participate</h3>
          <p>According to me you should participate in the "winner take all" contest of Rs 77. The winning price of this contest is Rs 200, in which 3 players can participate and you can get 33% probability of winning. I have won a lot of money by using this trick, you can also win.</p>
          <p>In just three day i have won Rs.1200 approx and I can show you my winning stats.</p>
          <img class="image1" src="{% static 'image/article/game/IPL/2.jpg'%}" alt="">
          <p></p>
          <p>You can also win, you just have to check the Dream 11 Predictions on this page. For more accurate prediction, check this page 15 minutes before the match starts.</p>
          <img class="image1" src="{% static 'image/article/game/IPL/3.jpg'%}" alt="">
          <p></p>
          <p>I participate in 2 to 3 competitions which increases the chances of profit and if 3 out of 2 win, it is profit. If you win 3 matches, then you will earn a profit of 600 rupees.</p>
          <p></p>
        </div>

      </div>
    </div>
  {% endblock content%}
