{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="Today Delhi Capitals   take on Sunrisers Hyderabad in Match 11 of IPL 2020 and The match will be played at the Sharjah Cricket Stadium in UAE."> {% endblock desc%}
{% block key%}<meta name="keywords" content="SRH vs DC, DC vs RR, DC vs SRH Dream 11, SRH vs DC Dream 11"> {% endblock key%}
    {% load static %}
    {% block title%}IPL 2020, SRH vs DC Predicted Playing 11: Dream 11 prediction.{% endblock title%}
    {% block actart%} class="active"{% endblock actart%}
    {% block content%}
    <style>
      pre{
        font-family: sans-serif ;
        font-size: 16px;
      }
      p{
        font-family: sans-serif ;
        font-size: 17px;
      }
      .image1{
        width: 250px;
        height: 500px;
        margin-left: 250px;
        border: 1px solid;
      }
      @media (max-width: 1200px){
        .image1{
        margin-left: 350px;
        }
      }
      @media (max-width: 768px){
        p{
          font-size: 19px;
        }
        footer p{
          font-size: 16px;
        }
        .image1{
          margin-left: 50px;
        }
        footer{
          height: 530px;
        }
      }
    </style>
    <!-- review and spec -->
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h1 class="content_tittle" style="font-weight: 700;" >IPL 2020, SRH vs DC Predicted Playing 11: Dream 11 prediction.</h1>
          <h5 style="font-weight: 400;">Delhi Capitals have won a the last match against chennai Super Kings and it is going to be a first match of Sunrisers Hyderabad against chennai.</h5>
          <hr class="my-2">
          <div class="">
          <img class="image" src="{% static 'image/article/game/IPL/srhvsdc.png'%}" alt="">
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | Google uploaded by: <a href="#">asianetnews.com</a></p>
          <p>Today Delhi Capitals  take on Sunrisers Hyderabad in Match 11 of IPL 2020 and The match will be played at the Sharjah Cricket Stadium in UAE.</p>
          <p>The match will start at <b>19:30 IST</b> (14:00 GMT), 18:00 LOCAL.</p>
          <hr class="my-2">
          <h3 style="padding-left:3px; border-left: 3px solid red; font-weight: 500;">Sharjah Cricket Stadium pitch report</h3>
          <p>Talking about the pitch of the stadium, the average scoring rate at this place in the T20 is 7.20 and The average score of this pitch is 160–170. The team batting first will aim to score 150–160 as the dew factor in the second innings will make batting more comfortable.</p>
          <p><b>Average first innings score:</b> 16-170</p>
          <hr class="my-2">
          <h3 style="padding-left:3px; border-left: 3px solid red; font-weight: 500;">Squads:</h3>
          <p><b>Delhi Capitals  </b> Squad: Prithvi Shaw, Shikhar Dhawan, Rishabh Pant(w), Shreyas Iyer(c), Shimron Hetmyer, Marcus Stoinis, Axar Patel, Amit Mishra, Kagiso Rabada, Anrich Nortje, Avesh Khan, Mohit Sharma, Keemo Paul, Harshal Patel, Ajinkya Rahane, Tushar Deshpande, Ishant Sharma, Daniel Sams, Alex Carey, Ravichandran Ashwin, Sandeep Lamichhane, Lalit Yadav.</p>
          <p><b>Sunrisers Hyderabad  </b> Squad: David Warner(c), Jonny Bairstow, Manish Pandey, Wriddhiman Saha(w), Mohammad Nabi, Abhishek Sharma, Priyam Garg, Rashid Khan, Bhuvneshwar Kumar, K Khaleel Ahmed, T Natarajan, Shreevats Goswami, Siddarth Kaul, Shahbaz Nadeem, Kane Williamson, Vijay Shankar, Jason Holder, Basil Thampi, Sandeep Sharma, Bavanaka Sandeep, Billy Stanlake, Fabian Allen, Virat Singh, Sanjay Yadav, Abdul Samad. </p>
          <hr class="my-2">
          <img class="image" src="{% static 'image/article/game/IPL/dream11.jpg'%}" alt="">
          <p></p>
          <h3 style="padding-left:3px; border-left: 3px solid red; font-weight: 500;">Playing XIs (DC vs SRH):</h3>
          <p><b>Delhi Capitals:</b></p>
          <p>Shikhar Dhawan, Prithvi Shaw, Shreyas Iyer, Rishabh Pant, Shimron Hetmyer, Marcus Stoinis, Axar Patel, Kagiso Rabada, Anrich Nortje, Amit Mishra, Ishant Sharma.</p>
          <p><b>Sunrisers Hyderabad  :</b></p>
          <p>David Warner, Jonny Bairstow, Manish Pandey, Kane Williamson/Mohammad Nabi, Wriddhiman Saha, Priyam Garg, Abhishek Sharma, Rashid Khan, Bhuvneshwar Kumar, Siddharth Kaul/Basil Thampi, T Natarajan.</p>
          <hr class="my-2">
          <h3 style="padding-left:3px; border-left: 3px solid red; font-weight: 500;">Dream11 Prediction</h3>
          <p><b>Wicket Keeper:</b> Jonny Bairstow(vc)</p>
          <p><b>Batsmen:</b> David Warner(c), Manish Pandey, Shreyas Iyer, Prithvi Shaw</p>
          <p><b>AR:</b> Mohammad Nabi, Marcus Stoinis</p>
          <p><b>Bowler:</b> Kagiso Rabada, Anrich Nortje, T Natarajan, Rashid Khan</p>
          <img class="image1" src="{% static 'image/article/game/IPL/9.jpg'%}" alt="">
          <p></p>
          <h3 style="padding-left:3px; border-left: 3px solid red; font-weight: 500;">Which contest would be best to participate</h3>
          <p>According to me you should participate in the "winner take all" contest of Rs 77. The winning price of this contest is Rs 200, in which 3 players can participate and you can get 33% probability of winning. I have won a lot of money by using this trick, you can also win.</p>
          <p>In just three day i have won Rs.1200 approx and I can show you my winning stats.</p>
          <img class="image1" src="{% static 'image/article/game/IPL/2.jpg'%}" alt="">
          <p></p>
          <p>You can also win, you just have to check the Dream 11 Predictions on this page. For more accurate prediction, check this page 15 minutes before the match starts.</p>
          <img class="image1" src="{% static 'image/article/game/IPL/3.jpg'%}" alt="">
          <p></p>
          <p>I participate in 2 to 3 competitions which increases the chances of profit and if 3 out of 2 win, it is profit. If you win 3 matches, then you will earn a profit of 600 rupees.</p>
          <p></p>
        </div>
      </div>
    </div>
  {% endblock content%}
