{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="Apple smartphone: New smartphone review and specification, buy at best price from flipkart. "> {% endblock desc%}
{% block key%}<meta name="keywords" content="iphone 6s, iphone 6s reviews, iphone 6s specification, iphone 6s price in india, iphone 6s price"> {% endblock key%}
    {% load static %}
    {% block title%}Apple 6s Full specification{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <!-- review and spec -->
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h4 class="content">Apple released his new smartphone iphone 6s at price of 29,740-INR</h4>
          <h2 class="content_tittle"><span>REVIEW</span> iphone 6s : 2/32GB for 24,989-INR Watch Full review-<a href="https://www.youtube.com/watch?v=kycb238vTec">http://www.youtube.com </a></h2>
        </div>
        <div >
          <img class="image"src="{% static 'image/mobile/apple/apple-6s-2.jpg'%}" alt="">
            <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by: ryangehret (Defunct)</p>
        </div>
        <div class="info" >
          <h4 class="content">About Iphone 6s</h4>
          <p class="content">Iphone 6S smartphone comes with the 4.7-inch HD (750*1334 pixels) IPS LCD capacitive display. The Iphone 6S is powered by the Dual-core 1.84 GHz Twister and Apple A9 (14 nm) chipset paired with 16GB 2GB RAM, 32GB 2GB RAM, 64GB 2GB RAM and 128GB 2GB RAM.It has Gorilla glass at the front side of the body and at the rear aluminium body. The Iphone 6S comes with the single camera setup 12MP standard camera. It comes 5MP selfie camera which supports video recording at 1080@30fps. The smartphone is powered by Non-removable 1715mah battery which does not support fast charging. It comes with fingerprint sensor which is mounted at the front which make easier to user to unlock the phone and it supports 4G LTE network.It runs on iOS 9, upgradable to iOS 13.5.</p>
          <p></p>
          <div class="aff-link1">
            <form action="https://www.flipkart.com/apple-iphone-6s-space-grey-32-gb/p/itmen2yyjfzpspyg?pid=MOBEN2YYKU9386TQ&lid=LSTMOBEN2YYKU9386TQFZWR3C&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=db9728bc-df0f-4dc8-8c2f-341a008cdaac.MOBEN2YYKU9386TQ.SEARCH&ppt=sp&ppn=sp&ssid=yhhgxm0dz40000001594879820900&qH=6a4fa6f1ee635be9">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from flipkart</button>
            </form>
            <form action="https://www.flipkart.com/search?q=iphone%206s&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off" class="affilated-link_flipcart">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>
          <p></p>
        </div>
        {% endblock content%}
    {% block specs%}
    <!-- specification -->
    <h3 class="spec_title">Full Specs</h3>
    <!-- 1 -->
    <div class="specs_table">
      <div class="specs">
        <strong>LAUNCH</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Announced</strong>
          <p>2015, September 12</p>
        </div>
        <div class="specs_info1">
          <strong>Status</strong>
          <p>Available. Released 2018, October 26</p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="specs_table">
      <div class="specs">
        <strong>NETWORK</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Technology</strong>
          <p>GSM / CDMA / HSPA / EVDO / LTE</p>
        </div>
        <div class="specs_info1">
          <strong>Speed</strong>
          <p>HSPA 42.2/5.76 Mbps, LTE-A, EV-DO Rev.A 3.1 Mbps</p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="specs_table">
      <div class="specs">
        <strong>DISPLAY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Type</strong>
          <p>Liquid Retina IPS LCD capacitive touchscreen, 16M colors</p>
        </div>
        <div class="specs_info">
          <strong>Size</strong>
          <p>6.1 inches, 90.3 cm2 (~79.0% screen-to-body ratio)</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>828 x 1792 pixels, 19.5:9 ratio (~326 ppi density)</p>
        </div>
        <div class="specs_info">
          <strong>Protection</strong>
          <p>Scratch-resistant glass, oleophobic coating</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>True-tone</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>625 nits max brightness</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BODY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Dimension</strong>
          <p>150.9 x 75.7 x 8.3 mm (5.94 x 2.98 x 0.33 in)</p>
        </div>
        <div class="specs_info">
          <strong>Weight</strong>
          <p>194 g (6.84 oz)</p>
        </div>
        <div class="specs_info">
          <strong>Build</strong>
          <p>Glass front (Gorilla Glass), glass back (Gorilla Glass),</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>aluminum frame (7000 series)</p>
        </div>
        <div class="specs_info">
          <strong>SIM</strong>
          <p>Single SIM (Nano-SIM and/or eSIM) or</p>
        </div>
          <div class="specs_info">
          <strong></strong>
          <p>Dual SIM (Nano-SIM, dual stand-by)-For China</p>
        </div>
          <div class="specs_info">
          <strong></strong>
          <p>IP67 dust/water resistant (up to 1m for 30 mins)</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>Apple Pay (Visa, MasterCard, AMEX certified)</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>PLARFROM</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>OS</strong>
          <p>iOS 12, upgradable to iOS 13.5</p>
        </div>
        <div class="specs_info">
          <strong>Chipset</strong>
          <p>Apple A12 Bionic (7 nm)</p>
        </div>
        <div class="specs_info">
          <strong>CPU</strong>
          <p>Hexa-core (2x2.5 GHz Vortex + 4x1.6 GHz Tempest) </p>
        </div>
        <div class="specs_info1">
          <strong>GPU</strong>
          <p>Apple GPU (4-core graphics)</p>
        </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MEMORY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Card Slot</strong>
          <p>No</p>
        </div>
        <div class="specs_info1">
          <strong>Internal</strong>
          <p>64GB 3GB RAM, 128GB 3GB RAM, 256GB 3GB RAM</p>
        </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="specs_table">
      <div class="specs">
        <strong>CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Single</strong>
          <p>12 MP, f/1.8, 26mm (wide), 1/2.55", 1.4µm, PDAF, OIS</p>
        </div>
        <div class="specs_info">
          <strong>Features</strong>
          <p>Quad-LED dual-tone flash, HDR (photo/panorama)</p>
        </div>
        <div class="specs_info1">
          <strong>Video</strong>
          <p>4K@24/30/60fps, 1080p@30/60/120/240fps, HDR, stereo sound rec</p>
        </div>
      </div>
    </div>
    <!-- 7 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FRONT CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Dual</strong>
          <p>7  MP, f/2.2, 32mm (standard)</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>SL 3D, (depth/biometrics sensor)</p>
        </div>
        <div class="specs_info1">
          <strong>Features</strong>
          <p>HDR</p>
        </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BATTERY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong></strong>
          <p>Non-removable Li-Ion 2942 mAh battery (11.16 Wh)</p>
        </div>
        <div class="specs_info">
          <strong>Charging</strong>
          <p>Fast charging 15W, 50% in 30 min (advertised)</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>Qi wireless charging </p>
        </div>
      </div>
    </div>
    <!-- 9 -->
    <div class="specs_table">
      <div class="specs">
        <strong>COMMS.</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>WLAN</strong>
          <p>Wi-Fi 802.11 a/b/g/n/ac/6, dual-band, hotspot</p>
        </div>
        <div class="specs_info">
          <strong>Bluetooth</strong>
          <p>5.0, A2DP, LE</p>
        </div>
        <div class="specs_info">
          <strong>GPS</strong>
          <p>Yes, with A-GPS, GLONASS, GALILEO, QZSS</p>
        </div>
        <div class="specs_info">
          <strong>Radio</strong>
          <p>No</p>
        </div>
        <div class="specs_info1">
          <strong>USB</strong>
          <p>2.0, proprietary reversible connector</p>
        </div>
      </div>
    </div>
    <!-- 10 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FEATURE</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Sensors</strong>
          <p>Face ID, accelerometer, gyro, proximity, compass, barometer</p>
        </div>
          <div class="specs_info">
          <strong></strong>
          <p>Siri natural language commands and dictation</p>
        </div>
      </div>
    </div>
    <!-- 11 -->
    <div class="specs_table">
      <div class="specs">
        <strong>SOUND</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Loudspeaker</strong>
          <p>Yes, with stereo speakers</p>
        </div>
        <div class="specs_info">
          <strong>3.5mm jack</strong>
          <p>No</p>
        </div>
      </div>
    </div>
    <!-- 12 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MISC</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Color</strong>
          <p>Black, Red, Yellow, Blue, Coral, White</p>
        </div>
        <div class="specs_info1">
          <strong>Models</strong>
          <p>A2105, A1984, A2107, A2108, A2106</p>
        </div>
      </div>
    </div>
  </div>
</div>
    <!-- 13 -->
{% endblock specs%}
