{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="Xiaomi Mi note 10 price in India may be Rs 43,200 and Xiaomi Mi note 10 launch date in india may be august 24, 2020. - hipein "> {% endblock desc%}
{% block key%}<meta name="keywords" content="Xiaomi mi note 10, mi note 10, mi note 10 specification, Xiaomi Mi note 10 launch date in india , mi note 10 price, Xiaomi mi note 10 price in india"> {% endblock key%}
{% block style %}
{% endblock style %}
    {% load static %}
    {% block title%}Mi note 10 launch date in india, price and specification - hipein{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h5 class="content" style="font-weight: 400;">Samsung has launched its new phone Samsung Galaxy Note 20 in India. The price of Samsung Galaxy Note 20 is 99,999.</h5>
          <h1 class="content_tittle" style="font-weight: 400;"><span>REVIEW</span> Samsung Galaxy Note 20 : 8/128GB for Rs 99,999 read Full specification.</h1>
        </div>
        <div>
          <img class="image" src="{% static 'image/article/mobile/upcoming mobile/samsung-galaxy-note-20.jpg'%}" alt="">
        </div>
        <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com - Uploaded by:  XEETECHCARE</p>
        <div class="info">
          <h2 style="font-weight: 400;">About Mi Note 10</h2>
          <p class="content">Samsung has launched its new phone Samsung Galaxy Note 20 in India on August 5. 2020. in term of display, Samsung galaxy note 20 have 6.7 (in inch) with FHD + Super AMOLED Plus touchscreen display.  The phone is powered by a 2.73GHz octa-core Exynos 990 SoC processor. The phone runs Android 10 and is powered by a 4300mAh non-removable battery. The Samsung Galaxy Note 20 has supports for the 5G network in some regions. </p>
          <p class="content">Samsung Galaxy Note 20 smartphone has an FHD+ Super AMOLED Plus capacitive touchscreen, 16M colors. It has a resolution of 1080 x 2400 pixels and 393 PPI pixel density. Talking about its camera, On the front camera, you get a 10-megapixel primary camera and on the rear camera, there is a 64-megapixel Telephoto Camera, 12 megapixels ultra-wide, and  12MP Wide-angle Camera. camera with features like auto flash, face detection, digital zoom, and touch to focus. It has support for fast charging and has a non-removable 4300mAh mAh battery. </p>
          <h3 style="font-weight: 400;">Samsung galaxy Note 20 launch date and price in india.</h3>
          <p class="content">The price of Samsung Galaxy Note 20 smartphone in India is likely to be Rs 99,999. Samsung Galaxy Note 20 to be launched in the country on 5 August 2020. This smartphone comes with 2 variant like 8/128 GB and 8/256 GB with color options like mystic green, mystic grey, and mystic bronze. </p>
          <h3 style="font-weight: 400;">Xiaomi Mi note 10 Key features:</h3>
          <ul class="content">
            <li>Diaplay: 6.7 inches</li>
            <li>Processor: 	Exynos 990 SoC processor</li>
            <li>primary camera: 64 megapixel + 12 megapixels ultra-wide + 12MP Wide-angle</li>
            <li>selfie camera: 10-megapixel</li>
            <li>Battery: Non-removable Li-Ion 4300 mAh battery</li>
            <li>Fast charging.</li>
          </ul>
          <p></p>
        </div>
    {% endblock content%}
    {% block specs%}
    <h3 class="spec_title">Mi note 10 specification</h3>
    <div class="specs_table">
      <div class="specs">
        <strong>Available at</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Realsed on</strong>
          <p>5 august 2020 (Unofficial)</p>
        </div>
        <div class="specs_info">
          <strong>Amazon</strong>
          <p>Coming soon</p>
        </div>
        <div class="specs_info1">
          <strong>Flipkart</strong>
          <p>Coming soon</p>
        </div>
      </div>
    </div>
    <!-- 1 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BRAND</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Make</strong>
          <p>Samsung</p>
        </div>
        <div class="specs_info">
          <strong>Models</strong>
          <p>note 20</p>
        </div>
        <div class="specs_info1">
          <strong>Color</strong>
          <p>mystic green, mystic grey, mystic bronze</p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="specs_table">
      <div class="specs">
        <strong>NETWORK TYPE</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>2G</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>3G</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>4G</strong>
          <p>Yes - (supports Indian bands)</p>
        </div>
        <div class="specs_info1">
          <strong>5G</strong>
          <p>Yes (in some area)</p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="specs_table">
      <div class="specs">
        <strong>DISPLAY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Screen</strong>
          <p>FHD+ Super AMOLED Plus display</p>
        </div>
        <div class="specs_info">
          <strong>Size(inch)</strong>
          <p>6.7</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>1080x2400 pixels</p>
        </div>
        <div class="specs_info1">
          <strong>Protection</strong>
          <p>Corning Gorilla Glass 5</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>PLATFORM</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>OS</strong>
          <p>Android 10</p>
        </div>
        <div class="specs_info">
          <strong>Chipset</strong>
          <p>Samsung Exynos 9 Octa 990</p>
        </div>
        <div class="specs_info1">
          <strong>CPU</strong>
          <p>Octa-core</p>
        </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BODY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Dimension(mm)</strong>
          <p>151.0 x 71.8 x 7.9 mm</p>
        </div>
        <div class="specs_info">
          <strong>Weight(g)</strong>
          <p>	192g</p>
        </div>
        <div class="specs_info">
          <strong>Build</strong>
          <p>glass back-Gorilla Glass 6 and aluminum frame</p>
        </div>
        <div class="specs_info">
          <strong>SIM Type</strong>
          <p>Nano-SIM</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>Hybrid Dual SIM (Nano-SIM, dual stand-by)</p>
        </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MEMORY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Card Slot</strong>
          <p>	microSD</p>
        </div>
        <div class="specs_info1">
          <strong>Internal</strong>
          <p>8/128GB RAM, 8/256GB RAM</p>
        </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="specs_table">
      <div class="specs">
        <strong>CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Rear camera</strong>
          <p>Triple</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>64MP + 12MP (ultra-wide) + 12MP (Wide-angle)</p>
        </div>
        <div class="specs_info">
          <strong>selfie camera</strong>
          <p>Dual</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>10 MP</p>
        </div>
        <div class="specs_info">
          <strong>Features</strong>
          <p>	LED flash, auto-HDR, panorama</p>
        </div>
        <div class="specs_info">
          <strong>Video</strong>
          <p>	8K@24fps, 4K@60fps, 1080p@60/120fps, 720p@30fps, HDR10+,</p>
        </div>
      </div>
    </div>
    <!-- 9 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BATTERY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong></strong>
          <p>	Non-removable Li-Po 4300 mAh battery</p>
        </div>
        <div class="specs_info">
          <strong>Charging</strong>
          <p>Yes, Fast charging</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>Fast Qi/PMA wireless charging 10W</p>
        </div>
      </div>
    </div>
    <!-- 10 -->
    <div class="specs_table">
      <div class="specs">
        <strong>COMMS.</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>WLAN</strong>
          <p>	Wi-Fi 802.11 a/b/g/n/ac/6, dual-band, Wi-Fi Direct, hotspot</p>
        </div>
        <div class="specs_info">
          <strong>Bluetooth</strong>
          <p>	5.0, A2DP, LE</p>
        </div>
        <div class="specs_info">
          <strong>GPS</strong>
          <p>	Yes, with A-GPS, GLONASS, BDS, GALILEO</p>
        </div>
        <div class="specs_info">
          <strong>Radio</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>NFC</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info1">
          <strong>USB</strong>
          <p>3.0, Type-C</p>
        </div>
      </div>
    </div>
    <!-- 11 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FEATURE</strong>
      </div>
      <div class="specs_type">
          <div class="specs_info">
            <strong>Sensors</strong>
            <p>Ultrasonic Fingerprint sensor, accelerometer, gyro, proximity,</p>
          </div>
          <div class="specs_info">
            <strong></strong>
            <p> compass, barometer</p>
          </div>
          <div class="specs_info">
            <strong></strong>
            <p>Bixby natural language commands and dictation</p>
          </div>
          <div class="specs_info1">
            <strong></strong>
            <p>	Samsung Pay - Visa, MasterCard certified</p>
          </div>
          <div class="specs_info1">
            <strong>WaterResistant</strong>
            <p>Yes - up to 1.5m for 30 min</p>
          </div>
      </div>
    </div>
    <!-- 12 -->
    <div class="specs_table">
      <div class="specs">
        <strong>Multimedia</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Loudspeaker</strong>
          <p>Yes, with stereo speakers</p>
        </div>
        <div class="specs_info">
          <strong>3.5mm jack</strong>
          <p>Yes</p>
        </div>
      </div>
    </div>
{% endblock specs%}
