{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="oneplus smartphone: all New smartphone review and specification, buy at best price from amazon."> {% endblock desc%}
{% block key%}<meta name="keywords" content="oneplus 7T pro mobile, oneplus 7T pro mobile price, oneplus 7T pro mobile phone, oneplus 7T pro mobile price list, oneplus 7T pro mobile price in india, oneplus 7T pro price in amazon, oneplus 7T pro flipkart, oneplus 7T pro specification, oneplus 7T pro review, oneplus 7T pro will be available on amazon"> {% endblock key%}
    {% load static %}
    {% block title%}OnePlus 7T pro Full specification: hipein.com{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <!-- review and spec -->
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h4 class="content">OnePlus released his new smartphone OnePlus 7T Pro at price of Rs.47,999</h4>
          <h2 class="content_tittle"><span>REVIEW</span> OnePlus 7T Pro : 8/256GB for Rs.47,999 Watch Full review-<a href="https://www.youtube.com/watch?v=iE8ojys_0uc">http://www.youtube.com </a></h2>
        </div>
        <div >
          <img class="image"  src="{% static 'image/mobile/oneplus/oneplus-7t-pro-2.jpg' %}" alt="">
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by:  Beebom</p>
        </div>
        <div class="info">
          <h4 class="content">{{product_name}} summary</h4>
          <p class="content">OnePlus 7T Pro smartphone comes with the 6.67-inch full HD (1440*3120 pixels) Fluid AMOLED display. The OnePlus 7T Pro is powered by the Qualcomm Snapdragon 855+ octa core chipset clocked at 2.96GHz paired with 256GB 8GB RAM and 256GB 12GB RAM with UFS 3.0 storage technology. It has Gorilla Glass body at both the sides font and back with aluminium frame which gives it a premium look. The OnePlus 7T Pro comes with the triple rear camera 48MP wide angle and standard camera, 8MP telephoto camera and 16MP ultrawide auto-focus camera, It comes motorized pop-up 16MP selfie camera which supports video recording at 1080@30fps (gyro-EIS) and is powered by Non-removable 4085mah battery which support fast charging at 30W. It comes with fingerprint in-display touch which make easier to user to unlock the phone and it supports 4G LTE network.It runs on Android 10.0, Oxygen OS 10.0.4.</p>
          <div class="aff-link">
            <a href="https://www.amazon.in/Test-Exclusive-749/dp/B07DJ8K2KT/ref=sr_1_1?dchild=1&keywords=oneplus+7t+pro&qid=1594894657&sr=8-1" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy from amazon</button></a>
            <a href="https://www.amazon.in/Test-Exclusive-749/dp/B07DJ8K2KT/ref=sr_1_1?dchild=1&keywords=oneplus+7t+pro&qid=1594894657&sr=8-1" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
            <p></p>
          </div>
        </div>
    {% endblock content%}
    {% block specs%}
    <!-- specification -->
    <h3 class="spec_title">Full Specs</h3>
    <!-- 1 -->
    <div class="specs_table">
      <div class="specs">
        <strong>LAUNCH</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Announced</strong>
          <p>2019, October 10</p>
        </div>
        <div class="specs_info1">
          <strong>Status</strong>
          <p>Available. Released 2019, October 12</p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="specs_table">
      <div class="specs">
        <strong>NETWORK</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Technology</strong>
          <p>GSM / CDMA / HSPA / LTE</p>
        </div>
        <div class="specs_info1">
          <strong>Speed</strong>
          <p>HSPA 42.2/5.76 Mbps, LTE-A (5CA) Cat18 1200/150 Mbps</p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="specs_table">
      <div class="specs">
        <strong>DISPLAY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Type</strong>
          <p>Fluid AMOLED capacitive touchscreen, 16 million</p>
        </div>
        <div class="specs_info">
          <strong>Size</strong>
          <p>6.67 inches, 108.8 cm2 (~88.1% screen-to-body ratio)</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>1440 x 3120 pixels, 19.5:9 ratio (~516 ppi density)</p>
        </div>
        <div class="specs_info">
          <strong>Protection</strong>
          <p>Corning Gorilla Glass 5</p>
        </div>
        <div class="specs_info1">
          <strong></strong>
          <p>HDR10+</p>
          <p>90Hz refresh rate</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BODY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Dimension</strong>
          <p>162.6 x 75.9 x 8.8 mm (6.40 x 2.99 x 0.35 in)</p>
        </div>
        <div class="specs_info">
          <strong>Weight</strong>
          <p>206 g (7.27 oz)</p>
        </div>
        <div class="specs_info">
          <strong>Build</strong>
          <p>Glass front (Gorilla Glass 5), glass back (Gorilla Glass 5), aluminum frame</p>
        </div>
        <div class="specs_info1">
          <strong>SIM</strong>
          <p>Dual SIM (Nano-SIM, dual stand-by)</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>PLATFROM</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>OS</strong>
          <p>Android 10,Oxygen OS 10.0</p>
        </div>
        <div class="specs_info">
          <strong>Chipset</strong>
          <p>Qualcomm SM8150 Snapdragon 855+ (7 nm)</p>
        </div>
        <div class="specs_info">
          <strong>CPU</strong>
          <p>Octa-core (1x2.96 GHz Kryo 485, 3x2.42 GHz Kryo 485 and 4x1.78 GHz</p>
        </div>
        <div class="specs_info">
          <strong>CPU</strong>
          <p>Kryo 485)</p>
        </div>
        <div class="specs_info1">
          <strong>GPU</strong>
          <p>Adreno 640 (700 MHz)</p>
        </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MEMORY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Card Slot</strong>
          <p>No</p>
        </div>
        <div class="specs_info1">
          <strong>Internal</strong>
          <p>256GB 8GB RAM, 256GB 12GB RAM</p>
            <p>UFS 3.0</p>
        </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="specs_table">
      <div class="specs">
        <strong>CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Triple</strong>
          <p>48 MP, f/1.6, (wide), 1/2.0", 0.8µm, PDAF, Laser AF, OIS</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>8 MP, f/2.4, 78mm (telephoto), 3x optical zoom, PDAF, OIS</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>16 MP, f/2.2, 17mm (ultrawide), AF</p>
        </div>
        <div class="specs_info">
          <strong>Features</strong>
          <p>Dual-LED flash, HDR, panorama</p>
        </div>
        <div class="specs_info1">
          <strong>Video</strong>
          <p>4K@30/60fps, 1080p@30/60/240fps, Auto HDR, gyro-EIS</p>
        </div>
      </div>
    </div>
    <!-- 7 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FRONT CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Single</strong>
          <p>Motorized pop-up 16 MP, f/2.0, 25mm (wide), 1/3.06", 1.0µm</p>
        </div>
        <div class="specs_info1">
          <strong>Features</strong>
          <p>Auto-HDR</p>
        </div>
         <div class="specs_info1">
          <strong>Video</strong>
          <p>1080p@30fps,gyro-EIS</p>
        </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BATTERY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong></strong>
          <p>Non-removable Li-Po 4085 mAh battery</p>
        </div>
        <div class="specs_info">
          <strong>Charging</strong>
          <p>Fast charging 30W</p>
            <p>Warp Charge</p>
        </div>
      </div>
    </div>
    <!-- 9 -->
    <div class="specs_table">
      <div class="specs">
        <strong>COMMS.</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>WLAN</strong>
          <p>Wi-Fi 802.11 a/b/g/n/ac/6, dual-band, Wi-Fi Direct, DLNA, hotspot</p>
        </div>
        <div class="specs_info">
          <strong>Bluetooth</strong>
          <p>5.0, A2DP, LE, aptX HD</p>
        </div>
        <div class="specs_info">
          <strong>GPS</strong>
          <p>Yes, with dual-brand A-GPS, GLONASS, BDS, GALILEO, SBAS</p>
        </div>
         <div class="specs_info">
          <strong>NFC</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>Radio</strong>
          <p>No</p>
        </div>
        <div class="specs_info1">
          <strong>USB</strong>
          <p>3.1, Type-C 1.0 reversible connector, USB On-The-Go</p>
        </div>
      </div>
    </div>
    <!-- 10 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FEATURE</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Sensors</strong>
          <p>Fingerprint (under display, optical), accelerometer, gyro, proximity,</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>compass</p>
        </div>
      </div>
    </div>
    <!-- 11 -->
    <div class="specs_table">
      <div class="specs">
        <strong>SOUND</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Loudspeaker</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>3.5mm jack</strong>
          <p>Yes</p>
        </div>
      </div>
    </div>
    <!-- 12 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MISC</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Color</strong>
          <p>Haze Blue, McLaren Edition</p>
        </div>
        <div class="specs_info">
          <strong>Models</strong>
          <p>HD1911, HD1913, HD1910</p>
      </div>
    </div>
    </div>
  </div>

    <!-- 13 -->
    {% endblock specs%}
