{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="Realme Narzo 20  price in India start from Rs. 13,999 and Realme Narzo 20  expected release date is 2020 September 21 ( Expected Date ). - hipein "> {% endblock desc%}
{% block key%}<meta name="keywords" content="Realme Narzo 20 , Realme Narzo 20  specification, Realme Narzo 20  release date, Realme Narzo 20  price, Realme Narzo 20  price in india"> {% endblock key%}
{% block style %}
{% endblock style %}
    {% load static %}
    {% block title%}Realme Narzo 20 price in india, specification and features - hipein{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h1 class="content_tittle" style="font-weight: 400;"><span>REVIEW</span> Realme Narzo 20 (4/64 GB) price in india, specification and features.</h1>
          <p>Here Rumours comes out Realme is about to launch its new smartphone, Realme Narzo 20 series soon. </p>
        </div>
        <div>
          <img class="image" src="{% static 'image/mobile/realme/narzo-20a.jpg'%}" alt="">
        </div>
        <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com - Uploaded by: <a href="https://www.youtube.com/watch?v=MiBhMGqOGe8">GSM arena</a></p>
        <div class="info">
          <h2 style="font-weight: 400;">About Realme Narzo 20 </h2>
          <p>Realme is going to launch Realme Narzo 20 soon, taking its Narzo series one step further. Realme Narzo 20 smartphone runs on the latest version of the Android operating system (Android 10). The phone is powered by an Octa-core (2 GHz, Dual core, Cortex A75 + 1.8 GHz, Hexa Core, Cortex A55) processor and it runs on 	MediaTek Helio G80 Chipset. </p>
          <p>Realme Narzo 20 smartphone has an IPS LCD display with 1080 x 2340 Pixels screen resolution and 396 PPI pixel density. Talking about its camera, On the front camera, you get a 20-megapixel primary camera and on the rear camera, there is a 64 megapixel wide-angle, 8 megapixels ultra-wide, 2-megapixels micro, and 2-megapixels depth. camera with features like Digital Zoom, Auto Flash, Face detection, Touch to focus. It has support for fast charging and non-removable 6000 mAh battery. </p>
          <h3 style="font-weight: 400;">Realme Narzo 20  price in India.</h3>
          <p>Realme Narzo 20  price in India start from Rs. 13,999 and Realme Narzo 20 release date is 2020 September 21 ( Expected Date ). This smartphone comes with single variants like 4/64GB RAM. It is available at two color options like black ninja and white knight. </p>
          <h3 style="font-weight: 400;">Realme Narzo 20  Key features:</h3>
          <ul>
            <li>Diaplay: 6.5 inches</li>
            <li>Processor: MediaTek Helio G80</li>
            <li>primary camera: 64-megapixel + 8-megapixel + 2-megapixel + 2-megapixel</li>
            <li>selfie camera: 20-megapixel</li>
            <li>Battery: Non-removable Li-Ion 6000 mAh battery</li>
            <li>Yes, Fast charging.</li>
          </ul>
          <p></p>
        </div>
    {% endblock content%}
    {% block specs%}
    <h3 class="spec_title">Realme Narzo 20  specification</h3>
    <div class="specs_table">
      <div class="specs">
        <strong>Available at</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Realsed on</strong>
          <p>2020 September 21</p>
        </div>
        <div class="specs_info">
          <strong>Amazon</strong>
          <p>Coming soon</p>
        </div>
        <div class="specs_info1">
          <strong>Flipkart</strong>
          <p>Cooming soon</p>
        </div>
      </div>
    </div>
    <!-- 1 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BRAND</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Make</strong>
          <p>Realme</p>
        </div>
        <div class="specs_info">
          <strong>Models</strong>
          <p>Narzo 20</p>
        </div>
        <div class="specs_info1">
          <strong>Color</strong>
          <p>Black Ninja, White Knight</p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="specs_table">
      <div class="specs">
        <strong>NETWORK TYPE</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>2G</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>3G</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>4G</strong>
          <p>Yes - (supports Indian bands)</p>
        </div>
        <div class="specs_info">
          <strong>5G</strong>
          <p>No</p>
        </div>
        <div class="specs_info1">
          <strong>SIM Type</strong>
          <p>Dual SIM (Nano-SIM)</p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="specs_table">
      <div class="specs">
        <strong>DISPLAY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Screen</strong>
          <p>IPS LCD capacitive touchscreen, 16M colors</p>
        </div>
        <div class="specs_info">
          <strong>Size(inch)</strong>
          <p>6.5</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>1080 x 2340 pixels</p>
        </div>
        <div class="specs_info1">
          <strong>Protection</strong>
          <p>Corning Gorilla Glass</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="specs_table">
      <div class="specs">
        <strong>PLATFORM</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>OS</strong>
          <p>Android 10</p>
        </div>
        <div class="specs_info">
          <strong>Chipset</strong>
          <p>MediaTek Helio G80</p>
        </div>
        <div class="specs_info">
          <strong>CPU</strong>
          <p>Octa-core</p>
        </div>
        <div class="specs_info1">
          <strong>Graphics</strong>
          <p>Mali-G52</p>
        </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="specs_table">
      <div class="specs">
        <strong>MEMORY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Card Slot</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info1">
          <strong>Internal</strong>
          <p>4/64GB RAM</p>
        </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="specs_table">
      <div class="specs">
        <strong>CAMERA</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Rear Type </strong>
          <p>Quad</p>
        </div>
        <div class="specs_info">
          <strong>Resolution</strong>
          <p>64-MP + 8-MP + 2-MP + 2-MP</p>
        </div>
        <div class="specs_info">
          <strong>Front Type</strong>
          <p>Single</p>
        </div>
        <div class="specs_info">
          <strong>Front camera</strong>
          <p>20-megapixel</p>
        </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="specs_table">
      <div class="specs">
        <strong>BATTERY</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Charging</strong>
          <p>Li-Po 6000 mAh, non-removable</p>
        </div>
        <div class="specs_info">
          <strong></strong>
          <p>Yes, Fast charging</p>
        </div>
      </div>
    </div>
    <!-- 9 -->
    <div class="specs_table">
      <div class="specs">
        <strong>COMMS.</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>WLAN</strong>
          <p>Wi-Fi 802.11, b/g/n, dual-band, Wi-Fi Direct, hotspot</p>
        </div>
        <div class="specs_info">
          <strong>Bluetooth</strong>
          <p>v5.0</p>
        </div>
        <div class="specs_info">
          <strong>GPS</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info1">
          <strong>Radio</strong>
          <p>Yes</p>
        </div>
      </div>
    </div>
    <!-- 10 -->
    <div class="specs_table">
      <div class="specs">
        <strong>FEATURE</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Sensors</strong>
            <p>Fingerprint, accelerometer, proximity, gyro,</p>
        </div>
        <div class="specs_info">
          <strong></strong>
            <p>light sensor, compass</p>
        </div>
      </div>
    </div>
    <!-- 11 -->
    <div class="specs_table">
      <div class="specs">
        <strong>Multimedia</strong>
      </div>
      <div class="specs_type">
        <div class="specs_info">
          <strong>Loudspeaker</strong>
          <p>Yes</p>
        </div>
        <div class="specs_info">
          <strong>3.5mm jack</strong>
          <p>Yes</p>
        </div>
      </div>
    </div>
    <div class="comment">
      <div style="background: white;" class="fb-comments" data-href="https://www.hipein.com/mobile/realme-narzo-20-pro" data-order-by="social" data-numposts="100" data-width="100%" style="display:block;"></div>
    </div>
  </div>

{% endblock specs%}
