{% extends 'page/bas.html' %}
{% block desc%}<meta name="description" content="If you do not like Chinese mobiles, in this article, we will talk about the specification and price of the top 5 non-Chinese smartphones under 10000 and you can buy from eCommerce websites like Amazon or Flipkart."> {% endblock desc%}
{% block key%}<meta name="keywords" content="non-chinese smartphone under 10000, non-chinese smartphone"> {% endblock key%}
{% block style %}
<style>
  p{font-family: sans-serif;font-size: 16px;}@media (max-width: 768px){p{font-size: 19px;}.content{font-size: 18px;}ul{margin-left: -10px;}li{font-size: 18px;}footer p{font-size: 14px;}}
</style>
{% endblock style %}
  {% load static %}
    {% block title%}Best mobile under 10,000-INR - HipeIn.com{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block content%}
    <!-- review and spec -->
    <div class="wrapper">
      <div class="main">
        <div class="headline2">
          <h1 style="font-weight: 400;" >10 non-chinese smartphone under 10000</h1>
          <p>By <a href="https://www.instagram.com/prince_singh_rajput8/?hl=en">Prince Singh Rajput</a> - Updated on <b style="color:gray">17 August 2020</b></p>
          <hr class="my-2">
          <p>If you talk about a cheap smartphone, then Chinese smartphones are selling more in India than other country's smartphones. Chinese smartphone has about 73% market share in India, while the rest is taken by Samsung, Asus, Apple, Google, and others. 158 million smartphones were shipped to India in 2019. Of which, Chinese manufacturers shipped 113 million mobiles.</p>
          <p>If you do not like Chinese mobiles, in this article, we will talk about the specification and price of the top 5 non-Chinese smartphones under 10000 and you can buy from eCommerce websites like Amazon or Flipkart. To know more about "Smartphone Market Share India" you can read the <a href="https://candytech.in/smartphone-market-share-india/">Candytech.in</a> the article which is quite awesome.</p>
        </div>
        <div>
          <img class="image" src="{% static 'image\mobile\10k\mobile-10k.jpg '%}" alt="">
          <hr class="my-2">
        </div>
        <div class="info">
          <h2 style="padding-left:3px; border-left: 2px solid red; font-weight: 400;">What are you looking for?</h2>
          <ul class="content">
            <li><b>OS</b>: Android 8.0</li>
            <li><b>Display</b>: 5.9 inch - 6.56 inch </li>
            <li><b>Processor</b> – Qualcomm Snapdragon or Mediatek</li>
            <li><b>Camera</b> – 13-megapixel or above</li>
            <li><b>RAM</b> – 3 GB or above </li>
            <li><b>Storage</b> – 32 GB or above</li>
            <li><b>Battery </b>– 4000mAh or above</li>
          </ul>
          <p>Considering all the above specifications, we have listed the top 10 non-Chinese smartphones under 10000. All the smartphones given below will be available on <a href="#">Amazon</a> and <a href="#">Flipkart</a>.</p>
          <hr class="my-2">
        </div>
        <div class="info">
          <h3 style="padding-left:3px; border-left: 2px solid red; font-weight: 400;">1. Motorola G8 Power Lite</h3>
          <div>
            <img class="image" src="{% static 'image\mobile\10k\moto-g8-power-lite.jpg '%}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by IT.TECH</p>
          <p class="content"><b>Price</b>: 9,999-INR <br><b>Available on</b>: Flipkart</p>
          <h4 style="font-weight: 400;">About Motorola G8 Power Lite</h4>
          <p class="content">The Moto G8 Power Lite is quite chunky, with a thickness of 9.2mm, and also a bit heavy at nearly 200g. Moto G8 Power Lite in India starting from 9,999-INR. Moto G8 Power Lite Available at Flipkart at the lowest prices. This smartphone comes with a single variants 4/64GB with color options like 	Arctic Blue, and Royal Blue. The smartphone is powered by the Mediatek MT6765 Helio P35 (12nm) and Non-removable Li-Po 5000 mAh battery. it supports Fast charging of 10W.</p>
          <h4 style="font-weight: 400;">Motorola G8 Power Lite: Key specifications </h4>
          <ul class="content">
            <li><b>OS</b>: Android 9.0 (Pie)</li>
            <li><b>Display</b>: 6.5 inches</li>
            <li><b>Processor</b>:	Mediatek MT6765 Helio P35</li>
            <li><b>primary camera</b>: 	16 MP + 2 MP + 2 MP</li>
            <li><b>selfie camera</b>: 8-megapixel </li>
            <li><b>Storage + RAM</b>: 4/64GB RAM</li>
            <li><b>Battery</b>: Non-removable Li-Po 5000 mAh battery</li>
            <li>charging 10W</li>
          </ul>
          <div class="aff-link1">
            <form action="https://www.flipkart.com/motorola-g8-power-lite-arctic-blue-64-gb/p/itm9d7b62a81c100?pid=MOBFZ5EXDKHFV832&lid=LSTMOBFZ5EXDKHFV832SY9PU2&marketplace=FLIPKART&srno=s_1_2&otracker=search&otracker1=search&fm=SEARCH&iid=3de9347c-2393-4617-a40b-8e04077cd1ec.MOBFZ5EXDKHFV832.SEARCH&ppt=sp&ppn=sp&ssid=61ojivsjq80000001597758851254&qH=c845e7fb75be80b5">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from flipkart</button>
            </form>
            <form action="https://www.flipkart.com/motorola-g8-power-lite-arctic-blue-64-gb/p/itm9d7b62a81c100?pid=MOBFZ5EXDKHFV832&lid=LSTMOBFZ5EXDKHFV832SY9PU2&marketplace=FLIPKART&srno=s_1_2&otracker=search&otracker1=search&fm=SEARCH&iid=3de9347c-2393-4617-a40b-8e04077cd1ec.MOBFZ5EXDKHFV832.SEARCH&ppt=sp&ppn=sp&ssid=61ojivsjq80000001597758851254&qH=c845e7fb75be80b5">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>
          <hr class="my-2">
        </div>
        <!-- 2 -->
        <div class="info">
          <h3 style="padding-left:3px; border-left: 2px solid red; font-weight: 400;">2. Samsung galaxy M01</h3>
          <div>
            <img class="image" src="{% static 'image\article\mobile\non chinese mobile\samsung-galaxy-m01.jpg' %}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by
All Stuff-<a href="https://www.youtube.com/watch?v=Ae2pGrp2imo">Click here</a></p>
          <p class="content"><b>Price</b>: 9,752-INR <br><b>Available on</b>: Flipkart</p>
          <h4 style="font-weight: 400;">About Samsung galaxy M01</h4>
          <p class="content">Samsung galaxy M01 in India starting from 9,752-INR. Samsung galaxy M01 Available at Flipkart at the lowest prices. This smartphone comes with a single variants 32GB 3GB RAM with color options like Black, Blue, and Red. The smartphone is powered by the Qualcomm SDM439 Snapdragon 439 (12nm) and Non-removable Li-Po 4000 mAh battery.</p>
          <h4 style="font-weight: 400;">Samsung galaxy M01: Key specifications </h4>
          <ul class="content">
            <li>OS: Android 10, One UI 2</li>
            <li>Display: 5.7 inches</li>
            <li>Processor: Qualcomm SDM439 Snapdragon 439</li>
            <li>primary camera: 13 MP + 2 MP</li>
            <li>selfie camera: 5-megapixel </li>
            <li>Storage + RAM: 3/32GB RAM</li>
            <li>Battery: Non-removable Li-Po 4000 mAh battery</li>
          </ul>
          <div class="aff-link1">
            <form action="https://www.flipkart.com/search?q=Samsung%20galaxy%20M01&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from flipkart</button>
            </form>
            <form action="https://www.flipkart.com/search?q=Samsung%20galaxy%20M01&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>
          <hr class="my-2">
        </div>
        <!-- 3 -->
        <div class="info">
          <h3 style="padding-left:3px; border-left: 2px solid red; font-weight: 400;">3. Nokia 4.2</h3>
          <div>
            <img class="image" src="{% static 'image\article\mobile\non chinese mobile\nokia-4.2.jpg' %}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by
TechDroider-<a href="https://www.youtube.com/watch?v=VhIyWn17DS4">Click here</a></p>
          <p class="content"><b>Price</b>: 10,880-INR <br><b>Available on</b>: Flipkart</p>
          <h4 style="font-weight: 400;">About Nokia 4.2</h4>
          <p class="content">Nokia 4.2 in India starting from 10,880-INR. Nokia 4.2 Available at Flipkart at the lowest prices. This smartphone comes with a two variants 16GB 2GB RAM and 32GB 3GB RAM with color options like Black, Blue, and Red. The smartphone is powered by the Qualcomm SDM439 Snapdragon 439  and Non-removable Li-Po 3000 mAh battery.</p>
          <h4 style="font-weight: 400;">Nokia 4.2: Key specifications </h4>
          <ul class="content">
            <li>OS: upgradable to Android 10, Android One</li>
            <li>Display: 5.71 inches</li>
            <li>Processor: Qualcomm SDM439 Snapdragon 439</li>
            <li>primary camera: 13 MP + 2 MP</li>
            <li>selfie camera: 8-megapixel </li>
            <li>Storage + RAM: 2/16GB RAM, 3/32GB RAM</li>
            <li>Battery: Non-removable Li-Po 3000 mAh battery</li>
          </ul>
          <div class="aff-link1">
            <form action="https://www.flipkart.com/nokia-4-2-black-32-gb/p/itmfgfegy5rrhqnk?pid=MOBFGBZQARMHYMKK&lid=LSTMOBFGBZQARMHYMKKKJAZ9T&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=d378ca14-0e89-4b23-90b5-9a9f9b648678.MOBFGBZQARMHYMKK.SEARCH&ppt=sp&ppn=sp&ssid=38922mehlc0000001597758710115&qH=d7914e556f61dca8">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from flipkart</button>
            </form>
            <form action="https://www.flipkart.com/nokia-4-2-black-32-gb/p/itmfgfegy5rrhqnk?pid=MOBFGBZQARMHYMKK&lid=LSTMOBFGBZQARMHYMKKKJAZ9T&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=d378ca14-0e89-4b23-90b5-9a9f9b648678.MOBFGBZQARMHYMKK.SEARCH&ppt=sp&ppn=sp&ssid=38922mehlc0000001597758710115&qH=d7914e556f61dca8">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>
          <hr class="my-2">
        </div>
        <!-- 4 -->
        <div class="info">
          <h3 style="padding-left:3px; border-left: 2px solid red; font-weight: 400;">4. Honor 9N</h3>
          <div>
            <img class="image" src="{% static 'image\article\mobile\non chinese mobile\honor-9n.jpg' %}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by
Geekyranjit-<a href="https://www.youtube.com/watch?v=rC9KtVYI0Uw">Click here</a></p>
          <p class="content"><b>Price</b>: 7,999-INR <br><b>Available on</b>: Flipkart</p>
          <h4 style="font-weight: 400;">About Honor 9N</h4>
          <p class="content">Honor 9N in India starting from 7,999-INR. Honor 9N Available at Flipkart at the lowest prices. This smartphone comes with a three variants 32GB 3GB RAM, 64GB 4GB RAM, and 128GB 4GB RAM with color options like BLavender Purple, Robin Egg Blue, Sapphire Blue, and Midnight Black. The smartphone is powered by the 	Kirin 659 (16 nm) and Non-removable Li-Po 3000 mAh battery.</p>
          <h4 style="font-weight: 400;">Honor 9N: Key specifications </h4>
          <ul class="content">
            <li>OS: Android 8.0 (Oreo), EMUI 8</li>
            <li>Display: 5.84 inches</li>
            <li>Processor: Kirin 659 (16 nm)</li>
            <li>primary camera: 13 MP + 2 MP</li>
            <li>selfie camera: 16-megapixel </li>
            <li>Storage + RAM: 3/32GB RAM</li>
            <li>Battery: Non-removable Li-Po 3000 mAh battery</li>
          </ul>
          <div class="aff-link1">
            <form action="https://www.flipkart.com/honor-9n-sapphire-blue-32-gb/p/itmf9pgsehv6nmss?pid=MOBF6NAR36DUGTAG&lid=LSTMOBF6NAR36DUGTAGMDQLXY&marketplace=FLIPKART&srno=s_1_10&otracker=search&otracker1=search&fm=SEARCH&iid=d830533a-d2bb-43d1-b8fb-1f73f5c88546.MOBF6NAR36DUGTAG.SEARCH&ppt=sp&ppn=sp&ssid=dvw6ace3jk0000001597758654154&qH=d70e09d87555ac08">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from flipkart</button>
            </form>
            <form action="https://www.flipkart.com/honor-9n-sapphire-blue-32-gb/p/itmf9pgsehv6nmss?pid=MOBF6NAR36DUGTAG&lid=LSTMOBF6NAR36DUGTAGMDQLXY&marketplace=FLIPKART&srno=s_1_10&otracker=search&otracker1=search&fm=SEARCH&iid=d830533a-d2bb-43d1-b8fb-1f73f5c88546.MOBF6NAR36DUGTAG.SEARCH&ppt=sp&ppn=sp&ssid=dvw6ace3jk0000001597758654154&qH=d70e09d87555ac08">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>
          <hr class="my-2">
        </div>
        <!-- 5 -->
        <div class="info">
          <h3 style="padding-left:3px; border-left: 2px solid red; font-weight: 400;">5. Asus Zenfone Max Pro M1</h3>
          <div>
            <img class="image" src="{% static 'image\mobile\10k\asus-zenfone-max-m1.jpg' %}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by
Manila Shaker Philippines-<a href="https://www.youtube.com/watch?v=ftGeC3Fce5Y">Click here</a></p>
          <p class="content"><b>Price</b>: 8,999-INR <br><b>Available on</b>: Flipkart</p>
          <h4 style="font-weight: 400;">About Asus Zenfone Max Pro M1</h4>
          <p class="content">Asus zenfone Max Pro M1 is made primarily out of plastic and comes in Meteor Silver and Deepsea Black color options. Asus Zenfone Max Pro M1 in India starting from 8,999-INR. Asus Zenfone Max Pro M1 Available at Flipkart at the lowest prices. This smartphone comes with a three variants 32GB 3GB RAM, 64GB 4GB RAM, and 128GB 6GB RAM. The smartphone is powered by the Qualcomm SDM636 Snapdragon 636 and Non-removable Li-Po 5000 mAh battery. it supports Fast charging of 10W.</p>
          <h4 style="font-weight: 400;">Asus Zenfone Max Pro M1: Key specifications </h4>
          <ul class="content">
            <li>OS: Android 8.1, upgradable to Android 9.0(Pie)</li>
            <li>Display: 5.99 inches</li>
            <li>Processor: Qualcomm SDM636 Snapdragon 636</li>
            <li>primary camera: 13 MP + 5 MP</li>
            <li>selfie camera: 8-megapixel </li>
            <li>Storage + RAM: 4/64GB RAM</li>
            <li>Battery: Non-removable Li-Po 5000 mAh battery</li>
            <li>Charging 10W</li>
          </ul>
          <div class="aff-link1">
            <form action="https://www.flipkart.com/asus-zenfone-max-pro-m1-blue-64-gb/p/itmf7gcrdmjh97cv?pid=MOBF7GCRGR2S78XN&lid=LSTMOBF7GCRGR2S78XNPDO4YM&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=e06a83bb-315e-4610-b95d-815fe80639f4.MOBF7GCRGR2S78XN.SEARCH&ppt=sp&ppn=sp&ssid=ncar2xp3740000001597758599966&qH=44b63a8add964ae3">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from flipkart</button>
            </form>
            <form action="https://www.flipkart.com/asus-zenfone-max-pro-m1-blue-64-gb/p/itmf7gcrdmjh97cv?pid=MOBF7GCRGR2S78XN&lid=LSTMOBF7GCRGR2S78XNPDO4YM&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=e06a83bb-315e-4610-b95d-815fe80639f4.MOBF7GCRGR2S78XN.SEARCH&ppt=sp&ppn=sp&ssid=ncar2xp3740000001597758599966&qH=44b63a8add964ae3">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>
          <hr class="my-2">
        </div>
        <!-- 6 -->
        <div class="info">
          <h3 style="padding-left:3px; border-left: 2px solid red; font-weight: 400;">6. Lava Z93</h3>
          <div>
            <img class="image" src="{% static 'image\article\mobile\non chinese mobile\lava-z93.jpg' %}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by
Mr Technical-<a href="https://www.youtube.com/watch?v=8CQAhLYbDGk">Click here</a></p>
          <p class="content"><b>Price</b>: 8,499-INR <br><b>Available on</b>: Flipkart</p>
          <h4 style="font-weight: 400;">About Lava Z93</h4>
          <p class="content">Lava Z93 in India starting from 8,499-INR. Lava Z93 Available at Flipkart at the lowest prices. This smartphone comes with a single variants 32GB 3GB RAM with color options like Charcoal Blue and Royal Blue. The smartphone is powered by the MediaTek Helio P22 (MT6762) and Non-removable Li-Po 3500 mAh battery.</p>
          <h4 style="font-weight: 400;">Lava Z93: Key specifications </h4>
          <ul class="content">
            <li>OS:	Android Pie</li>
            <li>Display: 6.22 inch</li>
            <li>Processor: MediaTek Helio P22 (MT6762)</li>
            <li>primary camera: 13 MP + 2 MP</li>
            <li>selfie camera: 8-megapixel </li>
            <li>Storage + RAM: 3/32GB RAM</li>
            <li>Battery: Non-removable Li-Po 3500 mAh battery</li>
          </ul>
          <div class="aff-link1">
            <form action="https://www.flipkart.com/lava-z93-charcoal-blue-32-gb/p/itmfgqzcthvzr9jr?pid=MOBFGQZCHUNZQAGA&lid=LSTMOBFGQZCHUNZQAGAVW36C2&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=de1e82b5-61fc-4b4b-938b-1b8af28afb80.MOBFGQZCHUNZQAGA.SEARCH&ppt=sp&ppn=sp&ssid=s994ne6zhc0000001597758506157&qH=42116e4354c60254">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from flipkart</button>
            </form>
            <form action="https://www.flipkart.com/lava-z93-charcoal-blue-32-gb/p/itmfgqzcthvzr9jr?pid=MOBFGQZCHUNZQAGA&lid=LSTMOBFGQZCHUNZQAGAVW36C2&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=de1e82b5-61fc-4b4b-938b-1b8af28afb80.MOBFGQZCHUNZQAGA.SEARCH&ppt=sp&ppn=sp&ssid=s994ne6zhc0000001597758506157&qH=42116e4354c60254">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>
          <hr class="my-2">
        </div>
        <!-- 7 -->
        <div class="info">
          <h3 style="padding-left:3px; border-left: 2px solid red; font-weight: 400;">7. LG W10</h3>
          <div>
            <img class="image" src="{% static 'image\article\mobile\non chinese mobile\lg-w10.jpg' %}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by
 lovekesh tanwar-<a href="youtube.com/watch?v=47T1bBjABCY">Click here</a></p>
          <p class="content"><b>Price</b>: 8,499-INR <br><b>Available on</b>: Amazon</p>
          <h4 style="font-weight: 400;">About LG W10 </h4>
          <p class="content">LG W10 in India starting from 8,499-INR. LG W10 Available at Amazon at the lowest prices. This smartphone comes with a single variants 32GB 3GB RAM with color options like 	Tulip Purple and Smokey Grey. The smartphone is powered by the Mediatek MT6762 Helio P22 and Non-removable Li-Po 4000 mAh battery.</p>
          <h4 style="font-weight: 400;">LG W10: Key specifications </h4>
          <ul class="content">
            <li>OS:	Android Pie</li>
            <li>Display: 6.19 inches</li>
            <li>Processor: MediaTek Helio P22 (MT6762)</li>
            <li>primary camera: 13 MP + 5 MP</li>
            <li>selfie camera: 8-megapixel </li>
            <li>Storage + RAM: 3/32GB RAM</li>
            <li>Battery: Non-removable Li-Po 4000 mAh battery</li>
          </ul>
          <div class="aff-link1">
            <form action="https://www.amazon.in/LG-Smoky-Gray-32GB-Storage/dp/B07S9KHTQR">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from flipkart</button>
            </form>
            <form action="https://www.amazon.in/LG-Smoky-Gray-32GB-Storage/dp/B07S9KHTQR">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>
          <hr class="my-2">
        </div>
        <!-- 8 -->
        <div class="info">
          <h3 style="padding-left:3px; border-left: 2px solid red; font-weight: 400;">8. Honor 9 lite </h3>
          <div>
            <img class="image" src="{% static 'image/mobile\10k\honor-9-lite.jpg'%}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by C4ETech-<a href="https://www.youtube.com/watch?v=457OrTuxhJE">Click here</a></p>
          <p class="content"><b>Price</b>: 10,000-INR <br><b>Available on</b>: Flipkart</p>
          <h4 style="font-weight: 400;">About Honor 9 lite</h4>
          <p class="content">Honor 9 Lite has a FullView 5.65-inch IPS display, which produces punchy colors and good brightness levels. Honor 9 lite in India starting from 10,000-INR. Honor 9 lite Available at Flipkart at the lowest prices. This smartphone comes with a three variants 32GB 3GB RAM, 32GB 4GB RAM, and 64GB 4GB RAM. The smartphone is powered by the Kirin 659 (16 nm) and Non-removable Li-Po 3000 mAh battery.</p>
          <h4 style="font-weight: 400;">Honor 9 lite: Key specifications </h4>
          <ul class="content">
            <li>OS: upgradable to Android 9.0 (Pie), EMUI 9.1</li>
            <li>Display: 	5.65 inches</li>
            <li>Processor: 	Kirin 659 (16 nm)</li>
            <li>primary camera: 13 MP + 2 MP</li>
            <li>selfie camera: 13-megapixel</li>
            <li>Storage + RAM: 3/32GB RAM, 4/32GB RAM, 4/64GB RAM</li>
            <li>Battery: Non-removable Li-Po 3000 mAh battery</li>
          </ul>
          <div class="aff-link1">
            <form action="https://www.flipkart.com/honor-9-lite-sapphire-blue-64-gb/p/itmff5zgdeckztpk?pid=MOBFF5ZGSSVC4VGZ&lid=LSTMOBFF5ZGSSVC4VGZUHKBBF&marketplace=FLIPKART&srno=s_1_6&otracker=search&otracker1=search&fm=SEARCH&iid=3cd561b8-61a8-438e-94ff-cf78f43de1e5.MOBFF5ZGSSVC4VGZ.SEARCH&ppt=sp&ppn=sp&ssid=cdjv04uqio0000001597758368327&qH=d338f31f62b7e269">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from flipkart</button>
            </form>
            <form action="https://www.flipkart.com/honor-9-lite-sapphire-blue-64-gb/p/itmff5zgdeckztpk?pid=MOBFF5ZGSSVC4VGZ&lid=LSTMOBFF5ZGSSVC4VGZUHKBBF&marketplace=FLIPKART&srno=s_1_6&otracker=search&otracker1=search&fm=SEARCH&iid=3cd561b8-61a8-438e-94ff-cf78f43de1e5.MOBFF5ZGSSVC4VGZ.SEARCH&ppt=sp&ppn=sp&ssid=cdjv04uqio0000001597758368327&qH=d338f31f62b7e269">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>
          <hr class="my-2">
        </div>
        <!-- 9 -->
        <div class="info">
          <h3 style="padding-left:3px; border-left: 2px solid red; font-weight: 400;">9. Samsung Galaxy J6</h3>
          <div>
            <img class="image" src="{% static 'image/mobile\10k\samsung-galaxy-j6.jpg' %}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by Geekyranjit-<a href="https://www.youtube.com/watch?v=DFRTXc_q-2k">Click here</a></p>
          <p class="content"><b>Price</b>: 9,490-INR <br><b>Available on</b>: Flipkart</p>
          <h4 style="font-weight: 400;">About Samsung Galaxy J6</h4>
          <p class="content">Samsung Galaxy J6 in India starting from 9,490-INR. Samsung Galaxy J6 Available at Flipkart at the lowest prices. This smartphone is available in two other variants like 32GB 3GB RAM, 64GB 4GB RAM Storage with color options like Black, Blue, and Gold. Battery life could be better as even with the 3000mAh battery, it's a bit tough to go beyond a full day.</p>
          <h4 style="font-weight: 400;">Samsung Galaxy J6: Key specifications </h4>
          <ul class="content">
            <li>OS: upgradable to Android 10, One UI 2.0</li>
            <li>Display: 5.6 inches, Super AMOLED Infinity Display.</li>
            <li>Processor: Exynos 7870 Octa (14 nm)</li>
            <li>primary camera: 13-megapixel</li>
            <li>selfie camera: 8-megapixel</li>
            <li>Storage + RAM: 4/64GB RAM</li>
            <li>Battery: Non-removable Li-Po 3000 mAh battery</li>
          </ul>
          <div class="aff-link1">
            <form action="https://www.flipkart.com/samsung-galaxy-j6-blue-64-gb/p/itmf5bkhbshehpg9?pid=MOBF5BKHVHFGWYHB&lid=LSTMOBF5BKHVHFGWYHBX8NNX6&marketplace=FLIPKART&srno=s_1_11&otracker=search&otracker1=search&fm=SEARCH&iid=82a41362-530b-40e1-b75b-dced9d3165fe.MOBF5BKHVHFGWYHB.SEARCH&ppt=sp&ppn=sp&ssid=xqthx6jlxc0000001597758307328&qH=5deda0e6581332e6">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from flipkart</button>
            </form>
            <form action="https://www.flipkart.com/samsung-galaxy-j6-blue-64-gb/p/itmf5bkhbshehpg9?pid=MOBF5BKHVHFGWYHB&lid=LSTMOBF5BKHVHFGWYHBX8NNX6&marketplace=FLIPKART&srno=s_1_11&otracker=search&otracker1=search&fm=SEARCH&iid=82a41362-530b-40e1-b75b-dced9d3165fe.MOBF5BKHVHFGWYHB.SEARCH&ppt=sp&ppn=sp&ssid=xqthx6jlxc0000001597758307328&qH=5deda0e6581332e6">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div>
          <hr class="my-2">
        </div>
        <!-- 10 -->
        <div class="info">
          <h3 style="padding-left:3px; border-left: 2px solid red; font-weight: 400;">10. Itel Vision1</h3>
          <div>
            <img class="image" src="{% static 'image\article\mobile\non chinese mobile\itel-vision1.jpg' %}" alt="">
          </div>
          <p class="content" style="border-bottom: 1px solid #eee;">Image source | youtube.com-uploaded by
Sohag360-<a href="https://www.youtube.com/watch?v=ApOiLkbTmXc">Click here</a></p>
          <p class="content"><b>Price</b>: 6,999-INR <br><b>Available on</b>: Flipkart</p>
          <h4 style="font-weight: 400;">About Itel Vision1 </h4>
          <p class="content">Itel Vision1 in India starting from 6,999-INR. Itel Vision1 Available at Amazon at the lowest prices. This smartphone comes with a single variants 32GB 3GB RAM with color options like 	Gradation Blue and Gradation Purple. The smartphone is powered by the 	Unisoc SC9863A and Non-removable Li-Po 4000 mAh battery.</p>
          <h4 style="font-weight: 400;">Itel Vision1: Key specifications </h4>
          <ul class="content">
            <li>OS:	Android Pie</li>
            <li>Display: 6.088 inch</li>
            <li>Processor: Unisoc SC9863A</li>
            <li>primary camera: 8 MP + 0.3 MP</li>
            <li>selfie camera: 5-megapixel </li>
            <li>Storage + RAM: 3/32GB RAM</li>
            <li>Battery: Non-removable Li-Po 4000 mAh battery</li>
          </ul>
          <div class="aff-link1">
            <form action="https://www.flipkart.com/itel-vision1-green-32-gb/p/itmabec72dce88ad?pid=MOBFUHBY5HM4VRHS&lid=LSTMOBFUHBY5HM4VRHS0GAL5Z&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=ca1b0a38-1447-4440-91e4-f8319e6025f1.MOBFUHBY5HM4VRHS.SEARCH&ppt=sp&ppn=sp&ssid=d0buyq9t9s0000001597758219259&qH=376207b867f40b5f">
              <button class="btn btn-primary affilated-link_amazon" type="submit">Click here to Buy from flipkart</button>
            </form>
            <form action="https://www.flipkart.com/itel-vision1-green-32-gb/p/itmabec72dce88ad?pid=MOBFUHBY5HM4VRHS&lid=LSTMOBFUHBY5HM4VRHS0GAL5Z&marketplace=FLIPKART&srno=s_1_1&otracker=search&otracker1=search&fm=SEARCH&iid=ca1b0a38-1447-4440-91e4-f8319e6025f1.MOBFUHBY5HM4VRHS.SEARCH&ppt=sp&ppn=sp&ssid=d0buyq9t9s0000001597758219259&qH=376207b867f40b5f">
              <button  class="btn btn-outline-primary affilated-link_flipcart" type="submit">Click here for current price </button>
            </form>
          </div><br>
          <p>I hope that you got a lot of help with this "10 non-chinese smartphone under 10000" article. If you want to take the mobile of any company within Rs 10000, then <a href="{% url 'mobile10k'%}">click here</a>. This is Prince Singh Rajput, you can follow me on Instagram. This is my Instagram official id <a href="https://www.instagram.com/prince_singh_rajput8/?hl=en">prince_singh_rajput8</a>.</p>
          <hr class="my-2">
        </div>
        <!-- 11 -->
      </div>
    </div>
    {% endblock content%}
